[2017-09-05 13:51] thijstriemstra commented on #165
Cool. I think it's different in Chrome vs. Firefox, double-check in both browsers.

[2017-09-05 13:51] #165 closed

[2017-09-08 16:50] GordonDrop opened #166 "Support for video.js fluid option"
## Description
Waveform is not displayed, when option fluid is enabled.

## Steps to reproduce
1. Edit options for examples/audio-only.html
[code]

2. Launch in browser

## Results
### Expected
For videojs 6.1.0: Waveform is not displayed.
![screen shot 2017-09-08 at 22 52 08](https://user-images.githubusercontent.com/5079904/30222346-b431a4d2-94e8-11e7-824a-1dcb98759c99.png)

For  5.20.3: Wavefor

[2017-09-11 18:11] thijstriemstra commented on #149
@perminder-klair can you give it a try with 6.2.8 or newer?

[2017-09-11 18:19] thijstriemstra commented on #166
I worked on this a while ago in videojs-wavesurfer, see https://github.com/collab-project/videojs-wavesurfer/compare/responsive-28 and https://github.com/collab-project/videojs-wavesurfer/issues/28 but haven't found the time to complete it. Any help is greatly appreciated!

[2017-09-18 13:50] gavfu commented on #149
I got the same "Error: plugin 'record' does not exist" with video.js 6.2.8 and videojs-record 1.7.0.

I tried to low versions of video.js and videojs-record, but still get the same error. Do you guys know any workaround to make it workable for now?  Thanks.

[2017-09-18 13:53] thijstriemstra commented on #149
@gavfu you tried video.js 6.1.0?

[2017-09-18 13:59] gavfu commented on #149
@thijstriemstra yes，I'm trying to use it in an electron app, with webpack 2.2.1。
I even tried video.js 5.19.0 with following configurations in package.json, but still got the error.

    "video.js": "5.19.0",
    "videojs-record": "1.6.0"

[2017-09-18 14:09] thijstriemstra commented on #149
@gavfu have you tried an older version of webpack, e.g. 1.x.x? I'm currently refactoring the plugins to ES6 and webpack build so this should get fixed eventually.

[2017-09-18 14:20] gavfu commented on #149
@thijstriemstra Not yet, webpack 1.x is deprecated so I'd rather not to downgrade to it. May I know roughly when will the new version plugin be released? Meanwhile, if there are any workable combinations of video.js + videojs-record found, I'm willing to try that...

[2017-09-18 14:21] thijstriemstra commented on #149
Without webpack it works fine so your only option is to downgrade for now I think.

[2017-09-18 14:24] gavfu commented on #149
I'll try and see, thanks thijstriemstra.  :)

[2017-09-18 14:56] alsar commented on #149
@gavfu You can alias `video.js` to use the non-ES6 version.

Use something like this in your webpack config:
[code]
This is a quick workaround until this issue is resolved.

[2017-09-19 01:15] thijstriemstra opened #167 "v2.0.0"
See #170 for PR.

Features:

- wavesurfer >= 2.0 (only) support
- video.js >= 6.0 (only) support
- new build system (using babel/browserify/webpack)
- modules/es6
- advanced video.js plugin
- support for the video.js `fluid` option (#166)
- added React example (#171)

Depends on videojs-wavesurfer 2.0.0 being merged and released (PR: https://github.com/collab-project/videojs-wavesurfer/pull/35).

[2017-09-19 01:16] thijstriemstra commented on #149
Also see #167 for better build system/ES6 etc.

[2017-09-23 01:46] thijstriemstra commented on #166
Update: support for the `fluid` option is available in videojs-wavesurfer when videojs-wavesurfer 2.0.0 is released. See #167 for progress on compatibility with 2.0.0 with videojs-record. Once that's done `fluid` can be properly implemented in this plugin.

[2017-09-25 15:11] muhamma1 opened #168 "time stamp doesn't work"
I am trying to get audio in real time and using the timestamp but it is not working

![issue](https://user-images.githubusercontent.com/23171384/30815796-d1279b16-a1d9-11e7-9a7d-57376d0d36a8.png)

[2017-09-25 15:16] thijstriemstra commented on #168
@muhamma1 what version of video.js? what version of videojs-record?

[2017-09-25 15:18] thijstriemstra commented on #168
@muhamma1 you're using the setting `timestamp: 1` but you should use `timeSlice: 1` instead.

[2017-09-25 15:18] #168 closed

[2017-09-25 15:42] thijstriemstra opened #169 "URL.createObjectURL(stream) has been deprecated"
- Deprecated since Firefox 54 (https://www.fxsitecompat.com/en-CA/docs/2017/url-createobjecturl-stream-has-been-deprecated/)
- Not yet deprecated in Chrome (https://crbug.com/591719)
- Deprecated in Safari https://bugs.webkit.org/show_bug.cgi?id=167518

[code]

Also see https://github.com/muaz-khan/RecordRTC/issues/326.

[2017-09-26 15:23] mathabaws commented on #13
I know it has been two years but any progress or plans on implementing this feature any time soon? :)

[2017-09-26 18:17] thijstriemstra commented on #13
No, initial v2 release is up next. Donations help make things go faster ;)

[2017-09-27 10:55] thijstriemstra commented on #169
Fixed in v2.0.0 (#170).

[2017-09-30 18:13] thijstriemstra commented on #139
Currently theres one btn handling:

- start record
- stop record

And one for:

- start playback
- pause playback
- restart playback

We need an additional button that is only visible during recording to:

- pause record

When you click this pause record button (during recording) the:

- record stop button becomes a record (resume) button (same icon as start record)
- pause record button hides aga

[2017-10-01 10:34] Glebasty1 opened #171 "Add React component example"
How can i implement this component on Reactjs?

[2017-10-02 17:57] thijstriemstra commented on #171
This should be fairly easy once #170 is merged.

[2017-10-03 03:17] thijstriemstra commented on #166
videojs-wavesurfer 2.0.0 is released and it's working properly for audio-only modes in upcoming videojs-record 2.0.0, still need to take a look at the other modes with @ikbensiep.

[2017-10-03 15:12] #149 closed

[2017-10-03 15:12] #167 closed

[2017-10-03 15:12] #169 closed

[2017-10-03 15:12] #171 closed

[2017-10-03 15:19] thijstriemstra commented on #171
@Glebasty1 the master branch now contains a react component example (`examples/react/index.html`), any help testing before I release 2.0.0 would be appreciated!

[2017-10-03 15:20] thijstriemstra commented on #166
Still need to fix it in non-audio-only modes.

[2017-10-03 15:22] thijstriemstra commented on #149
@alsar @gavfu 2.0.0 PR was merged to master branch (containing a fix for this ticket), any help testing before I release 2.0.0 would be appreciated!

[2017-10-05 19:12] #166 closed

[2017-10-05 19:35] thijstriemstra commented on #163
@jipema you can use `player.record().startVideoPreview()` (for audio-video or video-only mode) to show the video preview window. The state of the play/pause/record etc will be the same. Does that work for you?

In videojs-record < v2.0.0 it's `player.recorder.startVideoPreview()`.

[2017-10-05 19:35] #163 closed

[2017-10-05 19:36] thijstriemstra commented on #159
@bennybee you can use `player.record().startVideoPreview()` (or `player.recorder.startVideoPreview()` in older videojs-record versions) to bring back the video preview instantly. Does that work for you?

Related to #163

[2017-10-05 19:36] #159 closed

[2017-10-05 19:41] thijstriemstra commented on #157
@alsar with v2.0 I'm not able to reproduce that error anymore. But when I press record again, nothing happens.. I'll look into it.

[2017-10-05 19:59] thijstriemstra commented on #157
@alsar you can do this:

- after stop record is pressed: `player.record().stopStream()` to stop the devices
- set processing to true: `player.record()._processing = true;` (this will block the start button)
- listen for record btn click once: `player.record().controlBar.recordToggle.one(['tap', 'click'],`
- and in that callback handler you call `getDevice` and set `_processing` back to `false` (af

[2017-10-05 22:01] thijstriemstra commented on #166
2.0.0 is now available.

[2017-10-06 18:05] bennybee commented on #159
That works, thanks. But I can't seem to get rid of the controls:

Camera inits with no controls
User records
User plays back with controls
I bring back preview and controls are still there

This is my code:

[code]

and later when I run:

[code]

The controls go again

[2017-10-06 18:08] thijstriemstra commented on #159
@bennybee what about hiding controls with `player.controlBar.hide()`?

[2017-10-13 00:03] thijstriemstra commented on #171
v2.0.0 was released, see https://collab-project.github.io/videojs-record/examples/react/index.html for live demo.

[2017-10-13 16:30] Hayko-1 opened #172 "is there any way to get mpeg-ts segments in timestamp event?"

[2017-10-15 22:25] thijstriemstra commented on #172
@Hayko-1, correct me if I'm wrong but mpeg-ts segments are something used in HLS streams, e.g. using the https://github.com/videojs/videojs-contrib-hls plugin?

[2017-10-16 08:42] Hayko-1 commented on #172
@thijstriemstra, thank you for answer. Let me describe my issue )
I'm posting recorded video blobs to server in timestamp event and saving them on HDD, simultaneously generating m3u8 playlist for HLS streaming.
Unfortunately not all of those fragments are valid video files, so neither videojs-contrib-hls plugin nor desktop players able to play them.

[2017-10-19 10:10] uvytautas opened #173 "Change camera in mobile browsers"
## Description
How can user change camera from front to rear in mobile browsers? By default this plugin uses front camera and I can't find a way to change it.

[2017-10-19 10:52] uvytautas commented on #173
Looks like I have found solution:
`video: {facingMode: 'environment'}`

[2017-10-19 10:52] #173 closed

[2017-10-22 23:09] thijstriemstra commented on #172
can you show some example code? inc player config etc

[2017-10-23 08:03] Hayko-1 commented on #172
@thijstriemstra
var player = videojs("myVideo",
        {
            controls: true,
            width: 320,
            height: 240,
            controlBar: {
                volumeMenuButton: false,
                volumePanel: false
            },
            plugins: {
                record: {
                    audio: false,
                    maxLength: 100,
                    frameWidt

[2017-10-23 14:16] uvytautas opened #174 "Video is not playing in Opera on MacOS"
## Description
Video starts recording but after recording is finished error comes out:
**The media could not be loaded, either because the server or network failed or because the format is not supported.**
## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.
1. Start recording
2. Finish recording
3. Try to play record
## Results
Error, that format is not suppor

[2017-10-23 14:18] thijstriemstra commented on #174
@uvytautas how does your player config look like?

[2017-10-23 14:29] uvytautas commented on #174
@thijstriemstra
[code]

[2017-10-23 14:33] uvytautas commented on #174
I get same error at demo page : https://collab-project.github.io/videojs-record/examples/video-only.html

[2017-10-23 14:34] thijstriemstra commented on #174
@uvytautas I've never tested against Opera, I thought it would be similar to Chrome nowadays. Can you reproduce this error in other browsers?

[2017-10-23 14:39] uvytautas commented on #174
@thijstriemstra  Mozilla and Chrome works perfectly.

[2017-10-23 14:40] thijstriemstra commented on #174
I've installed Opera using https://deb.opera.com/manual.html and will take a look.

[2017-10-23 14:51] thijstriemstra commented on #174
@uvytautas tested https://collab-project.github.io/videojs-record/examples/video-only.html with Opera:

[code]

and that works fine.

[2017-10-24 07:06] uvytautas commented on #174
@thijstriemstra That is strange, because I get this error (https://imgur.com/a/iFGRU) when recording is completed.
Even though I am using the same version `48.0.2685.50 ` but in `Mac OS X 10.12.6`

[2017-10-24 12:41] thijstriemstra commented on #174
@uvytautas I will take a look and test on OSX Opera at some point. What error does the browser console display for you?

[2017-10-24 13:45] uvytautas commented on #174
@thijstriemstra `VIDEOJS: ERROR: (CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED) The media could not be loaded, either because the server or network failed or because the format is not supported.`

[2017-10-24 14:13] thijstriemstra commented on #174
@uvytautas but there must be more console log messages than that. Can you make a screenshot of the full console log and attach it here?

[2017-10-26 11:23] bobyper opened #175 "current time and duration blinking"
## Description
for version 2.0.0
if duration time is greater than 9 minutes, for example 10 minutes,  during second and every next record, current time and duration is blinking weird

## Steps to reproduce
set maxLength: 600
make short record for example 5 seconds
make another record and watch into current time and duration

[2017-10-26 15:20] thijstriemstra commented on #175
@bobyper is this audio-video, video-only? both? audio-only?

[2017-10-26 15:41] bobyper commented on #175
i tested audio-video

[2017-10-26 21:48] AdamHess opened #176 "Stream Upload Videos"
Offer the ability to stream upload to server.

I imagine this could be triggered on a timer or on a certain file size where the web browser will chop the file into a chunk and then send it up to a server Part of the configuration would indicate what url to hit for a post/upload request. (Unless there is another recommended file upload/stream process that's recommended)

[2017-10-26 22:42] thijstriemstra commented on #176
I think what you're describing is already possible but not properly documented yet.

[2017-10-27 18:34] thijstriemstra commented on #174
Tested on OSX Opera and didn't get any errors but couldn't playback the video file. Fortunately I could reproduce the issue with https://www.webrtc-experiment.com/RecordRTC/ so it's not a bug in this plugin. I've opened a ticket for RecordRTC: https://github.com/muaz-khan/RecordRTC/issues/347

[2017-10-29 15:45] thijstriemstra commented on #174
@muaz-khan provided the solution: https://github.com/muaz-khan/RecordRTC/issues/347#issuecomment-340236258

Can you try this setting @uvytautas:

[code]

[2017-10-29 21:55] #174 closed

[2017-11-01 09:16] UnknownMi opened #177 "device error: ReferenceError: MRecordRTC is not defined"
## Description
There is a project build with Vue and webpack, now I add the 'videojs-record' into the project

## Steps to reproduce
npm install videojs-record --save
then I add 'video.js' in webpack like this
[code]

test.vue

[code]

## Results

### Error output
[code]

### versions
#### videojs
what version of videojs does this occur with?
npm latest version

#### browsers
what browser are affe

[2017-11-01 09:41] UnknownMi commented on #177
I try to edit the 'record-rtc.js'...and it's working...
[code]
Changed to

[code]

[2017-11-01 11:37] thijstriemstra commented on #177
thanks for the report and suggested fix!

[2017-11-01 20:58] thijstriemstra commented on #177
Should be part of 2.0.1 release. Fixed with https://github.com/collab-project/videojs-record/commit/16b310aa052bec9757cf5bde97fa31bb9651d154.

[2017-11-01 20:58] #177 closed

[2017-11-01 21:02] thijstriemstra commented on #175
@bobyper I cannot reproduce this on Ubuntu 16.04 with Firefox 56. What browser. operating system, video.js versions?

[2017-11-01 21:03] thijstriemstra commented on #176
@AdamHess is this basically what you're describing? https://github.com/collab-project/videojs-record/issues/172#issuecomment-338578813

[2017-11-01 21:09] thijstriemstra commented on #172
I'm not too familiar but there are client-side libraries like https://github.com/uupaa/M3U8.js that might be able to do it and otherwise there's this javascript version of ffmpeg: https://github.com/Kagami/ffmpeg.js

[2017-11-02 11:15] bennybee opened #178 "Not recording video in Microsoft Edge browser"
Having issues with my app not recording in Edge. When looking at the demo page:

https://collab-project.github.io/videojs-record/examples/audio-video.html

In Edge I intialise the camera fine but when I click record nothing happens. There are no console errors.

Records fine in Chrome on the same device.

### versions
#### videojs
videojs version : 6.2.8
videojs-record version : 2.0.0
#### browser

[2017-11-02 14:21] Hayko-1 commented on #172
@thijstriemstra, It's not playlist generation issue.
I've changed my server implementation, so besides collecting blobs into a file I'm passing blobs to ffmpeg as they arrive from the client. Everything's great except the 4 sec delay.
I've dug deeper into RecordRTC and MediaRecorder API and found out that it generates WebM video with keyframes every 2 sec, so ffmpeg is waiting for keyframes to gen

[2017-11-02 14:54] thijstriemstra commented on #172
@Hayko-1 I think @muaz-khan might know some more about that.

[2017-11-02 15:25] thijstriemstra commented on #178
Thanks for the report. Unfortunately I don't have access to windows 10 but I can try it on a windows 7 machine.

[2017-11-02 16:08] bobyper commented on #175
windows - Firefox 56.0.2 and Chrome 61

The issue is caused from time format. Before start record current time and duration is showing as
0:00 / 10:00

start record -> current time is formatted as
00:00 / 10:00

reocrd 15 seconds and stop. Current time and duration is showing as

00:15 / 0:15

now duration of recorded stream is 0:15 but maxLength from recorder settings is 10:00

Sometimes time is

[2017-11-03 22:28] thijstriemstra opened #179 "Build is failing"
https://travis-ci.org/collab-project/videojs-record/builds/295951700

[2017-11-03 23:25] thijstriemstra commented on #179
same for videojs-wavesurfer: https://travis-ci.org/collab-project/videojs-wavesurfer/builds/297011219

[2017-11-06 08:16] jasvir899 opened #180 "Not Work in Chrome"
Its not Working on Google Chrome? Any Solution For it.

[2017-11-06 09:25] thijstriemstra commented on #180
Why do you not let us know what version of Chrome, what version of video.js, why it's not working, what error you're seeing etc? This report is useless.

[2017-11-06 09:25] #180 closed

[2017-11-07 12:23] bennybee opened #181 "Can't record video in Safari"
Safari 11 added getUserMedia Support in Sept 2017, more details here: https://webkit.org/blog/7763/a-closer-look-into-webrtc/

When looking at the demo page:

https://collab-project.github.io/videojs-record/examples/audio-video.html

I initialise the camera, click record and camera starts recording. I click stop and it stops recording but no playback button appears.

Plays back fine in Chrome on t

[2017-11-07 14:22] thijstriemstra commented on #181
Can you reproduce this with a recordrtc.js example? i think the bugs there.

[2017-11-08 19:27] thijstriemstra commented on #181
Related issue: https://github.com/muaz-khan/RecordRTC/issues/324

[2017-11-08 19:34] thijstriemstra commented on #181
Opened https://github.com/muaz-khan/RecordRTC/issues/351

<img width="774" alt="screen shot 2017-11-08 at 20 30 13" src="https://user-images.githubusercontent.com/305679/32570341-22f5d478-c4c4-11e7-93ca-72b0c62e70e8.png">

[2017-11-10 01:12] #179 closed

[2017-11-10 01:19] thijstriemstra commented on #178
@bennybee what happens when you run https://www.webrtc-experiment.com/RecordRTC/ on that browser?

[2017-11-10 09:58] bennybee commented on #178
Ah, that only allows me to record audio

[2017-11-10 16:54] Polyterative opened #183 "Typescript typings"
I was wondering if someone made Typescript typings for this, they would be very useful.
Are there any official plans?

Thanks

[2017-11-10 17:15] thijstriemstra commented on #183
What is that?

[2017-11-10 19:09] Polyterative commented on #183
JavaScript is untyped, meaning that we can pass around and use data, objects and functions with no constraints. We can write code that calls methods that don't exist on an object, or reference variables that we don't have. These kinds of mistakes can be hard to discover when you are writing code, and it can lead to unstable and buggy code. Doing big changes of your code can become difficult and ri

[2017-11-10 21:59] AdamHess commented on #176
sounds like it.

[2017-11-11 23:20] thijstriemstra commented on #183
@Polyterative would adding something like this for this plugin be enough?

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/video.js/index.d.ts

[2017-11-12 10:19] mooglife opened #184 "Installing without npm or bower"
I would like to use your video-recorder but I do not have npm or bower installed. is it possible to install and use our plugin without installing npm/bower. for example, simply including the packages, if yes then could you please guide me a little?

Thank you!

PS: pardon me for the simplicity of the question, I hope it is possible and is not a great effort for you to outline.

[2017-11-12 10:47] aveeshkumar commented on #184
download the master branch as a zip. unzip and use

[2017-11-12 11:46] Polyterative commented on #183
I am already using those typings actually. Was wondering if we would add typing for the "library" (videojs-record) too.

[2017-11-12 12:23] thijstriemstra commented on #184
Downloading master branch is not a solution because it doesn't contain compiled dist folder. You should download the .zip from releases which contains the dist folder and use that (and also download the other dependencies mentioned in the readme). Let me know how that works out!

[2017-11-12 12:24] thijstriemstra commented on #183
Please do and open a PR!

[2017-11-12 12:38] thijstriemstra commented on #178
See https://github.com/muaz-khan/RecordRTC/issues/353

[2017-11-12 14:29] mooglife commented on #184
Thanks Aveeshkumar and Thijstriemstra!

My only mistake was not reading "readme" file. Nevertheless, I downloaded the release and dependencies. placed them all in a folder, tweaked the example file to link the the files and it works like a charm.

Note: do not forget the webrtc-adapter. Thats the final piece of the puzzle ;)

[2017-11-12 16:05] thijstriemstra commented on #184
@mooglife good point. Glad you figured it out, cheers.

[2017-11-12 16:05] #184 closed

[2017-11-12 16:06] thijstriemstra commented on #184
I will add that webrtc-adapter dependency to the readme.

[2017-11-12 19:20] Polyterative commented on #183
I'll see what I can do

[2017-11-13 12:13] IvanKuzyshyn opened #185 "Problem with font path in dist css files."
## Description
videojs.record.css and videojs.record.min.css contains wrong font path. When i try to import this file, for example, into my style bundle webpack crashes.

## Steps to reproduce
1 `npm i videojs-record --save`
2 `@import (css) "~videojs-record/dist/css/videojs.record.css";`

## Results
### Expected
That it file will be imported and build will be successfull

### Actual
Webpack could

[2017-11-13 13:08] IvanKuzyshyn commented on #185
Looks like we need to change this command like this `"build:fonts": "copy font/*.{eot,svg,ttf,woff} dist/"` and in _icons.scss set up this `$icon-font-path: '../font' !default;`

[2017-11-15 21:46] thijstriemstra commented on #181
@bennybee a new version (5.4.5) of recordrtc was published a few days ago, have you tried that yet?

[2017-11-15 21:48] thijstriemstra commented on #185
Thanks for the report. There's definitely something wrong with the copying of the font, I'll take a look.

[2017-11-15 22:08] #185 closed

[2017-11-15 22:09] thijstriemstra commented on #185
@IvanKuzyshyn I pushed a fix to master, can you check if this fixes the problem for you? I'll release 2.0.2 asap.

[2017-11-15 22:18] thijstriemstra commented on #181
Getting `TypeError: undefined is not an object (evaluating 'riff.RIFF[0]')` with recordrtc 5.4.6...

[2017-11-15 23:28] thijstriemstra commented on #181
Basically Safari does not have MediaRecorder support yet, see https://caniuse.com/#feat=mediarecorder When that becomes available we can look at this again but till then it's [audio-only](https://github.com/muaz-khan/RecordRTC/issues/275#issuecomment-307142681).

[2017-11-15 23:31] thijstriemstra commented on #178
Same issue, Edge does not support MediaRecorder yet, see https://caniuse.com/#feat=mediarecorder

[2017-11-23 08:10] bobyper commented on #175
I fixed this issue. Line 2792 version 2.0.2, function playbackTimeUpdate()
2792   this.setCurrentTime(this.player.currentTime(), this.streamDuration);

changed to
2792   if (!this.isRecording())  this.setCurrentTime(this.player.currentTime(), this.streamDuration);

setCurrentTime only in playback, not in record

[2017-11-24 13:58] IvanKuzyshyn commented on #185
Yes, for now everything works fine!
Thanks a lot!

[2017-11-27 00:51] thijstriemstra commented on #175
That sounds reasonable, thanks for the research @bobyper. Can you make a pull request so this fix can be properly accredited to you?

[2017-11-27 19:34] inikonorov opened #186 "Failed to build resources on Windows"
During I install dependencies via node.js it shows such errors as:
1. Failed to load resource: the server responded with a status of 404 (Not videojs.record.css found) or (Not video.js.record.js found)
2. Uncaught Error: plugin "record" does not exist (video.min.js:5)
What should I do?

[2017-11-27 19:42] inikonorov commented on #184
@mooglife Can you send me your folder with release and dependencies on mail nikonorov1000@gmail.com, please? Thanks!

[2017-11-27 19:43] thijstriemstra commented on #186
@inikonorov can you show me some example code, how are you loading this?

[2017-11-27 19:46] thijstriemstra commented on #184
@inikonorov have you tried the instructions at https://github.com/collab-project/videojs-record#examples?

[2017-11-27 20:01] inikonorov commented on #186
1. Clone git
![image](https://user-images.githubusercontent.com/30556799/33286434-1f7cfc78-d3d7-11e7-89d3-30bc10ddd2a0.png)

2. Install dependencies
![image](https://user-images.githubusercontent.com/30556799/33286540-7adf72f8-d3d7-11e7-943c-27fe1ca45f4d.png)

3. npm start
![image](https://user-images.githubusercontent.com/30556799/33286560-8b4148c4-d3d7-11e7-80ef-3a8421381a9c.png)

4. developer t

[2017-11-27 20:03] inikonorov commented on #184
@thijstriemstra yeah, I tried this instructions, but something went wrong

[2017-11-27 20:03] thijstriemstra commented on #186
I see, let me take a look.

[2017-11-27 20:04] inikonorov commented on #184
@thijstriemstra and I don't know how to upload node_modules on hosting, just like other files?

[2017-11-27 20:04] thijstriemstra commented on #184
@inikonorov let's continue this conversation in https://github.com/collab-project/videojs-record/issues/186

[2017-11-27 20:06] inikonorov commented on #186
look at what?

[2017-11-27 20:07] thijstriemstra commented on #186
At what could be wrong on your side (or buggy in this library).

[2017-11-27 20:11] inikonorov commented on #186
I just tried to do this instructions
https://github.com/collab-project/videojs-record#examples

Error appears during npm start (look at screen - no such file or directory)
Sorry for my english :)

I don't understand completely what should I show you

[2017-11-27 20:13] thijstriemstra commented on #186
@inikonorov hehe don't worry, it wasn't a request for you, I'm going to try to reproduce that error, just sit tight and I'll get back to you ;)

[2017-11-27 20:16] inikonorov commented on #186
oh, thank you :)

[2017-11-27 20:19] thijstriemstra commented on #186
@inikonorov what operating system are you using? And what version of node and npm? e.g. try running following commands and paste the output (or screenshot):

[code]

[code]

[2017-11-27 20:20] inikonorov commented on #186
win 10
npm 5.5.1
node 8.9.1

[2017-11-27 22:20] thijstriemstra commented on #186
@inikonorov I've setup a windows build and I can recreate the issue which is good. See log at https://ci.appveyor.com/project/thijstriemstra/videojs-record/build/job/wfd4qlcv7d37n8cg

Now to fix it..

[2017-11-27 23:39] thijstriemstra commented on #186
@inikonorov can you do a `git pull` and try again?

[2017-11-28 04:01] inikonorov commented on #186
yeah, one second

[2017-11-28 04:10] inikonorov commented on #186
hmm, the same error
i tried to clone again and node shows the same error

[2017-11-28 04:10] inikonorov commented on #186
![image](https://user-images.githubusercontent.com/30556799/33302154-0a1f96fc-d41c-11e7-8a80-c6fe369ba372.png)

[2017-11-28 04:11] inikonorov commented on #186
![image](https://user-images.githubusercontent.com/30556799/33302162-11acfe6e-d41c-11e7-8d96-8887dac557b9.png)

[2017-11-28 04:14] thijstriemstra commented on #186
Ok thanks for the feedback I'll take a look at it again.

[2017-11-28 04:19] inikonorov commented on #186
thank you very much, you're the best support i've ever seen 🥇

[2017-11-28 04:21] inikonorov commented on #186
i can try to do this on Linux, but I have a question - what should i do with node_modules if I want to upload files to hosting? just upload this folder?

[2017-11-28 04:22] thijstriemstra commented on #186
i'm 'always poor, never bored' ;)

[2017-11-28 04:23] thijstriemstra commented on #186
i'd like to get it working on windows, i imagine many people tried this on windows and failed, so I'm glad you raised the issue. Never thought about the windows build :-/

[2017-11-28 04:29] inikonorov commented on #186
yeah, i think many people tried this on windows too
if you need anything from me - i'm ready :)

[2017-11-28 04:32] thijstriemstra commented on #186
@inikonorov can you upgrade npm/node to version 9 and see if that makes a difference?

[2017-11-28 04:33] inikonorov commented on #186
yeah, of course
after university i'll write you

[2017-11-28 12:03] inikonorov commented on #186
the same error
![image](https://user-images.githubusercontent.com/30556799/33318848-0d3b3eee-d45e-11e7-8f25-ebc710fbe697.png)

[2017-11-28 12:04] inikonorov commented on #186
versions
![image](https://user-images.githubusercontent.com/30556799/33318874-29667a02-d45e-11e7-80ad-6d1671707cb4.png)

[2017-11-28 16:22] thijstriemstra commented on #186
@inikonorov can you attach the full log file (as noted at bottom of error), e.g. `2017-11-28T12_03_02_719Z-debug.log?`

[2017-11-28 16:49] inikonorov commented on #186
of course
[2017-11-28T12_03_02_719Z-debug.log](https://github.com/collab-project/videojs-record/files/1510826/2017-11-28T12_03_02_719Z-debug.log)

[2017-11-29 01:26] thijstriemstra commented on #186
@inikonorov i was able to reproduce your error and improved some things. Can you do:

- a fresh git checkout
- `npm install` (there is a new dependency)
- `npm run build` (so things like the fonts and other assets get build)
- `npm run start` (make sure to use `npm run start`, i think you used `npm start` before)

[2017-11-29 08:31] inikonorov commented on #186
woohoooo! everything is work, thank you very much :)

[2017-11-29 08:32] inikonorov commented on #186
but i still have a question, help me please, if you know anything about it - what should I do with node/npm, if I want to upload this files on hosting?

[2017-11-29 08:33] inikonorov commented on #186
can I just upload node_modules folder?

[2017-11-29 08:37] inikonorov commented on #186
and I wanted ask you - can I ask you some questions about videojs? and if i can do this, where does it do better?

[2017-11-29 14:03] thijstriemstra commented on #186
@inikonorov you move the javascript, css and html files onto a webserver, not the whole node_modules directory. Use a site like stackoverflow.com for video.js questions or their github page.

[2017-11-29 17:39] inikonorov commented on #186
nono, i was wrong, i wanted write "some questions about videojs-record" of course :)

[2017-11-29 19:44] thijstriemstra commented on #186
Yea this is the right place.

[2017-11-30 06:26] inikonorov commented on #186
okay, thank you very much, i'm very appreciate your support 🥇
i try to read some information about videojs-record and fine-uploader and make some experiments, if something goes wrong, I'll write you :)

[2017-11-30 19:05] thijstriemstra commented on #186
v2.0.3 with the fixes has been released, closing.

[2017-11-30 19:05] #186 closed

[2017-12-04 23:16] thijstriemstra commented on #175
0:00 / 10:00

Check.

Yep.

I see this as well now, thanks for the details. This is a bug.

And I also see the blinking bug now: simply make another recording and it starts shifting. I'll take a look if your suggestion fixes it for all cases.

[2017-12-05 00:00] thijstriemstra commented on #175
@bobyper I committed a fix to master, can you see if that one helps?

[2017-12-05 01:29] thijstriemstra opened #188 "Support msDisplayMax in video-only and audio+video"
This works in videojs-wavesurfer but does not have any setting in this plugin.

[2017-12-05 09:59] bobyper commented on #175
Working fine for me. Good job!

[2017-12-05 18:47] thijstriemstra commented on #175
thanks for the feedback.

[2017-12-05 18:47] #175 closed

[2017-12-11 12:21] priMo-ex3m opened #189 "New usage example in version >1.7 required"
I can found just examples of connection css and js for version 1.7. It doesn't correspond with new versions and I can't find a way to connect that plugin in my project

[2017-12-11 16:11] thijstriemstra commented on #189
Sorry, i dont understand the question..

[2017-12-12 00:38] thijstriemstra commented on #189
If you're looking for older files, check out an older git tag or download one of the older releases, see https://github.com/collab-project/videojs-record/releases.

[2017-12-12 00:38] #189 closed

[2017-12-12 02:17] thijstriemstra commented on #106
Now that `getUserMedia` is (somewhat) supported in Safari (11) I think Flash became pretty much obsolete. See #181 for safari progress.

[2017-12-12 02:17] #106 closed

[2017-12-12 08:10] priMo-ex3m commented on #189
Nope, sir. I just spend whole day to install this package via npm first (w/o succes), then with bower... and the links from example was different with current directories. So, finally I solve it. I use to remake ur code to reproduce audio-player & upload to server obrained audio file. I did absolutely same with video player, I changed all like in example " audio + video", video is obtaining (conso

[2017-12-12 08:41] priMo-ex3m commented on #189
UPDATE :
I added
`if (jQuery('#fileupload').val()) { console.log("YES"); } else { console.log("NO");}`
after
[code]

and it outputed me "NO" at console.log

So, here is the problem :    `$('#fileupload').fileupload('add', {files: filesList});` doesn't add obtained file to the input. Do you have idea - why?

[2017-12-12 10:55] priMo-ex3m opened #190 ".fileupload (jQuery) doesn't works with audio+video player"
I just spend whole day to install this package via npm first (w/o succes), then with bower... and the links from example was different with current directories. So, finally I solve it. I use to remake ur code to reproduce audio-player & upload to server obrained audio file. I did absolutely same with video player, I changed all like in example " audio + video", video is obtaining (console.log), it

[2017-12-12 13:52] priMo-ex3m commented on #190
So, that was because :
1. in Firefox we have to use player.recordedData
2. in Chrome(as I used), that object has one more object key - video. So, to access that object we have to use :  player.recordedData.video

To salve this cross-browser incompatibility with code :
[code]

[2017-12-12 14:49] priMo-ex3m opened #191 "How to install the package correctly with Bower?"
I'm new to front-end technologies like` npm or bower`. I spend some hours to read and a little bit understand how it should work.
I'm using Ubuntu 16.04, I installed nodejs, npm, bower globally.
Next, I created a .bowerrc file in kernel directory of my website.
I put in this file:
[code]
I also have a bower.json file in my kernel directory with following content :
[code]
Then, In kernel directory

[2017-12-12 17:01] thijstriemstra commented on #191
You can follow the instructions here (usng npm): https://github.com/collab-project/videojs-record#examples

[2017-12-13 10:03] priMo-ex3m opened #192 "Upload video not on stop recording"
Ok, I have a form where you have to enter your info and then add a video. The problem is that with samples provided by this plugin, when video stops recording, it automatically .fileload the file with AJAX to server.
There is a way how "on stop" recording to append this video to my <input type="file" name="video">, and then, when all the form is completed and user press Save, proceed the entire fo

[2017-12-13 11:27] cloudstudio opened #193 "TypeError: player.recorder is undefined"
## Description
Hello! thanks in advance.

I start working with this library, when i try to use :

[code]

I get

`TypeError: player.recorder is undefined`

I can't find more information about it.

[2017-12-13 15:37] thijstriemstra commented on #193
Use `record()` instead:

[code]

I see it's a typo in the docs that i'll fix.

[2017-12-13 15:38] #193 closed

[2017-12-13 15:42] thijstriemstra commented on #192
@priMo-ex3m can you show some example code (not the html, just javascript) that illustrates the problem?

[2017-12-13 21:26] thijstriemstra commented on #192
@priMo-ex3m is this what you're looking for?

https://github.com/collab-project/videojs-record/issues/172#issuecomment-338578813

[2017-12-14 08:10] priMo-ex3m commented on #192
Yes, thank you.

[2017-12-14 08:20] thijstriemstra commented on #192
Gonna mark this as a duplicate of #176.

[2017-12-14 08:20] #192 closed

[2017-12-15 05:16] jasvir899 opened #194 "Not Upload File on Chrome"
I have Add the Code it Does;nt upload the Webm recorded file from chrome server, but its working on Mozila Firefox. and my url is HTTPS.
its just show the notification but file is not uploaded in backend

[webrecord.zip](https://github.com/collab-project/videojs-record/files/1561660/webrecord.zip)

[2017-12-19 15:41] priMo-ex3m commented on #194
Try that :

in Firefox we have to use player.recordedData
in Chrome(as I used), that object has one more object key - video. So, to access that object we have to use : player.recordedData.video
To salve this cross-browser incompatibility with code :

 player.on('finishRecord', function() {
                if(player.recordedData.video == undefined) {
                    var videoFile = player.recor

[2017-12-26 08:34] MinChanSike opened #195 "Question: Can record any stream from player instance?"
Can I record any stream from player instance?

Example:
While playing **mp4** _source stream_, can record by this _videojs-record_ module?
While playing _http live stream_ by **hls** plugin module, can record by this _videojs-record_ module?

[2017-12-27 17:29] thijstriemstra commented on #190
@priMo-ex3m thanks for that fix, can you make a pull request for that?

[2017-12-27 17:30] thijstriemstra commented on #191
No further feedback, closing.

[2017-12-27 17:30] #191 closed

[2017-12-27 17:31] thijstriemstra commented on #194
thanks for the feedback @priMo-ex3m.

Marking this as a duplicate of #190

[2017-12-27 17:31] #194 closed

[2017-12-28 03:32] ExpandOcean opened #196 "Image-only example can not work."
https://collab-project.github.io/videojs-record/examples/image-only.html

When clicking "capture" button, the canvas became black and there was an error :
![image](https://user-images.githubusercontent.com/4313075/34399485-bc268aa0-ebc2-11e7-8982-03a82737b715.png)

The video-only example works well, so I think the running environment is OK.

[2017-12-28 03:34] #196 closed

[2017-12-30 17:57] thijstriemstra commented on #195
@MinChanSike

If it's possible in recordrtc.js (that provides the main recording engine), it should be possible in this plugin as well.

Same applies here as well, if it's possible in recordrtc, it's possible here as well. Also see #172

[2018-01-11 18:06] IvanKuzyshyn opened #198 "Error with video.js 6.6.0"
## Description
I have a factory that get config and create `videojs` instances. When i create image capturing instance with parameters: `image: true, audio: false, video: false,` everything works fine. But when create video recording instance with this config: `image: false, video: true, audio: true,` device an error occurs.

One more thing...
When error occurs property `deviceErrorCode` in my ins

[2018-01-11 19:04] thijstriemstra commented on #198
@IvanKuzyshyn always include operating system, browser versions and videojs/videojs-record/recordrtc versions in a bugreport.

[2018-01-11 20:32] IvanKuzyshyn commented on #198
@thijstriemstra yes, sure
Version of package: "videojs-record": "^2.0.5"
Chrome version: Version 63.0.3239.132 (Official Build) (64-bit)
Firefox version:  57.0.4 (64-біт)

This problem was tested with:
- Mac OS Hight Siera
- ubuntu/xenial64

Also I could try to reproduce the same problem with any sandbox but if you have any ideas to solve this problem I will appreciate this.
Thank You a lot!

[2018-01-11 21:14] thijstriemstra commented on #198
what version of video.js?

[2018-01-11 21:50] IvanKuzyshyn commented on #198
@thijstriemstra video.js version is: "6.6.0",
but I haven't video.js package in my dependencies. This package must be a dependency of another package.

[2018-01-11 22:08] IvanKuzyshyn commented on #198
@thijstriemstra webrtc-adapter "version": "6.0.4"
recordrtc "version": "5.4.6"

[2018-01-12 00:45] thijstriemstra commented on #198
Hehe yeah, its a dependency of this plugin, hence the name ;) can you try 6.4.0?

[2018-01-12 07:49] Bes79 opened #199 "I don't see chart of sound waves"
If i record sound - i don't see chart of sound waves. Then i resize to fullscreen - the chart of sound waves appears. After that (if do not resize page) chart is visible and work in record mode and listern mode.

![image](https://user-images.githubusercontent.com/29800408/34864634-2e266b74-f786-11e7-939a-43c636542ae7.png)

[2018-01-12 14:11] IvanKuzyshyn commented on #198
@thijstriemstra Thanks! Yes, everything works fine with 6.4.0.

[2018-01-12 16:37] thijstriemstra commented on #199
That's strange. But you didn't mention the most important info @Bes79:

- browser version
- operating system
- video.js version
- wavesurfer.js version
- videojs-record version

[2018-01-12 16:50] Bes79 commented on #199
on one more fact - this is into modal bootstrap window -  if it important

[2018-01-13 22:53] thijstriemstra commented on #198
Opened #200 that should fix this issue. Would be awesome if you can give that pull request a try with v6.6.0..

[2018-01-14 00:20] #198 closed

[2018-01-14 18:32] #172 closed

[2018-01-14 18:35] #176 closed

[2018-01-15 04:11] thijstriemstra opened #202 "add webtorrent plugin"
A plugin to export (and upload/seed) to a magnet link.

See https://github.com/webtorrent/webtorrent/blob/master/docs/api.md

[2018-01-15 11:15] IvanKuzyshyn commented on #198
Thanks.  I'll try to check it out soon.

[2018-01-15 13:46] Bes79 commented on #199
in non modal view - all work fine

[2018-01-15 18:09] thijstriemstra commented on #199
@Bes79 can you create an example that reproduces this problem so I can take a look?

[2018-01-16 14:41] Bes79 commented on #199
example:
[audio.zip](https://github.com/collab-project/videojs-record/files/1635536/audio.zip)

[2018-01-17 21:49] thijstriemstra commented on #199
You need to instantiate the plugin **after** the modal is displayed to the user, here's an adjusted example (also note you need to use an `audio` element, not video, and I moved the 100% width thing to the css class).

[code]

[2018-01-17 21:49] #199 closed

[2018-01-18 15:49] thijstriemstra commented on #13
This is basically already possible. Use `player.recorder().enumerateDevices()` to get a list of available devices and use constraints to assign a specific device, e.g.

[code]

I'll add a working example.

[2018-01-21 01:06] thijstriemstra commented on #16
See PR #203.

[2018-01-29 20:42] thijstriemstra opened #204 "Support opus-recorder 4.0.0"
Opened a ticket at https://github.com/chris-rudmin/opus-recorder/issues/138

[2018-01-30 23:17] thijstriemstra commented on #198
Fixed since 2.0.6.

[2018-02-10 14:30] #16 closed

[2018-02-10 14:30] #13 closed

[2018-02-10 14:30] #204 closed

[2018-02-13 05:10] natashache opened #205 "Audio recording quality low?"
Trying to decide whether to use this module. The audio recording quality in the demo app https://collab-project.github.io/videojs-record/examples/audio-only.html seems rather low-- the recording sounds muffled and echoey even though I used a good microphone.

Is this something that can be improved by setting a higher bitrate? Want to make sure this module can record quality audios before plunging

[2018-02-13 14:20] ivanm376 commented on #136
Another option is to add
[code]
in plugins section in webpack config ( _, plugins: [ ... ],_ )

[2018-02-13 16:25] thijstriemstra commented on #205
@natashache can you attach the recorded audio file here? Setting a higher bitrate should definitely help. If you can find anything else out there that has better sound quality, please let me know and I'll see what can be done to improve it.

[2018-02-17 21:21] SergeyKozlov opened #206 "Missing filename in timestamp blobs"
## Description
Hello.
I noticed a difference between the two browsers.
I have a system Ubuntu 17.10 (64).

## Steps to reproduce
In the browser Chromium, everything works perfectly.
But an error in the Firefox browser when loading chunks

## Results
### Expected
Should have loaded 4 pieces of 500 kB each.
![2018-02-17 23-53-31](https://user-images.githubusercontent.com/1781376/36345690-dab256c4-14

[2018-02-17 21:25] thijstriemstra commented on #206
@SergeyKozlov check the content of `player.recordedData` in each browser, they probably differ.

[2018-02-17 21:30] SergeyKozlov commented on #206
player.recordedData

At Firefox:
![2018-02-18 00-27-34](https://user-images.githubusercontent.com/1781376/36345793-d7d3e42a-1442-11e8-8f12-89cc11ffac56.png)

At Chromium:
![2018-02-18 00-29-22](https://user-images.githubusercontent.com/1781376/36345795-db5ef918-1442-11e8-9963-e6d70de420a0.png)

[2018-02-17 21:32] thijstriemstra commented on #206
I'm not sure what to say without Javascript error messages (I'm not familiar with php).

[2018-02-17 21:37] SergeyKozlov commented on #206
http://php.net/manual/en/features.file-upload.errors.php

 UPLOAD_ERR_NO_FILE

    Value: 4; No file was uploaded.

[2018-02-17 21:41] SergeyKozlov commented on #206
The console of Firefox has no Javascript errors:
![2018-02-18 00-40-49](https://user-images.githubusercontent.com/1781376/36345870-6dd33966-1444-11e8-87a8-78918a6ab6f7.png)

[2018-02-17 22:07] SergeyKozlov commented on #206
I discovered a key difference.
The Firefox does not have a field filename = ""
![2018-02-18 01-01-59](https://user-images.githubusercontent.com/1781376/36346065-1d7dc3ba-1448-11e8-87a2-7330eaf81e1a.png)

And the Chromium has a complete description of the field filename = "blob"
![2018-02-18 01-00-45](https://user-images.githubusercontent.com/1781376/36346068-22d1eed6-1448-11e8-88ae-88e593790908.pn

[2018-02-17 22:12] SergeyKozlov commented on #206
Yes, if you substitute this field **filename** manually, then everything works as it should.
![2018-02-18 01-10-34](https://user-images.githubusercontent.com/1781376/36346094-be6ed494-1448-11e8-87c9-d2a040bbee0c.png)

[2018-02-18 01:35] thijstriemstra commented on #206
@SergeyKozlov thanks for the research. This is the method that inject the file metadata: https://github.com/collab-project/videojs-record/blob/master/src/js/engine/record-engine.js#L54

Can you add some console.log calls there and see if it get's called everytime?

[2018-02-18 02:03] thijstriemstra commented on #206
@SergeyKozlov found the bug and will open a pull request.

[2018-02-18 07:37] SergeyKozlov commented on #206
I added output to the console in a file **videojs.record.js**:

        key: 'addFileInfo',
        value: function addFileInfo(fileObj) {
            console.log("addFileInfo: " + JSON.stringify(fileObj));
            var now = new Date();
            fileObj.lastModifiedDate = now;

            // guess extension name from mime type, e.g. audio/ogg, but
            // any extension is valid here

[2018-02-18 13:36] thijstriemstra commented on #206
Can you test pull request #207?

[2018-02-19 00:23] #206 closed

[2018-02-19 01:54] thijstriemstra commented on #205
@natashache any news?

[2018-02-19 04:49] natashache commented on #205
@thijstriemstra Thanks. Have tried it in my own app and the recording quality is good.  A side question though. If I want the recording to be in mp3, I suppose I need to use `lamejs` as the audio encoder in the setting? Then what do I use for `audioMimeType` option?

[2018-02-19 04:49] #205 closed

[2018-02-19 14:13] thijstriemstra commented on #205
@natashache you don't need to specify audio mimetype, just follow this example: https://github.com/collab-project/videojs-record/blob/master/examples/plugins/audio-only-mp3.html#L51

[2018-02-19 15:44] devaptas opened #208 "Maximum call stack size exceeded with video.js 6.7.2"
I getting this error on console when the player is loaded.

![screenshot from 2018-02-19 12-43-30](https://user-images.githubusercontent.com/36535740/36385834-8aca72b2-1572-11e8-99f0-b3ab611a4bd2.png)

[2018-02-19 16:04] thijstriemstra commented on #208
@devaptas what browser? what version of videojs-record, video.js? What does your player config look like? How am I supposed to debug this without any additional information?

[2018-02-19 17:41] devaptas commented on #208
Chrome Version 64.0.3282.167, viodejs-record 2.1.0, video.js 6.7.2, follow the config:

[code]

[2018-02-19 17:43] thijstriemstra commented on #208
@devaptas I think video.js 6.7.2 is the issue, use 6.6.3 instead. I'll take a look at 6.7.2 support.

[2018-02-19 17:58] natashache commented on #205
@thijstriemstra up and running. Thanks a lot!

[2018-02-19 18:02] devaptas commented on #208
solved, tnks. So, I think the best solution is lock the video.js version on package.json, bower.json.

[2018-02-19 18:04] thijstriemstra commented on #208
@devaptas finding the issue, fixing it and putting out a new release should be probably just as fast. Also note that video.js >= 6.7.0 are marked as pre-releases..

[2018-02-19 18:05] thijstriemstra commented on #208
And @devaptas this is probably only happening for audio-only?

[2018-02-19 18:06] devaptas commented on #208
both

[2018-02-19 18:11] thijstriemstra commented on #208
Here's the diff for changes since in 6.7: https://github.com/videojs/video.js/compare/v6.6.3...v6.7.2

[2018-02-19 20:29] devaptas opened #209 "Hiding waveform"
Chrome Version 64.0.3282.167, viodejs-record 2.1.1, video.js 6.7.2, videojs-wavesurfer 2.2.0, wavesurfer.js 2.0.4. Follow the config:

My events is config, to show wavesurf only when record is on, like that:
[code]
but when the startRecord is call, player.wavesurfer().play() call  "VIDEOJS: Pause microphone" on console with debug on.

[2018-02-19 21:33] thijstriemstra commented on #209
@devaptas I'm not sure what you're trying to do. Please describe it step by step:

1. ...
2. ...
3. ... etc

[2018-02-19 21:35] devaptas commented on #209
I want to show the waves only record is ON, but this wrong call is put mic down

[2018-02-19 21:39] thijstriemstra commented on #209
I see. I think manually hiding the element that contains the `wave` element is probably the easiest:

<img width="448" alt="screen shot 2018-02-19 at 22 38 38" src="https://user-images.githubusercontent.com/305679/36398088-afb39182-15c5-11e8-89d0-3325b2640cc8.png">

[2018-02-20 10:15] SergeyKozlov opened #210 "Filename field missing in Firefox timestamp blobs"
## Description
Hi

When using the **timestamp** event, the data is sent with empty fields **filename**

## Steps to reproduce
In the Firefox browser, the files are sent without the **filename** field. In the Chrome browser, the entire file chain goes to the fields **filename**.

## Results
### Expected
Fields **filename** must be sent with each event **timestamp**

### Actual
Blob File Blob File .

[2018-02-20 11:40] SergeyKozlov opened #211 "Тo information about the video in the file chain"
## Description
There is no information about the video in the file chain of the **timestamp** event

## Steps to reproduce
The video is recorded and sent to the server every time a **timestamp** event occurs.

## Results
### Expected
It was expected to see information about the video in each transmitted file.

### Actual
In fact, information about the video is contained only in the first file.

##

[2018-02-20 13:44] thijstriemstra commented on #210
@SergeyKozlov just to summarize, it's working correctly in Chrome, but sometimes the filename is missing on Firefox?

[2018-02-20 13:45] hmexx opened #212 "Webcam video does not appear, with no error messages, when using videojs-record with VueJS"
The video component looks correct, but when you click it, and after you've given it video permission (chrome, firefox) the area where the video would show up stays black. The record/stop buttons do not show up like they should. There are no errors in the log. The debug output from initialising video.js is:

Here is the single-file vuejs component code. I've tried to keep it to a minimum. Hope some

[2018-02-20 13:55] SergeyKozlov commented on #210
Yes @thijstriemstra exactly.
The **filename** only works for odd **timestamp** events at **Firefox**.
Blob, File, Blob, File:
![2018-02-20 12-33-41](https://user-images.githubusercontent.com/1781376/36427592-b4ccdc02-165e-11e8-88d6-ec32987cc505.png)

[2018-02-20 13:56] thijstriemstra commented on #210
Very weird it's Blob, File, Blob.. Must be something in the recordrtc library, I'll take a look.

[2018-02-20 13:57] thijstriemstra commented on #212
@hmexx I assume you cannot re-create this with any of the demo's at https://github.com/collab-project/videojs-record#examples and it's only happening in your VueJS app?

[2018-02-20 13:59] thijstriemstra commented on #212
@hmexx I see you're importing the following (seemingly without a purpose), perhaps these screw up something:

[code]

[2018-02-20 15:01] hmexx commented on #212
Hi @thijstriemstra

You are right. Those are unnecessary and I've just removed them, with no positive or negative change. I was adding related imports in my desperation to make it work.

The demo's you linked to work fine on my set-up. I've also looked at some React code to see if they do anything special and there's nothing I could find that I've not already taken care of.  I could not find a sin

[2018-02-20 17:33] devaptas commented on #209
Ok, this trick solved, I don't knew about this element, tnks again.

[2018-02-20 21:07] hmexx commented on #212
@thijstriemstra I'd get to the bottom of this myself if I had an error message to go on. Quite weird how it's a silent failure. Is there anything I can do on my end to help you point me in the right direction? I have a publicly accessible page with the malfunction component up and running. Would it be useful if I sent you that to inspect the page?

I couldn't find anything weird in there myself.

[2018-02-20 21:15] #209 closed

[2018-02-20 21:16] thijstriemstra commented on #212
@hmexx sure, I'll take a look.

[2018-02-20 21:43] thijstriemstra commented on #208
Fixed with https://github.com/collab-project/videojs-record/commit/869eb86db8a79a4627eb8829ede81fd820907d56

[2018-02-20 21:43] #208 closed

[2018-02-20 21:45] thijstriemstra commented on #211
@SergeyKozlov can you use the `ffprobe` tool (also part of ffmpeg) on these files and paste the output in a gist (https://gist.github.com)?

[2018-02-21 04:46] SergeyKozlov commented on #211
![2018-02-21 07-46-02](https://user-images.githubusercontent.com/1781376/36463492-53ff6d0e-16db-11e8-89a7-1ec3d9c040ed.png)

[2018-02-21 10:23] hmexx commented on #212
@thijstriemstra

Great! I'll leave this up for a few days

http://bit.ly/2GwQ4HP

Oddly enough, I've now noticed that I've moved it to a non-localhost domain, that it does not actually ask for video permission. On my dev environment, the browser already has camera permission, and you can see the camera light go on, but nothing shows up (black video). Maybe the difference between the two can help u

[2018-02-21 10:54] hmexx commented on #212
I've managed to get some kind of error to appear by changing my set-up. Perhaps this could help the investigation. I had the following in my webpack.conf set-up.

[code]

if I replace `video.cjs.js` with `video.es.js` I get the following error in the console:

`videojs.getComponent is not a function`

if I replace `video.cjs.js` with `video.min.js` then it goes back to the original behavious (sile

[2018-02-21 12:00] hmexx commented on #212
Another potential hint. If you open the webpage I've linked to in Microsoft Edge, then the behaviour is slightly different to chrome. The record button DOES show up after you click the main button. But it's still not functional in any way.

[2018-02-21 12:27] hmexx commented on #212
@thijstriemstra

Wait a minute, the react example from your repo does not work either?!

https://collab-project.github.io/videojs-record/examples/react/index.html

The exact same behaviour! This gives me some hope that I'm not going crazy. Let me know if you're seeing the same thing on your end.

[2018-02-21 13:54] hmexx commented on #212
Well, I solved it. About 8 hours of pain and suffering … One of those dev days that makes you want to change jobs, lol.

OK, for future reference, and I hope this helps someone, the exact webpack config that is needed is below. What was missing was a line for RecordRTC in there.

[code]

combine this with the code in my OP and you have a working VueJS video recording component.

@thijstriemstra gr

[2018-02-21 13:54] #212 closed

[2018-02-21 14:19] thijstriemstra commented on #212
@hmexx you never mentioned you were using webpack... Glad you solved it (react component works afterall I guess, you removed the comment).

[2018-02-21 15:36] hmexx commented on #212
Yes the react one works fine. I removed the comment sneakily... I did not want to admit that I forgot plug my webcam back in when I tried the react version!

And you're right, mentioning webpack would have been useful, although I think it would have still been a struggle. I don't think the exact config required, as detailed above, is available all in one place on the web. It's there now though :)

[2018-02-21 16:44] thijstriemstra commented on #212
@hmexx if you want to write a small section in the readme about how to use this plugin with webpack, I think it would be useful.

[2018-02-21 22:18] hmexx commented on #212
Hey.

Although I’m no webpack guru by any means im happy to write up a short blurb as to why the above set-up works and why it’s necessary to get video.js and videojs-record working.

I’ll try to do it this weekend.

[2018-02-22 02:03] thijstriemstra commented on #211
the 2nd command uses `-v quiet` for some reeason. can you just use `ffprobe x.filename` and paste the contents here (dont make a screenshot, just copy/paste text).

[2018-02-22 04:31] SergeyKozlov commented on #211
I got output:
[code]

[2018-02-22 10:06] #211 closed

[2018-02-22 14:35] thijstriemstra commented on #211
Im confused again; what  is 176673385756691122.ts?

[2018-02-22 20:08] SergeyKozlov commented on #211
This portion of the stream made a new version videojs.record.js.
Now everything is correct.

[2018-02-23 21:19] natashache opened #213 "Ability to specify bitrate in lamejs plugin"
I'm using the `lame.js` plugin to record audio. The recording defaults to a bitrate of 128 kbps. Is there a way to change this? Bitrate is not listed as one of the recording options. Looking through the files and couldn't find where this is set.

[2018-02-23 22:38] thijstriemstra commented on #213
@natashache it's possible to change the sampleRate like this: https://github.com/collab-project/videojs-record/blob/master/src/js/plugins/lamejs-plugin.js#L25

But no option for the bitrate yet, I'll look into it.

[2018-02-23 23:02] thijstriemstra commented on #213
@natashache i created pull request #214 that should fix this, can you give it a try?

[2018-02-23 23:17] natashache commented on #213
@thijstriemstra Ok. Will try this now.

[2018-02-23 23:53] natashache commented on #213
@thijstriemstra This doesn't seem to help. Just recorded something with the updated code. Set the audioBitRate option to 64 kbps, but the recorded file still ends up in 128kbps.

Also I noticed that changing the sample rate doesn't work either. No matter what I specify for `audioSampleRate`, it always records in 44100 Hz.

Here's the clip I just recorded https://mysoundwise.com/tracks/151942917836

[2018-02-24 09:30] thijstriemstra commented on #213
Can you try recording something with lamejs directly (so without this plugin) and see if these settings work at all over there?

[2018-02-25 00:59] thijstriemstra commented on #213
I tested the plugin just now and with default settings it produced:

[code]

With these settings:

[code]

it produced:

[code]

And with these settings:

[code]

it produces:

[code]

I'm not sure what browser/version of ffmpeg you're using but `bitRate` seems to work fine here on OSX/Firefox 58.0.2 and ffprobe version 3.1.3.

[2018-02-25 01:18] natashache commented on #213
I'm using chrome. Let me try again.

[2018-02-25 01:19] thijstriemstra commented on #213
For the issue with 44100khz; there was a bug (fixed in the PR) and I'm now able to produce 22050khz files for example:

[code]

[2018-02-25 01:39] thijstriemstra commented on #213
Also works fine on Chrome:

[code]

Will merge #214.

[2018-02-25 01:42] #213 closed

[2018-02-25 02:09] thijstriemstra commented on #213
Released as 2.1.2.

[2018-02-25 02:17] thijstriemstra commented on #188
Also see https://github.com/videojs/video.js/pull/4962 for:

[code]

[2018-02-25 02:25] thijstriemstra commented on #181
Changed the ticket title to reflect that audio-only and image-only recording do work in Safari (tested with 11.0.3), it's video recording that doesn't (using recordrtc).

[2018-03-01 19:30] thijstriemstra opened #215 "apply facial models to faces in video"
would be cool to have a demo that replaces your face in realtime. Could be done using https://github.com/auduno/clmtrackr: "clmtrackr is a javascript library for fitting facial models to faces in videos or images". Example: https://github.com/auduno/clmtrackr#examples

[2018-03-02 00:37] thijstriemstra commented on #210
Tested on Firefox 58.0.2 on macOS with following code and `timeSlice` of 2000:

[code]

**audio-only**

Results: only blobs.

[code]

**video-only**

Results: all bobs except the last one.

[code]

**audio-video**

Results: all bobs except the last one.

[code]

So it looks like audio-only is not affected. I'm also only able to produce a `File` object as the last item in the array.

[2018-03-02 01:56] thijstriemstra commented on #210
@SergeyKozlov I created pr #216, can you test it?

[2018-03-02 01:58] thijstriemstra commented on #210
I guess this PR doesn't solve the issue when the `timeSlice` option isn't enabled; it could still return a `File` object with an empty `name` property..

[2018-03-03 17:58] SergeyKozlov commented on #210
Hey.
Sorry, but now I get in the Firefox:
audio-video

Results: all bobs except the last one.

Array [ Blob, Blob, File, File, File, Blob, Blob]

![2018-03-03 20-51-31](https://user-images.githubusercontent.com/1781376/36937495-5bc18b38-1f25-11e8-9fb3-f092c88c8075.png)

[2018-03-04 16:34] thijstriemstra commented on #210
I tested on macOS with firefox 58, I'll test again on Ubuntu.

[2018-03-04 17:28] SergeyKozlov commented on #210
What is your result on the macOS now?
Array [ Blob, Blob, File, File, Blob, Blob]?

[2018-03-04 17:30] thijstriemstra commented on #210
@SergeyKozlov Blobs only.

[2018-03-04 18:54] SergeyKozlov commented on #210
@thijstriemstra Tomorrow I will test for Windows.

[2018-03-05 08:37] kbrownhbs commented on #153
I am seeing this issue in Chrome Version 64.0.3282.186 (Official Build) (64-bit)

![image](https://user-images.githubusercontent.com/3537923/36965018-5ac1be2c-2026-11e8-8c3b-72774665bf17.png)

[2018-03-06 01:11] thijstriemstra commented on #153
@kbrownhbs let me check it out

[2018-03-06 02:20] kbrownhbs commented on #153
Windows 10

[2018-03-06 02:25] kbrownhbs commented on #153
My bad, this issue is for a different project dealing with taking photos using using the image-capture npm module.

[2018-03-06 12:41] SergeyKozlov commented on #210
Hi @thijstriemstra
I tested on Win 64 with Firefox 58. And i got a result **blob file file blob file blob blob**:
![web_rec_06032018](https://user-images.githubusercontent.com/1781376/37032780-b7c7e57c-2154-11e8-9fb2-5299038a9e6d.jpg)

[2018-03-06 15:20] #153 closed

[2018-03-06 20:32] thijstriemstra commented on #210
@SergeyKozlov can't reproduce it on Ubuntu. Can you try this example and see if it also produces `File` every now and then? https://github.com/muaz-khan/RecordRTC/blob/master/simple-demos/ondataavailable.html

[2018-03-07 04:53] SergeyKozlov commented on #210
@thijstriemstra Here's what I did:

    document.getElementById('btn-start-recording').onclick = function() {
        this.disabled = true;
        captureCamera(function(camera) {
            setSrcObject(camera, video);
            video.play();

            recorder = RecordRTC(camera, {
                recorderType: MediaStreamRecorder,
                mimeType: 'video/webm',
                t

[2018-03-07 08:03] SergeyKozlov opened #217 "The video stream does not stop"
## Description
The video stream does not stop.

## Steps to reproduce
[code]
## Results
### Expected
The video stream should stop.

### Actual
On the web page, I start recording video, then I stop recording. But the video stream does not stop.

### Error output
![2018-03-07 10-53-12](https://user-images.githubusercontent.com/1781376/37080239-8e083500-21f6-11e8-8084-9ca0fcf394a5.png)

## Additional

[2018-03-07 09:34] SergeyKozlov opened #218 "Timestamp Percentage of file upload"
## Description
Get loaded progress of the file upload process on the server.

## Steps to reproduce
How to keep track of the file upload process on the server?

## Results
### Expected
Percentage of file upload.

### Actual
I`m use **timeshtamp**:
[code]

[2018-03-07 14:10] thijstriemstra commented on #218
@SergeyKozlov I don't understand the question..

[2018-03-15 04:20] sureshPprajapati opened #219 "save video to specific fixed folder"
Hi,
I need to store video/audio clip to the specific folder every time, I can easily got form there. is there any way to store directly specified folder no need to ask every time saveAs window.
is there any way to set up this kind of functionality.

[2018-03-15 10:57] crossskyfreely opened #220 "Compatible with videojs-contrib-hls"
Hi , I recently test videojs-record function . It seem that videojs-record only record the stream from camera ,right ? Or if we can record stream from HLS what we should do ?  eagerly expect your reply ,Thanks a lots.
Luke

[2018-03-15 16:01] thijstriemstra commented on #220
@crossskyfreely it's possible to record from camera/microphone. videojs-contrib-hls does not (or cannot) make the audio data available for recording so it's not possible to record HLS streams (yet). Any research/help is welcome.

[2018-03-16 11:08] SergeyKozlov opened #221 "Control the display of all buttons"
Hey.
Is there any way to control the display of all buttons?
Do these buttons have methods and events?

![2018-03-16 14-07-54](https://user-images.githubusercontent.com/1781376/37517756-7d794b82-2923-11e8-9f5d-66a6f3914d6a.png)

Thank you.

[2018-03-16 18:34] thijstriemstra commented on #221
Yes, they're all located in the `player.controlBar`, e.g. `player.controlBar.volumePanel.hide()`. Check video.js `Player` API documentation and source.

[2018-03-16 18:34] #221 closed

[2018-03-16 18:49] thijstriemstra commented on #220
also see https://github.com/video-dev/hls.js/issues/410

[2018-03-16 19:06] thijstriemstra commented on #219
@sureshPprajapati for firefox there is this https://support.mozilla.org/en-US/questions/1192259

[2018-03-25 22:59] thijstriemstra commented on #219
No feedback, closing question.

[2018-03-25 22:59] #219 closed

[2018-03-25 23:01] thijstriemstra commented on #218
@SergeyKozlov no feedback, closing question. I also think this is something specific to your server/client setup (jquery etc) and more suitable for asking on stackoverflow.

[2018-03-25 23:01] #218 closed

[2018-03-25 23:03] thijstriemstra commented on #217
@SergeyKozlov can you create a screencast of the error, it would be the easiest for me to see what you mean.

[2018-03-29 07:02] pratikshah99 opened #222 "audio"
## Description
i want to record only audio and i don't want to display wave. How can i do that. i try but it will not work.
i also check example but i can't do.  I do like this
[code]
### Error output
TypeError: this.surfer.surfer is undefined Stack trace: getDevice@http://192.168.1.50/VidRecPro/js/videojs.record.js:1793:21 handleClick@http://192.168.1.50/VidRecPro/js/videojs.record.js:294:7 r@htt

[2018-03-29 07:48] michaelsboost opened #223 "Example for changing video source"
I'm not seeing anything in the API that shows any option to change the webcam source. (I'm asking cause I may use this library to make a Google Chrome App for Chromebooks. (Testing on Google Chrome)

Demo visible a https://codepen.io/michaelsboost/pen/BrYwjq

[2018-03-29 15:18] thijstriemstra commented on #222
@pratikshah99 you forgot to include the videojs-wavesurfer and wavesurfer.js libraries. Take a look at the audio example.

[2018-03-29 15:18] #222 closed

[2018-03-29 15:28] thijstriemstra commented on #223
@michaelsboost check this example: https://github.com/collab-project/videojs-record/blob/master/examples/change-audio-input.html It's for audio but with some tweaking it should work for video as well.

[2018-03-30 05:08] pratikshah99 commented on #222
Thanks
I got it that. But, my question is that i don't want to display "**Waves of Record Sppech**" then how can it be done.

Only audio record don't want "waves"

[2018-03-30 14:14] thijstriemstra commented on #222
You can try hiding the `wave` element using css styles.

[2018-03-30 20:01] SergeyKozlov commented on #217
I found a solution:

        player.record().stop();
        player.record().stopStream();

The question is closed.
Thank you.

[2018-03-30 20:01] #217 closed

[2018-03-31 14:39] nguyenxuanluong-luvina opened #224 "player.record().start() not work"
## Description
I want to call start recording function automatically by calling

[code]

But I get an error

[code]

## Steps to reproduce
- Download example from repo
- Adding line after init player

[code]

like this

[2018-03-31 14:46] thijstriemstra commented on #224
@nguyenxuanluong-luvina you cannot call `start` before the user gave access to microphone and/or microphone. You should also wait until player is ready. Try:

[code]

[2018-03-31 14:52] nguyenxuanluong-luvina commented on #224
Thank you very much Thijs Triemstra
That's my mistake

[2018-03-31 14:53] #224 closed

[2018-04-01 02:01] nguyenxuanluong-luvina opened #225 "image-only example doesn't work: Uncaught (in promise) DOMException: setOptions failed"
## Description
I have problem when run example image-only.html
When click button to snapshot an image,I get error  Uncaught (in promise) DOMException: setOptions failed
Chrome version : Version 65.0.3325.181 (Official Build) (64-bit)
VIDEOJS: Using video.js 6.7.3 with videojs-record 2.1.2

https://collab-project.github.io/videojs-record/examples/image-only.html

[2018-04-02 12:18] thijstriemstra commented on #225
@nguyenxuanluong-luvina what operating system?

[2018-04-02 14:17] nguyenxuanluong-luvina commented on #225
I using Windows 10 Pro

[2018-04-02 14:48] thijstriemstra commented on #225
I cannot reproduce this on OSX or Linux, haven't tested or access to Windows.

[2018-04-03 22:27] thijstriemstra opened #226 "Introduce tests"
Add some basic tests running in headless firefox/chrome browsers.

Opened PR #228

[2018-04-04 14:32] nguyenxuanluong-luvina commented on #225
This is full stacktrace I get from Google console

[2018-04-04 14:46] thijstriemstra commented on #225
@nguyenxuanluong-luvina can you try with non-minified versions of the libraries (video.js, videojs-record etc) for a better stacktrace?

[2018-04-04 15:24] thijstriemstra commented on #225
Looks same as #153

[2018-04-04 15:42] thijstriemstra commented on #225
Well, looks like they removed the method `ImageCapture.setOptions` in Chrome 66 (https://developers.google.com/web/updates/2018/03/chrome-66-deprecations):

But this broke the `ImageCapture` API, or I'm missing something..

[2018-04-04 16:05] thijstriemstra commented on #225
@nguyenxuanluong-luvina I think I found a fix, can you give (the changes in) pull request #227 a try?

[2018-04-06 14:41] thijstriemstra commented on #225
Awesome, thx for feedback.

[2018-04-09 08:11] SergeyKozlov opened #229 "The problem with stopping recording in Firefox"
## Description
The problem with stopping recording in Firefox

This question is related to my previous question. #210
And is an addition to the existing bug #210

How to stop video recording correctly?

Here's my working example that illustrates my problem:
Please press the separate record button.

https://ea1116048a2ffc61f8b7-d479f182e30f6e6ac2ebc5ce5ab9de7b.ssl.cf1.rackcdn.com/rec1b_a.html

## S

[2018-04-09 19:58] thijstriemstra commented on #229
@SergeyKozlov video.js 6.8.0 is not tested yet, could be related to that. Try 6.7.3 or older for now.

[2018-04-09 20:08] SergeyKozlov commented on #229
Complete example:

https://ea1116048a2ffc61f8b7-d479f182e30f6e6ac2ebc5ce5ab9de7b.ssl.cf1.rackcdn.com/rec1b_a.html

[2018-04-09 20:49] thijstriemstra commented on #229
@SergeyKozlov can you paste the code here, that example might not be up forever and it's good to keep it in a ticket for future reference.

[2018-04-09 20:56] thijstriemstra commented on #210
@SergeyKozlov I was thinking about creating a new object that contains the metadata + either blob/file instead of returning the raw blob/file. So something like:

[code]

That way you'll always have the correct metadata and blob/file data. Thoughts?

[2018-04-10 05:04] SergeyKozlov commented on #229
@thijstriemstra this is my code:
[code]

[2018-04-10 05:27] SergeyKozlov commented on #210
@thijstriemstra Where should I use it. Instead of the **formData** parameter?:

player.on('timestamp', function() {
    if (player.recordedData && player.recordedData.length > 0) {
        var binaryData = player.recordedData[player.recordedData.length - 1];
        segmentNumber++;
        var formData = new FormData();
        formData.append('SegmentNumber', segmentNumber);
        formData.app

[2018-04-10 08:41] delockdown opened #230 "Plugin "record" does not exist in Angular 5"
## Description
plugin "record" does not exist appears when I try to add video tag with 'record' plugin. This the configurations I added.
`var player = videojs('myVideo', {
      // video.js options
      controls: true,
      loop: false,
      fluid: true,
      plugins: {
        record: {
          audio: true,
          video: true,
          maxLength: 10,
          debug: true,
        },

[2018-04-10 19:29] #230 closed

[2018-04-10 19:31] delockdown opened #231 "Start video record by buttom"
Is there any way to start recording on button click or something

[2018-04-10 20:16] thijstriemstra commented on #231
Yes, use `player.record().start()` (after the user clicked the device access button or use `player.record().getDevice()` for that).

[2018-04-10 20:16] #231 closed

[2018-04-10 20:17] thijstriemstra commented on #230
@delockdown it's always a good idea to explain why the ticket was closed, maybe others ran into same issue.

[2018-04-11 06:26] SergeyKozlov commented on #210
@thijstriemstra this is my code:

[code]

And again I get value of data: **blob file blob file** ...

Is there a reason for the error in this line?:
`        var data = player.recordedData[player.recordedData.length - 1];`
This is error on console:
![2018-04-11 09-17-39](https://user-images.githubusercontent.com/1781376/38599632-f4380420-3d69-11e8-9441-801a13480e52.png)

[2018-04-11 10:53] thijstriemstra commented on #210
I was proposing such a fix, not implemented yet

[2018-04-11 13:04] SergeyKozlov commented on #210
When install the dependencies using npm i'm got a warning:
![2018-04-11 16-02-06](https://user-images.githubusercontent.com/1781376/38618346-070a10f6-3da2-11e8-92b9-04b34b4d64d1.png)

It is important?

[2018-04-11 13:13] thijstriemstra commented on #210
@SergeyKozlov don't think so but can you open a separate ticket for that?

[2018-04-11 13:53] SergeyKozlov opened #232 "Warning when install the dependencies"
When install the dependencies using npm i'm got a warning:
![2018-04-11 16-02-06](https://user-images.githubusercontent.com/1781376/38618346-070a10f6-3da2-11e8-92b9-04b34b4d64d1.png)

[2018-04-12 11:14] SergeyKozlov commented on #210
@thijstriemstra
I'm adding
[code]
to **videjs.record.js**.
Why does not it work like this:

[code]

I'm got a error:
![2018-04-12 14-12-33](https://user-images.githubusercontent.com/1781376/38674049-cbd98e3e-3e5b-11e8-8699-2049463047e3.png)

[2018-04-15 11:37] SergeyKozlov opened #233 "How to send recorded video to the server?"
## Description
How to send a video without participation **fileupload**:

[code]

How to send recorded video to the server?

## Steps to reproduce
This is my code:

[code]

## Results
### Expected
The filled parameter **Data**

### Actual
Data  [object Object]

### Error output
![2018-04-15 14-30-37](https://user-images.githubusercontent.com/1781376/38777986-204b1e32-40ba-11e8-9feb-203e4059f248.pn

[2018-04-17 09:50] delockdown opened #234 "Ability to control max file size"
Hi, Is there any way to stop record when the video reach to particular value(Ex: 20mb)

[2018-04-20 20:14] thijstriemstra commented on #234
@delockdown no I don't think so. You could use the `timeSlice` option though to get the data every x seconds, so you could calculate what recording approximately 20mb would be in seconds and use that value for `timeSlice`.

[2018-04-25 23:36] #226 closed

[2018-04-26 14:54] Xteda87 opened #235 "audio-only with regular videojs player on the same page breaks"
Sorry for my English
## Description
When we have on one page video-record player and videojs player with any video occurs strange behaviour: click on simply player's progress control doesn't have any effect.

## Steps to reproduce
Add to one page video-record object and simply videojs player

### Versions
#### videojs
6.8
#### browsers
all
#### OSes
win 10

[2018-04-26 15:17] thijstriemstra commented on #235
@Xteda87 perhaps it's related to this piece of code: https://github.com/collab-project/videojs-record/blob/master/src/js/videojs.record.js#L32

Can you rip that out, try again and see if it improves things?

[2018-04-28 09:13] Xteda87 commented on #235
I found the problem. If I include the file videojs.wavesurfer.js version more than 2.0.3 then click on the progress controls doesn't work.

[2018-05-04 09:45] bionimic commented on #233
Any update?

[2018-05-04 10:01] thijstriemstra commented on #233
This is more a stackoverflow question because it depends on your backend. But ill add a simple python example at some point.

[2018-05-04 18:10] devaptas opened #239 "Error on install using NPM via composer"
Error on install using NPM via composer

Composer file:
[code]
Error log using `composer update -vv`

[2018-05-06 21:55] thijstriemstra commented on #235
@Xteda87 can you provide some example code to reproduce this?

[2018-05-06 21:57] #232 closed

[2018-05-06 22:54] thijstriemstra commented on #239
@devaptas I published version 2.2.0, can you check if it's better now?

[2018-05-06 23:52] devaptas commented on #239
Same problem. I tried install the dependencies separated and the problem is on video.js or in any dependence on it

[2018-05-07 00:14] thijstriemstra commented on #233
Added a simple upload example. See PR #240.

For a Python example server, place following code in a file called `server.py` and run it using `python server.py` (make sure to install the flask library using `pip install flask` first).

Then visit http://localhost:5000, record something and you should see the file show in the the `uploads` directory.

[code]

[2018-05-07 04:30] bionimic opened #241 "Add text / image inside video"
I want to do something like questionnaire inside the video. User will start record video and read the question and answer during the recording.

Is it possible? please assist. thanks!

[2018-05-07 08:50] SergeyKozlov commented on #233
Thank you. My problem is solved.

[2018-05-07 19:52] #233 closed

[2018-05-07 19:53] thijstriemstra commented on #239
@devaptas if it's a video.js problem, can you open a ticket in their repository?

[2018-05-07 19:59] thijstriemstra commented on #239
Oh you already opened one: https://github.com/videojs/video.js/issues/5146 (perhaps adding a reference here would've been useful ;)

[2018-05-07 19:59] #239 closed

[2018-05-07 20:03] thijstriemstra commented on #241
I think you can use webvtt for this but I'm not sure, any suggestions @gkatsev, you know of any plugins that provide this (I can figure out the record-part)?

[2018-05-07 20:09] gkatsev commented on #241
Yeah, you could use text tracks. For just text, you could probably mark it as subtitles but for custom styling and images probably use a metadata track with a JSON string inside of it that has various info in it like the image and the text. Here's an example plugin that uses metadata text tracks for displaying thumbnails: https://github.com/dirkjanm/videojs-vtt-thumbnails

[2018-05-07 20:10] thijstriemstra commented on #234
@delockdown would the [setRecordingDuration](https://github.com/muaz-khan/RecordRTC#setrecordingduration) method work for your use-case?

[2018-05-07 20:15] thijstriemstra commented on #223
any feedback @michaelsboost?

[2018-05-07 20:36] thijstriemstra commented on #190
You're using audio+video, and the examples use audio-only, so I cannot update these examples, closing as is.

[2018-05-07 20:36] #190 closed

[2018-05-08 07:05] nguyenxuanluong-luvina opened #242 "Blackscreen video but can record and export to file"
Hi there,
I have problem with videjs-record or maybe videojs i'm not sure.
Let me describe my problem:
I using videojs-record and working fine before.
Now my project need to minification code using Uglify
Then after minify, my video screen go to all black,even no control button show out.
I was created  a button for record video (this button call `player.record.start()` action then it still record

[2018-05-08 11:15] thijstriemstra commented on #242
@nguyenxuanluong-luvina what browser? what version of video.js/videojs-record? What operating system? Can you share some example code? How do you minify the files?

[2018-05-08 13:57] nguyenxuanluong-luvina commented on #242
I using
+ Google Chrome Version 66.0.3359.139 (Official Build) (64-bit)
+ Windows 10
+ Video.js 6.7.3
+ videojs-record @version 2.1.2

I using ulify-js  2.8.3 to minify source with only one option `mangle: true`

The problem happend only when minify, in full version of source have no problem

Source code using in very simple :
[code]
Then html is simple too:
`<video id="proofVideo" class="video-js

[2018-05-08 14:36] thijstriemstra commented on #242
@nguyenxuanluong-luvina please try videojs-record 2.2.0

[2018-05-08 15:53] nguyenxuanluong-luvina commented on #242
I just updated with videojs-record 2.2.0 and video.js version 6.9.0 lastest stable but still can not fix
Maybe video.js can not detect `myVideo` :(

[2018-05-09 07:51] ghobashy commented on #108
Hello @IlyaAndr , did you find a solution for this one?

[2018-05-09 10:38] thijstriemstra commented on #242
@nguyenxuanluong-luvina can you create a simple example, using something like grunt, that reproduces the problem? Otherwise there's not much I can do here..

[2018-05-09 15:26] thijstriemstra commented on #242
@nguyenxuanluong-luvina you should use video.js 6.8.0 or older for now, just tested with 6.9.0 and there seems to be an issue (with audio recording).

[2018-05-09 20:41] thijstriemstra opened #243 "Issue with video.js 6.9.0"
When recording audio, the resulting waveform is not displayed/loaded.

[2018-05-10 17:36] michaelsboost commented on #223
Nope haven't been able to test it. My only tinkering it just recording the webcam and audio. Just have more important things to deal with in my life besides coding.

This is the pen I originally created to play with VideoJS though: https://codepen.io/michaelsboost/pen/BrYwjq

[2018-05-11 08:34] delockdown commented on #234
Hi @thijstriemstra, It is not possible to give duration because based on camera quality video size getting changed. So it is not possible to reply on the duration always.

[2018-05-11 09:15] dirkk0 commented on #225
Still getting 'setOptions failed' error on Mac OSX with Chrome 66 on both the examples here and after compilation, with both animated-gif and image-only example.

[2018-05-11 13:29] oleg-kiviljov commented on #225
Got same issue as dirkk0

[2018-05-11 14:40] thijstriemstra commented on #225
@dirkk0 @oleg-kiviljov try the new 2.2.2, should be fixed now.

[2018-05-11 14:54] thijstriemstra commented on #243
Not able to reproduce this on OSX with Firefox 60 / Chrome 66..

[2018-05-11 14:54] #242 closed

[2018-05-11 17:45] dirkk0 commented on #225
man, that was fast ... awesome! thanks!

[2018-05-12 14:43] hyounoo commented on #225
What?
Is this fixed already?
Where should I look for?

[2018-05-12 15:56] thijstriemstra commented on #225
Try v2.2.2

[2018-05-13 10:14] dirkk0 opened #244 "Loading recorded video fails"
## Description
Video player doesn't play recorded video, standard html5 video element does.

## Steps to reproduce
I prepared a sample here:
https://curious-electric.com/_temp/videojs/

## Results
### Expected
Recorded video runs with html5 video element in this example (line 94 and 95):
https://curious-electric.com/_temp/videojs/working.html
### Actual
Recorded video does not run with player in t

[2018-05-13 11:41] thijstriemstra commented on #244
Can you run `ffprobe` on the webm file and paste the output here?

[2018-05-13 12:09] dirkk0 commented on #244
This is from a sample I downloaded and saved:
`Input #0, matroska,webm, from 'rec1.webm':
  Metadata:
    encoder         : Chrome
  Duration: N/A, start: 0.000000, bitrate: N/A
    Stream #0:0(eng): Audio: opus, 48000 Hz, mono, fltp (default)
    Stream #0:1(eng): Video: h264 (Baseline), yuv420p(progressive), 640x480 [SAR 1:1 DAR 4:3], 25 fps, 25 tbr, 1k tbn, 50 tbc (default)`

[2018-05-13 19:44] thijstriemstra commented on #235
I just tried this with the following example:

[code]

And the resulting player looks weird, likely because it picks up the player styles for videojs-record:

![videojs-css-screwed](https://user-images.githubusercontent.com/305679/39971142-b2f0af84-56f6-11e8-9914-cd39d42a3433.png)

I'm not able to reproduce this though..

[2018-05-13 20:29] thijstriemstra commented on #235
While working on a fix, I also noticed this weird waveform render issue, bizarre.
![crooked-waveform](https://user-images.githubusercontent.com/305679/39971524-e38853b2-56fc-11e8-8ec3-d6cc111acbf7.png)

[2018-05-13 22:07] thijstriemstra commented on #235
There's also an issue in videojs-wavesurfer, opened https://github.com/collab-project/videojs-wavesurfer/issues/60 for that.

[2018-05-15 13:07] smakinson commented on #92
I've added:

`videoMimeType: 'video/webm;codecs=H264'`

under plugins.record. Is that all that is required? I haven't installed ffprobe, but should quicktime play the file I get from:

`player.record().saveAs({'video': 'my-video-file-name.mp4'})`

[2018-05-15 13:29] thijstriemstra commented on #92
@smakinson should be enough, please open a new ticket if you see any issues.

[2018-05-15 19:02] smakinson opened #247 "fluid aspect ratio incorrect on android ( chrome )"
# Description
Briefly describe the issue.
The recorder is too tall on android in chrome in **portrait orientation** ( possibly others )

## Steps to reproduce
set fluid: true, load on android in chrome

## Results
### Expected
The aspect ratio to match what I see in chrome on the desktop.

### Actual
I see the recorder as much taller in chrome on android.

### Error output
If there are any errors

[2018-05-15 19:11] thijstriemstra commented on #247
@smakinson thanks for the report. Perhaps you can dig into the fluid styles at https://github.com/collab-project/videojs-record/blob/master/src/css/fluid.scss, I'm not much of help there.

[2018-05-15 19:13] thijstriemstra commented on #247
can you also add some screenshots @smakinson ?

[2018-05-15 19:16] smakinson commented on #247
Here is what it looks like, its a bit taller than this ( taken from dev tools )
![screen shot 2018-05-15 at 3 14 04 pm](https://user-images.githubusercontent.com/16784/40078486-b378b232-5852-11e8-9747-daadcab2360a.png)

[2018-05-15 19:18] smakinson commented on #247
I have the 2.3.0 src downloaded and searching for the reportVideo-dimensions class is returning no results, where might I find that?

[2018-05-15 19:27] smakinson commented on #247
I think I found where the padding is set up:
https://github.com/videojs/video.js/blob/master/src/js/player.js#L877

[2018-05-15 19:33] smakinson commented on #247
I'll give that aspectRatio property a try, it looks like it does get used for determining the padding-top.

[2018-05-15 19:35] thijstriemstra commented on #247
@smakinson you also reported using video.js 7.0.0 (didn't know it was out yet) but I'd stick to 6.9.0 for now, haven't tested with 7 yet.

[2018-05-15 19:38] smakinson commented on #247
adding:
`aspectRatio: '16:9'`

 partially fixed it:

![screen shot 2018-05-15 at 3 37 13 pm](https://user-images.githubusercontent.com/16784/40079416-e0a4f93e-5855-11e8-8133-916bcd32dc1c.png)

[2018-05-15 19:40] thijstriemstra commented on #247
@smakinson good to see you're making progress. If you have any fixes to contribute, feel free to open a pull request and I'll review it asap.

[2018-05-15 22:30] thijstriemstra commented on #234
Maybe there's a way to access the size of the current (local) Blob recording, and stop recording based on that value.

[2018-05-17 12:49] Purnendu220 opened #248 "Noise when recording voice from safari browser"
## Description
I have implemented audio record feature in my website.But audio record result me recorded audio with noise.
## Steps to reproduce
go to https://qa.myu.co on safari browser.
then login using username and password
use username:gituser
use password:123456

then u will find the audio icon click on that than use it to record audio.

## Results
After that when you replay the audio you rec

[2018-05-17 18:56] thijstriemstra commented on #248
I think this is a browser issue, and not something I can do anything about, see this similar report: https://stackoverflow.com/questions/49612970/audio-recording-using-safari-desktop

[2018-05-17 20:57] smakinson commented on #155
I'm also trying to work out getting an mp4, should the blob name have mp4 if its type is video/webm;codecs=h264? Here is a screengrab of a console log I added in RecordRTC:

![screen shot 2018-05-17 at 4 47 22 pm](https://user-images.githubusercontent.com/16784/40203426-2fd0fbcc-59f3-11e8-9b86-42b591cb1b16.png)

[2018-05-18 04:14] Purnendu220 commented on #248
thanks for the response this demo is working fine

[2018-05-18 10:32] thijstriemstra commented on #155
No its webm container.

[2018-05-20 11:13] oleg-kiviljov opened #249 "TypeError: EngineClass is not a constructor"
## Description
I try to setup videojs-record and its dependencies using npm & webpack.
I had some issues with proper webpack setup, but I followed https://github.com/collab-project/videojs-record/issues/212 and
https://github.com/collab-project/videojs-record/issues/136, and they helped me. But in the end when I tried to initialize the device (click on camera button) I got new error.

EngineClass

[2018-05-22 00:19] thijstriemstra commented on #248
Can you reproduce it with https://collab-project.github.io/videojs-record/examples/audio-only.html?

[2018-05-22 18:15] oleg-kiviljov commented on #249
[code]

[2018-05-22 20:06] thijstriemstra commented on #249
@oleg-kiviljov can you try adding aliases like this for each library: https://github.com/hallelujah/videojs-webpack-example/blob/master/webpack.config.js#L85

[2018-05-22 21:53] thijstriemstra commented on #249
@oleg-kiviljov recreated a webpack test and encountered same issue but managed to fix it. I wrote the process down in the wiki: https://github.com/collab-project/videojs-record/wiki/Webpack

I think you only have to change your plugins section into (note that video.**cjs**.js):

[code]

Please let me know if that works for you and if the wiki page needs any updates.

[2018-05-22 22:01] thijstriemstra commented on #136
There's a webpack tutorial in the wiki now: https://github.com/collab-project/videojs-record/wiki/Webpack

[2018-05-22 22:42] #249 closed

[2018-05-23 08:06] oleg-kiviljov commented on #249
this setup has worked successfully for me

[2018-05-28 20:35] leospalteholz opened #250 "Video record sample not working in Chrome or Edge on Windows"
## Description
None of the video record demos are working in Chrome and Edge on Windows.

## Steps to reproduce

1. Visit https://collab-project.github.io/videojs-record/examples/audio-video.html
2. Click the device image to start.
3.  Authorize webpage to access camera.
4. Press record.

## Results
### Expected
Video.

### Actual
Edge: Camera turns on and shows the video feed, but clicking record

[2018-05-28 22:28] thijstriemstra commented on #250
I see you're using windows 8, other than that not much stands out as problematic. The unit tests are run on windows 8 using appveyor so it is tested there somewhat. I personally don't have access to windows 8 to test.

[2018-05-29 20:28] tomasdev commented on #82
It should be working now, right?

[2018-05-29 20:31] thijstriemstra commented on #82
@tomasdev yes, safari is problematic though.

[2018-05-30 15:40] dirkk0 opened #251 "Working iOS 11/Safari 11 video recording sample?"
Hi,

  does anyone have a working minimal video recording and playing sample for iOS11?

Thanks in advance,
  Dirk

[2018-05-30 18:17] thijstriemstra commented on #251
This is basically blocked by https://github.com/muaz-khan/RecordRTC/issues/351

[2018-05-30 18:18] #251 closed

[2018-05-31 03:55] #247 closed

[2018-05-31 03:56] #241 closed

[2018-05-31 04:19] leospalteholz commented on #250
Same results on Windows 10, Chrome 66.   Camera does turn on, but nothing on screen and then the same error

[2018-05-31 04:55] leospalteholz commented on #250
I updated the comments above with results from console.

[2018-05-31 16:29] leospalteholz commented on #250
On iPhone (Safari, iOS 11.4) it sort of works.  Clicking the device icon asks for permission to use camera and safari indicates the camera is in use, then puts a black square in the green video view (no video output on the page).    Clicking the full screen button makes one frame from the video show up, but it isn't live.
Clicking record makes live video show up full screen.  Not sure if it is rec

[2018-05-31 19:48] leospalteholz commented on #250
Note that the demo from this article: https://developers.google.com/web/updates/2016/01/mediarecorder  does work fine in Chrome.   https://webrtc.github.io/samples/src/content/getusermedia/record/

[2018-06-03 16:42] thijstriemstra commented on #249
Looks like this will change again soon: https://github.com/videojs/video.js/pull/5220/files

[2018-06-03 21:34] #235 closed

[2018-06-03 22:00] thijstriemstra commented on #235
@Xteda87 upgrade to videojs-wavesurfer 2.5.0 and videojs-record 2.3.1 (or newer) to fix this.

[2018-06-03 22:49] thijstriemstra commented on #250
This looks suspicious.

[2018-06-05 10:59] dirkk0 commented on #248
I remember that this example was broken for me in the past (i.e. crackling noises).
But I can confirm that it now works on an 2018 iPad with iOS 11.3.

[2018-06-05 11:50] thijstriemstra commented on #248
@dirkk0 did you try with latest? that could've fixed it because there was a high CPU issue in videojs-wavesurfer <= 2.4.0. Thanks for the feedback!

[2018-06-05 11:51] thijstriemstra commented on #248
@Purnendu220 please try the demo again (or use latest videojs-record and videojs-wavesurfer in your project), it should be fixed now.

[2018-06-06 06:55] Purnendu220 commented on #248
Thanks for the support.

On Tue, Jun 5, 2018 at 5:21 PM, Thijs Triemstra <notifications@github.com>
wrote:

[2018-06-12 18:39] dirkk0 commented on #248
Just for the records: it doesn't crackle on an 2018 iPad with iOS 11.3, as reported above.

It *does* crackle on Safari Version 11.1.1 on Mac OSX 10.12.6, unfortunately.

[2018-06-12 18:54] thijstriemstra commented on #248
@dirkk0 what versions of all libraries?

[2018-06-12 19:07] dirkk0 commented on #248
Good point.
I am not entirely sure that I tested it with the latest version.
I'll check out the latest version tomorrow and report back.

[2018-06-13 07:36] dirkk0 commented on #248
I tested it with
"VIDEOJS: – "Using video.js 7.0.3 with videojs-record 2.3.1 + videojs-wavesurfer 2.5.0 and recordrtc 5.4.6""
(all drawn with 'yarn add')
and with the version at this link:
https://collab-project.github.io/videojs-record/examples/audio-only.html
VIDEOJS: Using video.js 7.0.3 with videojs-record 2.3.1 + videojs-wavesurfer 2.5.0 and recordrtc 5.4.7

Crackles on Safari 11/MacOSX, but

[2018-06-13 08:35] dirkk0 opened #253 "Inconsistency between audio and video recordings"
## Description
To copy recorded data to audio and video html elements, one needs to take different steps. In case of video, you can create a blob from recordedData.video with
```var blob = URL.createObjectURL(recorder.recordedData.video);``` but there is no such thing for audio.
Instead, you can create a binary blob from it, which seems to work at least for chrome.
[code]

What is the recommended

[2018-06-13 09:54] thijstriemstra commented on #248
Thx for feedback. No idea what causes this (besides it being shit browser).

[2018-06-13 09:56] thijstriemstra commented on #253
What doesn't work?

[2018-06-13 11:57] thijstriemstra commented on #248
This looks related: https://bugs.webkit.org/show_bug.cgi?id=154538

[2018-06-13 12:01] thijstriemstra commented on #248
@dirkk0 can you try with different audio quality settings and see if that changes things?

[2018-06-15 03:19] tomasdev commented on #160
@thijstriemstra are there any hooks for where to put the canvas flipping?
For example, this relies on Whammy js, which uses a canvas. But how do we manipulate pixel data? i've tried on the record canvas, but did nothing to the final blob.

[2018-06-15 15:59] tomasdev commented on #76
@kimhongn89 it should be `.getDevice()`

[2018-06-15 16:13] tomasdev opened #254 "loadOptions() improvement"
This is a suggestion, after reading #76

Currently, one needs to do the following for example, to change one of the options (in this case, switching camera facing mode from `environment` to `user`)
[code]

It would be better to have `loadOptions()` accept an optional parameter being the object to get options merged with:
[code]

(this would be 2 lines in a PR, I'm willing to do if this idea is acc

[2018-06-15 20:55] thijstriemstra commented on #254
@tomasdev sounds good, cheers.

[2018-06-16 21:48] thijstriemstra commented on #248
Thanks for the feedback @dirkk0. Does this example produce noise on safari? https://www.webrtc-experiment.com/RecordRTC/ Select 'Microphone' and ogg or pcm.

[2018-06-16 22:01] thijstriemstra opened #255 "Document browser support"
Something like https://www.npmjs.com/package/recordrtc#browsers-support

[2018-06-17 11:52] dirkk0 commented on #248
Actually it doesn't work at all in Safari11/MacOSX.
You can only chose 'Microphone' and only 'ogg' and after recording, nothing happens (i.e. I don't hear anything).
The error on the console is:
"Unhandled Promise Rejection: AbortError: The operation was aborted." RecordRTC: 1550

On Chrome, it works fine.

[2018-06-17 12:00] dirkk0 commented on #253
In the upper audio side, it seems to be recording, but the waveform is a flat line. Playing yields silence.
Basically the same with the video part, except that the console shows

    VIDEOJS: ERROR:
    TypeError: right-hand side of 'in' should be an object, got undefined
    Stack trace:
    shimCreateObjectURL/URL.createObjectURL@https://curious-electric.com/_temp/audio- video/adapter-latest.js:

[2018-06-25 21:11] gatesyp commented on #250
Has there been any progress on this? I am receiving the same error with Chrome on Mac.

MacOS: 10.13.5
Chrome 67

[2018-06-25 21:14] thijstriemstra commented on #250
@gatesyp I cannot reproduce this on my Mac 10.11.6 using Chrome and

[code]

So what to do...

[2018-06-27 02:40] gatesyp commented on #250
@thijstriemstra Hmmm, I naturally tried out the demo linked in the OP and had the same exact experience. Green screen, and when pressing record the following error:
[code]

When following the steps in the OP, the example works for you?

[2018-06-27 05:52] gatesyp opened #256 "Can't resolve 'videojs' in videojs-record , React Demo with Create React App"
## Description
Cannot reproduce the React Demo
## Steps to reproduce
1.
[code]

2. Replace ```public/index.html``` with contents of ```index.html``` file in:
https://github.com/collab-project/videojs-record/blob/master/examples/react/index.html

3. Replace ```src/index.js``` with contents of ```index.js``` file from:
https://pastebin.com/Scm44pGK (this is identical to the demo React index.js file,

[2018-07-02 09:49] SachinDev108 opened #257 "Could not find wavesurfer.js microphone plugin!"
Hello Guys,

 I get the error when I use the wavesurfer in videojs for only audio
`VIDEOJS: ERROR: Could not find wavesurfer.js microphone plugin!`

[2018-07-02 11:17] thijstriemstra commented on #257
@SachinDev108 can you show the code you're using?

[2018-07-02 11:37] SachinDev108 commented on #257
[code]

[2018-07-02 15:31] thijstriemstra commented on #256
@gatesyp can you follow: https://github.com/collab-project/videojs-record/wiki/Webpack

You're also importing video.js from incorrect package:

[code]

try

[code]

[2018-07-02 15:35] thijstriemstra commented on #257
@SachinDev108 are you sure you included all scripts (in this order): https://github.com/collab-project/videojs-record/blob/master/examples/audio-only.html#L10

[2018-07-02 19:15] thijstriemstra commented on #250
Tested on Window 7 with Chrome 67.0.3396.99 (Official Build) (64-bit), still cannot reproduce this problem..

[2018-07-04 16:49] leospalteholz commented on #250
Odd.   Still same problem here with video.js 7.0.3 and recordrtc 5.4.7.
Doesn't work in Chrome on Windows 8 or Windows 10 on three different machines (Lenovo Thinkpad, Surface Pro 4, Intel Nuc).

[2018-07-06 12:29] dirkk0 commented on #250
I just tested in on both Win7 and Win10, Chrome 67, and it works perfectly.

Could it be that some chrome extension is interfering?

On Wed, Jul 4, 2018 at 6:49 PM Leo Spalteholz <notifications@github.com>
wrote:

[2018-07-06 15:54] leospalteholz commented on #250
Good idea.  Not sure why I didn't start with extensions.   The primary culprit seems to be an extension called Video Speed Controller:  https://chrome.google.com/webstore/detail/video-speed-controller/nffaoalbilbmmfgbnbgppjihopabppdk?hl=en

Just tried on Chrome on Mac, and I got the same problems with it enabled.  After disabling it the sample works.   Will retest on Windows when I have a chance.

[2018-07-06 15:56] thijstriemstra commented on #250
Good to hear.

[2018-07-09 14:24] thijstriemstra commented on #254
@tomasdev any news?

[2018-07-10 21:43] thijstriemstra commented on #250
@leospalteholz any news?

@gatesyp can you check if all extensions are disabled?

[2018-07-10 21:52] leospalteholz commented on #250
Sorry for the delay.  Just retested on Chrome on Windows 8 and it works with the Video Speed Controller extension disabled. So it seems that was the culprit.    Bug should be closed as the issue is much less broad than I initially thought.  I believe the remaining issues are:

1. Problems with the sample using Edge
2. Chrome with Video Speed Controller doesn't work.

Not sure if those bugs are wor

[2018-07-10 22:20] thijstriemstra commented on #250
Thanks for the feedback.

Is it opensource so I can take a look at that extension?

[2018-07-10 22:23] #250 closed

[2018-07-11 14:12] octavn commented on #181
This [bug report](https://bugs.webkit.org/show_bug.cgi?id=85851) on bugs.webkit.org tracks the MediaRecorder implementation in WebKit and thus Safari.

I encourage everyone to show their interest and [add a comment](https://bugs.webkit.org/show_bug.cgi?id=85851) describing how a MediaRecorder implementation would help their project/development. Creating an account takes a second.

[2018-07-11 17:23] dirkk0 commented on #181
good idea. done.

[2018-07-12 20:05] gatesyp commented on #250
Sorry for the delay.

@leospalteholz good thinking, I've retested on Chrome with MacOS and disabled Video Speed Controller extension. The demo works fine now.

@thijstriemstra here is the source code for the extension:

https://github.com/igrigorik/videospeed

[2018-07-12 20:31] gatesyp commented on #256
@thijstriemstra Thanks for the response. I've updated to reflect your changes, and still the same error:

[code]

I'm using Create React App - with CRA, they abstract away all webpack configurations, and I can't modify the webpack file. Is there another solution? Not sure where to go from here.

Thanks

[2018-07-16 19:18] #254 closed

[2018-07-16 20:09] thijstriemstra commented on #76
It's possible to specify new options since 2.3.2:

[code]

[2018-07-16 21:02] thijstriemstra commented on #250
Couldn't find anything but you can always open a new ticket in that project, maybe they want to figure it out.

[2018-07-16 21:03] thijstriemstra commented on #257
any news @SachinDev108 ?

[2018-07-17 01:17] thijstriemstra commented on #256
@gatesyp, try this.

[code]

[code]

Edit `src/index.js`:

[code]

Edit `src/App.js`:

[code]

Edit `src/index.html`:

[code]

Now eject the app:

[code]

And adjust the webpack config. Edit `config/webpack.config.dev.js`:

- add following to `plugins` array at bottom of file:

[code]
- the `alias` section should look like this:

[code]

Now run `npm start` and it should work! If it works for you

[2018-07-17 01:54] thijstriemstra commented on #253
@dirkk0 the contents of `recordedData` varies between chrome and firefox. See https://github.com/collab-project/videojs-record/blob/master/src/js/engine/record-rtc.js#L137

Any suggestions how to improve this? Probably upstream in recordrtc?

[2018-07-17 05:10] dirkk0 commented on #253
Since this is a record-rtc issue - yes.

[2018-07-17 16:20] graemelambert opened #259 "React error - "Uncaught TypeError: Cannot call a class as a function""
## Description
Almost an exact copy of the React example in this project, but I'm getting this error:
![image](https://user-images.githubusercontent.com/8091816/42830937-e51bc82e-89e4-11e8-890c-34e57726961a.png)

## Steps to reproduce
`componentDidMount` function is:
[code]

Also including the following files:

[code]

video.js version is 7.0.3
RecordRTC version is 5.4.6
webrtc-adapter version is

[2018-07-17 16:50] mcvladthegoat commented on #259
I suppose you new to create a **new** instance of videojs class.
`this.player = new videojs(this.videoNode, {  ......`

[2018-07-17 17:04] thijstriemstra commented on #259
@graemelambert take a look at the new https://github.com/collab-project/videojs-record/wiki/React wiki page.

[2018-07-17 17:29] #256 closed

[2018-07-17 17:31] thijstriemstra commented on #257
No feedback, closing.

[2018-07-17 18:30] thijstriemstra commented on #259
Unrelated to videojs-record so closing. Use [stackoverflow](https://stackoverflow.com/questions/38481857/getting-cannot-call-a-class-as-a-function-in-my-react-project).

[2018-07-17 18:30] #259 closed

[2018-07-19 04:59] Ali-Dalal opened #260 "loadOptions doesn't work"
When I try to use loadOptions, nothing seems to be changed

examples:

[code]
[code]

Can you help please?

[2018-07-19 10:36] thijstriemstra commented on #260
@Ali-Dalal you need to call `getDevice` again afterwards since you're changing the camera/mic settings.

[2018-07-20 02:20] Ali-Dalal commented on #260
@thijstriemstra I figure out the problem

I Know that I have to use ```getDevice``` in order to refresh and I was doing that.

The main problem was in the minified video-record.js file

```loadOptions``` is missing the```newOptions``` param

I manually add it to the function and add the param to merger options function

is the new option missing from the complied file?

[2018-07-20 15:38] thijstriemstra commented on #260
@Ali-Dalal  ah I see, yes, it's not released yet and part of upcoming 2.3.2 release.

[2018-07-20 15:38] #260 closed

[2018-07-23 10:05] Ali-Dalal opened #261 "timeSlice acting strange with 100ms"
When I set the timeSlice to  100 ms and video length to 10 seconds

I should get 10000/100 = 100 timeSlices.

but instead, I get only 83 timeSlices

[code]

when I set the timeSlice to 1000, I get the right result (10 times +1)

could u pleas help?

[2018-07-23 11:55] thijstriemstra commented on #261
@Ali-Dalal the timeslice functionality comes from the RecordRTC library, it's likely the bug is there. I'll take a look at some point. First 🌞

[2018-07-26 01:23] nisalikularatne opened #262 "stopDevice() and getDevice() not working as expected"
## Description
Currently I am trying to switch between cameras. Therefore I stopped the device using stopDevice and want to get it back using getDevice with the new deviceId. However I am getting an error after I stopDevice() and getDevice().

## Steps to reproduce
             videoPlatform.stopDevice()
             videoPlatform.onLoadOptions(deviceId)
             videoPlatform.getDevice()

##

[2018-07-26 02:10] #262 closed

[2018-07-26 06:38] sarathdisha commented on #262
Could You explain how did you find the solution?

[2018-07-27 20:26] johnblakey opened #263 "React Wiki - TypeError: EngineClass is not a constructor"
## Description
I am following the React Wiki @ [vidoejs-record/wiki/React](https://github.com/collab-project/videojs-record/wiki/React) and was able to compile and run on `localhost:3000` to test. When clicking on the record button an error is thrown. I tried running with prior versions of videojs-record (2.3.0 and 2.3.1) but the same error was output.

This is related to [Issue 249](https://githu

[2018-07-27 22:11] thijstriemstra commented on #263
@johnblakey what does the video.js config look like?

[2018-07-27 22:39] johnblakey commented on #263
@thijstriemstra Thank you for the quick response - are you referring to the videoJsOptions in the index.js file? If so it looks like this:
[code]
Or is there a video.js config that is located somewhere else?

[2018-07-27 23:06] thijstriemstra commented on #263
Updated the path on the wiki page.

[2018-07-27 23:14] thijstriemstra commented on #263
Able to reproduce it, will take a look when I have time.

<img width="625" alt="screen shot 2018-07-28 at 01 12 52" src="https://user-images.githubusercontent.com/305679/43349898-7e734864-9203-11e8-8ce1-467956ece3a6.png">

[2018-07-27 23:15] thijstriemstra commented on #263
what's weird it references 'video.es.js' and not 'video.js/dist/video.cjs.js' like we specified in the webpack config..

[2018-07-30 01:46] thijstriemstra commented on #263
@johnblakey I managed to solve the issue, check #264 and let me know how it goes..

[2018-07-30 15:31] johnblakey commented on #263
@thijstriemstra I didn't modify any of the source files related to the Wiki and tried installing the videojs-record npm package from my cloned copy of your vidoejs-record repo by switching to your ```react-import-263``` branch and doing an ```npm install <path to base directory of react-import-263>```. It failed to compile with the following error:

[code]

Should I modify the App.js file? Or am I

[2018-07-30 17:53] johnblakey commented on #263
@thijstriemstra I overwrote the ```node_modules/videojs-record/dist``` directory with the zip above. It compiled but I got the same error as before when trying to record:

[code]

[2018-07-30 18:53] ortrails opened #265 "can't record mp3 second time"
## Description
Using audio-only-mp3.html on Chrome browser the first time I am able to record, but the second time I am not able to record and I get a DOMException.

## Steps to reproduce
Record on audio-only-mp3.html 2 times using Chrome browser.
https://collab-project.github.io/videojs-record/examples/audio-only-mp3.html

## Results
### Expected
Expected to be able to re-record and have it work.

[2018-07-31 00:08] thijstriemstra commented on #263
thanks for your feedback, I'll release this fix asap.

[2018-07-31 00:16] #263 closed

[2018-07-31 00:17] thijstriemstra commented on #265
this looks like a bug.

[2018-07-31 08:42] nisalikularatne commented on #262
It was an error on my side. I had inserted additional lines of code which were redundant and gave errors after videoPlatform.record().getDevice()

[2018-07-31 10:32] sarathdisha commented on #262
@nisalikularatne Thanks I fixed my fault in the code.

[2018-07-31 11:31] thijstriemstra commented on #265
Fixed in 2.4.0

[2018-07-31 19:13] johnblakey opened #266 "Documentation: React Wiki and related method"
## Description
I created the React version of from the Wiki https://github.com/collab-project/videojs-record/wiki/React

The ```saveAs``` method https://github.com/collab-project/videojs-record#save-data needs to have ```this.player()``` instead of the original ```player```, full React line:
[code]

Additionally a console.log will return ```undefined``` unless the 'finished recording' log message

[2018-07-31 20:53] ortrails commented on #265
I am still getting an error when I click the record button.
video.min.js:12 VIDEOJS: ERROR: DOMException: Failed to execute 'connect' on 'AudioNode': Cannot connect after the context has been closed.
    at LamejsEngine.start (http://localhost:53687/videojs-record/dist/plugins/videojs.record.lamejs.js:189:34)
    at Record.startRecording (http://localhost:53687/videojs-record/dist/videojs.record.j

[2018-07-31 21:10] thijstriemstra commented on #265
@ortrails the online demo's have also been updated, can you reproduce it there as well?

[2018-08-01 15:17] ortrails commented on #265
Yes it repros here -
https://collab-project.github.io/videojs-record/examples/audio-only-mp3.html

On Tue, Jul 31, 2018 at 3:10 PM, Thijs Triemstra <notifications@github.com>
wrote:

[2018-08-01 18:54] thijstriemstra commented on #265
You're right, very poor testing on my side.

[2018-08-01 18:54] ortrails commented on #265
The error happens at line 47 of lamejs-plugin.js.  It appears to be because this.audioSourceNode.Active = false.

[2018-08-01 20:25] thijstriemstra commented on #265
@ortrails can you give PR #267 a try?

[2018-08-01 21:43] ortrails commented on #265
@thijstriemstra works for me. recording first time works, recording 2nd and 3rd time works as well.

[2018-08-01 21:49] #265 closed

[2018-08-01 22:03] thijstriemstra commented on #157
I'm thinking of adding a new option:

`autoMuteDevice`: turn off the camera and the camera's light when video recording stops, and turns the camera and light on when you resume recording.

It basically toggles `stream.getAudioTracks()[0].enabled` and `stream.getVideoTracks()[0].enabled` after pressing record and stop.

Still need to test though.

[2018-08-02 00:14] thijstriemstra commented on #253
At least it used to be like that. I double-checked and Chrome also produces a single blob now containing both audio and video, so there are no differences between chrome and firefox in recordrtc anymore.

So I'll change this in v3.0.0: `player.recordedData` will always be the blob with data in both browsers when recording audio + video, not `player.recordedData.video` in Chrome only anymore.

[2018-08-02 00:24] thijstriemstra opened #269 "Remove player.recordedData.video on Chrome audio+video only"
The contents of `player.recordedData`, populated by recordrtc, used to vary between chrome and firefox. It doesn't anymore and there are no differences between chrome and firefox in recordrtc anymore.

So I'll change this in v3.0.0: `player.recordedData` will always be the blob with data in both browsers when recording audio + video, not `player.recordedData.video` in Chrome only anymore. So the `

[2018-08-02 00:29] thijstriemstra commented on #253
@dirkk0 I cannot reproduce this. Possibly a mic issue?

There's also no inconsistency between `player.recordedData` in audio-only and `player.recordedData.video`: as in they're both Blobs?

[2018-08-02 00:32] #157 closed

[2018-08-02 01:42] thijstriemstra commented on #229
@SergeyKozlov you should use `stopDevice()` instead of `stop` + `stopStream`:

[code]

[2018-08-02 02:30] thijstriemstra commented on #23
Which is a Firefox issue, see this [bugzilla ticket](https://bugzilla.mozilla.org/show_bug.cgi?id=1068001) and thread about using ffmpeg (serverside) here:  https://github.com/collab-project/videojs-record/issues/31#issuecomment-168441974

[2018-08-02 19:46] SergeyKozlov commented on #229
Hey @thijstriemstra . Thanks for the answer.
It's strange, but in Firefox 61.0.1 (64) this problem no longer exists.
In the previous version of Firefox the problem was relevant, but now there is no problem.

[2018-08-03 14:11] thijstriemstra commented on #266
@johnblakey I've used arrow functions in #270 so `this.player` can be used everywhere.

[2018-08-08 01:28] #266 closed

[2018-08-08 01:28] #269 closed

[2018-08-08 02:04] thijstriemstra commented on #253
No feedback, closing.

[2018-08-08 02:04] #253 closed

[2018-08-09 21:38] johnblakey opened #271 "Plugin: Unable to use lamejs plugin with the React Wiki example"
## Description
Attempted to modify the React version from the Wiki https://github.com/collab-project/videojs-record/wiki/React into a lamejs audio-only version with the instructions from https://github.com/collab-project/videojs-record/wiki/Plugins#lamejs and https://github.com/collab-project/videojs-record/blob/master/examples/plugins/audio-only-mp3.html .

## Steps to reproduce
- Create the Reac

[2018-08-14 19:28] thijstriemstra commented on #271
After following React wiki page I tried:

[code]

Video.js options in `src/index.js`:

[code]

Gives the following error:

[code]

So I added a lamejs plugin import in `src/App.js`:

[code]

And now I'm getting a syntax error when trying to load lamejs's `worker-realtime.js` webworker. Does create-react-app support webworkers @johnblakey?

[2018-08-14 21:53] johnblakey commented on #271
Short answer no. Long answer is contained in this issue https://github.com/facebook/create-react-app/issues/4505 - it'll be supported eventually, but no timeline was given. Although it looks like I could do research and come up with a solution in the meantime.

[2018-08-15 15:45] nkleinert opened #272 "Sending realtime audio using websockets"
## Description
Hello, is it possible to send the output from the microphone in real time, for example via socket.io?
I have not found a method in the documentation to get the current buffer from the microphone.

[2018-08-15 15:58] thijstriemstra commented on #272
Interesting idea. I'll see if I can come up with an example.

[2018-08-21 08:05] viperfx commented on #255
Yes, please document this. What is the browser support atm? I am assuming firefox and chrome. Does it work with Safari and Edge? 👍

[2018-08-21 20:05] viperfx commented on #256
@thijstriemstra hey, just wanted to report, this does not work for me. I have followed everything and I get the same error.

Please could you help me out?

[2018-08-21 20:12] thijstriemstra commented on #256
@viperfx what error? what operating system? I tested it on Mac and Linux.

[2018-08-21 20:48] viperfx commented on #256
[code]

Webpack 3.0.0
OSX 10.12
Chrome 68.0.3440.84 (Official Build) (64-bit)

[2018-08-21 20:49] viperfx commented on #256
@thijstriemstra it looks my webpack has found the module but the actual definition for that import name is not found

[2018-08-21 21:22] thijstriemstra commented on #256
@viperfx your webpack is too old I suspect. If you used the create-react-app it should give you a more recent webpack (e.g. > 4.0.0), doesn't it?

[2018-08-21 21:56] viperfx commented on #256
@thijstriemstra this relies on webpack 4? ... its pretty new I would say. Many npm packages are still on webpack 3.

[2018-08-21 22:08] thijstriemstra commented on #256
well it relies on whatever create-react-app installs for you. If you did not follow the tutorial, don't claim you did..

[2018-08-21 22:13] thijstriemstra commented on #256
note that there are 2 'plugins' sections in webpack config dev file, make sure to put it in the correct one. But should be obvious if you follow tutorial.

[2018-08-21 22:26] viperfx commented on #256
I am really sorry! It was me putting the plugin into the first plugin section, inside the resolve.

With the latest create-react-app the webpack version is 3.8.1. FYI.

Thanks for your help.

[2018-08-21 22:40] thijstriemstra commented on #256
no worries, glad you figured it out. perhaps it should pointed out more clearly in the react wiki page. you have any suggestions @viperfx?

[2018-08-21 22:52] viperfx commented on #256
I think the react example is what confused me because it showed the plugins
out of context of the actual webpack file.

The react example is better and shows the webpack file with the changes.

I think it might be better to combine these two.

On Tue, Aug 21, 2018, 23:40 Thijs Triemstra, <notifications@github.com>
wrote:

[2018-08-23 13:34] nkleinert commented on #272
Thank you so much for taking the time.
I haven't had a chance to test everything today, but I will give you some feedback.

[2018-08-23 16:47] rbjarnason commented on #181
With ever-growing mobile usage, we're at about 65% for our websites, Safari iOS support is really important for us and we'd be happy to spend some time to help if there could be some sort of a workaround either in videojs-record or RecordRTC.

Plan B is to use WebRTC recording on the server using Kurento but using videojs-record would be easier and wouldn't have to worry about live bandwidth quali

[2018-08-23 17:26] rbjarnason commented on #181
Regarding those play errors, could it be that we're hitting auto-play policy issues? https://webkit.org/blog/7734/auto-play-policy-changes-for-macos/

[2018-08-23 17:54] thijstriemstra commented on #181
@rbjarnason I unfortunately do not have access to an iphone to test. If you can send me a fairly recent one I'll surely be able to fix all outstanding iOS bugs.

[2018-08-23 22:54] rbjarnason commented on #181
@thijstriemstra I wish we could! :) But we are a small nonprofit working on open source software largely volunteer based. We run citizen crowdsourcing & participatory budgeting platforms and are working on adding audio/video based ideas and debates to the platform.

I will dig around a bit and see if I can work out the iOS auto-play issue and if that is the problem at all. Also, as an open source

[2018-08-24 15:30] rbjarnason commented on #181
Update: By adding the and muted and playsinline to the <video> element for the demos, videojs-record does not crash. Then after commenting out 3x video.play() in RecorderRTC.js the live preview works and I can see whammy frame being added when I record but I get no playback on iOS and in onRecordComplete() there is nothing coming into this.player.recordedData. I will continue to investigate...

[2018-08-27 12:31] rbjarnason commented on #181
Final results on this for now. I managed to record frames using canvas but not assembling them on the client as Safari doesn't support webm, even if that would be possible with webworker then it would be slow on the client at 25 fps. Sending the frames over to the server for assembly is possible but png frames are very large even if you would send them as binaries with web sockets every second or

[2018-08-27 18:36] thijstriemstra commented on #181
Thanks for all the valuable feedback. To summarize:

- MediaRecorder does not work natively on Safari yet
- Whammy does not support Safari (or vice versa)

So Safari can not be supported right now.

[2018-08-31 07:03] priyach21 commented on #186
Hi I am facing issue with video recording and got the below issue
![issuewithvideorecording](https://user-images.githubusercontent.com/42860064/44897532-a2af8680-ad19-11e8-9def-d5f39db7a9a6.png)

[2018-08-31 07:27] priyach21 opened #274 "add angular example and/or documentation"
Hi I am facing issue with video recording and got the below issue.its been 2 days since im trying to fix but dint
In Angular we need to declare a variable for videojs

**In component.ts:**
[code]
**angualrcli.json:**
[code]
**index.html**
[code]
  **css**
 http://cdnjs.cloudflare.com/ajax/libs/video.js/4.12.5/video-js.css" rel="stylesheet

**package.json:**
[code]

![issuewithvideorecording](https

[2018-08-31 13:41] thijstriemstra commented on #274
@priyach21 you are using an ancient version of video.js. Try the latest (7.2.2).

[2018-08-31 17:44] akalmykov opened #275 "Make deviceButton start the actuall recording"
Hi,

Is there an easy way to make the deviceButton button start the recording? Currently, in audio-only example the deviceButton (a big mic button in the center) only gets access to mic, but is not starting the recording itself (a user needs to click round record button in controls, which is confusing for a user as everything looks like the recording has started already after clicking the deviceBu

[2018-09-01 08:35] dirkk0 commented on #275
What worked best for me, is, that you call getDevice once immediately when the page is ready:

    recorder.on('ready', function() {
        recorder.record().getDevice();
    });

and start the recording with

    // user clicked the record button and started recording
    recorder.on('startRecord', function() {
        console.log('started recording!');
    });

[2018-09-02 23:31] akalmykov commented on #275
Thanks! The only issue is that after the page loads, wavesurfer immediately starts to show the waveform from the mic. For a user, it looks like the recording has started already. I've come up with the following solution to stop waveform before the actuall recording has started:

Set
`player.wavesurfer().surfer.microphone.paused = true; `
when page is loaded or a user pressed stop button (in device

[2018-09-03 10:31] priyach21 commented on #274
still i have the same issue

[2018-09-03 13:01] thijstriemstra commented on #274
@priyach21 take a look at the react wiki for the various imports: https://github.com/collab-project/videojs-record/wiki/React

[2018-09-03 22:08] thijstriemstra commented on #275
@akalmykov can you paste the relevant code you're using now? Perhaps I can simplify it..

[2018-09-03 22:15] thijstriemstra commented on #272
any news @nkleinert?

[2018-09-04 09:13] 12smc120 commented on #149
@thijstriemstra
I'm getting an error
Error: plugin "record" does not exist

Please tell me some solution for this.

[2018-09-05 08:24] GDIBass opened #277 "timeSlice doesn't work with default webpack config"
## Description
Timeslice doesn't work with default webpack config.

## Steps to reproduce
Install default webpack config.  Add timeslice to the config.  Begin recording and watch console log.

## Results
### Expected
Expected to see stored blobs when timeslices are hit.

### Actual
No recording is done and there is an error.

### Error output
[code]
## Additional Information
Please include any add

[2018-09-05 23:03] thijstriemstra commented on #277
Thanks for the report @GDIBass. Can you still state the versions of video.js, videojs-record, recordrtc and browsers (because 'latest' is already outdated by now).

[2018-09-05 23:05] GDIBass commented on #277
Yes of course.  I'll be back in front of my desktop in an hour or two and I'll post the versions then.

[2018-09-05 23:50] GDIBass commented on #277
From my yarn.lock file
[code]
My browser is Google Chrome Version 68.0.3440.106 (Official Build) (64-bit) on Ubuntu 18.04 Desktop LTS.

Let me know if you need me to test it in Firefox or another browser, or if you can recreate it with that information.

The version of MSR I installed is:
[code]

[2018-09-08 15:35] nkleinert commented on #272
It worked fine with socket.io and node-opus.

[2018-09-08 19:02] thijstriemstra commented on #272
@nkleinert thanks for the feedback. Let's merge the pull request before closing this ticket ;)

Can you share the code you used?

[2018-09-09 22:58] thijstriemstra commented on #277
The class is available though, I added this to `app.js` and the class is printed properly:

[code]

Need to figure out how to tell webpack about this..

[2018-09-09 23:05] thijstriemstra commented on #277
Figured it out and updated the wiki page. Basically add this `MediaStreamRecorder` reference here:

[code]

[2018-09-09 23:05] #277 closed

[2018-09-09 23:31] thijstriemstra commented on #261
@Ali-Dalal how big is one of these 83 slices? Looking at this it seems like it needs to be at least 100 bytes: https://github.com/muaz-khan/RecordRTC/blob/master/RecordRTC.js#L2091

And this line suggests the event can not be triggered any faster than 100ms: https://github.com/muaz-khan/RecordRTC/blob/master/RecordRTC.js#L2267

[2018-09-11 22:00] thijstriemstra opened #279 "Upgrade to video.js font 3.0"
v3.0 removes support for IE8, 9, 10, and Android less than 4.4 by removing the eot and ttf font files.

See https://github.com/videojs/font/commit/751649813f4d6fe89846f33a675405389c4f1c05

[2018-09-19 16:06] jonathanfallon commented on #136
Works fine for me with `resolve: {alias: {videojs: 'video.js'}}`
Thanks for the tutorial

[2018-09-19 19:10] thijstriemstra commented on #274
An example using angular-starter is now available on the wiki: https://github.com/collab-project/videojs-record/wiki/Angular

[2018-09-19 19:11] #274 closed

[2018-09-19 19:28] thijstriemstra commented on #183
@Polyterative is there a way to generate the initial interface from existing JS source or something?

[2018-09-19 19:56] thijstriemstra commented on #279
Opened https://github.com/videojs/font/issues/36 for a possible enhancement.

[2018-09-19 20:11] thijstriemstra commented on #271
I'm making this low priority since lamejs doesn't seem to be maintained (actively) anymore.

[2018-09-19 20:50] thijstriemstra commented on #178
Also see https://developer.microsoft.com/en-us/microsoft-edge/platform/status/mediarecorder

[2018-09-19 22:18] thijstriemstra commented on #255
Added info to readme. Also see https://github.com/collab-project/videojs-record/wiki/Browser-support for a script to generate a report about current browser support.

[2018-09-19 23:41] thijstriemstra commented on #181
Check the [Browser support](https://github.com/collab-project/videojs-record/wiki/Browser-support) wiki page to check current browser compatibility with this plugin.

[2018-09-19 23:41] thijstriemstra commented on #178
Check the [Browser support](https://github.com/collab-project/videojs-record/wiki/Browser-support) wiki page to check current browser compatibility with this plugin.

[2018-09-19 23:50] thijstriemstra opened #283 "add vue.js example"
A wiki page or example showing how to use vue.js with videojs-record.

see https://cli.vuejs.org/guide/creating-a-project.html#vue-create

[2018-09-20 07:32] PJCHENder commented on #23
@thijstriemstra I use Chrome to record webm video, however I still can't get the video duration and metadata.

[2018-09-20 19:04] johnblakey commented on #271
@thijstriemstra Our project isn't needing to upgrade the quality of our recordings so I was able to use the default. Feel free to close this ticket.

[2018-09-20 19:53] #210 closed

[2018-09-20 19:53] SergeyKozlov commented on #210
Thanks you @thijstriemstra

[2018-09-20 23:33] thijstriemstra commented on #283
See https://github.com/collab-project/videojs-record/wiki/Vue.js

[2018-09-20 23:34] #283 closed

[2018-09-21 21:44] SevenSinS02 opened #284 "Question : Does this library support video capture cards or only webcams?"
I would like to know if this library can help with media that is captured using a video capture card. Like this one for example [video capture card](https://www.datapath.co.uk/datapath-products/video-capture-cards/vision-range/visionrgb-e2s)

[2018-09-21 21:58] ignl commented on #256
I have the same issue. I see videojs-record tries to require "videojs" instead of "video.js" which is the correct module name. I am on meteor and there are no easy ways to create aliases there, so I am not sure what's best way of action for me now. Is there any reason for such behavior?

[2018-09-22 07:07] SevenSinS02 opened #285 "cannot resolve videojs when using with electron"
I have followed the steps in the react tutorial of this repository. It works perfectly when I run it in a browser but it has problems resolving the 'videojs' when i put it inside electron and run it.

[2018-09-22 16:04] thijstriemstra commented on #284
If the card shows up in the browser as video capture device, then yes it works. You can test it easily by running one of videojs-record video examples.

This sounds promising: "any application compatible with Windows® Direct-Show technology can use the VisionRGB-E2S video capture card due to its built in WDM support."

[2018-09-22 16:04] #284 closed

[2018-09-22 16:05] thijstriemstra commented on #285
Can you show some example code and how you setup the electron project?

[2018-09-23 22:03] #188 closed

[2018-09-24 11:54] SevenSinS02 commented on #285
@thijstriemstra  Thank you. I was actually using another way to set up my electron app but since I haven't fully committed to it I shall use the electron-react-boilerplate you mentioned.

[2018-09-24 11:56] SevenSinS02 commented on #284
@thijstriemstra I don't have the capture card yet. So I wanted to be sure that I could use this library when I do have hold of it.
Thanks for the reply though.

[2018-09-25 08:00] octavn commented on #181
videojs-record relies on RecordRTC which relies mainly on the `MediaRecorder` object from the [MediaStream Recorder API](https://www.w3.org/TR/mediastream-recording/) to record video.

Safari 11 and 12 do not support the MediaStream Recorder API.

There is a [bug report](https://bugs.webkit.org/show_bug.cgi?id=85851) filled thus if you want native video recording in Safari you can help by commenti

[2018-09-25 18:50] marloeleven opened #288 "Question: is it possible to add overlay in video frames?"
I would like to add an image overlay to the created video. I am using other libs to add overlay for my images and gifs. I was wondering if this can support something like that?

[2018-09-26 19:44] thijstriemstra commented on #288
@marloeleven there's this: https://github.com/brightcove/videojs-overlay Can you give that a try and let me know how it goes?

[2018-09-29 16:14] thijstriemstra opened #289 "Support for screen capture using getDisplayMedia"
## Description
The W3C has been working on standardizing the API for Screen Capture. It is relatively simple and promise-based like `getUserMedia` called `getDisplayMedia`:

[code]

It's supported in Firefox, Chrome and Edge.

Example: https://webrtc.github.io/samples/src/content/getusermedia/getdisplaymedia/

## References

- https://blogs.windows.com/msedgedev/2018/05/02/bringing-screen-capture-

[2018-09-29 21:38] #289 closed

[2018-09-29 22:06] thijstriemstra opened #291 "Use gifshot library for animated GIF"
The GIF recording support in RecordRTC is broken and unmaintained it seems. Replace it with a library that is maintained like [gifshot](https://github.com/yahoo/gifshot).

[2018-10-01 23:10] #271 closed

[2018-10-02 17:03] josefpohl opened #293 "Unable to hide time controls"
This is basically a question.  Is there a way to set the maxLength (on audio only in this case) to undefined or to set the control to not show the maxLength ( 0:00.000 instead of for instance 0:00.000 / 0:10.000 when maxLength is set to the default).
Thanks!

video.js 7.2.3
video.js-record 2.4.1

[2018-10-03 09:47] thijstriemstra commented on #293
@josefpohl, you can hide the duration component like this:

[code]

[2018-10-03 15:53] josefpohl commented on #293
Thanks @thijstriemstra ,
With the wavesurfer component this does throw an error on the                                                                                                        setDuration method.

[code]

Thanks for the quick response though.
I appreciate the project.

[2018-10-07 20:42] thijstriemstra commented on #293
@josefpohl you're right, I'll take a look and consider this a bug.

[2018-10-07 20:46] thijstriemstra commented on #293
Also see https://github.com/collab-project/videojs-wavesurfer/issues/73

[2018-10-07 21:16] thijstriemstra commented on #293
@josefpohl can you try with videojs-wavesurfer 2.6.1 or newer?

[2018-10-07 21:31] thijstriemstra commented on #293
Updated to videojs-wavesurfer 2.6.1 in https://github.com/collab-project/videojs-record/commit/42f6da0107250b7f2aa40ed64149b233d06b0dbf.

[2018-10-07 21:31] #293 closed

[2018-10-08 16:46] josefpohl commented on #293
This worked.  Thank you so very much for your diligence!
Once again, I truly appreciate your efforts here.
Joe

[2018-10-09 07:18] Polyterative commented on #183
Your can generate interfaces from JSON or directly from code with an IDE like Webstorm

[2018-10-09 21:46] EZWrighter opened #295 "Safari Audio Only Recording Fails"
The audio only demo here: https://collab-project.github.io/videojs-record/examples/audio-only.html

Fails to record On Safari 11 & 12.

In the Console - TypeError: GetRecorderType is not a constructor (evaluating 'new Recorder(mediaStream, config)')

However, RecordRTC audio only example here works fine:  https://webrtc-experiment.com/RecordRTC/simple-demos/audio-recording.html

They seem to do so

[2018-10-11 18:22] SevenSinS02 opened #296 "[Question] How would I draw on the canvas and save it as an image"
## Description
I capture an image using video-js record and would like to draw on it. I would gladly accept any help or guidance.

[2018-10-11 18:56] thijstriemstra commented on #296
@SevenSinS02 try this:

[code]

Result:

![canvas](https://user-images.githubusercontent.com/305679/46827098-0bb5ff80-cd98-11e8-93cf-6225506e1d30.png)

[2018-10-11 18:56] #296 closed

[2018-10-11 19:18] SevenSinS02 commented on #296
@thijstriemstra  This kinda works in react. However, the text flickers and disappears and I get the original image. Any idea?

[2018-10-11 19:20] thijstriemstra commented on #295
Source of that demo can be found here: https://github.com/muaz-khan/RecordRTC/blob/master/simple-demos/audio-recording.html

@EZWrighter can you try the following, I don't have a safari browser available at the moment:

[code]

[2018-10-11 19:31] thijstriemstra commented on #296
@SevenSinS02 i tried with the master branch and you see the screenshot, not sure what to say.

[2018-10-11 19:43] SevenSinS02 commented on #296
I’ve used the examples in the master branch - specifically the images only example. I had the same issue.

[2018-10-11 19:45] thijstriemstra commented on #288
@marloeleven also take a look at this recordrtc example: https://webrtc-experiment.com/RecordRTC/simple-demos/show-logo-on-recorded-video.html

[2018-10-11 19:46] thijstriemstra commented on #296
@SevenSinS02 can you paste the code for that example?

[2018-10-11 19:52] SevenSinS02 commented on #296
@thijstriemstra
[code]

[2018-10-11 19:53] thijstriemstra commented on #288
Support for [canvas.captureStream()](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/captureStream) is basically needed for this.

[2018-10-11 19:54] thijstriemstra commented on #296
what browser? im unable to reproduce the flickering in firefox 62.0.2 on ubuntu.

[2018-10-11 19:55] SevenSinS02 commented on #296
It's in chrome 69.0.3497.100 on mac OS High Sierra

[2018-10-11 19:57] thijstriemstra commented on #296
and the non-modified, original version doesn't have any flickering?

[2018-10-11 19:59] SevenSinS02 commented on #296
It doesn't. The text is the only thing that flickers i.e. it appears and disappears. Unlike the firefox version where it actually stays.

[2018-10-11 20:00] thijstriemstra commented on #132
Going to close this in favor of #288.

[2018-10-11 20:00] #132 closed

[2018-10-11 20:04] thijstriemstra commented on #234
@delockdown, found an example that implements this somewhat.

Source: https://github.com/muaz-khan/RecordRTC/blob/master/simple-demos/preview-blob-size-during-recording.html

Demo: https://webrtc-experiment.com/RecordRTC/simple-demos/preview-blob-size-during-recording.html

So I'll add something for this.

[2018-10-11 20:07] thijstriemstra commented on #296
Ah, so it does work in firefox. Let me check Chrome.

[2018-10-11 20:19] EZWrighter commented on #295
That worked, Thanks!  I previously tried with the StereoAudioRecorder set, but not the Rate,Size or channels.  Would probably be nice if the library defaulted to these settings if required.   Closing as my issue is not resolved.

[2018-10-11 20:19] #295 closed

[2018-10-11 20:29] SevenSinS02 commented on #296
@thijstriemstra It doesn't work on chrome for me. Was there any other change you made?

[2018-10-11 20:32] thijstriemstra commented on #296
@SevenSinS02 No.

You probably need to look into `window.requestAnimationFrame` for Chrome.

[2018-10-11 20:33] SevenSinS02 commented on #296
Oh ok. Thanks I'll have a look.

[2018-10-11 20:34] thijstriemstra commented on #296
[code]

[2018-10-11 20:37] SevenSinS02 commented on #296
Yes, I did put it there. The code is the same. I don't get the same output though.

[2018-10-11 20:44] EZWrighter commented on #295
Can we not detect when only certain recording abilities are available?  Like recordertype, channels, rate and size?  Then default to what makes sense for the environment.  I agree browser detection and hacks suck and should not be in the library.  If we cannot detect the features/settings needed, then an example would be the best alternate.

[2018-10-11 20:49] thijstriemstra commented on #295
if you have any suggestions, fine, but Safari is crippled already, I doubt we can detect that.. I'm going with examples for now.

[2018-10-11 20:49] thijstriemstra commented on #295
ps. it seems this workaround should also be applied in MS Edge browser..

[2018-10-11 20:55] SevenSinS02 commented on #296
Anyone who stumbles across this,  calling window.requestAnimationFrame does the trick. Apparently, chrome handles microtasks in a different way from other browsers.
@thijstriemstra  thanks for the help!

[code]

[2018-10-12 00:05] #234 closed

[2018-10-12 00:06] thijstriemstra commented on #234
@delockdown, added a `maxFileSize` option, e.g.

[code]

Try it using master branch or wait until 3.0.0 is released.

[2018-10-12 00:50] #272 closed

[2018-10-12 00:53] thijstriemstra commented on #272
Ended up adding a `audioBufferUpdate` option. If you enable it, a `audioBufferUpdate` event will be fired.

[2018-10-12 01:18] thijstriemstra commented on #248
@Purnendu220 and @dirkk0, can you give this a try? https://github.com/collab-project/videojs-record/issues/295#issuecomment-429085457

[2018-10-13 06:10] 4unkur commented on #283
Example here is not playing the recorded video...
https://github.com/collab-project/videojs-record/wiki/Vue.js

When I hit on play button after recording is finished it doesn't do anything

[2018-10-13 11:12] dirkk0 commented on #248
@thijstriemstra yes, it works: Safari 12 Mac OSX, and Safari 11 ( I think, I am still on iOS 11.3.)

[2018-10-13 21:58] SevenSinS02 opened #298 "trigger retry function"
## Description
What function should I call to trigger the retry function? I can see that you have used the retrySnapshot method. But how can I call this?

[2018-10-14 23:44] thijstriemstra commented on #298
[code]

[2018-10-15 06:29] SevenSinS02 commented on #298
Ahh I see! Thank you.

[2018-10-15 06:29] #298 closed

[2018-10-28 11:30] ignl opened #299 "Unable to resolve some modules: "videojs""
## Description
require("videojs") in videojs-record code results in exception during meteor application startup. Manually changing it to require("video.js") fixes this problem. Not sure how it should work in general and why it is not correct module name in the first place.

## Steps to reproduce
Create meteor app
meteor npm install video.js
meteor npm install recordrtc
meteor npm install videojs-r

[2018-10-28 22:25] GDIBass opened #300 "Timeslice encounters an issue when resetting the player"
## Description
Error when resetting device and using timeslice

## Steps to reproduce
Set up a video recorder using timeslices that stops and resets the recorder:
1. Use timeslices
2. Configure videorecording.
3. Create a button that stops, resets and calls getDevice on the player

`
            this.player.record().stop();
            this.player.record().reset();
            this.player.record()

[2018-10-28 23:32] #300 closed

[2018-10-29 00:43] thijstriemstra commented on #295
@EZWrighter I tested with safari 12.0 and was able to record but did not see the mic audio preview during recording, did you?

[2018-10-29 01:31] thijstriemstra commented on #261
No feedback, closing.

[2018-10-29 01:31] #261 closed

[2018-10-29 06:55] dirkk0 commented on #248
Yes, it works without noise on MacOSX/Safari12.
Interestingly enough, the voice is downsampled on iOS now (i.e. slower and deeper).

[2018-10-29 17:15] EZWrighter commented on #295
No, I don't see the preview and if you try to record multiple times, the audio goes to garbage after the first recording.  I ended up just telling safari users to use chrome or firefox for live recording until safari gets better or something gets figured out here.

[2018-11-08 22:28] debiig92 commented on #299
I have this problem too, but with angular wiki example

[2018-11-09 17:07] debiig92 commented on #299
#274

[2018-11-09 17:21] thijstriemstra commented on #299
@debiig92 see https://github.com/collab-project/videojs-record/wiki/Angular

[2018-11-10 10:46] ignl commented on #299
Why do we need this alias at all?

[2018-11-13 10:39] dbxiaoqiang opened #303 "video-only demo can't execute at weixin browser"
Excuse me .I ran the video-only demo at weixin browser of mobile.when I pressed the camera button, there is no response for my click.could you tell me how can I run the demo at weixin browser.

[2018-11-13 18:30] thijstriemstra commented on #303
@dbxiaoqiang I'm not familiar with the 'weixin' browser. Can you give me a link that shows the specifications of the browser?

[2018-11-15 07:18] dbxiaoqiang commented on #303
I have known the reason why 'weixin' browser can't execute the demo because it doesn't support the new browser api such as 'getMediaDevice'. Now we only could use the h5 native element(input type=file) to achieve our requirement.
By the way my friend, you can download a 'weixin' app to research its browser at phone app store

[2018-11-16 16:36] stingrayzboy opened #304 "Need to be able to uninitialize a video recorder once recording done."
I work on a project wherein the UI is completely Ajax based hence once the DOM is loaded there is no way other than to reload the page to refresh the recorder.
I have been working on an ability t record and upload a video in case you dont have a video file ready for upload.
I am able to get the recorder being rendered once through AJAX calls to the media form.
also I was successful in recording th

[2018-11-16 17:14] thijstriemstra commented on #304
@stingrayzboy can you create a simple standalone example that demonstrates the issue? or would `player.record().destroy()` fix your issue? That way you can instantiate a new videojs-record (programatically) every time the form opens (and destroy when it's closed).

[2018-11-19 06:08] stingrayzboy commented on #304
Hi,
Sure I will take a look into both Approaches and let you know.
First will try to delete the player.record().destroy()

[2018-11-19 14:34] sbrugman commented on #299
Angular 6 does not expose the Webpack config anymore [1].

[1]: https://github.com/angular/angular-cli/issues/10954#issuecomment-391015165

[2018-11-19 18:52] #304 closed

[2018-11-21 11:14] stingrayzboy opened #305 "Unable to proceed with the recorded data."
I have integrated the VideoJS library in web page .
The Audio only recorder seems to work fine and achieves the required results.
However the video recorder fails to do so.

On investigating I get the following errors in the console:
![image](https://user-images.githubusercontent.com/15889661/48837857-849f7280-edac-11e8-8b9c-129910138d7e.png)
![image](https://user-images.githubusercontent.com/1588

[2018-11-21 15:55] thijstriemstra commented on #305
@stingrayzboy I don't see any references to errors in videojs-record library in that stacktrace. Can you create a simple example that re-creates the issue?

You also did not list the video.js, videojs-record versions, browser, operating system etc. Why not?

[2018-11-21 17:52] thijstriemstra opened #306 "Put API docs online"
E.g. https://collab-project.github.io/videojs-record/doc/index.html

Also include them in the release zipfile.

[2018-11-22 00:57] thijstriemstra commented on #299
@ignl see build config here: https://github.com/collab-project/videojs-record/blob/d7eb0ec1e483271f7d2fe14264a0d9b5ab004954/build-config/fragments/common.js#L39-L43

if you remove that video.js line, the build fails (last time I checked). I'd also like to get rid of it..

[2018-11-22 23:00] ignl commented on #299
I tried to build videojs-record without it and it built successfully. Didn't work on my app though. But then I simply built with  {'video.js': 'video.js'} and it was good to go.

[2018-11-23 18:47] thijstriemstra commented on #306
Fixed: https://collab-project.github.io/videojs-record/

[2018-11-23 18:47] #306 closed

[2018-11-23 18:54] thijstriemstra commented on #229
I guess it can be closed then.

[2018-11-23 18:54] #229 closed

[2018-11-24 12:00] ignl commented on #299
OK that build broke an example app. But here is how I managed to make it work both on my app and on example app:
[code]
Probably same can be done for WaveSurfer and RecordRTC.

[2018-11-28 04:32] stingrayzboy commented on #305
Hi,
It appears that the issue was a confilcting JS. I was able to resolve it.

[2018-11-28 04:32] #305 closed

[2018-11-28 17:13] olivx opened #308 "error to play recorded data on firefox"
## Description
I get erro on firefox , when i finish record data and go to playback in de same video tag.
on chrome it's work.
i don't understand the erro, you could help me ?

## Steps to reproduce
[code]
## console log
[code]

## Results

### Error output
[code]

## Additional Information
Please include any additional information necessary here. Including the following:
### versions
#### videojs

[2018-11-28 18:37] thijstriemstra commented on #308
You do not need to load the data manually, it loads automatically after you stop recording, see examples in repository.

[2018-11-28 18:47] olivx commented on #308
sorry,
but loads automatically after i stop recording, don't work , what's exemplo do that ?
i need config some thing ?

ps: i don't using the controls , i stop and play manually

[2018-11-28 18:51] thijstriemstra commented on #308
I see. What happens when you use this in the `finishRecord` handler (`player.src` is not supported afaik):

[code]

[2018-11-28 18:59] thijstriemstra commented on #308
@olivx seems you're also running into the issue where you have to use `player.recordedData.video` on Chrome and `player.recordedData` on Firefox. This will be fixed in v3.0.0 (see #270).

[2018-11-28 19:20] olivx commented on #308
worked this way....

[code]

thanks a lot  for your help  !

[2018-11-28 19:41] thijstriemstra commented on #308
No worries! In 3.0.0 it should be simply `blobUrl = window.URL.createObjectURL(player.recordedData);`.

[2018-11-28 19:41] #308 closed

[2018-11-28 19:43] thijstriemstra commented on #299
So you still need to adjust and config video.js separately? In that case there's not really an improvement here, is there?

[2018-11-28 20:42] ignl commented on #299
Once I built videojs-record with these settings and used that build on my meteor app I didn't need to adjust anything. Example app also worked well. But now I am looking into the react app and it doesn't work so it's not there yet.
Also playing recorded video on my app does not work and it just starts showing camera view again. I suspect there are still some issues with imports. Unfortunately this

[2018-12-02 14:56] THEozmic commented on #181
@rbjarnason I'm curious at to what tool you're using to debug on mobile here:

https://user-images.githubusercontent.com/43699/44539493-d542f900-a6f3-11e8-843b-b6e510624745.png

[2018-12-02 15:07] rbjarnason commented on #181
@THEozmic I was using BrowserStack and their tools.

[2018-12-02 23:56] thijstriemstra commented on #295
I made some updates to the example and it now also shows a preview in safari: https://collab-project.github.io/videojs-record/examples/audio-only.html

[2018-12-03 17:22] bobyper opened #309 "Video Preview not working"
Video preview not working in demo too
https://collab-project.github.io/videojs-record/examples/audio-video.html

Just record a video and try to preview

[2018-12-03 17:32] bobyper commented on #309
Lol, the problem is in
https://webrtc.github.io/adapter/adapter-latest.js

the file not working.

[2018-12-03 17:56] thijstriemstra commented on #309
lol? I'm also seeing the warning below, I'll take a look.

![screenshot from 2018-12-03 18-55-14](https://user-images.githubusercontent.com/305679/49391857-186a2a80-f72d-11e8-97fe-e14967088b8d.png)

[2018-12-03 18:08] bobyper commented on #309
i downloaded this version for adapter.js and now working  fine
https://codeload.github.com/webrtc/adapter/zip/master

[2018-12-03 18:56] thijstriemstra commented on #309
@bobyper can you try with `https://unpkg.com/webrtc-adapter/out/adapter.js`?

[2018-12-03 19:05] #309 closed

[2018-12-03 19:08] bobyper commented on #309
working fine with https://unpkg.com/webrtc-adapter/out/adapter.js

[2018-12-03 19:11] thijstriemstra commented on #309
Cool, updated the examples with that URL.

[2018-12-06 07:35] myphproad opened #310 "video.min.js:12 VIDEOJS: ERROR: TypeError: Cannot read property 'one' of null"
## Description
my env is vue2,when i shut down device...
player.record().destroy();
then the error happened

[2018-12-06 07:36] myphproad commented on #310
player.on('finishRecord', function () {
                console.log('finished recording: ', player.recordedData);
                const formData = new FormData();
                formData.append("video_icon", player.recordedData);
                util.uploadFile(formData, that.uploadSuccess);
                player.record().destroy();
            });

[2018-12-06 14:35] thijstriemstra commented on #310
@myphproad I need the complete error message, this is not enough info to tell if it's a videojs-record issue or not.

[2018-12-08 13:35] thijstriemstra commented on #310
I was able to produce a different error with following code:

[code]

<img width="829" alt="screenshot 2018-12-08 at 14 34 38" src="https://user-images.githubusercontent.com/305679/49686551-75cbf600-faf6-11e8-90bc-8414d07a583d.png">

I'll take a look at it.

[2018-12-10 13:10] #310 closed

[2018-12-10 13:32] thijstriemstra commented on #310
@myphproad I pushed a fix to the master branch. Please try that PR (#311) or wait till the next release.

[2018-12-18 10:20] Sathishchary opened #312 "play button is not working for audio/video demo"
## Description
I have checked the latest videojs record demo, i am able to record video and audio but when i try to play the video,its not playing and camera is coming.

## Steps to reproduce
https://collab-project.github.io/videojs-record/examples/audio-video.html
just open the demo and click audio/video demo and click capture button and after 10 sec just play the video

## Results
### Expected
i

[2018-12-21 01:44] thijstriemstra commented on #312
i also noticed this and have not found a fix yet. @Sathishchary what browser version(s) are you using exactly? also include the video.js and videojs-record versioh nrs.

[2018-12-26 13:36] awanishraj commented on #312
I am facing the same issue. @thijstriemstra Could you point to an earlier release where this was functional?

[2018-12-29 23:13] josefpohl opened #313 "Rewind audio after pause and playback"
## Description
Hi there, this is a question that might not have an answer.
Wavesurfer has a skipBackward method which allows the caller to skip back n number of seconds. I was wondering if this is possible when the recording has not been saved.
Here is some naive code that I have tried but have been unsuccessful.  (I stole the wavesurfer() references from another question but cannot validate that

[2019-01-04 17:31] conan1987 opened #314 "Upload isn't Working"
Hi
I tried to upload using the explaination and simple file example everything works fine in console but i can't find the uploaded file
Here is my script :

[code]

[2019-01-05 17:44] thijstriemstra commented on #314
Can you be more specific @conan1987? any errors or log messages?

[2019-01-05 17:46] conan1987 commented on #314
There is no error messages , just can't find the file in any folder
Here is the console log
`VIDEOJS: Using video.js 7.2.2 with videojs-record 3.1.0 and recordrtc 5.4.9
RecordRTC.js:59 started recording video stream.
RecordRTC.js:1039 Using recorderType: MediaStreamRecorder
RecordRTC.js:2044 Passing following config over MediaRecorder API. Object
RecordRTC.js:699 Recorder state changed: recording

[2019-01-05 17:49] thijstriemstra commented on #314
@conan1987 I guess you're using the simple upload example using `npm run start`. The file will be placed in a new folder called `uploads`.

[2019-01-05 17:52] thijstriemstra commented on #313
@josefpohl you could `pause()` the recording (and `resume()` later) and then try playback using wavesurfer. haven't tested it though.

[2019-01-05 17:53] conan1987 commented on #314
yes that is what i am using but i can't find any files

[2019-01-05 17:57] thijstriemstra commented on #314
@conan1987 can you copy/paste the last 30 lines of the `npm run start` process? Everytime you upload a file it should print a line in the terminal.

[2019-01-05 18:02] conan1987 commented on #314
I ma new to node JS
But here is the lines
`Version: webpack 4.27.1
Time: 2419ms
Built at: 2019-01-05 20:00:48
                     Asset      Size          Chunks                    Chunk Names
    css/videojs.record.css  8.37 KiB  videojs.record  [emitted]         videojs.record
css/videojs.record.css.map  10.1 KiB  videojs.record  [emitted]         videojs.record
  fonts/videojs-record.svg  2.42

[2019-01-05 18:04] thijstriemstra commented on #314
@conan1987 when you upload a file, a new line should appear below this one:

[code]

[2019-01-05 18:04] conan1987 commented on #314
then what might be the problem ? is it related to the local host ?

[2019-01-05 18:06] thijstriemstra commented on #314
@conan1987 you should also see these lines when you scroll up:

[code]

[2019-01-05 18:08] thijstriemstra commented on #314
In the browser I see:

[code]

In the console I see:

[code]

[2019-01-05 18:09] conan1987 commented on #314
i saw the upload handler ready lines

[2019-01-05 18:10] conan1987 commented on #314
and i searched the files all over the computer but i can't find it anywhere

[2019-01-05 18:12] thijstriemstra commented on #314
@conan1987 can you create the `uploads` folder yourself, perhaps it's a permission issue? You also didn't state what operating system version etc you're using.

[2019-01-05 18:13] conan1987 commented on #314
I created 2 upload folder , i am  using windows 10

[2019-01-05 18:15] thijstriemstra commented on #314
@conan1987 can you create a screenshot of your videojs-record directory?

[2019-01-05 18:19] conan1987 commented on #314
![n1](https://user-images.githubusercontent.com/46288686/50727686-1b3ead80-1127-11e9-98e0-07799d08ce81.png)
![n2](https://user-images.githubusercontent.com/46288686/50727687-1b3ead80-1127-11e9-960f-93fa0aaed574.png)
![n3](https://user-images.githubusercontent.com/46288686/50727688-1b3ead80-1127-11e9-8790-fecc29748fc5.png)

[2019-01-05 18:20] thijstriemstra commented on #314
@conan1987 create a folder called `uploads` in `videojs-record-master` and try again..

[2019-01-05 18:30] thijstriemstra commented on #314
no it shouldn't be `upload`, here's the code for the node.js part: https://github.com/collab-project/videojs-record/blob/master/build-config/fragments/dev.js#L56

[2019-01-05 18:35] conan1987 commented on #314
Here is the console results if i changed upload to uploads
finished recording:  Blob(155172) {lastModified: 1546713288537, lastModifiedDate: Sat Jan 05 2019 20:34:48 GMT+0200 (Eastern European Standard Time), name: "1546713288537.webm", size: 155172, type: "video/webm"}
audio-video.html:80 upload recording 1546713288537.webm to /upload
audio-video.html:82 POST http://localhost/upload 404 (Not Foun

[2019-01-05 18:37] thijstriemstra commented on #314
@conan1987 you should use http://localhost:8080 in the browser, the dev server doesn't run on localhost:80

[2019-01-05 18:38] conan1987 commented on #314
it worked , thanks

[2019-01-05 18:40] thijstriemstra commented on #314
I will adjust the node script so it creates the directory automatically, otherwise you'll see an error like this:

[code]

@conan1987 good to hear it worked!

[2019-01-05 18:41] conan1987 commented on #314
ok that will be better , thanks

[2019-01-06 02:55] #314 closed

[2019-01-06 02:56] thijstriemstra commented on #312
Turns out it was an issue in recordrtc and a new version was released.

@Sathishchary and @awanishraj can you try again with recordrtc 5.5.0 and the videojs-record master branch? #315 should've fixed it.

If it works I'll release it as videojs-record 3.2.0.

[2019-01-06 03:20] thijstriemstra opened #316 "Duration display incorrect with video.js 7.4.1"
I expect to see 00:10, not:

<img width="333" alt="screenshot 2019-01-06 at 04 17 59" src="https://user-images.githubusercontent.com/305679/50731635-531b1480-116a-11e9-9400-89ea25604655.png">

[2019-01-06 13:47] #316 closed

[2019-01-06 18:27] taiphamhdweb opened #317 "video recording is missing metadata information"
## Description
I implement Record Video from videojs-record (Using with React). But when Record Video success, I save video to my computer. This video is missing information: Time Length, Frame Width, Frame height
Can you help me add these information for video after record?

## Additional Information
VIDEOJS: Using video.js 7.4.1 with videojs-record 3.1.0 and recordrtc 5.5.0

### versions
#### vi

[2019-01-06 19:53] thijstriemstra commented on #317
@taiphamhdweb can you run `ffprobe` (part of ffmpeg) on the output file and paste the output here?

[2019-01-06 23:12] thijstriemstra commented on #317
This is a known issue with firefox, see https://bugzilla.mozilla.org/show_bug.cgi?id=1068001

For a Firefox webm I get this output for `ffprobe`:

[code]

[2019-01-07 07:42] Sathishchary commented on #312
@thijstriemstra , Thanks !. Tested the master code in my local system. It's working. but opera browser has some issue when i play the video,its not showing the video, remaining all browsers i don't see any issue.

[2019-01-07 08:44] taiphamhdweb commented on #317
Thanks Thijs Triemstra, With Chrome and Firefox browser. My video is missing duration time. I research but not have solution to add duration for video after record.
Can we add duration time for video before save to localhost or post to server?
This is my video after record.
https://drive.google.com/open?id=154BvAsLHBKhQeDmi_zwTkXoJVktSY_4g

[2019-01-07 16:13] nicopapy commented on #312
Still the same problem for me :
Browser: Mozilla Firefox, Version 64.0 (64-bit)
Videojs: 7.4.1
videojs-record js : version 3.2.0
RecordRTC js :5.5.0

[2019-01-07 16:16] Sathishchary commented on #312
@nicopapy  di you pull the code  (videojs-record master branch) and test with RecordRTC 5.5.0 ?

[2019-01-07 18:02] thijstriemstra commented on #312
@nicopapy what operating system?

[2019-01-07 18:57] thijstriemstra commented on #312
@nicopapy turns out there's something happening with webrtc-adapter and after some testing it looks like this was introduced somewhere after v6.3.0 (that works) because 7.1.1 does not work.

So a workaround for now is to pin webrtc-adapter to 6.3.0:
[code]

I'll take a look at what changed..

[2019-01-07 21:49] #312 closed

[2019-01-07 21:50] thijstriemstra commented on #312
Should be fixed in v3.2.1.

[2019-01-07 22:55] thijstriemstra commented on #317
@taiphamhdweb Found a tool that adds the duration: https://github.com/legokichi/ts-ebml/

So I downloaded the recorded video and `ffprobe` reports:

[code]

Now run `ts-ebml`:

[code]

And the output `seekable.webm` now shows metadata according to `ffprobe`:

[code]

Next up, checking how to do this in the browser.

[2019-01-08 02:31] thijstriemstra commented on #317
Thanks for your feedback @taiphamhdweb but I'm going to keep this ticket open and find a way to incorporate it into videojs-record 👍

[2019-01-08 02:39] taiphamhdweb commented on #317
:+1: Thanks you very much @thijstriemstra !

[2019-01-08 02:42] thijstriemstra commented on #317
Thanks for bringing up the issue, good to see it fixed.

[2019-01-08 10:47] nicopapy commented on #312
yes, fixed in v3.2.1, thanks

[2019-01-09 01:31] #317 closed

[2019-01-09 01:52] thijstriemstra commented on #317
@taiphamhdweb I added a `ts-ebml` plugin, can you test it (master branch)?

[2019-01-09 02:30] taiphamhdweb commented on #317
Thanks @thijstriemstra I will apply it to my website. 👍

[2019-01-09 19:56] thijstriemstra commented on #202
This would be simple enough without a plugin.

[2019-01-09 19:56] #202 closed

[2019-01-09 19:57] thijstriemstra commented on #178
Luckily [Edge will use Chromium](https://www.theverge.com/2018/12/6/18128648/microsoft-edge-chrome-chromium-browser-changes) in the future.

[2019-01-10 10:54] thijstriemstra commented on #181
@taiphamhdweb nope, if it ever gets implemented in Safari, this ticket will be updated.

[2019-01-10 11:02] taiphamhdweb commented on #181
Thanks you @thijstriemstra

[2019-01-10 13:22] voordev commented on #181
Same issue, shame Apple does not give this priority.
Then we would have an almost cross platform solution.
Uploading prevents skipped frames and other issues with network connectivity.

[2019-01-10 13:35] thijstriemstra commented on #181
Good news! They've started implementing: https://trac.webkit.org/changeset/237106/webkit/

Also mentioned here: https://webkit.org/blog/8475/release-notes-for-safari-technology-preview-68/

[2019-01-10 13:50] thijstriemstra commented on #181
Downloaded Safari Preview 73 and there it is:

<img width="661" alt="screenshot 2019-01-10 at 14 46 25" src="https://user-images.githubusercontent.com/305679/50972486-0ecfa180-14e7-11e9-8e64-746a3b466e69.png">

Time to test..

[2019-01-10 13:51] voordev commented on #181
That is awesome news !

[2019-01-13 15:15] thijstriemstra commented on #295
Note that Safari Technology Preview 73 (presumably the future Safari 13) supports MediaRecorder and this removes the need for the `audioRecorderType: StereoAudioRecorder` workaround.

[2019-01-13 15:41] thijstriemstra commented on #31
It's now possible to use the ts-ebml plugin to add metadata in Firefox, see https://github.com/collab-project/videojs-record/wiki/Plugins#ts-ebml

[2019-01-13 15:43] thijstriemstra commented on #145
It is now possible to inject the missing metadata using the ts-ebml plugin, see https://github.com/collab-project/videojs-record/wiki/Plugins#ts-ebml

[2019-01-13 17:18] #181 closed

[2019-01-13 21:11] thijstriemstra opened #321 "webm-wasm plugin"
recordrtc recently [added support](https://github.com/muaz-khan/RecordRTC/issues/468) for webm-wasm, let's add a plugin that utilizes it.

[2019-01-13 21:51] #223 closed

[2019-01-14 09:45] maxpaj commented on #23
@thijstriemstra awesome! :)

[2019-01-19 20:49] jacobzlogar opened #324 "Audio codec/mime"
## Description

- I have my mimes set to:
[code]
however when i `ffprobe` the downloaded file i still see
<img width="1280" alt="screen shot 2019-01-19 at 3 48 55 pm" src="https://user-images.githubusercontent.com/10762368/51432201-be9cc180-1c01-11e9-9d12-86b43e8c6311.png">
`.opus` audio, do i need wavesurfer in order to change the audio codec?

[2019-01-19 20:51] thijstriemstra commented on #324
@jacobzlogar can you paste the output of the console as well? Important to check the recordrtc config and figure out what params it used.

[2019-01-19 20:54] jacobzlogar commented on #324
The `record` plugin options:
<img width="523" alt="screen shot 2019-01-19 at 3 54 15 pm" src="https://user-images.githubusercontent.com/10762368/51432263-7e8a0e80-1c02-11e9-91df-807e0c270708.png">

[2019-01-19 21:05] thijstriemstra commented on #324
you need to make sure the `debug` option is set to true and paste the console output, e.g.

<img width="440" alt="screenshot 2019-01-19 at 22 04 09" src="https://user-images.githubusercontent.com/305679/51432350-3f75b080-1c36-11e9-99db-abb91369a696.png">

[2019-01-19 21:07] jacobzlogar commented on #324
Okay, heres my console output:
<img width="570" alt="screen shot 2019-01-19 at 4 07 07 pm" src="https://user-images.githubusercontent.com/10762368/51432362-4a175200-1c04-11e9-88c6-ddb179d4f0be.png">

[2019-01-19 21:11] thijstriemstra commented on #324
Here are the supported recordrtc modes:

[code]

can you try the StereoAudioRecorder with the MediaStreamRecorder, or WebAssemblyRecorder, or any other combination. I've never tried to use specific audio codec when recording audio+video (which I assume you are). Also you have not specified what operating system, browser etc etc

[2019-01-19 21:15] jacobzlogar commented on #324
MacOS 10.14.02
Chrome Version 71.0.3578.98
so try `recorderType: 'StereoAudioRecorder/WebAssemblyRecorder`? I'm confused as to what you mean by ` try the StereoAudioRecorder with the MediaStreamRecorder, or WebAssemblyRecorder, ` how do i use them in combination?

[2019-01-19 21:16] jacobzlogar commented on #324
nvm i see, will give that a shot now

[2019-01-20 01:52] thijstriemstra commented on #324
I think this is the issue: https://github.com/muaz-khan/RecordRTC/blob/master/dev/MRecordRTC.js#L166

Prevents this from working:

[code]

Same with Mrecordrtc standalone:

[code]

Should a new recordrtc.js ticket be opened @muaz-khan ?

[2019-01-20 02:12] thijstriemstra commented on #324
MP4 only supports AAC or MP3: https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats#MP4_H.264_(AAC_or_MP3) So no wav there.

And https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats#WebM

"The WebM format is based on a restricted version of the Matroska container format. It **always uses** the VP8 or VP9 video codec and the **Vorbis or Opus audio codec**."

[2019-01-20 02:20] jacobzlogar commented on #324
No problem, thanks for the info @thijstriemsta

[2019-01-20 02:20] #324 closed

[2019-01-27 22:24] ignl opened #325 "Problems with H.264 codecs in firefox"
## Description
1. If I choose "video/webm;codecs=H264" mime type for chrome and record it, codecs of video file are correct but it doesn't play on firefox.
2.  If I choose "video/mp4" mime type for firefox I still get record with vp8 codecs.
3. Maybe unrelated, but ts-ebml [example](https://collab-project.github.io/videojs-record/examples/video-only-ebml.html) doesn't work on both firefox and chro

[2019-01-28 14:06] thijstriemstra commented on #325
Good catch, fixed.

[2019-01-28 14:16] thijstriemstra commented on #325
@ignl take a look at https://github.com/muaz-khan/RecordRTC/issues/97

[2019-01-29 06:20] manishatiwari1696 opened #326 "Creating build for Videojs-recorder in reactjs"
## Description
Im using videojs-recorder for recording video in our project with reactjs(version: "^16.5.2"). Its working fine as i run this project but its giving an error while creating the build.

## Steps to reproduce
"https://github.com/collab-project/videojs-record/wiki/React" I used these steps to create my project.

## Results
Module not found: Error: Can't resolve 'WaveSurfer' in '/home/m

[2019-01-29 21:17] ignl commented on #325
Yeah I saw that issue during my search. It seems that [Firefox does not support matroska container](https://bugzilla.mozilla.org/show_bug.cgi?id=1422891) and Chrome for some reason uses matroska instead of mp4 container for h.264 records.
According to videojs-record documentation mime "video/mp4" should work for firefox, but the video is still vp8 when I check. Did it work for you at some point @t

[2019-01-30 20:23] thijstriemstra commented on #326
You need to include the `WaveSurfer` alias in your webpack config @manishatiwari1696. See the [webpack configuration](https://github.com/collab-project/videojs-record/wiki/React#webpack-configuration) section of the wiki page.

[2019-01-30 20:23] #326 closed

[2019-01-30 20:58] thijstriemstra commented on #325
You can check supported types for MediaRecorder using:

[code]

In Firefox 64 on Ubuntu all statements above return `false`.

The Firefox docs have an example: https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/isTypeSupported

[code]

Which returns:

[code]

[2019-01-30 21:03] thijstriemstra commented on #325
Also see https://github.com/muaz-khan/RecordRTC/blob/master/simple-demos/isTypeSupported.html#L66. Closing ticket since there's not much we can do (firefox browser issue).

[2019-01-30 21:03] #325 closed

[2019-01-30 21:08] thijstriemstra commented on #325
Looks like Firefox 65 introduced support for the AV1 codec (already available in Chrome), maybe that could be an alternative..

https://medium.com/mozilla-tech/mozilla-celebrates-release-of-free-high-quality-video-compression-technology-av1-in-firefox-65-7c95f2b7e56

[2019-01-30 21:21] thijstriemstra commented on #325
Also interesting statement here: https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/mimeType

"Keep in mind, of course, that the file format and the codecs associated with the individual tracks are different things entirely; writing tracks that work just fine in a WebM video into an MP4 wrapper may not result in a file that plays everywhere you want  it to."

[2019-01-30 21:53] ignl commented on #325
OK thanks for references! Let's hope AV1 will work better. Good thing is that apple also participates in that consortium so there is a chance it will adopt it for Safari.

[2019-01-31 05:01] manishatiwari1696 commented on #326
I've already done this, as per the guidelines. It's running fine but error is showing when I'm trying to create a build.

[2019-01-31 05:02] manishatiwari1696 commented on #326
I've already done this, as per the guidelines. It's running fine but error is showing when I'm trying to create a build.

I've already done this, as per the guidelines. It's running fine but error is showing when I'm trying to create a build.

[2019-01-31 13:57] thijstriemstra commented on #326
can you paste the config here?

[2019-01-31 14:02] manishatiwari1696 commented on #326
resolve: {
    modules: ["node_modules", paths.appNodeModules].concat(
      // It is guaranteed to exist because we tweak it in `env.js`
      process.env.NODE_PATH.split(path.delimiter).filter(Boolean)
    ),
    extensions: [".web.js", ".mjs", ".js", ".json", ".web.jsx", ".jsx"],
    alias: {
      videojs: "video.js",
      WaveSurfer: "wavesurfer.js",
      "react-native": "react-native-web"

[2019-01-31 14:04] manishatiwari1696 commented on #326
plugins: [

    new InterpolateHtmlPlugin(env.raw),
    // Generates an `index.html` file with the <script> injected.
    new HtmlWebpackPlugin({
      inject: true,
      template: paths.appHtml
    }),
    new webpack.NamedModulesPlugin(),
    new webpack.DefinePlugin(env.stringified),
    // This is necessary to emit hot updates (currently CSS only):
    new webpack.HotModuleReplacementPlugin()

[2019-02-01 04:34] manishatiwari1696 commented on #326
yes, I've install the wavesurfer.js, that's why its running fine. I request you to please run "npm run build" command once at your end and let me know whether this command is running for your project or not.

[2019-02-01 18:13] AbhishekTaparia commented on #326
config/webpack.config.dev.js   can't find this file

[2019-02-01 18:16] AbhishekTaparia commented on #326
./node_modules/videojs-record/dist/videojs.record.js
Module not found: Can't resolve 'videojs' in 'C:\.......................\videojs-record-master\workvideo\node_modules\videojs-record\dist'

also this

[2019-02-01 18:19] AbhishekTaparia commented on #326
also i have serviceregister and not registerServiceWorker

[2019-02-01 19:15] thijstriemstra opened #327 "support for Shape Detection API"
"The interfaces of all three detectors, the FaceDetector, the BarcodeDetector, and the TextDetector, are very similar. They all provide a single asynchronous method detect that takes an ImageBitmapSource as an input (that is, either a CanvasImageSource, a Blob, or ImageData)."

See https://developers.google.com/web/updates/2019/01/shape-detection

[2019-02-02 15:54] phanikumarballa commented on #136
@jonathanfallon Please help me where I need to keep that resolve? is it in video-record.js? am also facing the same issue

[2019-02-02 16:31] thijstriemstra commented on #136
@phanikumarballa see https://github.com/collab-project/videojs-record/wiki/Webpack#webpack-config

[2019-02-02 16:47] phanikumarballa opened #328 "ERROR Error: plugin "record" does not exist"
Getting error as in below for video.js

[code]

[2019-02-02 17:36] thijstriemstra commented on #328
hey @phanikumarballa, can you explain to me how I would be able to help you with this, if you do not include ANY additional information whatsoever? I am not a psychic.

[2019-02-03 02:36] phanikumarballa commented on #328
Sorry @thijstriemstra , below are the details. Am doing a project in Angular 6.0.7 have a requirement of capturing the video and send it to backend rest service. For this am using below versions:     "video.js": "^7.4.1",
    "videojs-record": "^3.3.0",
    "webrtc-adapter": "^7.2.0",

Am am getting error as record doen not exist, so for this I have commented record in the plugin of video-record c

[2019-02-03 02:47] thijstriemstra commented on #328
can you also paste the includes?

[2019-02-03 02:57] phanikumarballa commented on #328
import {Component, OnInit, AfterViewInit, OnDestroy,ElementRef,Input} from '@angular/core';
import * as adapter from 'webrtc-adapter/out/adapter_no_global.js';
import * as RecordRTC from 'recordrtc';
// register videojs-record plugin with this import
import videojs from 'video.js';
import Record from 'videojs-record/dist/videojs.record.js';
import 'webrtc-adapter';

declare var videojs: any;

@Com

[2019-02-03 03:00] phanikumarballa commented on #328
And in .html as in below:
<video id="video_1" class="video-js vjs-default-skin"></video>

Otherthan these I dont have any other code

[2019-02-04 16:27] thijstriemstra commented on #328
I am not an Angular expert and cannot help you with this issue, please ask on stackoverflow or something. I would compare the difference between the Angular wiki page and your Angular 6 project. Looks like you need some webpack fixes (??)

[2019-02-04 16:27] #328 closed

[2019-02-05 16:38] marianabm opened #329 "Chrome crashes when recording audio and using more than on browser tab"
## Description
Audio recording crashes the browser when an audio is recording in one tab and the user is in another tab.

## Steps to reproduce
 - Start to record an audio
- Open a new tab on browser.
- Stay for a while in the other tab (at least 3 minutes) and do not pause the audio record in the first tab
-  Go back to the tab that is recording the audio

## Results
### Expected
Audio is recordi

[2019-02-05 19:07] thijstriemstra commented on #329
@marianabm what version of Chrome? What version of windows/linux? Does it also happen with videojs-record 3.4.0?

[2019-02-06 11:30] marianabm commented on #329
Chrome 71.0.3578.80
Window 7, Linux Mint and Ubuntu.
I couldn't  be able to test with videojs-record 3.4.0 because of a package version conflict.

video.js requires safe-json-parse 4.0.0
recordrtc 5.5.3 requires another dependency that requires safe-json-parse ~1.0.1
![dependencies](https://user-images.githubusercontent.com/9094746/52338509-c1fdbe80-29f1-11e9-96ef-c6f3746f9402.png)

[2019-02-06 18:34] thijstriemstra commented on #329
Can you try 5.5.4?

ps. I could not reproduce this (tested with Chrome 71 on Ubuntu 16)

[2019-02-07 04:19] kay28 commented on #328
I have the same issue while using in react. Any updates?

[2019-02-07 12:30] marianabm commented on #329
I tested with videojs-record 3.4.0 and it seems that it's taking more time for the problem happen on Chrome.
With Opera 58.0.3135.53, it crashes with a 3 minutes audio.
But with Chrome it was necessary a longer audio (20 minutes). My screen froze, but after some minutes it got back to normal.

[2019-02-09 00:32] thijstriemstra commented on #329
@marianabm when does it crash? Can you launch chrome with `--enable-logging --v=1` and check the `chrome_debug.log file` in the user data dir for any errors: https://chromium.googlesource.com/chromium/src/+/master/docs/user_data_dir.md

[2019-02-09 16:15] ericniaina commented on #274
For those who are getting the "Uncaught ReferenceError: videojs is not defined" when following the Angular example:
change the
`import * as Record from 'videojs-record/dist/videojs.record.js';`
to
`import * as RecordRTC from 'recordrtc';`

as the first one try to access videojs as a global variable.

[2019-02-09 19:49] thijstriemstra commented on #274
@ericniaina that doesn't make sense.. they're 2 different libraries.

[2019-02-09 20:48] ericniaina commented on #274
@thijstriemstra sorry, you are right! I copy/paste another line. I have edited the comment.

[2019-02-10 22:32] thijstriemstra commented on #329
It's probably wavesurfer.js that eats up all the memory, e.g. https://github.com/katspaugh/wavesurfer.js/issues/1498

[2019-02-11 17:23] ledzgio opened #332 "Cannot record video+audio on Safari 11/12/13"
## Description
Cannot record video/audio on Safari 12.0.3 using the following libraries:
[code]

## Steps to reproduce
Just try to record a video using Safari browser

## Results
### Expected
Record the video correctly

### Actual
The video has a small delay (less than 2 seconds) and when I start recording, the video doesn't stop and I see the error below in the console

### Error output
Browser c

[2019-02-11 17:24] thijstriemstra commented on #332
@ledzgio can you also post the player config? Didn't know Safari 12 was out yet..

[2019-02-11 17:26] ledzgio commented on #332
S

These are the player options:
var options = {
	    controls: true,
	    width: 320,
	    height: 240,
	    fluid: true,
	    muted: false,
	    plugins: {
	        record: {
	            audio: true,
	            video: true,
	            maxLength: 15,
	            videoMimeType: "video/webm"
	        }
	    },
	    html5: {
	        nativeTextTracks: false
	      },
	     controlBar: {

[2019-02-11 19:27] thijstriemstra commented on #332
I also tested with Safari 12 but they have not included the MediaRecorder API that is available in Safari Technology Preview. We'll have to wait till Safari 13 I guess.

[2019-02-11 21:59] thijstriemstra commented on #181
Safari 12 also doesn't support MediaRecorder unfortunately, we'll have to wait till v12 I guess. See #332

[2019-02-12 07:43] pwob opened #333 "Upgrading to version 3.4.2 resulted in react build using webpack to throw `videojs is not defined`"
## Description
Upgrading to version 3.4.2 resulted in react build using webpack to throw `videojs is not defined`

## Steps to reproduce
Use version 3.4.2 in react app then build just like in the documentation (https://github.com/collab-project/videojs-record/wiki/Webpack#webpack-config)

## Results
### Expected
Succesfully build

### Actual
Throws an error when using react app

### Error output
`

[2019-02-12 08:59] ledzgio commented on #332
So the only version where the video record works in on the Safari Technology Preview? are there other versions supported? In the README you wrote:
Safari | Stable / Beta/ Preview (OSX/iOS) | Audio + Video + Image + Screen

which in that case is not true! Can you please clarify?

[2019-02-12 13:38] thijstriemstra commented on #332
Correct.

Audio + Screen + Video + Image work in Safari Tech Preview. Audio works in Safari 12. If you have a better way of structuring that documentation table, feel free to open a pull request.

[2019-02-12 13:48] thijstriemstra commented on #333
This is probably related to #330. ping @extronics

[2019-02-12 14:45] pwob commented on #333
Also tried 3.4.0, with sam result.

[2019-02-12 14:55] thijstriemstra commented on #333
that's good to hear (I guess). Try the https://github.com/collab-project/videojs-record/wiki/React wiki instead.

[2019-02-12 16:08] extronics commented on #333
I was bundling videojs-record with rollup but saw the same error there. It means that your [webpack|rollup] configuration somehow isn't providing videojs as a global variable. So to debug this, you can always verify whether your bundle defines that variable.

I also used webpack with videojs-record, but with different configuration:

[code]

This fixed problems with videojs-record requiring "video

[2019-02-12 16:18] thijstriemstra commented on #333
this global/amd/common thing in Javascript is so annoying and this project has always been struggling with it. Should it be video.js then?

[2019-02-12 16:28] extronics commented on #333
In general, yes. I spent quite some time in my project with build-related struggles. Not only with video.js and videojs-record but also in my own code. All related to the question of "how do i properly bundle a library project without ending in the umd/amd/commonjs bundle nightware".

I took some notes there and can take some time during the next days to sum them up and create a PR with some propo

[2019-02-12 16:30] thijstriemstra commented on #333
sounds good!

[2019-02-13 13:21] pwob commented on #333
Thanks for the suggestion but no luck in my set up. Still returns that error, for now Im not gonna upgrade. Also i cannot set `videoRecorderType` to WhammyRecorder in 2.4.1 :(

[2019-02-13 23:38] thijstriemstra commented on #333
weird. can you try with recordrtc 5.5.0 or 5.5.1?

[2019-02-14 04:59] swatijadhav commented on #333
I am also facing same issue while setting up video-js record (version 3.4.2) with **webpack**. Following steps given in wiki https://github.com/collab-project/videojs-record/wiki/Webpack

Is anyone working on this? and PR for this fix is expecting?
cc: @extronics

[2019-02-17 01:17] thijstriemstra commented on #333
@swatijadhav and @snelanga I was seeing the same error. Looking at that error message:

[code]

it appears videojs cannot be found in `src/js/controls/animation-display.js`. The top of that file looks like this:

[code]

so it's trying to access videojs but I noticed it's not imported at all, so maybe that's it? After I added the following line:

[code]

at the top of the following files:

[code]

[2019-02-17 01:36] thijstriemstra commented on #326
@AbhishekTaparia see #333

[2019-02-17 01:38] #333 closed

[2019-02-17 23:49] #321 closed

[2019-02-18 07:08] pwob opened #334 "v3.4.3 does not include new changes"
## Description
Updating to v3.4.3 break video recording, looking at code it does not include the changes specified in the PR

## Steps to reproduce
Update to 3.4.3, look into the code and search for `videoEngine`

## Results
### Expected
Setting `webm-wasm` as the videoEngine uses the new web-wasm plugin.

### Actual
Can't switch to `webm-wasm` engine

### Error output
No error, accepting video an

[2019-02-18 13:00] thijstriemstra commented on #334
New changes? What are you talking about? The webm-wasm plugin? Because that is part of a new upcoming v3.5.0, not 3.4.3. You're confused.

[2019-02-18 13:00] #334 closed

[2019-02-20 08:23] Chivavik opened #335 "Waveform is ready but doesn't appear in player"
Hi! I'm using videojs-record for audio only. Recording and playing recorded file works fine. But waveform doesn't work in real-time while recording and doesn't appear after recording ends. After switching on and off full-screen mode waveform works fine. There are no errors in the console. Could you, please, help me to make waveform works without switching to full-screen mode?
![versions](https://u

[2019-02-20 13:54] thijstriemstra commented on #335
what browser? what operating system? Can you change the player background color and wavecolor, i think it's there but colors make it impossible to see.

[2019-02-20 15:53] Chivavik commented on #335
Chrome 73. Windows 7. Tried to change color but the problem is still here.
Before fullscreen:
![before](https://user-images.githubusercontent.com/19816683/53104596-b0173200-3540-11e9-95a2-036c99652895.PNG)
After fullscreen:
![after](https://user-images.githubusercontent.com/19816683/53104650-d2a94b00-3540-11e9-9f35-5430d1b9dd4a.PNG)

[2019-02-20 16:00] thijstriemstra commented on #335
i see you specified 'responsive: false', can you try without that?

[2019-02-20 16:23] Chivavik commented on #335
Sure.
That didn't solve the problem.
![312](https://user-images.githubusercontent.com/19816683/53106866-fa021700-3544-11e9-9a25-7f35eb42bd04.PNG)

[2019-02-20 16:25] thijstriemstra commented on #335
arer you able to reproduce it with this? https://collab-project.github.io/videojs-record/examples/audio-only.html

[2019-02-20 16:36] Chivavik commented on #335
I've actually copied the source code from this example and placed scripts in the same order. The only difference is that I'm not using workarounds. The example works perfectly fine for me.

[2019-02-20 16:55] thijstriemstra commented on #335
if the example works for you, you'll have to narrow it down to the differences between both.

[2019-02-20 17:15] Chivavik commented on #335
Could you please tell me where I can find this script "browser-workarounds.js"?

[2019-02-20 17:17] thijstriemstra commented on #335
all is located in https://github.com/collab-project/videojs-record/tree/master/examples

[2019-02-22 14:39] yaguiman72 opened #336 "Ability to change label of record indicator"
Hi,
  I've used the Angular tutorial to create the component and it worked like a charm but now we would like to customize the REC text and icon that it is shown on the upper right corner.
 I've added the class in `videojs.record.component.css` file like:

[code]
but it takes the style from `node_modules/videojs-record/dist/css`...

How can I customize the component using Angular?.

I'll appreciat

[2019-02-22 17:09] thijstriemstra commented on #336
@yaguiman72 what are you trying to do, change the "REC" text?

[2019-02-23 03:17] thijstriemstra commented on #336
@yaguiman72 take a look at PR #337. Give that a try with a localized config where you can change the `REC` in `es.js`: https://github.com/collab-project/videojs-record#localization

I'll merge the PR at some point and it'll be in the next release.

[2019-02-23 03:30] #336 closed

[2019-02-24 23:13] thijstriemstra commented on #329
no feedback, closing.

[2019-02-24 23:13] #329 closed

[2019-02-25 15:46] marianabm commented on #329
Sorry for the delay.
I enabled logging on Chrome and no error message is shown, but the problem is still happening.
[chrome_debug.log](https://github.com/collab-project/videojs-record/files/2901195/chrome_debug.log)

Is there any way to test videojs-record without wavesurfer.js? I tried to remove the wavesurfer params, but I got an console error.

[2019-02-26 17:59] thijstriemstra opened #338 "Support for Picture-in-Picture"
"Video playing MediaStream objects (e.g. getUserMedia(), getDisplayMedia(), canvas.captureStream()) also support Picture-in-Picture in Chrome 71. This means you can show a Picture-in-Picture window that contains user's webcam video stream, display video stream, or even a canvas element. "

See https://developers.google.com/web/updates/2018/10/watch-video-using-picture-in-picture#mediastream_video_

[2019-02-26 18:04] thijstriemstra opened #339 "Support for keyboard hotkeys (videojs 7.5.0 or newer)"
video.js 7.5.0 introduced hotkeys support ("m", "f", "k", and Space) (https://github.com/videojs/video.js/commit/61053bf67429ebb1d4bf2deaea0191cef59626db). Would be cool to be able to use them for recording as well.

Default video.js hotkey handling is:

| Key | Action | Enabled by |
| :-: | ------ | ---------- |
| `f` | toggle fullscreen | only enabled if a Fullscreen button is present in the Con

[2019-02-26 19:57] thijstriemstra commented on #338
Opened #5824 for possible video.js support.

[2019-02-27 01:55] thijstriemstra opened #341 "Move event types to separate class"
Centralizing all event types in a single module would be nice to have.

maybe using `Object.freeze`:

[code]

[2019-02-27 02:16] thijstriemstra commented on #335
@Chivavik this is not a problem in Firefox right, only Chrome? If you change the line to `var safari = true;` in `browser-workarounds.js`, does it work then?

[2019-02-27 02:31] thijstriemstra commented on #333
@swatijadhav @snelanga @pwob did v3.4.3 fix this for you?

[2019-02-27 09:11] pwob commented on #333
Yes thanks so much and for this great module! Will read codes so I can help sometime.

[2019-02-27 23:36] #338 closed

[2019-02-28 00:45] #341 closed

[2019-02-28 11:51] Chivavik commented on #335
@thijstriemstra I have the same problem in Firefox too. And I'm also receiving this warning message in Chrome. Does it mean that I need to reproduce a user gesture before recording to fix this problem?

[2019-02-28 13:38] thijstriemstra commented on #335
@Chivavik try calling this from a button or type it in console and the visualization will appear:

[code]

I don't see this issue in Firefox though..

[2019-02-28 15:41] thijstriemstra commented on #335
@Chivavik give PR #344 a try.

[2019-02-28 16:03] #335 closed

[2019-03-03 18:41] birgittab commented on #256
Hi, I am having a similar problem that I can't figure out.
When I have gone through all these steps the player shows up on the page but I can't record anything (the buttons don't even show up).
Do you know what might be the problem?

![image](https://user-images.githubusercontent.com/31894516/53699767-c0060000-3de3-11e9-9373-fe6b0185aaf7.png)

I am using google chrome on windows.

[2019-03-03 18:51] thijstriemstra commented on #256
@birgittab you didn't include the videojs.record.css file

[2019-03-04 10:50] snelanga commented on #333
@thijstriemstra Yes, it did fix the issue. Thank you very much for that.
But I'm not getting the video preview with the controllers even though the camera is turned on. This was reported in the issue #256 by @birgittab.

There you mentioned about not adding the **'videojs.record.css'**. But I've even added that as follows,
- index.html (public) -> link href="../node_modules/videojs-record/dist/css

[2019-03-04 12:03] thijstriemstra commented on #333
@snelanga **any errors in the console? what browser/operating system? what is your video.js config?**

[2019-03-04 15:23] birgittab commented on #333
I am using google chrome on windows 10.
I have no errors in the console but it seems like the "device is ready" function is never reached.

![image](https://user-images.githubusercontent.com/31894516/53742757-4af10400-3e91-11e9-81ba-0c372d7b8329.png)

[2019-03-04 16:21] thijstriemstra commented on #333
Sigh.. ** what is your video.js config?**

[2019-03-05 16:53] ajthegamedev opened #345 "RecordRTC is not defined at RecordRTCEngine.setup"
## Description
RecordRTC is undefined during videojs setup when following the Webpack tutorial.

## Steps to reproduce
Follow the tutorial here:
https://github.com/collab-project/videojs-record/wiki/Webpack

## Results
### Expected
Recording initializes and begins preview after pressing through the permissions button.

### Actual
Permissions button disappears, and recording light in tab turns on.

[2019-03-05 20:09] thijstriemstra commented on #345
I can reproduce this after adding a `deviceError` handler, looking into it.

[2019-03-05 20:46] thijstriemstra commented on #345
@ajthegamedev I updated the webpack wiki page (with other css-related improvements) and I'll release v3.5.1 with the fix. If you want to try it out, test pull request #346

[2019-03-05 20:48] ajthegamedev commented on #345
Thanks @thijstriemstra

[2019-03-05 21:26] #345 closed

[2019-03-05 21:30] ajthegamedev commented on #345
Hey @thijstriemstra sorry to pop back in bu #346 :

import videojs from 'video.js';

import RecordRTC from 'recordrtc';

import Event from '../event';

Doesn't seem to change the issue for me. I just followed the updated wiki again from scratch and I am seeing the same error.

[2019-03-05 21:45] thijstriemstra commented on #345
@ajthegamedev there's also a change in the webpack alias section.

[2019-03-05 22:53] thijstriemstra commented on #339
See https://github.com/videojs/video.js/issues/5832 for discussion.

[2019-03-05 23:34] thijstriemstra commented on #338
Opened https://github.com/katspaugh/wavesurfer.js/issues/1579 for possible wavesurfer.js support.

[2019-03-06 15:50] Chivavik opened #347 "iPhone XR bugs"
Hi! For some reasons, the plugin works strangely on "audio only example" page on iPhone XR(Ios 12.1.4) in both Chrome and Safari.
Safari:
When clicked on the Device button, the prompt asking for microphone access appears. When clicked Allow, and the Round icon to record is pressed, the icon changes to Square (Stop), live stream of soundwave appears, everything is working. When Square is pressed to

[2019-03-06 15:54] thijstriemstra commented on #347
thanks for the report. It would be really useful to see the browser console messages. Can you follow these instructions and paste the results here? https://www.lifewire.com/activate-the-debug-console-in-safari-445798

[2019-03-06 16:10] Chivavik commented on #347
![photo_2019-03-06_19-09-38](https://user-images.githubusercontent.com/19816683/53895620-803d5380-4043-11e9-8c65-4e425aef27a6.jpg)

[2019-03-06 16:12] thijstriemstra commented on #347
@Chivavik make sure to use videojs-record v3.5.1. Strange there's not a single error message (so far).

[2019-03-06 21:42] ehartz01 opened #348 "delay before recording"
Hi, I'm trying to have a short delay before recording begins after the user presses the record button.
I want to do something like
[code]
before the recording is called -- but I can't find a good place to drop this snippet.  Any advice?

[2019-03-06 22:24] thijstriemstra commented on #348
I tried a couple of things but couldn't override it with a hack, e.g.

[code]

now what would be a sensible approach to this, without having to add a dedicated timeout setting etc..

[2019-03-07 16:43] ehartz01 commented on #348
I figured it out. I dropped a little code in the the record toggle class

async handleClick(event) {
        console.log("clicked record toggle");
        let recorder = this.player_.record();
        if (!recorder.isRecording()) {
            await sleep(5000);
            console.log("woke up")
            recorder.start();
        } else {
            recorder.stop();
        }
    }

The probl