[2019-03-07 16:43] #348 closed

[2019-03-11 10:01] Chivavik commented on #347
Hi, @thijstriemstra! I have a question about videojs-record plugin but it does not relate to this issue. Can I ask you here?

[2019-03-11 14:18] thijstriemstra commented on #347
you can open a separate issue/question for that.

[2019-03-11 17:23] Chivavik opened #349 "Blob into input[type="file"]"
Hi! I'm looking for a way to upload blob with input[type="file"]. So you can download it on your device. Also, you can create an XMLHttpRequest to upload without input[type="file"], but I can't do that for certain reasons. How can I upload a blob using input[type="file"] without downloading it?

[2019-03-11 17:29] thijstriemstra commented on #349
@Chivavik can you show some example or pseudo-code? `player.record().saveAs()` does not work for you?

[2019-03-11 17:51] Chivavik commented on #349
player.record().saveAs() works fine. But I don't need a recorded file on my PC, I need to upload it to the server using input[type="file"].

[2019-03-11 19:51] thijstriemstra commented on #349
I see, that is not a videojs-record specific question, it's a general question about Blobs. Please use stackoverflow or some other forum for this.

[2019-03-11 19:51] #349 closed

[2019-03-11 19:56] thijstriemstra commented on #347
any feedback @Chivavik?

[2019-03-14 00:29] sferoze opened #350 "How does this differ from VideoJS?"
Can someone briefly explain why would I use this, how does it differ from VideoJS? I thought VideoJS was a html5 player? Does this package just add more options or skins or something? It is very confusing navigating the javascript libraries for recordrtc and video recording

[2019-03-14 01:33] thijstriemstra commented on #350
it's a plugin for video.js. video.js provides a skinnable player and component structure, and videojs-record extends this with cross-browser/platform recording for audio, video and image files.

[2019-03-14 01:33] #350 closed

[2019-03-18 03:00] #339 closed

[2019-03-21 12:27] elfar opened #353 "Record Video with Chrome on iOS not triggering "allow access""
## Description
The example https://collab-project.github.io/videojs-record/examples/video-only.html does not work on Chrome in iOS

## Steps to reproduce
Open https://collab-project.github.io/videojs-record/examples/video-only.html with Chrome and iPhone

## Results
### Expected
Expected to be triggered to allow access to camera

### Actual
It showed the same start screen as with android etc but u

[2019-03-21 13:25] thijstriemstra commented on #353
thanks for the report. It would be really useful to see the browser console messages. Can you follow these instructions and paste the results here? https://www.lifewire.com/activate-the-debug-console-in-safari-445798 or https://medium.com/@mattcroak718/debugging-your-iphone-mobile-web-app-using-safari-development-tools-71240657c487

[2019-03-21 13:44] elfar commented on #353
Thanks for your quick reply, correct me if I'm wrong but it seems to me both links you provided require a mac computer to work? I am not a "iMan" and don't own a Mac (nor iPhone, was just borrowing one to confirm a complaint that my recorder was not working). If I manage to get my hand on one I will - unless there is some way to do this with only iPhone and Linux!?

[2019-03-21 14:51] elfar commented on #353
FYI - think I got this working with my linux - https://medium.com/@nikoloza/how-to-debug-remote-ios-device-using-chrome-devtools-f44d697003a7 - at least I could see Network and Elements data coming in, but no console data popped I'm afraid. Also, seems this and your links only work for Safari, which is OK as I also can't record anything in Safari (but at least Safari triggers me to allow access to

[2019-03-21 14:51] thijstriemstra commented on #353
my bad, you should use https://medium.com/@nikoloza/how-to-debug-remote-ios-device-using-chrome-devtools-f44d697003a7

[2019-03-21 14:52] thijstriemstra commented on #353
There should be console logs. Without them it's hard to debug or even know what's going on.

[2019-03-21 14:55] elfar commented on #353
Yeah, it is strange all other debug info show up just fine in my tools, just nothing in console, simply empty, annoying! Will have another go at this tomorrow, at least it seems this is readily reproducible as none of my friends with iPhone and chrome can get this link to work as well.

[2019-03-21 15:02] thijstriemstra commented on #353
also see #347

[2019-03-22 14:05] elfar commented on #353
Yeah thanks had noticed it, possibly a similar cause. OK - there was some debug_proxy bug but managed to work around it and get console data. I can only do this in Safari though and am more interested in what is going on in chrome, you do not happen to know of a way to get console log for ios chrome? In any way, getting safari working is also of interest - here is a screenshot of the console. 1st

[2019-03-22 15:23] thijstriemstra commented on #353
I'll have to research..

The screenshot and errors you see for Safari look very familiar, see #332

[2019-03-23 01:28] thijstriemstra commented on #327
Started a branch at https://github.com/collab-project/videojs-record/tree/shape-detect-327

[2019-03-24 11:52] dunfy commented on #353
I've hit this problem today too. If you need anything, let me know.

[2019-03-24 13:45] thijstriemstra commented on #353
Can you give https://github.com/RemoteDebug/remotedebug-ios-webkit-adapter a try?

[2019-03-24 14:47] dunfy commented on #353
Sorry, I misread IOS for MacOS. I'm not seeing the 'allow device' pop up when clicking the camera (?) on the demo on a MacOS using Chrome (73). I'm just collecting more info and will get back to you.

[2019-03-25 13:23] elfar commented on #353
Been looking a bit more into this, recordrtc samples as well have the same issue and I have not succeeded in finding a single solution at all out there which works in Safari/Chrome on iOS. Apart, from basic  "capture" stuff - but this leaves the browser so I lose the control I was looking for regarding autostop video and limit recording length etc. Let me know if there are any further logs you nee

[2019-03-25 23:42] thijstriemstra commented on #353
ha, our prayers have been heard.. this was just released: https://blog.chromium.org/2019/03/debugging-websites-in-chrome-for-ios.html @elfar @dunfy can you check that out?

[2019-03-26 00:03] thijstriemstra opened #355 "Support for opus-media-recorder plugin"
See https://github.com/kbumsik/opus-media-recorder

[2019-03-26 00:09] thijstriemstra commented on #347
Also give https://blog.chromium.org/2019/03/debugging-websites-in-chrome-for-ios.html a try.

[2019-03-26 00:17] thijstriemstra commented on #353
And can you also try adding `playsinline` in the `video` tag, e.g.

[code]

Also make sure to use and test with HTTPS-only pages.

[2019-03-26 00:51] thijstriemstra commented on #353
But it looks like `getUserMedia` (which is used to start the camera) is only allowed in Safari on iOS, not on Chrome for iOS :open_mouth:

See https://bugs.chromium.org/p/chromium/issues/detail?id=752458

That would mean for now (until Apple fixes it), only Safari for iOS supports `getUserMedia`. Shocking considering it's 2019..

[2019-03-26 07:11] elfar commented on #353
OK, had tried chrome://inspect before without success but just noticed that it was only introduced in M73 and I was running M72 - after an upgrade this worked very nicely. It is as you wrote getUserMedia does not seem to be supported!

The "playsinline" is that something you think would help with getting Safari working then? I can try it later today in which case.

Here is the chrome log:
![IMG-82

[2019-03-26 13:32] elfar commented on #353
FYI - added playisinline to my own player and it was the closest I have been to a working version in iOS (Safari ofc as Chrome does not exactly seem to be on Apple todo list any time soon!) I could get a inline functional camera which was showing live what I was filming. Also, although the control panel was blinking like crazy, I managed to hit record and it actually started counting up the secs a

[2019-03-26 21:31] thijstriemstra commented on #347
No feedback. Closing in favor of #353

[2019-03-26 21:31] #347 closed

[2019-03-26 21:35] thijstriemstra commented on #353
Thanks for the log messages, I will handle improve the error message for browsers that do not have `getUserMedia` like Chrome iOS. I'll also add a note to the browser support table in the readme.

are you saying that without playsinline it's not properly working on Safari iOS?

That's really weird..

I hope the upcoming iOS Safari release will have MediaRecorder support.

[2019-03-26 21:56] elfar commented on #353
Yes, this does not work in Safari iOS, it is closer to working than Chrome as it gets past the "getUserMedia" and asks for permission. However, without playisinline clicking on record will open up the video full screen and the only thing you can do is press pause/play and nothing is seemingly being recorded and no counter. With playisinline, you will see the camera inline and clicking on record wi

[2019-03-26 22:22] thijstriemstra commented on #353
thanks for the confirmation. I will add `playsinline` to all video examples as it seems required for Safari.

[2019-03-26 22:56] #353 closed

[2019-03-26 22:57] thijstriemstra commented on #353
The improved error message is now in `master` branch and will be released as 3.6.0 this week.

[2019-03-27 07:22] elfar commented on #353
Great thanks for your effort on this. Btw regarding the supported browser section for videojs-record isn't this then misleading?

"Safari	Stable / Beta/ Preview (OSX/iOS)	Audio + Video + Image + Screen"

Because, and correct me if I'm wrong, you will not be able to record anything (at least not video, have not been testing audio) on any iOS browser using this code or, seemingly to me, any other co

[2019-03-28 06:13] alexsorokoletov commented on #332
@thijstriemstra I know this question is popping up often here :)

What is exactly Audio + Image? Still photo, 1 frame?

Big respect for the videojs-project and nice wiki on how to get it started on different frameworks!

[2019-03-30 18:51] thijstriemstra commented on #332
Finally got my hands on an iPhone running iOS 12.2 and when you go to `Settings > Safari > Advanced > Experimental Features > MediaRecorder` you can enable the MediaRecorder API for Safari!

![IMG_0001](https://user-images.githubusercontent.com/305679/55280375-2e77a880-5325-11e9-82f9-702e0f352625.PNG)

[2019-03-30 18:55] thijstriemstra commented on #332
I was able to see the video preview, but also saw the flashing controlbar and after recording some video I was not able to replay it. I'll have to take a look at the web inspector when I'm around my macos machine. But iOS video recording with videojs-record should be possible today, just need to fix some quirks.

[2019-03-30 20:34] thijstriemstra commented on #332
@alexsorokoletov Yea it's more like Audio or Image. Image is a single snapshot, correct. I'll improve the table.

Thanks for the kind words.

[2019-04-01 15:28] alexsorokoletov commented on #332
@thijstriemstra thank you for the update.

By the way, with iOS 12.2 one can go to Settings -> Safari -> Advanced -> Experimental features and enable MediaRecorder API and the recording will work.

![IMG_4D4F74635665-1](https://user-images.githubusercontent.com/1788581/55339684-24fb5700-5471-11e9-9725-52ad7354e7de.jpeg)

I noticed small glitch that width and height of the recording are mixed up an

[2019-04-01 15:30] thijstriemstra commented on #332
@alexsorokoletov right.. https://github.com/collab-project/videojs-record/issues/332#issuecomment-478277159 :)

[2019-04-01 18:53] alienpavlov opened #357 "'RecordRTC' camelcase problem on webpack build"
## Description
I'm getting an error about RecordRTC dependency on case-sensitive system like Linux

## Steps to reproduce
Run a simple configured webpack

## Results
### Expected
Webpack should make a build
### Actual
Error "Can't resolve 'RecordRTC'" received

### Error output

Module not found: Error: Can't resolve 'RecordRTC' in '/var/www/html/project_name/node_modules/videojs-record/dist'
 @ .

[2019-04-01 19:49] thijstriemstra commented on #357
Did you see https://github.com/collab-project/videojs-record/wiki/Webpack? If you are able to config a videojs-record app without any plugins/alias/resolve config, I'd be all ears.

[2019-04-03 04:03] rluiten opened #358 "Improvement? using react-app-rewired to avoid Eject in demo"
## Description
To avoid ejecting create react app use rect-app-rewired.

## Steps to reproduce
I created a simple config-overrides.js file for react-app-rewire to be able to run the
https://github.com/collab-project/videojs-record/wiki/React and get the changes required
into the wepback config without ejecting.

You will need to do the installs steps of https://github.com/timarney/react-app-rewire

[2019-04-03 12:43] thijstriemstra commented on #358
sounds good, I'll take a look at some point.

[2019-04-03 13:35] thinktothings opened #359 "wav options audioSampleRate 22050 not ok?"
## Description
https://github.com/collab-project/videojs-record/examples/plugins/audio-only-recorderjs.html

i use example wav setting  options plugins record audioSampleRate:22050, but the result file is 44100, who can help to me ?

[code]

[2019-04-03 23:56] guest271314 opened #360 "Browser support document"
## Description
Re https://github.com/collab-project/videojs-record/wiki/Browser-support#browser-api there is a question mark for browser support of `.getMediaDisplay()`

## Results
### Expected

`.getDisplayMedia()` is supported at Chromium 73 and Firefox 68

[2019-04-04 07:07] imranbash opened #361 "While using in angular 6 getting this error that videojs and RecordRTC not found."
## Description
In angular 6,
ERROR in ./node_modules/videojs-record/dist/videojs.record.js
Module not found: Error: Can't resolve 'RecordRTC' in '/home/napc0472/Desktop/Prj Test/video-emr/node_modules/videojs-record/dist'
ERROR in ./node_modules/videojs-record/dist/videojs.record.js
Module not found: Error: Can't resolve 'videojs' in '/home/napc0472/Desktop/Prj Test/video-emr/node_modules/videojs-

[2019-04-04 11:00] thinktothings opened #362 "audio-only.html setting timestamp ,file recorded first can be played,the other can not play normally"
## Description
).audio-only.html  setting timestamp  ,use webm format
).Except for the first time interval file recorded can be played, the other can not play normally, is it because there is less Head?

## Results
### Expected
The expected result is that each time interval contains the complete file format and can be played normally.

### Actual
In fact, only files recorded at the first interval

[2019-04-04 13:03] thijstriemstra commented on #361
@imranbash you're missing the webpack config, see https://github.com/collab-project/videojs-record/wiki/Angular#webpack-config

[2019-04-04 13:38] thijstriemstra commented on #362
what operating system? what version of video.js and videojs-record? what wavesurfer.js version? you did not read the ticket instructions.

[2019-04-04 14:55] #360 closed

[2019-04-04 17:13] #361 closed

[2019-04-04 17:13] #357 closed

[2019-04-04 17:16] thijstriemstra commented on #362
I cannot reproduce this, please provide an example that reproduces this.

[2019-04-04 17:16] #362 closed

[2019-04-04 17:25] thijstriemstra commented on #359
@thinktothings the `audioSampleRate` option is not supported in the recorderjs plugin. Also note that the recorderjs library is not maintained anymore so I would suggest to use the default recordrtc instead and specify a `audio/wav` mimetype.

[2019-04-04 17:25] #359 closed

[2019-04-04 17:39] thijstriemstra commented on #358
Updated the wiki, thanks for the suggestion.

[2019-04-04 17:39] #358 closed

[2019-04-08 21:49] sdb1228 commented on #178
So looks like edge 44 is out and looks like they have release versions for mac coming out https://www.microsoftedgeinsider.com/en-us/download/

Anyone checked on this recently?

[2019-04-08 21:56] thijstriemstra commented on #178
Ah yes, saw the news today. Might give it a try at some point.

[2019-04-08 22:19] sdb1228 commented on #178
I may have some time tonight as well.  What has been the easiest way to test it out? Do we have a test url or do you just make a toy app and import the package in?

[2019-04-08 22:36] thijstriemstra commented on #178
Try any of the examples on https://collab-project.github.io/videojs-record

[2019-04-10 07:52] noreen24 commented on #262
how

[2019-04-10 21:13] kylemadkins opened #363 "[Question] Is it possible to use fluid width for image capture?"
There's a (good) chance that this is a dumb question, and I just don't know how this works. Any information that would help me understand why this works the way it does would be helpful

## Description
I'm using videojs-record to capture an image from a webcam to use as a thumbnail in an email. When I try to set `fluid: true` and take the photo, I just get a black screen and the `player.recordedDa

[2019-04-10 21:26] #363 closed

[2019-04-10 21:27] thijstriemstra commented on #363
@kylemadkins why did you close this? what fixed it?

[2019-04-10 21:32] kylemadkins commented on #363
I figured out a solution. I used this config:
[code]

[2019-04-10 22:03] thijstriemstra commented on #363
Cool. If you think the default settings for the image capture example could benefit from these settings, please open a PR.

[2019-04-11 21:39] abhrodipgit opened #364 "Can I pause the audio while in recording and then resume on user request (Need help)"
## Description
I want to pause the recording audio only not the video and resume on user request

[2019-04-11 21:40] abhrodipgit commented on #364
I want to pause the recording audio only not the video and resume on user request. Is there any way I can achieve this ?

[2019-04-12 14:43] Ziggy2001 opened #365 "RecordedData in to Wavesurfer.js"
I'm having trouble understanding how I can get the recordedData from videojs-record into Wavesurfer-js

I'm storing the recordedData blob in IndexedDB and that's all fine, but when I retreive it and try to load it into Wavesurfer-js using loadBlob I just get an error in the console:

[code]

Of course at this point it doesn't load anything and this is with the latest videojs-record and wavesurfer-

[2019-04-12 14:57] thijstriemstra commented on #364
No this is not possible. You could create 2 separate players, one of for recording video and one for recording audio and use `pause`/`resume` on the audio player.

[2019-04-12 14:57] #364 closed

[2019-04-12 14:58] thijstriemstra commented on #365
@Ziggy2001 can you show the code you're using to achieve this? also use the non-minified version of wavesurfer.js so we get a better error message.

[2019-04-12 15:20] Ziggy2001 commented on #365
Sure this is the code I use to retreive the data from the IndexedDB:

[code]

This is the code I use to save it in the IndexedDB:

[code]

Hope that's of some use. I'll try using the non-minified version as well to see if I get a clearer message.

[2019-04-12 15:22] thijstriemstra commented on #365
have you tried without indexeddb?

[2019-04-12 15:31] Ziggy2001 commented on #365
I did try loading the recordedData directly in using loadBlob but that didn't seem to want to work either. It gave the same TypeError: t is undefined error.

I've just tried using the non-minified version but oddly it's giving me two new errors:

[code]

[2019-04-12 17:11] Ziggy2001 commented on #365
Okay I've managed to figure out a way around this issue by simply creating a createObjectURL blob from the stored data in the IndexedDB which is brilliant. However, the reason I'm trying to do all this is because in Chrome dataURLs have seek problems when you try to set the seek. For example you will try to seek to the middle of the file and it'll go to just before the end. I think it's to do with

[2019-04-12 23:03] thijstriemstra commented on #365
good to hear. You should use the ts-ebml plugin to inject metadata and make the file seekable.

[2019-04-12 23:03] #365 closed

[2019-04-13 10:59] Ziggy2001 commented on #365
Thanks for this. I have tried it but the further issue I have is I need the audio to be wav, not webm.

[2019-04-13 17:00] Ziggy2001 opened #366 "Record as WAV and convert to WEBM"
I was wondering if it's possible to record as WAV and have the WAV blob available in recordedData, whilst as the same time having access to the audio as WEBM in the convertedData?

The reasons for this are because I need WAV which I upload to a server via a worker, but I also need WEBM so I can immediately play the audio in Wavesurfer-js.

WAV isn't seekable in Chrome so the user can't jump around

[2019-04-13 17:06] thijstriemstra commented on #366
You could record as wav, and use the ffmpeg.js plugin to convert to webm, all on the clientside. Take a look at pull request (it's a work in progress but should work, just needs some cleanup and remove some hardcoded values): #201

[2019-04-13 17:30] Ziggy2001 commented on #366
I'll take a look. I struggle to understand where all the js files are that are needed. I've found the ffmpegjs-plugin.js but there appears to be other required files that I just cannot find.

[2019-04-13 17:33] thijstriemstra commented on #366
@Ziggy2001 start with checking out the repository, then folllow this: https://github.com/collab-project/videojs-record#development

[2019-04-13 17:36] Ziggy2001 commented on #366
Ah I'm not installing the files that way. I'm probably doing it a very unorthodox way in that I've downloaded the zip and deployed the files where they need to be within the site.

[2019-04-13 17:38] thijstriemstra commented on #366
If you want to test the pull request, I would recommand checking it out using git etc.

[2019-04-16 21:28] rluiten opened #367 "Video in use in Chrome 73 is not detected execpt in a js error in console"
## Description

In Firefox 66 I get a deviceErrorCode name of "NotReadableError" if video is in use.

In Chrome 73 I do not get a deviceError in fact i get a deviceReady
But when I try to start recording I get an error in console.

This data is captured in my local dev environment.

## Steps to reproduce
On my Windows 10 (build 1803) development pc.

1. I start the local windows 10 camera app and

[2019-04-16 22:20] thijstriemstra commented on #367
this is probably be an upstream issue in RecordRTC..

[2019-04-16 22:35] rluiten commented on #367
Do you mean this ? https://github.com/muaz-khan/RecordRTC
Should I report it there ?

[2019-04-16 22:47] thijstriemstra commented on #367
@rluiten yeah that is the 'recorder' library that videojs-record uses, but not sure if the bug's there, I'll have to check. Can you try when one of the recordrtc examples and see if you get different/better error messages there?

[2019-04-16 22:51] rluiten commented on #367
I can try, can you point me at one? Or just dig around in the RecordRTC doc?

[2019-04-16 22:53] thijstriemstra commented on #367
https://www.webrtc-experiment.com/RecordRTC/simple-demos/

[2019-04-16 23:08] rluiten commented on #367
Ok tried out  https://www.webrtc-experiment.com/RecordRTC/simple-demos/video-recording.html

In Firefox 66 in Private mode with my video tied up by the Win10 Camera app.
1. I click Start Recording.
2. I get a prompt to allow video, and click Allow
3. I get a dialog with "Unable to capture your camera. Please check console logs" message.

Visible in the js console i see this error logged in console

[2019-04-16 23:15] thijstriemstra commented on #367
thanks for the details. There's also a lot of info here: https://blog.addpipe.com/common-getusermedia-errors/

[2019-04-16 23:18] rluiten commented on #367
Nice, I should be able to figure where I am at with that page and your example.
Thanks so much!
I'll let you know if I learn anything else I think might be useful.

[2019-04-17 01:44] rluiten commented on #367
Even using that code directly with getUserMedia() is failing in Chrome to tell me its in use, it behaves as if the video stream is available. Oh well, it a known problem its not a show stopper for me at the moment.

[2019-04-18 12:25] pixelpointtechnology commented on #86
hey I want to use facingMode in record parameter

[2019-04-19 00:39] thijstriemstra commented on #367
Thanks for the details. Annoying issue. Not sure if this ticket should be closed or.. Did you find any chrome/chromium bug reports for this? And if not, maybe open one?

[2019-04-19 00:45] rluiten commented on #367
I havnt gone looking in chrome bugs, but it does appear to be squarely in that court.
I did a few searches, but got little information on any reports or even properly where to report it.

[2019-04-19 00:49] thijstriemstra commented on #367
this is from '15: https://stackoverflow.com/questions/31108855/webrtc-check-if-camera-and-microphone-are-in-use-on-chrome If it's still a bug, chrome is just  lame.

I do hope the chromium devs have an open issue for this, haven't found it yet though.

[2019-04-23 14:43] v3ss0n commented on #215
quite interesting

[2019-04-29 14:12] chrisbenseler opened #368 "Ask for permission every time in Safari for iOS"
In Safari 12 for iOS (with experimental api allowed), every time a webpage in a certain domain tries to access the camera, the browser asks the user to allow access.
Is it possible to keep the user's preference set?

[2019-04-29 15:48] thijstriemstra commented on #368
Looks like it's not possible (yet): https://stackoverflow.com/questions/48847388/how-to-permanently-allow-usage-of-camera-on-trusted-websites-with-ios-safari/49942017#49942017

[2019-04-29 15:48] #368 closed

[2019-05-03 20:13] anselmoma9 opened #369 "When selecting another input device, nothing happens."
## Description
change-video-input does not work.

## Steps to reproduce
Access the demo: https://collab-project.github.io/videojs-record/examples/change-video-input.html
Enable the camera;
Select another device;
The action appears in the log, but nothing happens.

## Results
### Expected
Change the displayed device when you select.

### Actual
It does not change the device, even by selecting anoth

[2019-05-04 17:57] thijstriemstra commented on #369
@anselmoma9 do you have multiple video devices connected? can you make a screenshot?

[2019-05-04 19:17] anselmoma9 commented on #369
Yes, I have 3 devices connected, at the moment I can not take a screenshot because I'm not at work.

All three are listed, the device ID appears in the browser console, but it does not switch from image, always stays on the same device.

[2019-05-06 12:40] anselmoma9 commented on #369
@thijstriemstra

Hello, I took a screenshot of the screen.

http://oi65.tinypic.com/2exly75.jpg

Note that selecting the other webcams appears in the chrome log, but the image does not change.

I also tested on Opera and Firefox, without success.

Thank you.

[2019-05-06 22:20] wayne530 opened #370 "iOS Safari video orientation"
## Description
This issue seems to only affect iOS devices when recording in Safari. The issue is that when the orientation is 0 (portrait mode), the recorded video frames are rotated 90 degrees and stretched to fit the 9:16 orientation. If you rotate the device 90 degrees to the left and record in landscape mode, the video frames are recorded upside down but maintain the correct aspect ratio. If

[2019-05-06 22:31] wayne530 commented on #370
Also of note, there is really substantial flickering of the control bar, such that it appears I may only be getting a few frames/sec refresh. This also happens on the audio/video demo from your README. Playback of the recorded video also fails - it appears to show only what's live in the camera's view at the moment but won't play back any recorded material. I wonder if this is the case because the

[2019-05-08 17:03] sdb1228 commented on #178
Update tried this on the dev and canary release for mac and it crashed the browser...
https://www.dropbox.com/s/0kleatg06h9sbte/Screenshot%202019-05-08%2007.38.19.png?dl=0

[2019-05-10 22:23] wayne530 opened #371 "iOS 12 Safari recording indicates type video/webm, but is in fact mp4[h.264/aac]"
## Description
Not sure if this is a videojs-record issue or a RecordRTC issue, but the metadata associated with the recorded video assigns the filename a .webm extension and indicates a type of video/webm, but according to ffprobe:

<img width="997" alt="Web_Inspector_—_Wayne’s_iPhone_—_Safari_—_heroapp-staging_herokuapp_com_—_attach_media_and_New_Issue_·_collab-project_videojs-record" src="https

[2019-05-13 13:16] anselmoma9 commented on #369
Good Morning.

Any updates?

@thijstriemstra

Thank you.

[2019-05-13 16:56] thijstriemstra commented on #369
I haven't had time to look at it, but it's probably an issue with the example, not this plugin.

[2019-05-13 17:31] anselmoma9 commented on #369
@thijstriemstra

I implemented the plugin in my project and presented the same behavior.

[2019-05-13 18:22] thijstriemstra commented on #369
I don't have a 2nd webcam to test with atm. Donating one is always welcome ;)

[2019-05-14 05:50] karan-chauhan opened #372 "Cross browser issue"
## Description
Giving cross browser issue.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.

## Results
### Expected
If its work on localhost on Chrome then it should work on same browser for online server too.

### Actual
I create a demo on my local environment and everything is working fine on Chrome but demo is giving error on Firefox. And error is "Fai

[2019-05-14 10:28] thijstriemstra commented on #372
are you sure this is happening in a desktop browser and not the chrome ios browser? are you using https everywhere?

[2019-05-14 10:30] thijstriemstra commented on #371
@wayne530 you didn't include the videojs config. **why not**?

[2019-05-14 10:32] thijstriemstra commented on #370
Landscape mode, regardless of specific orientation, should produce a video in the indicated aspect ratio (16:9), right side up.

this sounds like something specific to mobile devices. Is there a way to detect the orientation?

this does not work, a known issue: #332

[2019-05-14 14:37] wayne530 commented on #371
@thijstriemstra here it is:
[code]

[2019-05-14 14:43] wayne530 commented on #370
@thijstriemstra Actually, #332 is for Safari on desktop. Safari on iOS does have this capability (see the screenshot below), and recording seems to work, but playback does not. I can detect the viewport orientation but then it requires post-processing to rotate and correct the aspect ratio. It seems you may not have access to an iOS device so I am happy to do any additional debugging/testing that

[2019-05-14 15:07] thijstriemstra commented on #370
why do you think recording works? did you download/playback the recording elsewhere?

How?

[2019-05-14 15:08] thijstriemstra commented on #371
try using a `videoMimeType` of `video/mp4` to force the extension..

[2019-05-14 15:13] wayne530 commented on #370
It works because I (and others) can successfully record video on iPhone/iPod/iPad devices (assuming iOS 12) and this video can then be played back. The viewport orientation can be detected using the `window.orientation` property, though it's only defined on mobile devices. 0 is generally portrait, 90 is landscape rotated counter clockwise, and -90 is landscape rotated clockwise.

[2019-05-14 15:16] wayne530 commented on #371
We want to support recording on multiple devices/browsers and some (it appears) cannot record using mp4 containers. Can't we determine the container and audio/video encoding by examining the first several bytes of the recorded binary data and/or get this information back from the browser API that is responsible for recording?

[2019-05-14 18:14] mcvladthegoat opened #373 "Support for audio pitch shifting"
I'm not sure this feature is useful. The "pitch shifting" could be made as standalone plugin (maybe WebAssembly)

[2019-05-15 05:39] karan-chauhan commented on #372
Hello @thijstriemstra,
Thanks for your quick reply. My issue is solved. Actually i was not using https server. But when i convert it to https then it works fine on both firefox and chrome.

[2019-05-15 14:40] thijstriemstra commented on #373
@mcvladthegoat pull requests are welcome!

[2019-05-15 14:41] #372 closed

[2019-05-15 16:52] thijstriemstra commented on #370
sounds like the width/height constraints need to be determined based on orientation. you said it only applies to ios (so I am assuming not android) so should this be part of the examples or should it be part of videojs-record?

[2019-05-15 16:56] thijstriemstra commented on #371
yes, see https://www.webrtc-experiment.com/RecordRTC/simple-demos/isTypeSupported.html ([source](https://github.com/muaz-khan/RecordRTC/blob/master/simple-demos/isTypeSupported.html))

It uses `MediaRecorder.isTypeSupported()`. I could expose this method in videojs-record, e.g. `player.record().isTypeSupported()`.

[2019-05-16 15:54] mcvladthegoat commented on #373
Awesome! I'll do it asap

[2019-05-20 21:13] thijstriemstra commented on #373
Sounds good! You might want to create a separate project for the webassembly/js code so it can be used as an npm dependency. And then add a plugin for this library to videojs-record.

[2019-05-20 21:26] sdb1228 commented on #178
Hey @thijstriemstra do you have a issue to fix the examples page? https://collab-project.github.io/videojs-record/examples/audio-video.html is giving me ```RecordRTC is not defined``` Looks like edge is no longer crashing with the library but non of the browsers I tried is working with the example :(

[2019-05-20 21:28] thijstriemstra commented on #178
@sdb1228 thanks for the heads up, it's broken indeed! I will fix the CDN urls, something broke with https://cdn.webrtc-experiment.com/RecordRTC.js

[2019-05-20 21:51] thijstriemstra commented on #178
@sdb1228 should be fixed now.

[2019-05-20 21:53] sdb1228 commented on #178
Awesome and it works in the edge canary release on mac! Thanks for your hard work this is good news 👍

[2019-05-21 20:58] thijstriemstra commented on #369
Turns out nothing was implemented for changing video input, working on that now (it basically needs to call `getDevice` again with the correct deviceId constraints).

[code]

[2019-05-21 22:12] thijstriemstra commented on #369
@anselmoma9 can you give pr #374 a try?

[2019-05-22 13:08] #369 closed

[2019-05-23 20:25] iokononyuk opened #375 "Cant correct save video in Nodejs server"
## Description
I need record video from webcam and save file on NodeJs server. But I have a problem.
I can save *.webm file, but when I open file I see only audio and backscreen.

## Frontend
[code]
## Backend:
[code]

[2019-05-24 16:46] code-wizard commented on #3
Hey Am having issues with the timestamp event. I am trying to upload a "slice"  of the recorded video. Below is what I noticed.

1. The first slice of the `player.recordedData `contains a blob of  size 1

2. The subsequent slices contain blob array of size + 1

I only want to send a particular slice at a time and not the total recorded file. How do I achieve this?

[2019-05-24 16:49] code-wizard commented on #3
I just saw this block of code under the timestamp event section of your documentation
// monitor stream data during recording
player.on('timestamp', function() {
    // timestamps
    console.log('current timestamp: ', player.currentTimestamp);
    console.log('all timestamps: ', player.allTimestamps);

    // stream data
    console.log('array of blobs: ', player.recordedData);
    // or construc

[2019-05-24 18:49] thijstriemstra commented on #3
it says it right there

[code]

[2019-05-24 19:05] code-wizard commented on #3
How about the timeslice issue I raised?
 I did the following
`        var binaryData = player.recordedData[player.recordedData.length - 1];
`
The first blob is playable but the subsequent blobs are not playable. How do I resolve this?

[2019-05-25 00:15] thijstriemstra commented on #3
you should open a new ticket and not use an existing ticket, thanks.

[2019-05-25 01:52] code-wizard opened #376 "Timeslice Issue"
Hey, Am having issues with the timestamp event. I am trying to upload a "slice" of the recorded video. Below is what I noticed.

1. The first slice of the `player.recordedData` contains a blob of size 1

2. The subsequent slices contain blob array of size + 1

I did the following
`var binaryData = player.recordedData[player.recordedData.length - 1];`
The first blob is playable but the subsequent b

[2019-05-26 08:34] code-wizard commented on #376
I manage to get this working.

[2019-05-26 11:36] thijstriemstra commented on #376
@code-wizard opening a ticket and then closing it without sharing the solution.. how did you get it to work?

[2019-05-26 17:17] thijstriemstra commented on #375
@iokononyuk what videojs-record config are you using? what browser and operating system? when you view it in the browser it's ok?

[2019-05-27 09:28] ehsanali1992 opened #377 "Not able to view 'Camera View', a black box appears at top left side"
## Description
I am a newbie to this one. When I run the project I am not able to see camera view in web, a black rectangle box appears at top left side
![image](https://user-images.githubusercontent.com/45037292/58410168-0c7f7580-808b-11e9-8f5b-36aff4b716b1.png)

No error message gets displayed on console as well.
![image](https://user-images.githubusercontent.com/45037292/58410237-3042bb80-808b-

[2019-05-27 11:57] thijstriemstra commented on #377
@ehsanali1992 that screenshot shows references to 'logo' but there is not logo in this wiki example. Just went through the wiki page, especially for you, and it works just fine here.

[2019-05-27 11:57] #377 closed

[2019-05-27 12:03] ehsanali1992 commented on #377
@thijstriemstra Thanks for your quick response, but the issue is not with the warnings, I just created a new app using create-react-app, in that project, logo was declared but never used so those were the warnings.
![image](https://user-images.githubusercontent.com/45037292/58418461-40fe2c00-80a1-11e9-9648-fa92c01b4d84.png)

The point I want to raise is why I am not being able to view camera in th

[2019-05-27 12:05] ehsanali1992 commented on #377
@thijstriemstra I am sharing code with you, please have a look at code so you may understand what I am doing wrong. I am also using another library on which camera view is visible.
`import React, { Component } from "react";
import "./App.css";
import "video.js/dist/video-js.css";
import videojs from "video.js";

import "webrtc-adapter";
import RecordRTC from "recordrtc";
import "videojs-record/dis

[2019-05-27 12:42] thijstriemstra commented on #377
@ehsanali1992 please compare that App.js with the App.js in the wiki. There are differences (like `Record` import missing) that explain why you're having issues.

[2019-05-27 13:29] saswatkumarsahoo commented on #376
Hi, I am facing the same issue. The first slice is only playable. Rest of the slices seems to be corrupt.

@code-wizard  - can you let me know how did you get this working ?

My code `  var options = {
            controls: true,
            width: 320,
            height: 240,
            fluid: false,
            videoMimeType: 'codecs=H264',
            plugins: {
                record: {

[2019-05-27 13:32] ehsanali1992 commented on #377
@thijstriemstra  I removed it by purpose, just to remove warnings. It is not working with it as well.

[2019-05-27 13:35] thijstriemstra commented on #377
@ehsanali1992 what does the network tab show? can you make a screenshot? any 404 errors?

[2019-05-27 14:03] code-wizard commented on #376
That's too bad of me!
 What I did was I sent the segments to my s3 bucket then used Open CV to stitch them together. So basically the blobs except the 1st segment cannot play independently unless stitched together.

[2019-05-27 14:04] code-wizard commented on #376
I can share my OpenCV function if that will help.

[2019-05-27 14:12] saswatkumarsahoo commented on #376
@code-wizard
Thanks for your response. That will not help actually. My final goal is to upload the video segments to S3 bucket and run rekognition on each slice individually. Stitching them together to create a larger file again won't help.

Sholudn't the sliced files work independently ? What is the point to slice the recording in the first place if they are not usable. Is it possible to open the

[2019-05-27 14:16] code-wizard commented on #376
Yeah we should be able to get  playable segments that will be really helpful

[2019-05-28 05:36] ehsanali1992 commented on #377
@thijstriemstra Have a look at the network tab. No 404 error.
![image](https://user-images.githubusercontent.com/45037292/58453416-76a02500-8134-11e9-929b-0c79ec39e9df.png)

[2019-05-28 07:31] iokononyuk commented on #375
Yes, in browser all correct, thank you)

One more question:

How brosers support this plugin?

[2019-05-28 19:56] thijstriemstra commented on #377
@ehsanali1992 in your screenshot there is 'videojs-record ' (notice the missing version number) so it's definitely something with videojs-record. What that is, I don't know. What operating system are you testing this on?

![image](https://user-images.githubusercontent.com/45037292/58418461-40fe2c00-80a1-11e9-9648-fa92c01b4d84.png)

[2019-05-28 19:58] thijstriemstra commented on #375
@iokononyuk you ignored most of my questions, why?

[2019-05-28 20:29] jelenamilanovic opened #378 "Can't use ts-ebml plugin in React app"
## Description
Hi,

We have a problem with ts-ebml converter library in the React project. For some reason, imported ts-ebml plugin cannot access videojs instance.

We have installed and imported all necessary dependencies into the component, instantiated videojs and everything worked fine until we've imported ts-ebml plugin and set convertEngine property to 'ts-ebml'. The whole app crashed loggin

[2019-05-28 20:31] thijstriemstra commented on #378
can you show these imports?

can you show the videojs-record config?

[2019-05-29 05:31] ehsanali1992 commented on #377
@thijstriemstra videojs-record version was missing because I removed **Record** import to avoid 'never used warning' in console. I am working on Windows 10 and testing it on Chrome version :Version 74.0.3729.169 (Official Build) (64-bit). I have also tried it on Edge and Mozilla.

![image](https://user-images.githubusercontent.com/45037292/58531732-cc400480-81fc-11e9-8950-c4e703001bff.png)

[2019-05-29 07:00] jelenamilanovic commented on #378
Sure.

Imports:

[code]

Options:
[code]

[2019-05-29 15:27] thijstriemstra commented on #377
I'm working on a fix for #378 that might fix this issue as well, stay tuned.

[2019-05-29 15:30] thijstriemstra commented on #378
@jelenamilanovic I was able to reproduce this issue and working on a fix in #379.

[2019-05-29 15:35] ehsanali1992 commented on #377
Ok @thijstriemstra . Will wait for it. Thanks for your time.

[2019-05-29 22:30] #378 closed

[2019-05-29 22:32] thijstriemstra commented on #378
@jelenamilanovic can you try with the master branch? should be fixed now. `npm run build` videojs-record and overwrite the `dist` directory in your react project's `node_modules/videojs-record/` to test it.

[2019-05-30 07:58] jelenamilanovic commented on #378
@thijstriemstra, everything works perfectly.

HUGE THANKS! You were really efficient on this one. 🥇

[2019-05-30 09:33] thijstriemstra commented on #378
my pleasure, thanks for the report!

[2019-05-30 09:39] thijstriemstra commented on #377
@ehsanali1992  can you try with the master branch? run `npm run build` for videojs-record and overwrite the `dist` directory in your react project's `node_modules/videojs-record/` to test it.

[2019-05-30 09:41] ehsanali1992 commented on #377
@thijstriemstra okay let me try this

[2019-05-30 10:08] iokononyuk commented on #375
@thijstriemstra Thanks, now video save correct)
But problem with cross-platforms(

[2019-05-30 10:15] thijstriemstra commented on #375
No problem, but what changed, are you using master branch?

what platforms? make sure to use https everywhere.

[2019-05-30 12:12] iokononyuk commented on #375
@thijstriemstra In window player dont plays videos, but in browser <video> plays good. Its solve my problem.

Safari, Opera, FF - last 2 versions and mobile Chrome, Safari, dont record.
Localhost

[2019-05-30 12:22] thijstriemstra commented on #375
you can play them with VLC.

[2019-05-30 12:22] #375 closed

[2019-05-31 23:29] thijstriemstra commented on #373
any news @mcvladthegoat?

[2019-06-03 10:17] saswatkumarsahoo commented on #376
Is there any new development on this ?

[2019-06-03 15:21] thijstriemstra commented on #376
Don't see any, no. Can you reproduce this with recordrtc only code?

[2019-06-04 10:39] teknorix1 commented on #317
@thijstriemstra  Thank you so much, this saved me a lot of headache

[2019-06-15 20:56] mcvladthegoat commented on #373
Still working on it. There is some problems with pitching stereo files. I'll finish soon :)

[2019-06-20 11:54] soulpaul opened #380 "convertedData is undefined after finishConvert"
## Description
Hi!
Using ts-embl plugin I get `convertedData `object as undefined when `finishConvert` is triggered.

## Steps to reproduce

In a React component:
- import videojs, videojs-record and ts-enml as follows
[code]
- set options as
[code]
- Load the player
[code]
- Record a video
- Listen to `finishConvert` action
[code]
## Results
`this.player.convertedData` is returned `undefined`

##

[2019-06-20 12:44] thijstriemstra commented on #380
@soulpaul does the online example work for you? https://collab-project.github.io/videojs-record/examples/video-only-ebml.html

[2019-06-20 13:36] soulpaul commented on #380
@thijstriemstra the online example works for me.
I tried to record video-only in my implementation but it does not work as well. Any idea on what I could be doing wrong?

[2019-06-24 11:19] thijstriemstra opened #381 "Support video.js picture-in-picture API"
video.js implemented picture-in-picture in v7.6.0. videojs-record has it's own implementation for PiP. Would be good to use the video.js API if it's available.

[2019-06-26 23:29] thijstriemstra commented on #380
The `videoMimeType` you specify cannot be used, see https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/isTypeSupported#Example

On Firefox 67:

[code]

But more importantly, your `finishConvert` method uses the wrong scope. Use arrow function instead, otherwise reference to `this.player` can't be made.

[code]

[2019-06-26 23:29] #380 closed

[2019-07-08 12:21] RusseII opened #382 "How to configure webpack with umijs instead of create react app?"
## Description
Can't get videojs-record react starter project running https://github.com/collab-project/videojs-record/wiki/React

## Steps to reproduce
https://codesandbox.io/s/configure-webpack-plugins-y0shn - the webpack config I tried is in umirc.ts

Here is how I have the config setup
[code]

## Results
### Expected
The starter project without errors

### Actual
Error: plugin "record" does no

[2019-07-08 12:57] thijstriemstra commented on #382
You are missing a videojs-record import. Actually, where are you importing the classes?

[2019-07-08 13:50] RusseII commented on #382
https://github.com/collab-project/videojs-record/wiki/React - I followed this tutorial - they don't seem to be importing videojs-record anywhere either

All of the imports and logic is in src/pages/index.tsx
https://codesandbox.io/s/configure-webpack-plugins-y0shn

[2019-07-08 14:23] thijstriemstra commented on #382
Not true, take a look at `src/App.js`

[2019-07-08 14:28] RusseII commented on #382
Where? They just have

[code]

And the code sandbox src/pages/index.tsx is a complete copy of src/App.js
https://codesandbox.io/s/configure-webpack-plugins-y0shn

[2019-07-08 14:41] thijstriemstra commented on #382
that's an import of videojs-record right? so your statement about no imports isn't true. I am not familiar with umijs. You are able to run the react wiki example without umijs right?

[2019-07-10 20:41] akalmykov opened #383 "How to set additional parameters for plugins"
Hi All,

I am using [opus-recorder](https://github.com/chris-rudmin/opus-recorder) as a recorder plugin. I need to configure some options of the Opus OGG encoder, e.g. I need to set **originalSampleRateOverride** parameter of opus-recorder.

Is there any nice way to configure opus-recorder while initializing videojs/videojs-record objects or afterwards? Or I have to patch something in videojs.reco

[2019-07-14 22:41] thijstriemstra commented on #376
I was able to reproduce the issue with the `timeSlice` option and it looks like a RecordRTC issue: https://github.com/muaz-khan/RecordRTC/issues/539

[2019-07-14 23:41] thijstriemstra commented on #383
@akalmykov good question. Because every plugin uses a different 3rd-party library, there can be many different options used by some plugins, and totally irrelevant to other plugins. I guess the time has come to simply use a couple of 'base' options that are common to all (audio) plugins and put any addtional/optional settings in a object that get's merged into the config/base options and that is p

[2019-07-14 23:44] thijstriemstra commented on #381
Looks like the PiP button is enabled by default in video.js 7.6.0, even though it's not supported in all browsers (e.g. Firefox) at the moment. :-1:

[2019-07-15 00:01] thijstriemstra commented on #382
@RusseII what version of videojs-record are you using? at least v3.7.1?

[2019-07-15 21:12] thijstriemstra commented on #383
@akalmykov you'll be able to set additional options using the `pluginLibraryOptions` in upcoming v3.8.0 release.

For example:

[code]

[2019-07-15 21:18] #383 closed

[2019-07-15 22:05] jarkt opened #387 "Firefox 68 breaks functionality"
## Description
Firefox 68 seems to affect recording functionality in some situations.
While it works in production environment, it's no longer possible to capture a video in development environment.
The only relevant difference is that the development system does not use https.
There are no error messages in the JavaScript console, there is only no reaction when I want to start recording.
When you

[2019-07-15 23:00] thijstriemstra commented on #387
It's fine on Ubuntu 18.04 so likely something else @jarkt (haven't tested on win10 though).

[2019-07-15 23:01] thijstriemstra commented on #387
it should be either https or localhost though.

[2019-07-15 23:03] #387 closed

[2019-07-15 23:36] #366 closed

[2019-07-15 23:47] thijstriemstra commented on #178
I guess this can be marked as won't fix now that Edge switched to Chromium-based builds. A.k.a they'll never upgrade the original Edge browser for MediaRecorder support?

[2019-07-16 13:07] #381 closed

[2019-07-16 16:08] jarkt commented on #387
Chrome has the same behaviour, but there is an option to trust a defined host with `--unsafely-treat-insecure-origin-as-secure="http://docker.local"`.

But ok, not a topic for here, thank you @thijstriemstra

[2019-07-18 16:05] retrocausal commented on #157
@thijstriemstra , I tried adding autoMuteDevice inside the plugin config, and nothing happened.
I also just tried your recommended [event callback](https://github.com/collab-project/videojs-record/issues/157#issuecomment-334575397).
this works fine for the first time when the user records a video, clicks stop.

However, when the user clicks on record again, I get an exception thrown

```VIDEOJS: E

[2019-07-18 16:55] thijstriemstra commented on #157
@retrocausal what videojs-record version, operating system, browser version etc? can you try multiple browsers?

[2019-07-18 17:26] retrocausal commented on #157
videojs-record v 3.8.0
macOS 10.14.5 mojave
browser is chrome v75.x / firefox v 67.x

Breaks the recorder on both browsers, but firefox doesn't throw an exception.

[2019-07-18 18:36] thijstriemstra commented on #157
please open a new ticket with some code that reproduces the problem.

[2019-07-18 19:15] retrocausal opened #389 "Recorder / player breaks on finish recording and does not re initialize on tapping record"
## Description
This has been discussed across various tickets #304 , #157 etc.
Basically, Upon hitting stop / on finishing recording, the devices Must Turn Off.
Since this isn't happening, we are either to pass autoMuteDevices, or, handle it in a callback.
However, even with these options configured, the user can only record Once. A second tap on record with these configurations in place, breaks M

[2019-07-18 19:18] retrocausal commented on #389
It is tough to share a plunk or actual code, as the library aliases `video.js`. almost all external code sharing platform fail to build aliased code.
However, you may still see it on [this page](https://next.plnkr.co/edit/otZ3n8INykhj3cS7?open=Hello.js&deferRun=1)

[2019-07-18 20:40] thijstriemstra commented on #389
well, can you reproduce it without react?

[2019-07-19 05:14] vatsal2210 commented on #257
Any updates? I'm also getting the same error.

`
import videojs from 'video.js';
import * as adapter from 'webrtc-adapter/out/adapter_no_global.js';
import * as RecordRTC from 'recordrtc';

// register videojs-record plugin with this import
import * as Record from 'videojs-record/dist/videojs.record.js';
import 'webrtc-adapter';

import * as WaveSurfer from 'wavesurfer.js';
import * as MicrophoneP

[2019-07-19 07:32] retrocausal commented on #389
I really tried, but I can not seem to find all the necessary dependencies hosted on a cdn.
I can only get the JS file. If i do it via npm, aliasing comes into play again. Also, code sharing platforms do not expose node_modules to write it like in the examples you have shared on github.

[2019-07-19 07:43] retrocausal commented on #389
1. However, If you take my word, I just locally setup the respository
2. ran npm stuff, and started the service on port 8080
3. edited `examples/audio-video.html` - **added the callbacks on the event onStop**
4. refreshed my page
5. hit record
6. hit stop
7. hit record again
and again landed up with the same exception
<img width="1436" alt="Screenshot 2019-07-19 at 13 12 32" src="https://user-imag

[2019-07-20 23:31] thijstriemstra commented on #389
thanks for the detailed feedback, I'll take a look this weekend.

[2019-07-22 07:43] retrocausal commented on #389
Phew I double checked. seems to be a typo here on github ,the code still reads `autoMuteDevice`

[2019-07-22 08:03] retrocausal opened #391 "Question: Can a record and a replay be triggered programatically?"
## Description
I am looking for ways to trigger a record as soon as the camera turns on, or via an external click

## Steps to reproduce
1. remove the controls by input `controls: false` in the configuration
2. click on a button outside of the video player
3. on click of the button, call `player.getDevice()` to turn on the camera
## Results
### Expected
1. the recording should begin as soon as the

[2019-07-22 10:05] retrocausal commented on #391
I tried using `player.recordToggle.trigger('click')`. However, I get an error
<img width="541" alt="Screenshot 2019-07-22 at 15 33 17" src="https://user-images.githubusercontent.com/15086525/61624424-2e196980-ac96-11e9-8c96-8636e52cc1a5.png">

[2019-07-22 13:23] thijstriemstra commented on #391
if the recording needs to start as soon as the device is enabled:

[code]

[2019-07-22 13:23] #391 closed

[2019-07-22 13:26] thijstriemstra commented on #257
@vatsal2210 what version of videojs-record? what version of videojs-wavesurfer?

[2019-07-22 13:27] vatsal2210 commented on #257
Hi @thijstriemstra

`"videojs-record": "^3.8.0"`
`"videojs-wavesurfer": "^2.9.0"`

[2019-07-23 00:20] thijstriemstra commented on #257
I improved the [Angular wiki page](https://github.com/collab-project/videojs-record/wiki/Angular) and am also running into this issue now. Reopening ticket.

[2019-07-23 01:07] thijstriemstra commented on #257
Also created a Angular wiki page for videojs-wavesurfer and there the exact same microphone plugin import works fine..

https://github.com/collab-project/videojs-wavesurfer/wiki/Angular

[2019-07-23 16:04] vatsal2210 commented on #257
@thijstriemstra Did you test with `src:'live'`?

I'm still getting error as below on browser:

[code]

console.log as below for library versions:
`VIDEOJS: Using video.js 7.5.5 with videojs-record 3.8.0, videojs-wavesurfer 2.9.0, wavesurfer.js 3.0.0 and recordrtc 5.5.8`

[2019-07-26 18:52] thijstriemstra commented on #389
I just checked the option with Firefox 68.0.1 (Ubuntu 18) (tested with both `video-only` and `audio-only` and it worked exactly as expected: when recording the camera light is on, when pressing stop the light turns off.

Also tested it on Chrome 76 beta but here the light did not turn off when stopping the recording, so looks like Chrome hasn't implemented it yet..

Not sure what this means? Why n

[2019-07-30 16:06] vatsal2210 commented on #257
Hi @thijstriemstra,  any updates for same?

[2019-07-31 18:15] debiig92 opened #392 "Video recorded in macOS Chrome does not display in Firefox"
## Description
When recording a video from Chrome and try to display it in firefox it shows the following message:
**Firefox Message**
**No video with supported format and MIME type found**
![image](https://user-images.githubusercontent.com/32922410/62235374-aad8d180-b381-11e9-8a33-7ab9708218e4.png)

**Firefox Warning:**
![image](https://user-images.githubusercontent.com/32922410/62235605-2a66a080

[2019-08-05 08:28] gitsaket commented on #392
Hi @debiig92. I have the same issue but for mine, the videos recorded from the mac os was not playable over the FF. However, the windows and Linux machine recorded video over chrome was rendering with the FF. So, I have changed the videoMIMEType to 'video/webm;codecs=vp9'.

[2019-08-06 00:50] debiig92 commented on #392
I will try with video/webm;codecs=vp9 Thanks. Do you think It is a Firefox bug?

[2019-08-12 22:51] thijstriemstra commented on #389
related chromium ticket: https://bugs.chromium.org/p/chromium/issues/detail?id=642785

[2019-08-13 00:24] thijstriemstra commented on #382
@RusseII was able to get this working, see https://github.com/collab-project/videojs-record/wiki/UmiJS

[2019-08-13 00:24] #382 closed

[2019-08-15 14:24] thijstriemstra opened #393 "remove bower.json"
## Description
When installing bower, it displays:

[code]

so bower is dead, use npm instead.

[2019-08-15 14:25] #393 closed

[2019-08-23 07:35] namnode commented on #370
I met same problem. Do not have any way to fix that at the moment ?

[2019-08-23 14:31] wayne530 commented on #370
@namnode @thijstriemstra Unfortunately, no combination of settings corrected the issue for me and the issue still persists. I had to correct it server-side by storing the user agent string (in a poor attempt to detect if it's iOS) as well as the viewport orientation, and then adding parameters to `ffmpeg` to correct the video's aspect ratio/orientation:

[code]

[2019-08-24 15:32] brianarpie commented on #376
@thijstriemstra I'm still having this problem in 3.8.0. What did the merge from July 14 do? What can I do to get past this problem? Thanks

[2019-08-26 05:35] guest271314 commented on #325
See https://bugs.chromium.org/p/chromium/issues/detail?id=980822

[2019-08-28 04:42] namnode commented on #370
@wayne530 Thank you so much ! But use ffmpeg require much time !
Not have other way, Ⅰ used css for fix that if detect is recorded in iOS
`video {
    transform: rotate(90deg) scaleX(1);
    object-fit: fill;
}`

[2019-09-05 02:34] vendramini opened #394 "loadOptions doesn't seems to work"
## Description
Just called `loadOptions` with new params then `getDevice()`. Nothing happens.
I saw this issue https://github.com/collab-project/videojs-record/issues/260 which supposedly worked.

## Steps to reproduce
1. Created a videojs with:
[code]
2. a click event:
[code]
As you see, I also tried with `setVideoInput` and nothing happened too.

## Results
### Expected
Swap cameras.

### Actual

[2019-09-05 04:48] sagarj789 opened #395 "restrict start record button click after 5 take 5 retake (click) in videojs.record.js ??"

[2019-09-05 12:17] JoeyChuuichi commented on #155
@thijstriemstra
I face the same problem.
[code]

I have only changed this part of the program:
[code]

[2019-09-05 12:40] JoeyChuuichi commented on #155
I fixed the problem above, the code can save the video but it is still in webm format
![image](https://user-images.githubusercontent.com/33302970/64342596-d3f61d00-d025-11e9-8cae-c30778d42945.png)

[2019-09-05 13:22] JoeyChuuichi opened #396 "Cannot use playbar in the record"
## Description
Cannot find Playbar after replay the record.
For example, in this demo
https://videojs.com/advanced/#disneys-oceans
all the videos have play bars so that we can control the time of replay.

## Steps to reproduce
I am using the example of
http://127.0.0.1:8080/examples/upload/simple.html

## Results
![image](https://user-images.githubusercontent.com/33302970/64345457-5cc38780-d02b-11

[2019-09-06 10:11] thijstriemstra commented on #155
can you download the file @JoeyChuuichi and use the `ffprobe` tool (that comes with ffmpeg) to check the file format? Paste the results here please.

[2019-09-06 10:17] thijstriemstra commented on #396
duplicate of #23

[2019-09-06 10:17] #396 closed

[2019-09-07 14:20] JoeyChuuichi commented on #155
@thijstriemstra
I can download the file by modifying the code in this way:
[code]

This is the result from ```ffprobe```
[code]

[2019-09-07 15:48] thijstriemstra commented on #155
@JoeyChuuichi low and behold, it's an h264 stream:

[code]

The file extension is webm, but it's not encoded as webm as you can see with `ffprobe`.

When you use:

[code]

the file is downloaded as `my-video-file-name.mp4` right? or does it force the `.webm` extension even though you specified `.mp4`?

[2019-09-07 20:11] inyourcorner opened #398 "Uncaught Error: plugin "record" does not exist"
## Description
I'm running into an issue that others have run into:
`Uncaught Error: plugin "record" does not exist`

I read through other issues and tried updating the `video.js` links to use `7.2.2` (something suggested in a different issue), but that doesn't seem to resolve it.  I tried digging into the source generated, but because it's minified I couldn't get much from it.  The good news is i

[2019-09-08 10:12] thijstriemstra commented on #398
you are using a really old version of video.js and videojs-record. Please try the latest versions @inyourcorner

[2019-09-08 10:20] thijstriemstra commented on #395
@sagarj789 I'm not sure if I understand you correctly but if you want to restrict recording to max 5 times, try something like:

[code]

[2019-09-08 11:03] inyourcorner commented on #398
Sure! I want to make sure I have the latest versions:
* I looked and the latest version of videojs-record I could find was 3.8.0: https://github.com/collab-project/videojs-record/releases
* The latest non-pre release of video.js that I saw was 7.5.5: https://github.com/videojs/Video.js/releases

I updated the links to:

[code]

and ran it again, but I get the same plugin error.  Are there other ve

[2019-09-08 11:06] thijstriemstra commented on #398
you're including video.js twice, I think that's causing this issue. Simply copy one of the examples from this repository and then replace the local `node_modules` links with cdnjs references.

[2019-09-08 11:13] inyourcorner commented on #398
OK - they're a little difficult for me to parse and understand which swaps with which:
I swapped:
[code]
with:
[code]
and got the same error.  Do these look like correct replacements?

[2019-09-08 11:16] JoeyChuuichi commented on #155
@thijstriemstra
It is a ```.mp4``` format file after I changed it into
[code]

I am not sure how to adjust the upload code to save the ```.mp4``` file.
I think it should be somewhere to change the format name?

[2019-09-08 11:20] inyourcorner commented on #398
A little progress: I added:
[code]
Which looks better, but gives a slightly different web-rtc error.  So it looks like I'm still missing an import.  I'll dig into it more tonight but I think you're right about the imports.  Thanks for your help that's enough to help me for now!

[2019-09-08 11:42] JoeyChuuichi commented on #396
@thijstriemstra
I am sorry that when I try the [demo](https://collab-project.github.io/videojs-record/examples/video-only-ebml.html), it shows like this:

![image](https://user-images.githubusercontent.com/33302970/64487652-1e6ed800-d278-11e9-836c-ade145b78183.png)

[2019-09-08 12:07] inyourcorner commented on #398
In case it's useful to anyone else later, this was the properly ordered (and non-duped 😉) import list:

[code]

[2019-09-08 12:07] #398 closed

[2019-09-08 12:08] inyourcorner commented on #398
Thanks for everything, @thijstriemstra - keep up all your good work!

[2019-09-08 16:32] thijstriemstra commented on #396
@JoeyChuuichi correct, that's how it's implemented right now. See #23 for an open ticket that also asks for the progress bar implementation.

[2019-09-08 16:35] thijstriemstra commented on #155
You upload the data and save that data as an mp4 file on a server. How you want to do that is up to you, there are many ways to send it to a PHP/Python/Java etc server.

[2019-09-08 16:37] thijstriemstra commented on #394
@vendramini you probably need to call `player.record().stop()` before calling `loadOptions`.

[2019-09-10 04:40] sagarj789 opened #399 "Show reverse(remaining) time instead of current time during record video"
When user record video, if duration is 1min then currently it shows current time like 0:01, 0:02, 0:03, 0:04, 0:05, 0:06, 0:07, 0:08 ..... 0:58, 0:59, 0:00 but

Now I want to show remaining time instead of the current time like  0:59, 0:58, 0:57, 0:56, 0:55, 0:54,
0:53 .... 0:02, 0:01, 0:00

How can I achieve this. Is there any solution in videojs for this or anybuddy did this

[2019-09-10 13:00] thijstriemstra commented on #399
this sounds like a nice enhancement, it's not possible yet.

[2019-09-11 02:29] vendramini commented on #394
I added `player.record().stop()` and again nothing happens.

I solved destroying and creating `videojs` again, but I don't know if it's a good approach.

I created a simple html with the problem.
[code]
We got the error:
![image](https://user-images.githubusercontent.com/510878/64663592-c1fbec00-d422-11e9-9427-9fca6a5126c2.png)

[2019-09-11 10:01] thijstriemstra commented on #394
@vendramini can you get a better/full stacktrace for that error? don't use a minified file when debugging issues.

[2019-09-17 17:08] thijstriemstra commented on #394
There's a unit test for `loadOptions` that pretty much does the same as your example: https://github.com/collab-project/videojs-record/blob/master/test/videojs.record.spec.js#L559

Note that you're using the key `image` (which probably doesn't exists) and the unit test uses `video`. You want to change the video stream (which then captures an image).

[2019-09-17 17:29] thijstriemstra commented on #395
No feedback, closing.

[2019-09-17 17:29] #395 closed

[2019-09-17 17:33] thijstriemstra commented on #257
No, not yet. This probably needs a bigger change in videojs-record where the Wavesurfer microphone plugin is passed to videojs-record using parameters/options.

[2019-09-18 16:34] samjross opened #402 "Webm-Wasm plugin making it so timestamp doesn't fire"
## Description
I've followed this example [here](https://github.com/collab-project/videojs-record/blob/master/examples/plugins/video-only-webm-wasm.html) and got it apparently working, except `player.on('timestamp')` no longer fires

## Steps to reproduce
Follow the example in the link, but in the `options` put a `timeSlice: 1000` key. Then create a `player.on('timestamp` callback and watch as it

[2019-09-25 12:05] jelenamilanovic commented on #332
As Safari 13 is released and "Added support for the navigator.mediaDevices property of the Media Capture and Streams API to SFSafariViewController.", can you test and verify that it is working?
I am getting same error as mentioned above.

[2019-09-25 14:15] thijstriemstra commented on #332
What version are you using?

I'm using an iPhone 6, no support for iOS 13 :-/ maybe someone else can verify..

[2019-09-26 00:05] thijstriemstra opened #404 "Simplify options declarations"
There are many places to add code when adding a new option: simplify this.

[2019-09-26 00:06] thijstriemstra opened #405 "improve videojs-wavesurfer microphone plugin imports"
This requires videojs-wavesurfer v3.0 or newer.

So videojs-record 4.0 would stop using the `src: 'live'` option and use a config like this instead (note the `WaveSurfer.microphone.create` call):

[code]

This should move the import of the wavesurfer.js microphone plugin out of the videojs-record plugin and make it easier for the user to debug/fix that import in their own code.

[2019-09-26 07:06] jelenamilanovic commented on #332
Ok, thanks.

I'm using iPhone 7, iOS 13.

[2019-09-26 15:11] GordonDrop opened #406 "videojs-record allows to capture empty photo"
## Description
Videojs-record allows to capture empty photo just after **start record** button was clicked.

## Steps to reproduce
1. Open https://collab-project.github.io/videojs-record/examples/image-only.html
2. click **start record** button
3. there will be short amount of time before viewport shows image from camera(viewport shows purple background). That's when **CameraButton** should be cli

[2019-09-26 20:31] ignl commented on #392
There is Firefox bug regarding mp4 incompatibility: https://bugzilla.mozilla.org/show_bug.cgi?id=1422891
Webm should work though.

[2019-09-26 20:35] ignl commented on #371
Chrome also puts h264 to matroska container and there is an issue where Firefox cannot play it: https://bugzilla.mozilla.org/show_bug.cgi?id=1422891
I guess same thing here.

[2019-09-27 22:21] thijstriemstra commented on #406
not sure if this browser thing is something that can be worked around, but I'll check it out at some point.

[2019-09-28 23:45] thijstriemstra commented on #406
Looks like waiting for the `onplaying` event should fix it (https://stackoverflow.com/questions/36091400/is-it-possible-to-detect-when-the-camera-is-on-ready-with-getusermedia). Will test later.

[2019-10-03 12:49] VenkatachalamVE commented on #332
Wow, Good for developers. navigator.mediaDevices supports in iOS 13.

Is anyone tested in iOS 13?

[2019-10-04 15:43] Gha4 opened #407 "Not recording on chrome & opera. Works on Firefox"
## Description
When i initiate recording on chrome and opera browsers, the option to start recording does not appear. But it works on firefox

## Steps to reproduce
[code]

## Results
 The pop up asking for permission to use webcam does not appear

### Expected
Pop up asking for permission to use webcam and a record button

### Error output
From console
[code]

## Additional Information
The record

[2019-10-05 07:50] wvrzel commented on #257
Is there any information about a the last working version of the dependencies?

[2019-10-05 17:16] thijstriemstra commented on #257
With angular? not sure.

[2019-10-05 17:18] thijstriemstra commented on #407
localhost is always allowed when recording using getUserMedia. When hosting it on a webserver, you need to use **https** on Chrome (and Opera).

[2019-10-05 17:18] #407 closed

[2019-10-05 17:32] Gha4 commented on #407
Thanks for the quick response. I will get ssl certificate and retry.

[2019-10-11 12:01] napalias opened #408 "Can't change video frame size and aspect ratio"
## Description
Can't change video frame size and aspect ratio.

## options
[code]

## Expected
Expected to get video by  640x360 and 19:3 ration

## But results which i got is
video by 640x480 adn 4:3 ratio. Seems like default options values

## OS
macOs Mojave

## Browsers
Firefox, Chrome

[2019-10-11 19:42] napalias commented on #408
I found where is problem.

File /src/js/videojs.record.js
Line 496

when i replace:
[code]
to

[code]
***mandatory***

Then works

Also i found that 16:9 do not works with 640x360 but works with 1280x720

[2019-10-14 06:57] onyxnl opened #410 "Stop go to selected browser tab"
Hi,

I want screen share by using browser tab. My problem is I dont want to go selected tab and remain. How can I do that?

I am using on php,jquery,iframe and html

[2019-10-14 10:27] retrocausal commented on #389
@thijstriemstra  Thanks so much for all the help on this. Much much appreciated

[2019-10-14 10:32] retrocausal commented on #389
As a follow up on this comment (https://github.com/collab-project/videojs-record/issues/357#issuecomment-478720503), I just have a question:

Is there a downside to not externalising libraries in `build-config/fragments/common.js` ?

[code]

[2019-10-14 10:35] retrocausal commented on #357
Apologies, wanted to comment here, but commented on a different ticket. And I can not unereference it for some reason

As a follow up on the above comment (https://github.com/collab-project/videojs-record/issues/357#issuecomment-478720503), I just have a question:

Is there a downside to not externalising libraries in `build-config/fragments/common.js` ?

[code]

[2019-10-14 12:15] thijstriemstra commented on #357
ehm, I don't think so, can you elaborate?

[2019-10-14 12:23] thijstriemstra commented on #410
I'm not sure if this is possible. You also don't specify what browser, please ask on stackoverflow or a forum dedicated to the browser you're using.

[2019-10-14 12:23] #410 closed

[2019-10-14 19:37] jarkt opened #411 "TypeError: "component is undefined""
Since the update from 3.7.1 to 3.8.0 I get the following error in firefox on page load.
But it seems all to work fine...

[code]

[2019-10-15 02:43] onyxnl commented on #410
I am using chrome browser.
VIDEOJS: Using video.js 7.6.5 with videojs-record 3.8.0 and recordrtc [5.5.9]

[2019-10-15 11:29] retrocausal commented on #357
So, I forked out the repo, and removed the externals section in the build config, and I did not have to add aliases in my webpack for the build to go through. (Unfortunately, our org has a policy of not allowing aliases in webpack configs)

Still, have not ascertained if that is all I need to do,  will have a clearer picture later.

So, I just wanted to know, If removing such externals would have

[2019-10-15 11:45] thijstriemstra commented on #357
No, I don't think it will. It's just there so webpack does not include these libraries in the videojs-record library itself.

[2019-10-15 16:02] ledzgio commented on #332
Safari 13.0.1 (13608.2.11.1.10), I did enable Experimental Media Recorder API from the settings, I can register but audio and video are not synchronised, this is the log I see in the console:

![5666bdbb-adb9-4975-9136-41d132c30fe1](https://user-images.githubusercontent.com/218346/66848754-e5f8a300-ef75-11e9-8e1e-dab4f3711e3e.jpeg)

Any idea?

[2019-10-20 11:36] thijstriemstra commented on #332
I tested with Safari 13.0.2 on OSX 10.14.x and was able to record after enabling the experimental MediaRecorder API. So Safari 13 still can't record out-of-the-box.

[2019-10-21 15:44] Ravelin commented on #411
I am also getting this issue but only on firefox.  It is also auto starting the recording process on firefox only.

VIDEOJS: ERROR: TypeError: "component is undefined"
    addChild video.es.js:3546
    setupUI videojs.record.js:218
    func video.es.js:2004
    dispatcher video.es.js:1818
    trigger video.es.js:1954
    trigger$1 video.es.js:2839
    triggerReady video.es.js:3791
    timeoutId vi

[2019-10-22 00:44] thijstriemstra commented on #411
@Ravelin @jarkt what videojs-record config, what browser/os?

[2019-10-22 07:44] Ravelin commented on #411
Firefox Developer Edition
MacOS/Windows

      options: {
        controls: true,
        controlBar: {
          fullscreenToggle: false,
          volumePanel: false,
          cameraButton: false,
          recordToggle: false,
          playToggle: true
        },
        width: 780,
        height: 600,
        plugins: {
          record: {
            audio: true,
            fluid: true,

[2019-10-24 08:26] onyxnl opened #412 "the browser does not support navigator.mediaDevices.getDisplayMedia"
## Description
I encounter this issue.

### Error output
the browser does not support navigator.mediaDevices.getDisplayMedia

### versions
#### videojs
VIDEOJS: Using video.js 7.6.5 with videojs-record 3.8.0 and recordrtc 5.5.9

#### browsers
Chrome (Version 77.0.3865.120)
#### OSes
Window 64bit

[2019-10-24 11:04] thijstriemstra commented on #412
that would be a pretty extreme bug; I will take a look.

[2019-10-24 11:23] Gha4 commented on #407
It works fine with https, thanks

[2019-10-24 11:49] Gha4 opened #413 "Control bar flickering in Safari mobile"
## Description
There is constant flickering/flashing at the control bar before record button is pressed. It disappear when record button is pressed.

Another user make mention of it here: https://github.com/collab-project/videojs-record/issues/370

## Steps to reproduce
I use: https://collab-project.github.io/videojs-record/examples/audio-video.html
I only added saving recorded video to a folder u

[2019-10-27 20:51] jarkt commented on #411
[code]

[2019-10-27 20:57] thijstriemstra commented on #411
what version of video.js?

[2019-10-27 21:20] jarkt commented on #411
[code]

No, the linked page works fine.

[2019-10-27 21:42] thijstriemstra commented on #411
can you recreate it with a simple webpack build (see wiki)?

[2019-10-31 08:30] Ravelin commented on #411
Still getting this issue, the linked page works fine. The error only occurs on Firefox, chrome doesn't seem to be affected.  I've tried delaying videojs until the page has fully loaded then rendering the recorder and the problem still persists.

[2019-10-31 12:17] thijstriemstra commented on #411
@Ravelin can you recreate it with a simple webpack build (see wiki)?

[2019-11-02 07:46] mav-raj opened #414 "[Question] Enter PIP programatically."
## Description
Any way to enter in picture-in-picture mode programatically?. Like after recording has started
### Expected
Need to enter picture-in-picture mode after it starts recording.

[2019-11-04 12:42] Ravelin commented on #411
@thijstriemstra Sorry for the delay been on other projects will attempt this this afternoon and get back to you with my results

[2019-11-04 13:26] jarkt commented on #411
For me the problem concerns only a project in development. Other than before I will use it with Vue.js and so I will import it in another way. So the issue is (currently) done for me, because the example page is working fine. Thx.

[2019-11-06 20:53] hangloos commented on #411
I came across this error as well. I was able to fix it by adding pictureInPictureToggle: true in the controlBar options. Here are my defaultOptions

`const defaultVideoJsOptions = {
  controls: true,
  controlBar: {
    fullscreenToggle: false,
    deviceButton: false,
    volumePanel: false,
    recordToggle: false,
    cameraButton: false,
    pictureInPictureToggle: true,
  },
  fluid: false,

[2019-11-07 12:20] Ravelin commented on #411
Adding pictureInPictureToggle: true solved my issue too

[2019-11-07 12:35] thijstriemstra commented on #411
thanks for the feedback @hangloos, I'll take a look.

[2019-11-09 17:12] grigull opened #415 "Every blob file except the first blob file generated at "timestamp" doesn't work"
## Description
When trying to stream the blob files generated using the "timestamp" function all the blobs are not working except for the first blob generated. The files are definitely slightly different from the first blob generated, as my OS can't detect any information about the file other than it being a webm file. Things/theories i have checked and tested.

1. It has nothing to do with the th

[2019-11-10 13:35] duodecimo opened #416 "Stuck in login password when tryed to run as instructed."
I did (ubuntu 18.04 lts):
git clone https://github.com/collab-project/videojs-record.git
cd videojs-record/
npm install
npm run build
npm run start
when I point my browser (chrome, newest) to:
http://localhost:8080/examples/audio-video.html
It asks for login and password, neither of them known to me.
I'm not sure if it is an npm issue or videosj.
Any help would be appretiated.

[2019-11-10 13:42] thijstriemstra commented on #416
that's odd, you probably already have something else running on port 8080. webpack-dev-server automatically increases the port number when 8080 is in use, so try http://localhost:8081 instead.

[2019-11-10 15:48] duodecimo commented on #416
Perfect, this is exactly what was happening.
Thank you for your help, I was already able to test recording a video with soud.

[2019-11-10 15:49] #416 closed

[2019-11-14 21:17] kylemadkins opened #417 "add exportImage"
Is there a way to programmatically get a frame of the recorded video data to send to a server & use as a thumbnail? I apologize if this question has been answered elsewhere. It looks like `videojs` or `videojs-record` does this for you to set the thumbnail of the video in the browser once you've finished recording. But I couldn't tell how from looking at the source

[2019-11-16 12:29] amy111patel opened #418 "Iframe in mobile issue"
Hello Team.

I have implemented one  functionality which is working fine on each of the browser available on any operating system on desktop pc.
But when I test It on google chrome ( version 78.0.39+) android mobile  browser it doesn't.

We have setup the recordjs module on one domain and accessing it on another domain inside an iframe. On all the desktop browsers it is working fine but in google

[2019-11-17 14:23] thijstriemstra commented on #418
@amy111patel are you using https? can you reproduce it with any of the online examples?

[2019-11-17 14:24] thijstriemstra commented on #415
Looks like a duplicate of #376

[2019-11-18 02:08] grigull commented on #415
I concur this is a duplicate.

[2019-11-18 02:08] #415 closed

[2019-11-18 09:09] amy111patel commented on #418
Hello @thijstriemstra

Yes I am using HTTPS,

Steps to reproduce :
1. Setup 2 domain
2. Create an HTML I-frame element
3. Setup videojs on one domain and call it through iframe on the another domain.

video js will work on all the browser and pop's up to allow camera device, but in android google chrome it doesn't work in iframe just the green background window display, But when i open the domain

[2019-11-20 07:10] amy111patel commented on #418
Hello @thijstriemstra

Any update please.

Thanks

[2019-11-20 13:25] thijstriemstra commented on #418
can you not do that? if there's an update you'll see an update.

[2019-11-22 15:01] alienpavlov commented on #411
I've faced the same issue and @hangloos' advice `pictureInPictureToggle: true` does work for me, but I don't really need PIP button..

here is the exact error:
![image](https://user-images.githubusercontent.com/2844990/69436153-e3961f80-0d51-11ea-98fd-822d0aab3315.png)

and here is the place where `this.player.pipToggle` is **undefined**
![image](https://user-images.githubusercontent.com/2844990/6

[2019-11-24 20:16] cubecleveland opened #419 "Record from current video element and predef source"
Hello, im trying to record the currnet running video and not to opena camera.
So ive set the src attr to the current video.

But everytime i initazlie the plugin it automaticxally tryin to access the camera...
What is the way to record straight from the current element.

[2019-11-24 20:34] thijstriemstra commented on #419
This is something you can do with the captureStream() method (see https://developers.google.com/web/updates/2016/10/capture-stream) which is not supported in videojs-record yet.

Marking this as a duplicate of #288

[2019-11-24 20:34] #419 closed

[2019-11-24 20:49] thijstriemstra commented on #417
@kylemadkins you can take a snapshot of the video element at any time, e.g.

[code]

videojs-wavesurfer (used for audio-only in videojs-record) has an `exportImage` method to save image of the waveform, guess that would be useful in videojs-record as well to grab a frame of the video instead.

[2019-11-24 20:51] thijstriemstra commented on #414
i don't think it's possible, you need the user to trigger it. More of a stackoverflow question where more people will find this question, please try that, and if you have any updates, let us know.

[2019-11-24 20:51] #414 closed

[2019-11-24 20:52] thijstriemstra commented on #413
I am not sure where the flickering comes from but I'll take a look at it for videojs-record 4.0.

[2019-11-24 20:53] thijstriemstra commented on #412
I cannot reproduce this, closing.

[2019-11-24 20:53] #412 closed

[2019-11-24 20:54] thijstriemstra commented on #394
any news @vendramini?

[2019-11-24 20:55] thijstriemstra commented on #392
did this work @debiig92?

[2019-11-24 21:06] thijstriemstra commented on #257
See #405 for updates.

[2019-11-24 21:06] #257 closed

[2019-11-25 14:24] vendramini commented on #394
@thijstriemstra I'll back here and to my PR this week or next. Lasts 2 months was insane, sorry.

[2019-11-25 22:47] kylemadkins commented on #417
Thank you so much! I didn't know that `mediaElement` existed

[2019-11-26 05:47] haohuancheng opened #420 "how can i share my screen to other pc/handphone device?"
## Description
I want to brow my live screen on another pc device, how to do? The demo on this site is only share the screen in local device.

### Expected
if my pc is 192.168.1.101,  the other pc is 192.168.1.102, can i see my 101 pc screen in 102 browser?

[2019-11-26 12:24] thijstriemstra commented on #417
@kylemadkins add an `exportImage` method in videojs.record.js and use a switch statement to handle the various cases (audio-only, video-only, audio-video) etc. Then open a pull request we can review.

[2019-11-26 12:24] thijstriemstra commented on #420
I've never tried webrtc, will take a look at some point.

[2019-11-26 18:15] naveedabbas2007 commented on #254
Both of the above mentioned options are not switching the camera.

[2019-11-26 18:16] naveedabbas2007 commented on #254
Tried this
player.options_.plugins.record.video.facingMode = 'user';
player.record().loadOptions();
and this on as ell, I want to swith the camera but noting is working in my case
player.record().loadOptions({
  video: {
    facingMode: 'environment'
  }
});

[2019-11-26 18:23] thijstriemstra commented on #254
@naveedabbas2007 don't hijack a ticket, please open a new one.

[2019-11-27 11:52] naveedabbas opened #421 "I want to flip the camera on a button click and re-record the video"
## Description
I am using this pluign to record live videos on my website, it is working fine with the front cam on both desktop and mobile devices. and if I use the "facingMode: ("environment")" it open the rar camera on mobile devices just fine.
What I want to achieve is to add a new button and on button click, I want to flip the camera from front to rear and vise versa.

## Steps to reproduce
S

[2019-11-28 01:53] vendramini commented on #421
I'm facing the same problem here: https://github.com/collab-project/videojs-record/issues/394
Could you close your issue and continue on mine? So we can solve the problem together.

[2019-11-28 02:08] vendramini commented on #394
I did some tests now.

Starting with:
[code]
Then on button click:
[code]
It works pretty well: from taking images to record videos.
But if I try:
[code]
Gives me an error:
![image](https://user-images.githubusercontent.com/510878/69771239-d2427e00-116a-11ea-9235-d652b16b6731.png)

[2019-11-28 05:14] naveedabbas commented on #421
The same issue is in discussion here https://github.com/collab-project/videojs-record/issues/394 I am going to clost this one.

[2019-11-28 05:14] #421 closed

[2019-11-28 05:16] naveedabbas commented on #394
I am facing the same issue, opened a new ticket https://github.com/collab-project/videojs-record/issues/421, but closing it and will follow over here.

[2019-11-29 18:25] naveedabbas commented on #394
@vendramini any luck? I am trying on my end as well. Please keep updated

[2019-12-01 14:35] naveedabbas commented on #394
@vendramini any luck? I am trying on my end as well. Please keep updated

[2019-12-05 05:37] pwob commented on #413
Meanwhile you can add a transform style `<div data-vjs-player style={{ WebkitTransform: 'translate3d(0, 0, 0)' }}>` for temporary fix.

[2019-12-06 12:07] nzee opened #423 "Opus Codec not supported by AWS Transcoder!"
## Description
Recorded Video's audio codec is always Opus and the same codec is not supported by the transcoding API I am using currently. Wondering if this library supports any other audio codec, apart from Opus.

## Steps to reproduce
I am using Videojs-record with following record options
`
plugins: {
  record: {
                            audio: true,
                            video: true,

[2019-12-06 13:25] thijstriemstra commented on #423
sure, try wav or mp3. See audio plugins: https://github.com/collab-project/videojs-record/wiki/Plugins#audio

[2019-12-06 13:25] #423 closed

[2019-12-06 13:39] nzee commented on #423
@thijstriemstra most if these Audio plugins are supported for Audio only recordings. I am looking for Video & Audio solution.

If it's possible to capture audio and video separately via this library?

[2019-12-06 13:52] thijstriemstra commented on #423
No (not yet). Why not use `ffmpeg` on AWS, or use the `ffmpeg` converter plugin for videojs-record on the clientside to convert it into any type you want?

[2019-12-09 10:38] AngelosR opened #424 "How to do add my logo image when record video via my webcam"
Hi How are you. I am AngelosR.
Thanks for you videojs plugin.
I want to add my logo image when record video via my webcam using videojs-record.
I want to record video together my logo image.
If possible, please explain how to implement it in Vue.js.
But, The implementation in vanilla js is fine too.
I am waiting your solution.
Thanks and Regard.

[2019-12-10 21:11] aurodeepg opened #425 "Record plugin maxlength exceeding"
## Description
The 'maxlength' option for 'record' plugin is not being honored. Recorded time exceeds limit.

## Steps to reproduce
Add 'wavesurfer' and 'record' plugins. Set 'msDisplayMax: 180' for 'wavesurfer' and 'maxlength: 180' for 'record'.

audioEngine used is 'lamejs'

## Results
### Expected
The recording should stop exactly at 180 seconds. Playback should also show 180 seconds/3 minutes

[2019-12-22 06:06] #411 closed

[2019-12-22 06:52] thijstriemstra commented on #413
I came across this in [release notes for Safari Tech Preview 97](https://webkit.org/blog/9672/release-notes-for-safari-technology-preview-97/):

- Fixed image flashing with `transform: rotate` animation ([r252486](https://trac.webkit.org/changeset/252486/webkit/))

Not sure if it's related to this specific issue but indicates to me they have more issues with 'flickering' in WebKit.

Thanks for the

[2019-12-22 06:54] thijstriemstra commented on #370
See #413 for this.

[2019-12-22 06:55] thijstriemstra commented on #370
@namnode can you show with some sample code how that works?

[2019-12-22 08:11] thijstriemstra commented on #402
This is something that is not supported by RecordRTC and that has to be implemented there. @samjross can you open a RecordRTC.js ticket for this?

[2019-12-22 09:23] thijstriemstra commented on #394
Below is an example that works (tested on firefox 71, macOS 10.15). It switches between image and video. The important call you were missing:

[code]

It does leave some old state though, as seen here:

<img width="327" alt="Screenshot 2019-12-22 at 10 20 14" src="https://user-images.githubusercontent.com/305679/71319929-e137fa00-24a4-11ea-8d8b-d3af1cb071d7.png">

I will take a look and see if tha

[2019-12-22 13:06] #394 closed

[2019-12-22 13:59] thijstriemstra commented on #406
can you test #427 @GordonDrop, seems to work ok now.

[2019-12-24 12:14] GordonDrop commented on #406
@thijstriemstra It works, can't reproduce. Thanks 😊

[2019-12-29 12:48] #406 closed

[2019-12-31 08:40] nthieu21075 opened #428 "How i can record screen and camera?"
I Want to record screen and camera it like screen over?

[2019-12-31 08:49] thijstriemstra commented on #428
Only screen + audio is possible currently.

[2019-12-31 14:46] nthieu21075 commented on #428
I saw in document have function to setup RecordRTCEngnie so have any function to pass media stream with array?

[2020-01-01 05:26] nthieu21075 commented on #428
I tried with player.record().load(mediaStream) to load my custom stream. But stream still not change. Can you share me an example of load function? Thanks so much

[2020-01-06 00:55] cogdog commented on #139
I'd sure like to see a pause button on recording. There seems to be one shown in the [screenshot for audio recording](https://github.com/collab-project/videojs-record#audio-only).

[2020-01-08 06:59] fabyeah commented on #181
MediaRecorder hasn't landed in Safari 13 either. Any guesses when this will come? So at least not until Safari 14 in September, in another 9 months? 😢

[2020-01-08 08:11] octavn commented on #181
A partial implementation of the MediaStream Recorder API was introduced 1 year ago in Safari Technology Preview 73 but never made it to production Safari.

https://blog.addpipe.com/safari-technology-preview-73-adds-limited-mediastream-recorder-api-support/

[2020-01-08 11:05] thijstriemstra commented on #181
Safari team is either understaffed, incompetent or scared of shipping new features, I don't know. I do know it's a shit browser.

[2020-01-08 14:25] fabyeah opened #429 "Examples don't work"
## Description
All the provided examples in the README except the 'only audio' one don't work for me on chrome (haven't tried other browsers). I get only a colored video player box, but clicking on the record button does nothing. (camera and mic access is allowed).

## Steps to reproduce
Open any example with video in Chrome and try recording.

## Results
### Expected
Recording starts.

### Actual

[2020-01-08 14:29] fabyeah opened #430 "Documentation on how to import via "import" statements"
It would be great if the documentation included info on how to import the libraries via import statements, as this is the default procedure now.

[2020-01-08 14:48] fabyeah commented on #429
I actually have the same 'startsWith' error in my app:

[code]

[2020-01-08 15:08] thijstriemstra commented on #430
it's documented in https://github.com/collab-project/videojs-record/wiki/Webpack but i agree it should also be included in the readme.

[2020-01-08 15:11] thijstriemstra commented on #429
Do these online examples work for you? https://github.com/collab-project/videojs-record#examples

And what version of Chrome, what OS?

[2020-01-08 18:23] ahmer110 opened #431 "Can i use image + audio + video options?"
## Description
I want the player with image and record button. So it's up to the user either take the snapshot or record the video. it's possible or not?

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.

## Results
### Expected
Please describe what you expected to see.

### Actual
Please describe what actually happened.

### Error output
If there are any e

[2020-01-08 18:26] #431 closed

[2020-01-08 19:31] thijstriemstra commented on #431
why did you close the ticket? maybe that info can help others..

[2020-01-08 21:13] fabyeah commented on #429
No those are the ones I tried. Only the audio-only example works for me. Anything with video doesn't. I'm using Chrome `Version 79.0.3945.117 (Official Build) (64-bit)` on macOS Mojave `10.14.6`. On Firefox it works!

[2020-01-10 02:50] jacksonit opened #432 "How to integrate VIDEOJS RECORD into NUXT JS?"
## Description
I'm trying to integrate Videojs Record into Nuxt JS. These are very difficult and many bugs.

## Steps to reproduce

[code]

[code]

## Results
### Error output
![image](https://user-images.githubusercontent.com/19781467/72121680-5b65eb00-338e-11ea-82b4-dfed5dbb0eef.png)

Help me!

[2020-01-11 22:55] thijstriemstra commented on #432
this is not videojs-record related. check the nuxt.js documentation and stackoverflow: https://stackoverflow.com/questions/54979644/window-is-not-defined-in-nuxt-js

[2020-01-12 19:41] #432 closed

[2020-01-12 19:43] thijstriemstra commented on #429
I could not reproduce this on MacOS 10.15 using same version of Chrome. FWIW, if it was broken in Chrome we would've seen more tickets about this I'd expect.

[2020-01-12 19:43] #429 closed

[2020-01-12 20:06] thijstriemstra commented on #424
Duplicate of #288

[2020-01-12 20:06] #424 closed

[2020-01-12 20:11] thijstriemstra commented on #418
there's a statement about iframe/getUserMedia here: https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#Privacy_and_security

[code]

You should check the `Feature Policy security management feature of HTTP` as mentioned on above link and try setting the `allow` attribute of the iframe. I've never encountered this and curious if it works @amy111patel

[code]

[2020-01-16 02:37] jacksonit opened #433 "Event error not catch this error "Your browser does not support the Media Recorder API. Please try other modules e.g. WhammyRecorder or StereoAudioRecorder""
## Description
I could not catch the error through the error event record in the browser Safari.

## Steps to reproduce
[code]

### Error output
Tab Console Browser: **Your browser does not support the Media Recorder API. Please try other modules e.g. WhammyRecorder or StereoAudioRecorder**.
![image](https://user-images.githubusercontent.com/19781467/72488514-bfcbf300-3843-11ea-91ce-bd323031f05b.p

[2020-01-16 06:55] jacksonit opened #434 "How can I reference js file from node_modules folder in vue js?"
## Description
I'm trying to use Plugins webm-wasm but could not get url  '**../../node_modules/webm-wasm/dist/webm-worker.js**',
[code]
I have installed webm-wasm
`npm install --save webm-wasm`

How can I reference js file from node_modules folder in vue js?

Example: https://github.com/collab-project/videojs-record/blob/master/examples/plugins/video-only-webm-wasm.html

[2020-01-16 08:39] jacksonit commented on #432
Tôi đã có thể sử dụng được VIDEOJS RECORD bằng cách.

[2020-01-16 08:42] jacksonit commented on #433
I have found a solution:
[code]

[2020-01-16 08:45] #433 closed

[2020-01-16 08:45] jacksonit commented on #433
Sorry to bother!

[2020-01-16 12:03] thijstriemstra commented on #434
[code]

[2020-01-16 12:03] #434 closed

[2020-01-22 17:56] tacman opened #435 "this.mediaElement.src is undefined"
## Description
Example programs using the camera fail in Firefox.

## Steps to reproduce
clone the example repo, install (npm install), build (npm run build)  then start the npm server (npm run start), as described in the the instructions at https://github.com/collab-project/videojs-record#examples

Then go to https://127.0.0.1:8003/examples/audio-only.html

The page loads, but when you attempt to

[2020-01-23 12:57] nzee opened #436 "frameWidth & frameHeight not reflecting"
## Description
I have set frameWidth and frameHeight to 360x480 yet the recording area is not reflecting the set values. Instead I get a black bar on top and the bottom of the video.

## Steps to reproduce
Here are the options that I have

[code]

## Results
### Expected
Was expecting the entire width and heigh specified on frameWidth & frameHeight to reflect as recording dimensions.

### Actual
A

[2020-01-24 12:06] nzee commented on #436
@thijstriemstra gentle reminder. :)

[2020-01-24 13:15] thijstriemstra commented on #436
see #408

[2020-01-27 04:30] cogdog commented on #332
I'm building audio recording functionality into a WordPress theme- it enables recording, playback, and when saved, converts to mp3 and uploads to media library

https://lab.cogdogblog.com/splotbox/share-it/

It's working well but not in iOS Safari 13.3.

With MediaRecorder API Experimental features on I see waveforms while recording, but on playback/saving it's flat lined nothingness.

I've not be

[2020-01-30 10:55] Monkey-D-Pixel opened #437 "normal player with empty src still shows loading spinner when clicked play button"
## Description
As stated in title.

## Steps to reproduce
0. include both video.js and this plugin, all latest
1. create a normal player instance, with no src
2. click play button

codepen available [here](https://codepen.io/monkey-d-pixel/pen/ExazBRN?editors=1010)

## Results
### Expected
the player should not show a loading spinner, as it does when this plugin is not included.

### Actual
the pl

[2020-01-31 12:48] subbulakshmi-techy opened #438 "Iphone audio only not recording version 12.4.3 (Model Iphone 6)"
## Description
Audio Only not working  using any of the library files mentioned i have tried all these

https://collab-project.github.io/videojs-record/examples/audio-only-lamejs.html
https://collab-project.github.io/videojs-record/examples/audio-only-mp3.html
https://collab-project.github.io/videojs-record/examples/audio-only-ogg.html
https://collab-project.github.io/videojs-record/examples/audio

[2020-02-01 02:21] rdurish opened #439 "Successive Image captures on Safari IOS results in same image after first few are taken."
## Description
Successive Image captures on Safari IOS results in same image after first few are taken.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.

[code]

## Results
After first 5-6 images it starts to be the same screen shot over and over...same code works fine when on in safari ios.
### Expected
To be a new screenshot everytime it is executred.

#

[2020-02-02 20:46] thijstriemstra commented on #435
@tacman you are visiting https://127.0.0.1:8003/examples/audio-only.html but the exmaple server runs on http://localhost:8080/ If you followed the instructions you should be testing with http://localhost:8080/

[2020-02-02 20:56] thijstriemstra commented on #436
@nzee make sure your camera supports the resolution you're asking for. I tested the config below with a camera that supports 640x480:

[code]

And result has no bars:

![Screenshot from 2020-02-02 21-55-40](https://user-images.githubusercontent.com/305679/73615285-cf4e8880-4606-11ea-8b49-ccf0b5bf9d7b.png)

[2020-02-02 20:56] #436 closed

[2020-02-02 20:58] thijstriemstra commented on #408
i will update the README. you can basically leave out `mandatory`, e.g:

[code]

[2020-02-02 21:05] #408 closed

[2020-02-02 21:05] thijstriemstra commented on #418
No feedback, closing.

[2020-02-02 21:05] #418 closed

[2020-02-02 21:43] thijstriemstra commented on #437
you don't actually use the plugin in your example, you're only including it:

[code]

That's fine though, but you are adding the 'big play button' which this plugin doesn't use:

[code]

And that button triggers an early `play` call on the player: https://github.com/videojs/video.js/blob/master/src/js/big-play-button.js#L46

you expected:

And looks like the import/definition of:

[code]

in https

[2020-02-02 21:51] thijstriemstra commented on #437
@Monkey-D-Pixel can you give PR #442 a try?

[2020-02-02 22:00] #437 closed

[2020-02-02 23:24] thijstriemstra commented on #438
Tested it with the same configuration and device and for some reason passing an `audioRecorderType` of `StereoAudioRecorder` isn't working, e.g.

[code]

Will look into it.

[2020-02-02 23:29] thijstriemstra commented on #439
It works fine in iOS? I thought that was the OS with problems according to this ticket?

This example uses a lot of different api's, like `enumerateDevices`, which makes it hard to track down the bug. Can you make a minimal example that reproduces it @rdurish?

[2020-02-02 23:56] thijstriemstra commented on #425
you seem to be using a really old version of videojs-record: 2.4.1? can you try with the latest?

I could not reproduce it with 3.9.0:

![Screenshot from 2020-02-03 00-54-42](https://user-images.githubusercontent.com/305679/73617511-c9b16c80-461f-11ea-9db9-8c2af3d54d31.png)

[code]

[2020-02-03 00:14] thijstriemstra opened #443 "fix formatTime for milliseconds"
A duration of `179.95755102040818` with `msDisplayMax` option enabled results in a current time formatted as `2:59:120957`:

![Screenshot from 2020-02-03 00-54-42](https://user-images.githubusercontent.com/305679/73617739-3f1e3c80-4622-11ea-85ea-e8adf2079558.png)

[2020-02-03 04:36] nthieu21075 opened #444 "Can not preview video when record screen with chrome tab"
I am using latest chrome version and cannot play video after recording screen with chrome tab. @

[2020-02-03 06:17] nthieu21075 commented on #444
@thijstriemstra Pls help me check this issue

[2020-02-03 10:01] seifsg opened #445 "Is it possible to record only a specific HTML element?"
Hi!

We are working on an that edits small video and records it on the browser. I was wondering if your library can help with that. Thanks!

[2020-02-03 13:48] thijstriemstra commented on #444
can you make a screenshot and/or video to demonstrate the problem? you also didn't include the videojs-record config, so it's hard to help without so little info.

[2020-02-03 13:49] thijstriemstra commented on #445
can you elaborate, it's hard to guess what you exactly want to do.

[2020-02-03 14:22] rdurish commented on #439
Sorry that should say NON-IOS devices.  I'm having trouble editing.  I will put together an example here shortly.

[2020-02-03 15:06] rdurish commented on #439
Simple example.  Confirmed working on PC not on phone (Safari).
https://1drv.ms/u/s!AtiXKZF_BIouhtouz8UA4pVK2RcrvA?e=T8jTWv

[2020-02-03 18:17] seifsg commented on #445
@thijstriemstra Example: if I have a carousel/slideshow html element that is made in any library, example jQuery, is it possible for me to record that carousel while it is sliding ( with its animation ) and get a video out of that?

[2020-02-04 08:09] nthieu21075 commented on #444
https://drive.google.com/file/d/1Kulu1kCYJMqYBuLD0f-wsAYn00QZqGDU/view

@thijstriemstra this is video i recorded with your example. But it only occured on MAC OS with lastest chrome version

[2020-02-05 01:15] Monkey-D-Pixel commented on #437
Yes, seems all good. Thanks!

[2020-02-05 09:59] thijstriemstra commented on #445
Not yet.

Marking as duplicate of #288

[2020-02-05 09:59] #445 closed

[2020-02-06 01:31] rdurish commented on #439
@thijstriemstra anything else I can do to help?

[2020-02-06 08:31] JoeyChuuichi opened #446 "Replace Audio with the recorded data"
## Description
I would like to use a music file as the audio track of the recorded video

## Steps to reproduce

Here is a failure case I have tried
[code]

[code]
I wonder whether changing the audio track would affect the audio in ```player.recordedData```?
If no, is there any way to change the audio in recordedData?
#### browsers
Chrome

[2020-02-06 12:40] thijstriemstra commented on #439
Not sure. I will try reproducing this on the weekend and look into a fix.

[2020-02-06 12:43] thijstriemstra commented on #446
No this is not possible (yet). You could play the music file using your internal audiocard instead of the microphone and record that, e.g.

![Screenshot from 2020-02-06 13-42-57](https://user-images.githubusercontent.com/305679/73938015-af5ce480-48e6-11ea-8cbd-d4ef8f4160a5.png)

[2020-02-06 12:45] thijstriemstra commented on #444
so it doesn't happen on other browsers on macOS?

[2020-02-07 18:43] thijstriemstra commented on #428
It looks like it's possible to record screen + video using recordrtc as well.

- demo: https://www.webrtc-experiment.com/RecordRTC/simple-demos/video-plus-screen-recording.html
- source: https://github.com/muaz-khan/RecordRTC/blob/master/simple-demos/video-plus-screen-recording.html

So I will mark this as an enhancement.

[2020-02-07 18:52] thijstriemstra commented on #428
that `load` method does not support streams, only files or urls. There is not an API for what you're trying to do @nthieu21075 but you could try overwriting `player.record().stream` before you start recording.

[2020-02-07 19:00] thijstriemstra commented on #444
I just tested on macOS 10.15.1 with Chrome 80 and everything worked fine here, I did the same steps like you showed in the youtube clip. I did get a popup for Security, make sure you give Chrome sufficient permissions to record the screen.

<img width="515" alt="Screenshot 2020-02-07 at 19 57 02" src="https://user-images.githubusercontent.com/305679/74057521-67bc8280-49e4-11ea-9fa6-39751335669d.pn

[2020-02-07 19:00] #444 closed

[2020-02-07 19:03] thijstriemstra commented on #373
ping @mcvladthegoat

[2020-02-07 19:20] thijstriemstra commented on #425
No feedback, closing.

[2020-02-07 19:20] #425 closed

[2020-02-07 20:01] thijstriemstra commented on #435
No feedback, closing.

[2020-02-07 20:01] #435 closed

[2020-02-07 20:15] thijstriemstra commented on #446
Looks like the `captureStream()` API allows you to do this, see #288.

Marking this as a duplicate of #288.

[2020-02-07 20:15] #446 closed

[2020-02-11 07:07] nthieu21075 commented on #444
It still happening. You can see video in this link. I turned console log and you can see more information and this is my chrome version. Thanks
![image](https://user-images.githubusercontent.com/55969808/74216671-b5343a80-4cd7-11ea-9f9f-5c6eab14e093.png)

https://drive.google.com/file/d/1pkGwX3tQNSyirvspOCZgs-l_vZhRUsjF/view

[2020-02-13 21:17] mcvladthegoat commented on #373
@thijstriemstra i apologize for the very long work on a feature, try to return to the development in a few days

[2020-02-25 23:48] rdurish commented on #439
Any updates? Trying to do this to be able to do video recording on iOS by taking multiple screenshots.

[2020-02-29 20:58] hyvyys commented on #283
Add a link to this example to README?

[2020-02-29 21:03] thijstriemstra commented on #283
sounds good. Feel free to make the change and open a pull request @hyvyys

[2020-02-29 22:23] hyvyys opened #450 "Select screen capture source programmatically"
Is it possible to limit the choice of screen capture sources, for instance to the current browser window? And then pre-select / auto-select it for the user to just accept it without needing to choose a window.

[2020-03-01 22:14] thijstriemstra commented on #450
I'm not sure if there's any browser with an API yet. Maybe ask on stackoverflow (it's more a `getDisplayMedia` question).. If you have more info, please share it here.

[2020-03-01 22:15] thijstriemstra commented on #439
@rdurish i tested on an iPhone 6 with the simplest example: https://collab-project.github.io/videojs-record/examples/image-only.html

And could not reproduce it.. can you, with that example?

[2020-03-02 00:34] rdurish commented on #439
I will try it out....did you try my example I made for you?  Do you want me to host it for you so it is easier to try?

[2020-03-02 02:19] thijstriemstra commented on #439
shouldn't be necessary if you can reproduce it with that example..

[2020-03-02 03:26] rdurish commented on #439
@thijstriemstra
I wasn’t able to reproduce with that link. My guess based on that is it is a timing issue? I call resetSnap then start back to back...maybe I need a slight delay? Your thoughts?

[2020-03-02 13:44] thijstriemstra commented on #439
your code contains:

[code]

which, apparently, is way too short. Since you're using jQuery, maybe try the [imagesloaded](https://github.com/desandro/imagesloaded) jquery plugin and only record again as soon as the image is ready.

[code]

I also noticed you call both retry and start, e.g.

[code]

but only one of them should be neccessary.

[2020-03-02 13:44] #439 closed

[2020-03-06 01:57] rdurish commented on #439
@thijstriemstra just FYI your proposed solutions didn't work for me.  I needed to have retry snapshop and start in order for a picture to be taken (any device for my example of auto taking pictures).  For this to work on the iphone I had to not HIDE the image grabber but move it off screen.  Once I did that everything worked.  I updated my example on dropbox if you care to see.  Thanks for your he

[2020-03-06 01:59] rdurish commented on #438
@thijstriemstra any updates on this, I'm running into this issue as well.

[2020-03-06 13:38] thijstriemstra commented on #438
no not yet, will try to look at it on the weekend.

[2020-03-08 04:39] StevenPMX commented on #405
I need to mention that for Vue it needs a few changes. First, you need to import the Microphone plugin:
`import Microphone from 'wavesurfer.js/dist/plugin/wavesurfer.microphone.min.js'`

Then instead of WaveSurfer.microphone.create it must be
`Microphone.create`

I don't know why this is not in the documentation, without this it does not work on Vue.

[2020-03-20 10:33] ganyuehn opened #451 "Record browser tab in Chrome macOS does not work"
## Description
When I record a chrome tab, the record blob is 0 in size, thus playback fails. It records normally if I choose current chrome tab as target though.
It happened with the example also, both screen-audio and screen-only. I record the bug here:
https://drive.google.com/open?id=1Tu0KQ0BrMC6VhK8g1LK71AuKyv0rihkt

## Steps to reproduce
1. In "Share your screen" permission modal, choose Chr

[2020-03-21 12:08] danyalUb commented on #420
Hi @thijstriemstra. Did you find some time to look into this?

P.S: I know its not easy to maintain open source projects and cater all new requests. Please let me know if I can be of any help. Also if you can guide me in the right direction so I can try to do it myself. Thanks :)

[2020-03-21 12:58] thijstriemstra commented on #420
@danyalUb can you find a simple webrtc server, preferrably node.js based, that shows how to stream one video stream to another machine?

[2020-03-21 13:01] danyalUb commented on #420
Sure thing. I'll look into it. Thanks

[2020-03-21 13:14] danyalUb commented on #420
[https://github.com/priologic/easyrtc](this one) looks interesting. I'm sorry if this is not what we are looking for.

[2020-03-22 11:27] thijstriemstra commented on #420
if you can show an example that connects to a video stream, please share here.

[2020-03-22 12:51] danyalUb commented on #420
Alright. I am looking into this now. I'll share as soon as I find something.

[2020-03-23 23:55] ignl opened #452 "Play button don't work for video.js videos when record plugin is not used"
## Steps to reproduce
Import video.js and videojs-record like this:
[code]
Run video.js without record plugin on some video.
Play button doesn't work for that video.

If video.js record plugin is used somewhere in the code - video.js play button works normally.
This is most likely related to this PR: https://github.com/collab-project/videojs-record/pull/442
3.9.0 version doesn't have this issue.

[2020-03-26 03:28] rdurish commented on #438
@thijstriemstra anything I can do to help?  Is there some settings I can set in my project that will make this work?

[2020-03-26 14:45] thijstriemstra commented on #438
try to figure out what the difference is between our implementation and https://www.webrtc-experiment.com/RecordRTC/simple-demos/audio-recording.html

[2020-03-29 13:53] HenSei opened #453 "Webm plugin not working in combination with vue / webpack"
Hey,

first of all thank you very much for providing such an easy recorder for video-js player.
I'm using it and it works great! Since I also want to use recording functionality in the browser of mobile devices I wanted to use the webm-wasm plugin.

I'm using it in a vue project with webpack. I have implemented like described in the example but somehow it is not working for me I always get the fol

[2020-03-29 20:40] thijstriemstra commented on #453
can you show the video.js config and plugin imports?

[2020-03-30 09:36] HenSei commented on #453
Hey @thijstriemstra!
Thank you for your fast response.
Actually I tried both ways, web-worker.js & webm-wasm.wasm available in node_modules and in project's public folder but both versions are not working.

My video.js config looks like this:

<img width="724" alt="image" src="https://user-images.githubusercontent.com/8431183/77897210-a8fd4000-7279-11ea-96c6-1b661c0b458b.png">

The files are avail

[2020-03-30 10:09] HenSei commented on #453
I just could fix the problem. It was the wrong import order when I put videojs RecordRTC and Record to the first place it is working ;-)

Is there also the possibility to combine webm recording with audio?

[2020-03-30 10:24] thijstriemstra commented on #453
Recording audio+video will record into webm format in most browsers.

[2020-03-30 10:24] thijstriemstra commented on #453
Could you attach a screenshot or code sample to show what fixed it so it could possibly help others?

[2020-03-30 10:39] HenSei commented on #453
Sure, I just changed the order of the imports to the following:

<img width="491" alt="image" src="https://user-images.githubusercontent.com/8431183/77903454-2da08c00-7283-11ea-902c-c89a5e3b3906.png">

So first import videojs, RecordRTC and Record and then do the other imports.

Maybe one last question at the end what experience do you have with recording on mobile devices what would you suggest i

[2020-03-31 16:10] 7Ds7 opened #454 "yet another Uncaught Error: plugin "record" does not exist"
## Description
I have been trying to setup videojs-record on a rails setup with rails webpacker and always run into the error ```Uncaught Error: plugin "record" does not exist```
I went trough the related closed issues and that did not solved the problem, hence i am here requesting some input on how to solve it

## Steps to reproduce
So without being very familiar with codesandbox i managed to set

[2020-04-01 19:06] 7Ds7 commented on #454
After some attempts i think the problem might be the latest version of videojs [v7.7.6](https://github.com/videojs/video.js/releases/tag/v7.7.6) because it does seem to work with [v.7.7.5](https://github.com/videojs/video.js/releases/tag/v7.7.5)

[2020-04-01 19:19] thijstriemstra commented on #454
Interesting. I'll give it a try.

[2020-04-01 19:30] erikkrantzkb commented on #178
It looks like Edge supports MediaRecorder now. I do not have the possibility to test it though.
https://caniuse.com/#feat=mediarecorder

[2020-04-01 19:54] thijstriemstra commented on #454
`npm install videojs-record` installs video.js 7.7.5 so this is basically working. If it breaks with 7.7.6 (pre-release for now) and that is actually released, I'll reopen this.

[2020-04-01 19:54] #454 closed

[2020-04-05 12:20] tomhatzer commented on #450
`displaySurface` would be the option that let's you define the available sources.

Though it's pretty much useless as it doesn't limit the resources the user can select: https://stackoverflow.com/questions/56891971/displaysurface-constraint-not-restricting-user-share-screen-selection-options

Demo:
https://www.webrtc-experiment.com/getDisplayMedia/

[2020-04-05 15:13] lossen opened #455 "[question] How to change icon in button?"
## Description
I want to change the icons on the button on my own icons.
How can I do it? Have you any option to do that? Or I need to do it via CSS?
I am using videojs-record with React.js.

![Screenshot 2020-04-05 at 21 09 26](https://user-images.githubusercontent.com/14949813/78502223-cd798080-7781-11ea-8c15-56cd1161774f.png)

"react": "^16.8.6",
"videojs-record": "^3.11.0"

Any help will be ap

[2020-04-05 15:40] #450 closed

[2020-04-05 15:41] thijstriemstra commented on #455
@lossen take a look at instructions on https://github.com/collab-project/videojs-record/tree/master/src/fonts

[2020-04-06 10:56] lossen commented on #455
@thijstriemstra thanks for the quick answer. In the instructions using grunt, how can I use it with without grunt in React?
If I understood correctly for using custom icons I need to fork videojs-record, make changes and use this. Did I get it right?

[2020-04-06 13:07] thijstriemstra commented on #455
No you simply update the custom videojs-record fonts by checking out the videojs/font repository and adjusting the json file so it can uses your custom icons. Simply follow the instructions and it should be clear: https://github.com/collab-project/videojs-record/tree/master/src/fonts#setup

[2020-04-06 13:45] lossen commented on #455
Ok, I understood. But if reinstall project, all node modules including videojs-record will install again. And videojs-record will not have my changes in icons, right?

[2020-04-06 13:47] thijstriemstra commented on #455
True. You need to store these new fonts in some static directory, and treat them like fonts that do not get generated/compiled when you run npm install in your project.

[2020-04-06 14:28] lossen commented on #455
Ok. Thanks for the explanations. But this way not comfortable for me. I will do it via CSS.
Anyways, thanks so much for your time and help!

[2020-04-07 09:22] thijstriemstra commented on #455
Sounds good. Please share the solution you end up with here so others can possibly use it as well.

[2020-04-07 09:53] lossen commented on #455
Sure.

![Screenshot 2020-04-07 at 15 41 09](https://user-images.githubusercontent.com/14949813/78654407-4691e880-78e6-11ea-986a-f9c94501bed8.png)

[code]

[2020-04-07 10:36] thijstriemstra commented on #455
thanks!

[2020-04-07 10:36] #455 closed

[2020-04-12 23:44] Franchescote opened #456 "Downloaded in mp4 not in webm"
Hi, I need you to please help me with a topic.
I need the recorded video to be downloaded in mp4 not in webm, we try to follow the steps https://github.com/collab-project/videojs-record/wiki/Plugins#ffmpegjs but when you want to install the packages it gives me this error and not I know how to fix it.

![temp](https://user-images.githubusercontent.com/305679/79147168-d098f000-7dc3-11ea-8314-4a1c5c

[2020-04-13 18:20] thijstriemstra commented on #456
I would first setup the ffmpeg.js example on your server: https://github.com/collab-project/videojs-record/blob/master/examples/plugins/audio-only-ffmpegjs.html

Once you have that working, let me know if you still see these errors.

[2020-04-13 18:22] thijstriemstra commented on #452
Sorry for late reply. And that sucks to hear.

[2020-04-13 18:24] thijstriemstra commented on #452
@ignl can you revert these specific changes in latest master and test if that solves it? I guess it'll break #437 again but we'll have to find a different workaround for that.

[2020-04-13 18:41] thijstriemstra commented on #451
Sorry for late reply. Can you reproduce this https://collab-project.github.io/videojs-record/examples/screen-only.html @ganyuehn?

Tested with Chrome 80 (both normal and incognito mode) on macOS 10.15.4.

This is entire screen:

<img width="1180" alt="Screenshot 2020-04-13 at 20 36 09" src="https://user-images.githubusercontent.com/305679/79148904-92510000-7dc6-11ea-806f-789146870556.png">

Curren

[2020-04-13 18:43] thijstriemstra commented on #451
But testing with an empty tab (!) reproduces the issue:

<img width="1182" alt="Screenshot 2020-04-13 at 20 43 00" src="https://user-images.githubusercontent.com/305679/79149451-7b5edd80-7dc7-11ea-919b-24f7283b5dd5.png">

[2020-04-13 18:53] thijstriemstra commented on #451
I'm eager to call this a browser bug but I'll see if it can be reproduced without videojs-record.

[2020-04-13 19:04] thijstriemstra commented on #451
I was able to record an empty tab using https://webrtc.github.io/samples/src/content/getusermedia/getdisplaymedia/

[2020-04-13 19:12] thijstriemstra commented on #451
I was also able to record it using videojs-record **but** with a 'workaround', move the mouse around in the new empty browser tab during recording and the blob size will not be 0 anymore.

<img width="1165" alt="Screenshot 2020-04-13 at 21 10 44" src="https://user-images.githubusercontent.com/305679/79151806-6c7a2a00-7dcb-11ea-9be6-a076619d6804.png">

[2020-04-13 22:40] #453 closed

[2020-04-13 23:02] imranswe commented on #428
I have somewhat similar issue. I am trying to switch between camera and screen capture. I dont want to record both at once but I want to switch from camera to screen capture and vice versa. Is there any methods to switch modes after the player is initialized?

`if(val == "webcam"){
	if(player !== undefined && player !== null){
		player.record().stopDevice();
		player.record().recordScreen = false;

[2020-04-14 10:06] thijstriemstra commented on #428
Try using `loadOptions(newOpts)` instead and pass in updated options. Also, without a full minimal example that reproduces the problem it's hard to say what's wrong. Also, please open a new ticket instead.

[2020-04-17 08:41] ganyuehn commented on #451
It seems that MediaRecorder will not start capturing record data from stream until it detects there's "movement" on the tab being recorded. I test with recording a still tab and set up with `timeSlice` of 10 and there's no `dataavailable` event triggered. Until I start moving the cursor, a blob size of 1 will return from `dataavailable` event.
WebRTC example works because it starts recording as so

[2020-04-17 11:05] thijstriemstra commented on #451
Should this be considered a browser bug (since it's not an issue in firefox) and should a bug be filed for Chrome browser?

[2020-04-17 17:20] lwaterslisa opened #457 "Add Dynamic File Name"
How can I name the file name of the video a url parameter? I have a form where they video themselves and then it goes to the upload-video.php script page. It doesn't seem to pass the url parameter. Any help?

Here is the script:
[code]

[2020-04-17 17:55] thijstriemstra commented on #457
add these properties to the formdata:

[code]

I don't use php, but you should be able to access these properties there.

[2020-04-17 17:55] #457 closed

[2020-04-17 18:21] lwaterslisa commented on #457
Thanks. Where would I write in the $_GET['parameter']?
formData.append('media-filename', player.recordedData.video.name);

    On Friday, April 17, 2020, 01:56:01 PM EDT, Thijs Triemstra <notifications@github.com> wrote:

add these properties to the formdata:
var formData = new FormData();
formData.append('audiovideo', player.recordedData.video);

// file name
formData.append('media-filename', pla

[2020-04-18 00:30] lwaterslisa opened #458 "Change Filename Issue"
## Description
I am trying to name the filename of the uploaded video to the server the date_requestorFname_requestorLname. The requestor_fname and requestor_lname are url parameters. I have to launch this by Monday and I can't find the answer anywhere. :(

### Actual
With my current code, I can get it to name the filename with the date but, it doesn't include my dynamic url parameters.

Here is t

[2020-04-18 14:21] ignl commented on #452
I am using 3.9.0 version for now. I can try next week hopefully.

[2020-04-18 16:58] thijstriemstra commented on #458
try stackoverflow, this is not a php support forum.

[2020-04-18 16:58] #458 closed

[2020-04-19 17:25] numerized commented on #438
Hello here, I was having issue when I access the stream to display a waveform too on other libs.
I would love to have waveform audio displayed on IOS too, any news guys ?

[2020-04-20 14:57] lwaterslisa opened #459 "Video Recorder doesn't work on mobile devices"
## Description
I have the video recorder working fine on desktop but, it won't record on phones.

I can click on the middle icon and it asks to use my camera. Then the camera launches and it just shows a still show with no options to record. Any help would be appreciated.

[2020-04-20 15:18] thijstriemstra commented on #459
you have to be more specific. And always include browser version, videojs-record version and your videojs-record config.

[2020-04-20 15:26] lwaterslisa commented on #459
Videojs-record: version 2.4.1. I am trying it on a IPhone with 13.2 installed.

Here is my code:

`<script>
var player = videojs("myVideo", {
    controls: true,
    width: 320,
    height: 240,
    fluid: true,
    plugins: {
        record: {
            audio: true,
            video: true,
            maxLength: 180,
            debug: true
        }
    }
}, function(){

    // print version

[2020-04-20 15:29] lwaterslisa commented on #459
I am using Safari on my phone.

[2020-04-20 17:34] thijstriemstra commented on #459
Don't worry, I don't care about the urgency :)

Marking as a duplicate of #332

[2020-04-20 17:34] #459 closed

[2020-04-22 04:28] Alakar-Nallavan opened #460 "Nuxt.js plugin "record" does not exist"
## Description
Briefly describe the issue.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.

## Results
### Expected
I trying to add just video rendering in my web cam through Nuxt.js

### Actual
There is some difficulties on importing your Project.

I follow some steps in vue.js wiki
i try to change the thing is
in nuxt.config.js file
[code]

### Error ou

[2020-04-22 06:54] Alakar-Nallavan commented on #432
bro,can you share the files or git link ? because i have also face the same Error

[2020-04-23 15:59] frontr-uk opened #461 "saving and playing the fetched file from s3"
I am saving the file directly in s3, than fetching I get

------WebKitFormBoundaryeCQv7fgn8RKZbRu5
Content-Disposition: form-data; name="file"; filename="1587655663144.x-matroska"
Content-Type: video/x-matroska;codecs=avc1,opus

What is a blob as I understand, How do I render the video - play it for the user?

[2020-04-24 07:43] liht1996 opened #462 "Can I use it in background?"
I would like to setup a page to record video automatically and save it when click a button. Can I make it?

[2020-04-25 09:23] AdnanAwan124 commented on #299
@thijstriemstra could you please create a demo working application of screen recording using videojs-record with angular 8 (or any latest version) on StackBlitx?

[2020-04-25 09:53] thijstriemstra commented on #299
@AdnanAwan124 you sound like insane with a request like that. You paying me? Why would I spent my saturday doing that for some random person? Unbelievable.

[2020-04-26 17:06] jbarmanet opened #463 "Audio+screen: incomplete permissions do not fire error"
When we use the plugin to record Screen+Audio, the user is asked to give permission to share his screen, then a second permission to share his microphone.

If you accept the first permission, but you deny the second microphone permission (lets say you missed the button), we end up into the blue because nothing happens: no error nor deviceReady… it looks like it's just waiting… for nothing.

It hap

[2020-04-27 14:25] thijstriemstra commented on #463
I'm not sure. I doubt it though.

[2020-04-27 21:12] malthejorgensen opened #464 "Filename extension is `.x-matroska` instead of `.mkv`"
## Description
It seems that Chrome 81 has started reporting the mimetype of recorded videos as `video/x-matroska` instead of the previous `video/webm`. This breaks the filename-generation code in videojs-record:

https://github.com/collab-project/videojs-record/blob/1130ed42f8cf927245270c3ed4dcc87a267a0470/src/js/utils/file-util.js#L90

The file extension becomes `x-matroska` which can't be playe

[2020-04-28 05:09] pwob commented on #464
This is not actually a bug as stated here https://bugs.chromium.org/p/chromium/issues/detail?id=1070856#c4

This happends because according to this [table](https://www.webrtc-experiment.com/RecordRTC/simple-demos/isTypeSupported.html) `video/webm;codecs=h264` is not really supported in Chrome.

To overcome this issue you should explicitly set `video/webm;codecs=vp8,opus` as codec,audio mimetype.

[2020-04-28 05:32] malthejorgensen commented on #464
That makes sense – but wouldn’t you say the file extension generated by `videojs-record` is still wrong?

[2020-04-30 12:18] theandrein commented on #464
where can I set this? video/webm;codecs=vp8,opus

thank you very much!

[2020-05-03 16:58] rexcheng1997 opened #465 "VIDEOJS: ERROR: TypeError: Cannot set property 'textContent' of null"
## Description
This issue didn't happen when I was using `video.js@7.6.6`. After I upgraded `video.js` to version **7.7.5**, which is the newest version, the error in the title occurred. It doesn't affect the main functionality of the recorder component but affects the time display in the control bar.

## Error output
`VIDEOJS: ERROR: TypeError: Cannot set property 'textContent' of null`
`    at R

[2020-05-07 10:50] engr-zeeshan opened #466 "Videojs Record not accessing camera/microphone or Share Screen if website running on AWS EC2 & Azure VM"
## Description
The web page has the capability of using videojs record for screen recording and webcam video recording. It is working fine on localhost and on shared hosting. But I have deployed website on AWS EC2 and Azure VM for testing and videojs record is not working there. As per my understanding it is all javascript and should be working on browsers where ever the site is hosted.

Any clue?

[2020-05-07 16:50] poojas17 opened #467 "Videojs-record in Angular 6 without Webpack"
I'm trying to integrate videojs-record in Angular 6 (without webpack). Older version of videojs-record is intentionally used because it doesn't have webpack. Please suggest if latest version can be used without webpack config or if there's any documentation to add videojs-record without webpack.

Command to build the app: ng build
Command to start the app: ng serve

Please find the versions of the

[2020-05-07 17:09] #466 closed

[2020-05-07 19:54] dankleying commented on #464
Note if you are uploading videos to S3 using a signedurl.  Set the codec as` video/webm;codecs=vp8,opus` will add `;codecs=vp8,opus` to the file type. Make sure in your signing api append  `codecs=vp8,opus ` to your `content-type` otherwise you get a 403 forbidden error.

[2020-05-08 10:40] freedytag opened #468 "Handle for device permission before start record"
## Description
When starting the record, better add a handle for device permission is author not.

## Steps to reproduce
For audio-only case, when I click start record middle button.
And press the record, and then stop record.
Now it was finished record audio success.
Now If I cancel the permission from browser address bar(Firefox)
(That is also same as video case if the user warry the personal pr

[2020-05-08 18:04] thijstriemstra commented on #466
You need to serve application with https.

[2020-05-08 18:06] thijstriemstra commented on #462
You can do this only after user gave permission to use webcam and/or microphone (at least once). If the user saves this option in the browser, next time you can start the recording automatically (without user having to give permissions again).

[2020-05-08 18:06] #462 closed

[2020-05-08 18:09] thijstriemstra commented on #460
Where do you import videojs-record? Take a look at https://github.com/collab-project/videojs-record/wiki/Webpack for import examples.

[2020-05-08 18:10] thijstriemstra commented on #465
thanks for the detailed report, I'll take a look.

[2020-05-08 18:13] thijstriemstra commented on #467
That version is so old, it's not supported anymore. I can't help with Angular issues, only reference I have for you is: https://github.com/collab-project/videojs-record/wiki/Angular

[2020-05-08 18:13] #467 closed

[2020-05-08 18:14] thijstriemstra commented on #461
You can playback the clip in a separate video.js player and load the blob there.

[2020-05-08 18:14] #461 closed

[2020-05-08 18:19] thijstriemstra commented on #464
An option to overrule the file extension, no matter what the codec is, would solve this I guess?

[2020-05-08 18:24] thijstriemstra commented on #468
Your question looks similar to this: https://stackoverflow.com/questions/15993581/reprompt-for-permissions-with-getusermedia-after-initial-denial

Apparently Chrome provides a [Permissions API](https://developer.mozilla.org/en-US/docs/Web/API/Permissions_API) that allows you to query device permissions:

[code]

And this should be called before getUserMedia is called. Can you try this permissions

[2020-05-08 18:25] thijstriemstra commented on #463
Also see #468 that might over a solution here.

[2020-05-08 18:25] thijstriemstra commented on #456
no feedback, closing.

[2020-05-08 18:25] #456 closed

[2020-05-09 12:48] poojas17 commented on #467
The latest version used in the documentation doesn't work with Angular 6

[2020-05-11 02:40] freedytag commented on #468
The currrent flow I used is
When the "finishRecord" event.
player.recard().stopDevice();

For prevent the end user think their micophone was still get recording

And user click play to play back the recorded audio to check is ok to submit

If the recorded audio was not good, the end user may use the "⬤" to record again. I this case I try

navigator.mediaDevices.getUserMedia  in the "startRecord" e

[2020-05-11 20:42] engr-zeeshan opened #469 "saved video has mime type video/x-matroska"
## Description
Even with videoMimeType: "video/webm;codecs=H264" , I am getting video/x-matroska as mime-type of saved video and video has unknown duration due to which it does not has seekbar.

## Additional Information
` "myVideo", {
                controls: true,
                fluid: false,
                width: videoWidth,
                height: videoHeight,
                plugins: {

[2020-05-11 20:57] thijstriemstra commented on #469
Known issue at this point. Not marking it as a duplicate of #464 because that enhancement should fix this bug.

[2020-05-12 01:18] engr-zeeshan commented on #469
@thijstriemstra any idea how have they implemented? video saved by this plugin has known duration and also correct mime-type

[2020-05-13 18:16] thijstriemstra commented on #465
Tested with video.js 7.7.6 and webpack and was able to reproduce this.

![Screenshot from 2020-05-13 20-15-50](https://user-images.githubusercontent.com/305679/81849263-95224a80-9556-11ea-9e16-ba7f7845f815.png)

[2020-05-14 03:52] vitor251093 opened #470 "[README.md] videoMimeType's description URL is broken"
## Description
The URL in videoMimeType's description is the one below:
https://cs.chromium.org/chromium/src/third_party/WebKit/LayoutTests/fast/mediarecorder/MediaRecorder-isTypeSupported.html

But it's broken. It should be, instead:
https://cs.chromium.org/chromium/src/third_party/blink/web_tests/fast/mediarecorder/MediaRecorder-isTypeSupported.html

[2020-05-14 12:11] thijstriemstra commented on #470
thanks for letting me know @vitor251093, I'll get it fixed.

[2020-05-14 12:14] #470 closed

[2020-05-14 13:18] vora1993 opened #471 "Audio only implementation have stopped working"
## Description
Audio only implementation is not working anymore

## Steps to reproduce
Go to the following link and try to record audio:
https://collab-project.github.io/videojs-record/examples/audio-only.html

## Results
### Expected
Recorder should have recorded audio

### Actual
Recorder is not recording audio and there is some error in console

### Error output
![image](https://user-images.git

[2020-05-14 13:30] thijstriemstra commented on #471
Ah yea, it's using videojs-wavesurfer 3.0.3 and that is not supported by videojs-record yet. I will pin videojs-wavesurfer to 2.11.0 on the website until then.

Thanks for the report.

[2020-05-14 13:33] vora1993 commented on #471
So it has stopped working for me locally too...What exact change should I do to make it work again?

[2020-05-14 13:33] thijstriemstra commented on #471
`npm install --save videojs-wavesurfer@2.11.0`

[2020-05-14 13:35] thijstriemstra commented on #471
Installing videojs-record should not install v3.0.3 of videojs-wavesurfer, not sure how you ended up with a local videojs-wavesurfer v3.0.3.

[2020-05-14 13:41] thijstriemstra commented on #471
If you clear browser cache and reload https://collab-project.github.io/videojs-record/examples/audio-only.html it should work again. Will now update the other audio-related examples.

[2020-05-14 13:41] #471 closed

[2020-05-14 13:47] vora1993 commented on #471
@thijstriemstra thanks for all your help...Actually I was using CDN.
I have also now pinned it to 2.11.0 which solved my issue

[2020-05-14 13:51] thijstriemstra commented on #471
I will add a note to the readme as well.

[2020-05-15 14:59] thijstriemstra commented on #220
I don't have time to focus on this, closing ticket. If anyone is interested, open a pull request or let me know here.

[2020-05-15 14:59] #220 closed

[2020-05-15 15:06] thijstriemstra commented on #23
videojs-wavesurfer supports the progress bar since v3.0.0 so implementing this in videojs-record should be a lot easier now.

[2020-05-15 15:09] thijstriemstra commented on #373
Closing this ticket for now. Please re-open, or open a pull request, if there is more news.

[2020-05-15 15:09] #373 closed

[2020-05-15 15:44] thijstriemstra commented on #405
It's because the documentation uses a video-only example with vue.js.

But I added them (commented out) to the guide in https://github.com/collab-project/videojs-record/commit/fa3f8d42b049d85d1aba7ebabfbcf4726db44ccb, see https://collab-project.github.io/videojs-record/#/frameworks/vue?id=application for update.

[2020-05-15 18:17] #465 closed

[2020-05-16 15:57] #430 closed

[2020-05-18 09:26] pratibha31 opened #475 "Video is not playing in preview, after recording is complete"
## Description
After recording when I am playing video in preview it is not playing.

## Additional Information
Below is recorded video details
finished recording:
             {video: Blob}
                video: Blob
                lastModified: 1589793636945
                lastModifiedDate: Mon May 18 2020 14:50:36 GMT+0530 (India Standard Time) {}
                name: "1589793636945.x-matro

[2020-05-18 17:43] markmorris opened #476 "Unexpected character '@' Windows 10"
## Description
when using npm run build, i get the following error.
[code]

## Steps to reproduce
Fresh Pull from git, npm install, npm run build. Thats as far as i get.

NOTE: I am able to fully build the source when i comment out everything in videojs.record.scss. Like below
[code]

## Additional Information
### versions
#### videojs
3.11.0
#### OSes
Windows

[2020-05-18 17:47] thijstriemstra commented on #476
that's weird.. I'll take a look..

[2020-05-18 17:52] markmorris commented on #476
Thank you, i have updated the first post with more info. I was able to build ok when commenting out videojs.record.scss.

[2020-05-18 18:09] thijstriemstra commented on #476
looks like the scss installation didn't go well on your end, can you double check the npm installation output message?

[2020-05-18 18:10] markmorris commented on #476
Sure ill try again on a clean slate.

[2020-05-18 18:18] markmorris commented on #476
So print out of npm install

[code]

Still doesnt build.

[2020-05-18 18:27] thijstriemstra commented on #476
appveyor seems to have no issues building it: https://ci.appveyor.com/project/thijstriemstra/videojs-record/builds/32920364?fullLog=true

although that's windows 8.1 (?)

[2020-05-18 18:48] markmorris commented on #476
Yeah, I just got my friend to build it on his Windows 10 PC. Worked perfectly. He was using node 12. Im currently on Node 10. Thats the only difference i can see. Im putting this down to something my end then i guess. Because the code looks good.

[2020-05-18 19:01] #476 closed

[2020-05-18 23:43] thijstriemstra commented on #469
what operating system does this happen on? what version of chrome?

[2020-05-18 23:43] thijstriemstra commented on #475
what operating system does this happen on? what version of chrome?

What does your videojs-record config look like?

[2020-05-18 23:46] thijstriemstra commented on #464
@theandrein use the `videoMimeType` videojs-record option.

[2020-05-18 23:49] thijstriemstra commented on #464
I haven't been able to reproduce this on Ubuntu 18 with Chrome 81 or 83..

it's still using vp8/opus afaik with a default `videoMimeType` of `'video/webm'`:

[code]

According to #475 it's now also happening on Windows..

[2020-05-19 00:17] engr-zeeshan commented on #469
@thijstriemstra
**Chrome Version**
81.0.4044.138 (Official Build) (64-bit)
**OS**
Windows 10

[2020-05-19 00:35] thijstriemstra commented on #464
Including some sort of registry in videojs-record doesn't sound like a horrible idea; there are only a couple of supported recorder mime types and it hardly ever changes.

something like this:

[code]

produces:

[code]

so `video/x-matroska;codecs=avc1,opus` would export as an .mkv file starting from videojs-record v4.0.0.

I suppose the current default `videoMimeType` of `'video/webm'` doesn't m

[2020-05-19 00:38] thijstriemstra commented on #475
duplicate of #469

[2020-05-19 00:38] #475 closed

[2020-05-19 00:40] thijstriemstra commented on #469
Try using a supported codec for your browser. See https://www.webrtc-experiment.com/RecordRTC/simple-demos/isTypeSupported.html (`videoMimeType: 'video/webm;codecs=vp8'` for example).

[2020-05-19 00:41] thijstriemstra commented on #469
You should try the [ts-ebml](https://collab-project.github.io/videojs-record/#/plugins/ts-ebml) plugin to save the duration.

[2020-05-19 03:37] GuyMight44 opened #477 "Possible to Dynamically Handle If User Allows One/Denys Other? + Both Permissions At Once"
## Description

**Issue 1**
Let's say we have the [audio-screen.html](https://github.com/collab-project/videojs-record/blob/master/examples/audio-screen.html) example running. If the user allows screen capture but denies the microphone capture, the script fails. Is it not possible to just allow the screen capture then if the audio gets denied?

Issue 2:
In Firefox, after selecting which screen to

[2020-05-19 15:06] pratibha31 commented on #469
I changed videoMimetype to 'video/webm;codecs=vp8', still video is not playing in preview.

Version :  VIDEOJS: Using video.js 7.2.3 with videojs-record 2.4.1 and recordrtc 5.4.9
Operating System - Windows 10
Browser - Google Chrome Version 81.0.4044.138 (Official Build) (64-bit)
finished recording:
      {video: Blob}
      video: Blob
      lastModified: 1589900380493
      lastModifiedDate: Tue

[2020-05-19 15:19] thijstriemstra commented on #469
The fix for this is in this pull request: #474 Give that a try or wait for v4.0.0 release.

[2020-05-19 15:59] thijstriemstra commented on #452
@ignl can you give #474 a try, I added a `examples/multi.html` example and I can't reproduce this issue anymore.

[2020-05-19 17:57] thijstriemstra commented on #460
no feedback, closing.

[2020-05-19 17:57] #460 closed

[2020-05-19 18:07] thijstriemstra commented on #468
I misunderstood. I re-read your original report and was able to reproduce the "empty audio" situation. Will call this a bug instead of an enhancement.

[2020-05-19 18:17] thijstriemstra commented on #468
In Firefox (76 on Ubuntu 18) I see this error message:

[code]

In Chrome 81 it's not possible to revoke the permissions after allowing them (unless the page is reloaded).

[2020-05-19 18:21] thijstriemstra commented on #468
And flat out denying permissions at startup results in this error for Firefox 76:

![Screenshot from 2020-05-19 20-20-23](https://user-images.githubusercontent.com/305679/82363542-410fde00-9a0e-11ea-851f-e656660d6176.png)

And this error for Chrome 81:

![Screenshot from 2020-05-19 20-20-04](https://user-images.githubusercontent.com/305679/82363565-4a00af80-9a0e-11ea-9485-e1449edeb188.png)

So tha

[2020-05-19 19:31] thijstriemstra commented on #464
If you want a fix for this now, try pull request #474. Or wait until v4.0.0 is released.

[2020-05-19 19:54] thijstriemstra commented on #463
In Firefox 76, when I:

- give screen permissions
- deny microphone permissions

it throws this cryptic error:

[code]

![Screenshot from 2020-05-19 21-53-42](https://user-images.githubusercontent.com/305679/82371903-43c50000-9a1b-11ea-8279-84cc58c15ee5.png)

[2020-05-19 19:58] thijstriemstra commented on #477
This is same issue as #463

I think this is a browser issue and not something we can fix. Please open a ticket for the Firefox browser and/or look in their bugzilla.

This is definitely something you should open a new Firefox ticket for. I can't change the way their permissions system works.

So marking this as a duplicate of #463.

[2020-05-19 19:58] #477 closed

[2020-05-19 20:00] thijstriemstra commented on #413
I marked this is a bug but it's actually a browser issue. If someone has a good workaround for this, please let me know. I tried a few things but couldn't make the flickering go away.

[2020-05-19 20:14] thijstriemstra commented on #477
The focus issue is also discussed here: https://stackoverflow.com/questions/60172910/is-it-possible-to-tell-the-browser-not-to-focus-bring-to-front-the-selected-wi

[2020-05-19 20:36] thijstriemstra commented on #463
I added the missing error handler for the microphone in pull request #474, please give it a try or wait until v4.0.0 is released.

It should now give you a proper error. Fortunately in both Firefox and Chrome it's not even possible to make this window go away without clicking deny or accept:

![Screenshot from 2020-05-19 22-32-15](https://user-images.githubusercontent.com/305679/82375450-e59b1b80-

[2020-05-19 21:25] GuyMight44 opened #478 "[Question] Adding PiP into Firefox now its supported?"
According to Firefox, PiP is now supported: https://support.mozilla.org/en-US/kb/about-picture-picture-firefox

Will PiP be added for Firefox in 4.0?

[2020-05-19 21:26] thijstriemstra commented on #478
no Firefox doesn't support the API that Chrome uses. There is no API at all, just a blue button added to every video.

[2020-05-19 21:27] GuyMight44 commented on #477
Hi @thijstriemstra Wouldnt it be a better idea then to put the screen sharing permission after the microphone or other permissions? Making the screen-sharing permission last?

[2020-05-19 21:31] thijstriemstra commented on #477
that sounds like a good idea but I'm not sure because someone else added this feature and added a comment that "order matters".

[code]

Please open a new ticket and I'll take a look (for v4.1.0 or something).

[2020-05-19 23:01] #405 closed

[2020-05-19 23:01] #417 closed

[2020-05-19 23:01] #443 closed

[2020-05-19 23:01] #452 closed

[2020-05-19 23:01] #463 closed

[2020-05-19 23:01] #464 closed

[2020-05-19 23:01] #468 closed

[2020-05-19 23:01] #469 closed

[2020-05-19 23:33] #478 closed

[2020-05-19 23:36] thijstriemstra commented on #371
The mime-type detection in v4.0.0 has improved and if it's matroska, it will not use the `.webm` extension anymore (but `.mkv`). This should clear up the confusion, closing this ticket.

[2020-05-19 23:36] #371 closed

[2020-05-19 23:37] thijstriemstra commented on #376
It only fixed an import, related to this issue, but not fixing this issue.

[2020-05-20 07:58] freedytag opened #479 "Playback the recorded video in MacOS Safari was not working"
## Description
When use safari, it seem not able to playback the recorded video.

## Steps to reproduce
use the mac' safari to
https://collab-project.github.io/videojs-record/demo/audio-video.html
test record a video, and try play back the record video

## Results
### Expected
Allow to playback the recorded video like other browser

### Actual
it was playing the live video like doing recording...

[2020-05-20 08:18] freedytag commented on #479
PS: The MediaRecorder was enable. it was can show the live video screen.

[2020-05-20 11:39] FrostyJet commented on #413
For someone still struggling with this issue.
This chunk of code saved my life. This applies to the video itself.

.video-js .vjs-tech {
    -webkit-perspective: 1000;
}

[2020-05-20 18:23] engr-zeeshan commented on #469
Thanks for sharing this; i gave it a try but could not get required result

[2020-05-20 18:59] thijstriemstra commented on #469
v4.0 should have correct mime-type, e.g. file extension of .mkv, right?

[2020-05-20 19:00] abhinavsingh commented on #465
Reached here searching for this exact error.

<img width="739" alt="Screen Shot 2020-05-21 at 12 26 40 AM" src="https://user-images.githubusercontent.com/126065/82485973-d1771d00-9af9-11ea-8738-b0caa3fe2473.png">

`v7.8.1`

[2020-05-20 19:07] thijstriemstra commented on #465
@abhinavsingh what videojs-record version? I haven't tested with videojs 7.8.1, 7.7.6 should work.

[2020-05-20 19:14] abhinavsingh commented on #465
`videojs-record v3.11.0`

[2020-05-20 19:43] abhinavsingh commented on #465
Amazing thing is, I have camera integration in the app at two places.  At one place it worked fine for weeks.  I used similar integration strategy in another view today (totally independent of previous one), but I started receiving this error.

I'll give `v7.7.6` a try.

[2020-05-20 19:53] rexcheng1997 commented on #465
@abhinavsingh You are using the same version of `videojs-record` as mine, which causes the error. They fixed it in version **3.12.0**. Either try to upgrade `videojs-record` to v3.12.0 or downgrade `videojs` to v7.6.6.
Hope this helps.

[2020-05-20 19:58] abhinavsingh commented on #465
@rexcheng1997 where can I find 3.12.0? Per [changelog](https://github.com/collab-project/videojs-record/blob/master/CHANGES.md) it jumped from 3.11.0 to 4.0.0.  Am I missing something?

<img width="982" alt="Screen Shot 2020-05-21 at 1 27 34 AM" src="https://user-images.githubusercontent.com/126065/82491458-4d756300-9b02-11ea-873e-790adcb7b674.png">

[2020-05-20 20:12] thijstriemstra commented on #465
@rexcheng1997 means 4.0.0, 3.12.0 doesn't exist. And yea stick to videojs 7.7.6 until i get a chance to test 7.8.1

[2020-05-21 06:18] FrostyJet commented on #370
So I didn't find any combination of options to make this work on fronted.
I solved the problem on server side, sending also the device OS, and rotating the video for IOS devices using ffmpeg.

ffmpeg -i myVideo.mp4 -vf "scale=960:720,transpose=1" myVideoRotated.mp4

"transpose=1" means it will rotate 90 deg (one time) clockwise.

[2020-05-21 16:50] fosteman opened #480 "Angular 9: can't resove 'videojs'"
## Description
Module is not found on initialization of an Angular project.

## Steps to reproduce
Installed on Angular 9 with custom webpack config project.

webpack.partial.js
[code]

Successful Angular compilation is expected

But naturally error occurs, interrupting compilation.
[code]

## Additional Information
Running `node v12.13.0`, `Mac os Catalina`
`"@types/video.js": "^7.3.9"`
`"video.j

[2020-05-21 18:50] thijstriemstra commented on #480
I can only point you to https://collab-project.github.io/videojs-record/#/frameworks/angular?id=configuration

Are you sure your config is executed? Try a non-videojs-record example, only video.js: https://github.com/videojs/video.js/blob/master/docs/guides/angular.md

[2020-05-21 22:21] thijstriemstra commented on #479
I was able to reproduce this issue. A file was created though:

[code]

Will take a look at it at some point.

[2020-05-22 14:14] fosteman commented on #480
@thijstriemstra fool-proofed webpack config, same error.
As I looked into it further, **solution** came to me:
`-record` module `require`s `video.js` as a dependency. Error occurs on this enquiry between modules. Naturally, I'd move a copy of `video.js/dist/video.js` over to `videojs-record/dist/videojs`, and change the `require` statement paths to `./videojs` instead of `videojs`.

The reason for

[2020-05-22 15:01] thijstriemstra commented on #480
Angular gives me a headache (most of these frameworks do). Maybe start at the basis with the webpack guide: https://collab-project.github.io/videojs-record/#/frameworks/webpack And see what's different between webpack configs. Thanks for investigating this!

[2020-05-22 15:05] thijstriemstra commented on #480
also, you never mentioned if you tried the [angular guide](https://github.com/videojs/video.js/blob/master/docs/guides/angular.md) or not? Does that work for you?

[2020-05-23 15:10] finnscho commented on #353
Hi, I have the same problems using safari and chrome on ios. I ported my web app via cordoba to ios and this doesn't work as well. Is there any solution to this?
Thank you & best regards

[2020-05-24 10:50] thijstriemstra commented on #353
Please read the info in this ticket before commenting. Star https://bugs.chromium.org/p/chromium/issues/detail?id=752458 if you want to let them know this is an important feature.

[2020-05-25 08:27] freedytag opened #481 "ffmpeg.js plugin: record video+audio fails"
## Description
So far If I want record video+audio, it seem need use the RecordRTC?
If use other plugin such as "webm-wasm" it seem will only record video without sound.
So I want to try use some converter, such as ffmpeg.js with RecordRTC?
But seem not luck with many config I try.
Do you mind provide a example for convert to mp4 (Video+Audio) with common codec such as h264?

## Steps to reproduce

[2020-05-25 11:26] thijstriemstra commented on #481
can you make a screenshot of the error in the console? the error is not very descriptive as is.

[2020-05-25 11:35] freedytag commented on #481
<img width="474" alt="Screenshot 2020-05-25 at 7 33 05 PM" src="https://user-images.githubusercontent.com/65017590/82809448-b2dca180-9ebe-11ea-8eb2-c8e177748870.png">

I think you can use
https://collab-project.github.io/videojs-record/demo/audio-only-ffmpegjs.html
and change the plugin option to

	plugins: {
		record: {
			audio: true,
			video: true,
			maxLength: 30,
			debug: true,
			displayM

[2020-05-25 12:01] thijstriemstra commented on #481
Tested recording audio + video with these ffmpeg settings:

[code]

And it produced and MP3:

[code]

Using your settings:

[code]

produces an unhandled exception:

<img width="525" alt="Screenshot 2020-05-25 at 13 59 37" src="https://user-images.githubusercontent.com/305679/82810976-02f03f80-9e90-11ea-89f5-f2079158f5f5.png">

That ffmpeg.js error, whatever it is, should be handled properly so ma

[2020-05-25 12:13] thijstriemstra commented on #481
I opened https://github.com/Kagami/ffmpeg.js/issues/111 for that unhandled error.

[2020-05-25 12:21] thijstriemstra commented on #481
see pull request #481 that improves error handling, revealing another ffmpeg.js error (something with `OOM`).

[2020-05-25 12:30] freedytag commented on #481
I was using unpkg.com, so that may need next pkg version?
//unpkg.com/videojs-record/dist/plugins/videojs.record.ffmpegjs.min.js

[2020-05-25 12:32] thijstriemstra commented on #481
build from source using these instructions: https://collab-project.github.io/videojs-record/#/development

[2020-05-25 12:37] freedytag commented on #481
ok. thanks your fast response, will chcek it tmr. I will need work off soon XD

[2020-05-25 13:41] fosteman commented on #480
In the process of checking the guide you're mentioning.
Latest news are that `video.js`, `videojs-record`, and other modules load correctly. It even successfully renders a `<video/>` element.
Then crash occurs if video-instance is initialized with `record` plugin configured
[code]

[2020-05-25 14:01] thijstriemstra commented on #480
What kind of crash? Screenshot/log?

[2020-05-25 14:44] grigull opened #483 "Support for setFormatTime"
After upgrading 3.10.0 to 4.0.0 I noticed that the default time stamps when recording are now formatted to 05:00 as apposed to 5:00. Is there any way to be able to customize the format similar to how videojs does so with the setFormatTime function.

[2020-05-25 15:08] thijstriemstra commented on #483
Not yet. Pull requests welcome.

[2020-05-25 15:19] fosteman commented on #480
Regarding the 'How to load `video.js@7.7.6` and `videojs-record@4.0.0`,

`node_modules/videojs-record/` - Module folder
<img width="190" alt="Screen Shot 2020-05-25 at 11 17 29 AM" src="https://user-images.githubusercontent.com/32850517/82825483-53a86e00-9e79-11ea-8092-8cbe7ed77140.png">

`node_modules/videojs-record/dist/videojs-record.js` looks like this
<img width="811" alt="Screen Shot 2020-05

[2020-05-25 15:20] fosteman commented on #480
![Uploading Screen Shot 2020-05-25 at 11.20.48 AM.png…]()

[2020-05-25 15:22] fosteman commented on #480
<img width="662" alt="Screen Shot 2020-05-25 at 11 21 25 AM" src="https://user-images.githubusercontent.com/32850517/82825793-dfba9580-9e79-11ea-9174-586307cafa17.png">

[2020-05-25 16:31] thijstriemstra commented on #480
The angular guide provides a working setup, you should compare it to your angular project and spot the webpack config differences. There is no need to modify the videojs-record.js source file and change the imports. The webpack config is there so you don't have to modify the source and do the lib routing in webpack by using the ProvidePlugin, resolve, alias etc.

[2020-05-25 16:46] thijstriemstra commented on #481
And: https://github.com/Kagami/ffmpeg.js/issues/111#issuecomment-633624593

[2020-05-25 20:33] fosteman commented on #480
Following these guidelines end up with this
<img width="587" alt="Screen Shot 2020-05-25 at 4 32 51 PM" src="https://user-images.githubusercontent.com/32850517/82841804-633dac00-9ea5-11ea-9fbe-92c4301f31eb.png">

[2020-05-25 23:31] thijstriemstra commented on #480
I tested the angular guide just now and everything worked fine: https://collab-project.github.io/videojs-record/#/frameworks/angular?id=configuration

[2020-05-25 23:31] #480 closed

[2020-05-26 08:26] freedytag commented on #481
I can rebuilt ffmpeg.js worker from their source.
But when I try to build videojs-record, it was throw error when npm install in the folder.

<img width="1013" alt="Screenshot 2020-05-26 at 4 22 47 PM" src="https://user-images.githubusercontent.com/65017590/82877728-250bbf80-9f6d-11ea-9759-0f17a72fb0fd.png">

[npm-debug.log](https://github.com/collab-project/videojs-record/files/4680829/npm-debug.

[2020-05-26 14:08] thijstriemstra commented on #481
you can also try installing an older version of ffmpeg.js from npm so you don't have to build it, maybe that'll work: https://www.npmjs.com/package/ffmpeg.js?activeTab=versions

[2020-05-27 00:31] freedytag commented on #481
For ffmpeg.js i am fine to build it. and able to get the final ffmpeg-worker-mp4.js

The above error was when I using the **npm intall** in the **video.js-record** folder.
Which follow from
https://collab-project.github.io/videojs-record/#/development

[2020-05-28 10:20] gauravggg21 commented on #250
This happened with me because there was no SSL on my website where I hosted. And if there is no SSL, chrome blocks the video part entierly. Put an SSL on your website and it will be solved.

[2020-05-31 10:27] ignl commented on #452
@thijstriemstra Hi, I tried and unfortunately version 4.0 still have the same problem. Only 3.9.0 is the one working for me in this scenario.

[2020-05-31 10:43] thijstriemstra commented on #452
@ignl I made https://collab-project.github.io/videojs-record/demo/multi.html for this. It's not working for you? Or is there a different issue?

[2020-05-31 10:57] ignl commented on #452
My scenario would be applying simple videojs on 'myPlayer' and removing/not applying videojs with record plugin on 'myRecorder'. I will try to modify your example to try to reproduce.

[2020-06-04 03:24] GuyMight44 opened #484 "How To Use Source, Compiled Instantly?"
Hi, so I am not sure if it is just me but I feel like the documentation. Or really just the 'Install' guide is very vague.

I am trying to download a copy for myself to use offline but I feel like I get the source precompiled. Looking at the examples in the folder, they all fetch from a CDN instead of an offline source which hurts understanding how this works.

When I am downloading a source and c

[2020-06-04 13:40] thijstriemstra commented on #484
The source is only pre-compiled when you download videojs-record using NPM, e.g. `npm install videojs-record`. It'll download the compiled files in place them in `node_modules/videojs-record/dist/`.

When you download the source zip file (or checkout using git) the source is not compiled and you have to do this yourself, see instructions at https://collab-project.github.io/videojs-record/#/develop

[2020-06-12 15:33] taylerz opened #485 "Timeslices in Safari 13"
## Description
Briefly describe the issue.

On Mac OS X, Chrome, Edge, and Firefox works with Timeslices. Safari, instead of timeslices, uploads one whole clip.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.

Record video with timeslice in player configuration.

     record: {
            maxLength: 900,
            debug: false,
            audio: false

[2020-06-14 03:39] Cicno opened #486 "Cannot disable PIP button"
Hi, I'm trying to set some options and it's not working. I've tried many things, but the options doesn't work, here is my code:

[code]

1- The video options to change set resolution of camera, is not changing anything
2- The pip true or false doesn't hide the button
3- The frame rate doesn't change if I put 1 or 200

I don't see any error at JavaScript, but the options are not working, these opti

[2020-06-14 08:49] mshahamirian commented on #353
I'm having the same problem in iOS Chrome and safari.

[2020-06-14 11:55] thijstriemstra commented on #353
it's a known browser issue, see my previous comment.

[2020-06-14 11:59] thijstriemstra commented on #486
Use constraints, see https://collab-project.github.io/videojs-record/#/media-constraints

You didn't include information about operating system, video.js version, browser version etc. Why not?

`videoFrameRate` option is only available when using the webm-wasm plugin.

[2020-06-15 04:11] Cicno commented on #486
It worked! Thank you!!!

ops, sorry. I'm using windows, the browser is chrome and opera. For firefox it's working

![image](https://user-images.githubusercontent.com/3309507/84617308-e0f14800-aea4-11ea-9956-b1165eb93ec7.png) - Opera

![image](https://user-images.githubusercontent.com/3309507/84617329-f49cae80-aea4-11ea-961c-ea1374487561.png) Chrome

![image](https://user-images.githubusercontent.c

[2020-06-15 12:54] thijstriemstra commented on #486
Not being able to disable pip is a bug, will look into it.

[2020-06-18 09:41] ledzgio commented on #332
Any update on this one? I am trying to record video + audio on iOS with Chrome and it doesn't work. Any suggestion?

[2020-06-18 11:56] thijstriemstra commented on #332
Do you see any updates? It's very bad form to add comments like this. Also, this ticket isn't about Chrome but Safari.

[2020-06-19 05:48] engr-zeeshan commented on #469
@thijstriemstra , I cannot find videojs-record-version.zip file for version4. I have been using .js file from dist folder of previous version. Could you please upload that ?

[2020-06-19 11:46] thijstriemstra commented on #469
@engr-zeeshan try https://registry.npmjs.org/videojs-record/-/videojs-record-4.0.0.tgz

[2020-06-20 21:15] VapiSoft opened #487 "Cannot compile in ReactJs"
After Install I get an error
Error: Can't resolve 'videojs' in 'C:\wamp64\www\mesibaba\node_modules\videojs-record\dist'
My code import lines are:
`import 'video.js/dist/video-js.min.css';
import videojs from 'video.js';
import 'videojs-record/dist/css/videojs.record.css';
import Record from 'videojs-record/dist/videojs.record.js';
`

[2020-06-20 21:20] thijstriemstra commented on #487
Please make sure webpack is configured properly. Follow this guide: https://collab-project.github.io/videojs-record/#/frameworks/react

[2020-06-20 21:22] thijstriemstra commented on #485
@taylerz can you try this RecordRTC demo in Safari and check if it works. If not, can you check the console and paste the output (or screenshot) here?

https://www.webrtc-experiment.com/RecordRTC/simple-demos/ondataavailable.html

[2020-06-20 23:25] VapiSoft commented on #487
It is vary strange to change the "scripts" section that worked up till now (and I am afraid that it will cause other changes).
But I tried it?
And I get the following error:
Error: Cannot find module 'C:\wamp64\www\mesibaba/config-overrides'

[2020-06-21 08:45] thijstriemstra commented on #487
@VapiSoft did you follow the guide and install react-app-rewired?

[code]

[2020-06-21 10:33] VapiSoft commented on #487
I did every thing, then it told me upgrade to wepack-server 8, and then it didn't want to compile because something was wron with the 'presets', and I couldn't solve it.
Isn't there a simple solution to make it find the videojs ?
When I change the packge.json so many things break!!!
I aleady spent too many hours trying to fix it.
So now I am trying to use "react-video-recorder".
It works, but but

[2020-06-21 14:22] thijstriemstra commented on #487
I am sorry to hear that. React is just not easy to customize, I hate that framework so can't help you. I know the guide shows how to create a working React application so either use that or find a different way to include video.js (and it's plugins).

[2020-06-21 14:32] VapiSoft commented on #487
You are very right, but it is still easier than trying to solve the
unresolve vidojs problem.
But thank you very much for you trying to help me.

Shlomo Aran
054-7399-340

On Sun, Jun 21, 2020 at 5:22 PM Thijs Triemstra <notifications@github.com>
wrote:

[2020-06-22 21:46] taylerz commented on #485
@thijstriemstra The page does not work for Safari.

A single blob is recorded, similarly to my videojs recorder code. Moreover, the header title just above the recorder does not update automatically like it does for Chrome. The header title, which reads at initialization: "ondataavailable | get Intervals based blobs using RecordRTC" remains the same throughout the recording. At end of recording, S

[2020-06-22 22:51] thijstriemstra commented on #485
Can you open a ticket there and link it here?

[2020-06-23 00:14] rdurish opened #488 "Wave Surfer4.0 breaks audio recording"
## Description
Wave Surfer 4.0 breaks audio recording

## Steps to reproduce
Run Current Example, it no longer works.

## Results
### Expected
The example should work.

### Actual
Audio is visually shown but can not record.

### Error output
TypeError: this._disabledEventEmissions is undefinedobserver.js:125:30

## Additional Information
Please include any additional information necessary here. In

[2020-06-23 12:02] thijstriemstra commented on #488
See https://github.com/katspaugh/wavesurfer.js/issues/1975 for related issue.

[2020-06-26 14:22] thijstriemstra commented on #488
Use wavesurfer.js v4.0.1 or newer instead.

[2020-06-26 14:22] #488 closed

[2020-06-29 15:41] Igor-Techsee commented on #332
@thijstriemstra It looks like on Mac+Safari WebAssemblyRecorder working without enabling MediaRecorder, but it still not working on iOS ... How can I configure WebAssemblyRecorder or WhammyRecorder in the plugin?

[2020-06-29 16:57] thijstriemstra commented on #332
Use the `videoRecorderType` option. See https://collab-project.github.io/videojs-record/#/options

[2020-06-29 17:46] cogdog commented on #332
My recordings via iOS Safari are still silent. I use this in a custom WordPress theme that incorporates Video.js to record audio. Start here

https://lab.cogdogblog.com/splotbox/share-it/

and pick Method of Sharing option to  "By Recording"

On iOS it seems to record, I get waveforms, but the saved mp3 is silent.

I added this option to [my scripts](https://lab.cogdogblog.com/splotbox/wp-content/

[2020-06-30 13:17] Zayn484 opened #489 "finishRecord event does not work on Safari"
Hello, I'm using videojs-record with react and its working fine on Chrome. I tried with Safari but it doesn't work as it should. When recording video is stopped on Safari the finishRecord does not trigger in Safari which leads to this.player.recordedData as null:
[code]
This event does not trigger on Safari when clicked on stop button but works fine on Chrome. Please make a fix for it.

## Browser

[2020-07-01 09:00] AnshD12 opened #491 "bitrate is getting doubled while recording on firefox"
## Description
in videojs-record code base I can see that video bitrate has been set to 1200 but while using the example on firefox recorded file is having bitrate more than 2000
I checked for multiple bitrates as well for 100 it gave me 200 kbps video bitrate on firefox

## Steps to reproduce
got to the URL - https://collab-project.github.io/videojs-record/demo/audio-video.html
record the video o

[2020-07-02 10:44] praine opened #492 "VideoJS on Firefox won't play videos recorded with VideoJS-Record on Chrome"
## Description
VideoJS on Firefox won't play videos recorded with VideoJS-Record on Chrome

## Steps to reproduce
Record a video with VideoJS-record on Chrome and try to play it on VideoJS on FF

## Results
### Expected
Video should render correctly

### Actual
VideoJS displays error

### Error output
The media could not be loaded, either because the server or network failed or because the format

[2020-07-04 20:29] dankleying commented on #181
Thanks for the reply. But in production how can we tell the users to allow this? Is there a way to enable MediaRecorder by code? Thank you in advance.

[2020-07-04 20:49] thijstriemstra commented on #181
No. If there was I would consider it a security issue in Safari.

[2020-07-04 20:55] dankleying commented on #181
Just a follow-up. Since other browsers(Chrome, Firefox) allow recording, why is it an issue in Safari? Can you share some insights? Thank you.

[2020-07-04 21:20] thijstriemstra commented on #181
I meant, enabling a Experimental Feature shouldn't be possible from JS.

[2020-07-08 12:36] dineshmaths1 opened #493 "angular 9 video record is not supporting"
i am using angular 9

[code]

[code]
custom-webpack.config.js file
[code]

i am getting this error

[code]

package.json
[code]

[2020-07-08 16:33] dineshmaths1 commented on #480
Did you fixed . i am facing same issue

[2020-07-08 18:50] fosteman commented on #480
@dineshmaths1 , nope, I didn't follow through the solution to it. As far as I know, the closest person to the problem is https://www.linkedin.com/in/vatsalnshah/ .

[2020-07-08 22:49] Toktik opened #494 "Maximum browser compatability settings"
I currently have those settings, which I think are totally wrong.
[code]

I have an button which changes the mode, so some users can record audio only. This works in most devices and browsers, except
- OSX with Chrome: Audio only recordings do produce a corrupted file
- Android occasionally producing corrupted videos

What is the best configuration for maximum browser compatibility? Which mimeType

[2020-07-09 14:09] dineshmaths1 commented on #489
which framework you are using ?

[2020-07-13 05:38] Zayn484 commented on #489
@dineshmaths1 I'm using React.js

[2020-07-13 13:22] thijstriemstra commented on #489
can you reproduce this with any of the online demos?

[2020-07-15 08:08] Zayn484 commented on #489
@thijstriemstra
https://d33.gotomy.dev/editor/

Here is demo link, click on Video tab and click Add Video, there you will see Record Video option, click on that video recording will begin by triggering start button. When stop is clicked finishRecord event is triggered and there I added "Upload" button in controls. This works on chrome and firefox but not in Safari.

[2020-07-15 10:10] mobh13 opened #495 "using with vue-web-cam"
## Description
Briefly describe the issue.
I would like to record a twilio video call on the client side, I'm using vue-web-cam for the cam, can I use this to record the video session ?

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.

## Results
### Expected
Please describe what you expected to see.

### Actual
Please describe what actually happened.

###

[2020-07-15 10:59] thijstriemstra commented on #495
No, not that I know of.

[2020-07-15 10:59] #495 closed

[2020-07-15 11:02] thijstriemstra commented on #489
@Zayn484 I meant any of the official examples: https://collab-project.github.io/videojs-record/#/examples

[2020-07-15 20:33] miguel258 commented on #370
I have the same problem, but i dont use video-js iam using MediaRecord API, obviously enabling MediaRecord on my iPhone, im recording video in portrait mode but when display in video tag show me as landscape video....

[2020-07-19 20:12] lnalbandyan opened #496 "Issue with `WaveSurfer.microphone` in version 4.0.0"
## Description
 WaveSurfer.microphone is undefined, and there is no way to record audio only. Also there is no way to change audio input device.

## Steps to reproduce
You can just go to example page of audio only: https://collab-project.github.io/videojs-record/demo/audio-only.html

## Version
4.0.0

[2020-07-19 21:14] thijstriemstra commented on #496
Just recorded a 5 sec clip on that example page using firefox on ubuntu 20. You don't mention what operating system or browser you're using.

[2020-07-19 21:14] #496 closed

[2020-07-21 16:14] andriworld commented on #370
Webkit bug report, for reference: https://bugs.webkit.org/show_bug.cgi?id=198912

[2020-07-23 09:37] medonajohn commented on #328
ERROR in ./node_modules/videojs-record/dist/videojs.record.js
Module not found: Error: Can't resolve 'videojs' in 'F:\lms\angular\baashaa-lms\node_modules\videojs-record\dist'

[2020-07-23 09:37] medonajohn commented on #328
I got this error while using video js ...plugin is not getting .please help me

[2020-07-24 05:36] Zayn484 commented on #489
@thijstriemstra https://collab-project.github.io/videojs-record/demo/video-only.html

[2020-07-27 17:32] gaspard opened #497 "Shouldn't external be "video.js" and not "videojs" ?"
https://github.com/collab-project/videojs-record/blob/a623a1bf147e0f41935a4cce33d17607407ebe52/build-config/fragments/common.js#L44

The current setting creates invalid "require" calls in compiled JS:

[code]

[2020-07-28 11:01] anayinfowind opened #498 "Video Js Record is not working on safari, iphone, ipad and not converting in mp3, mp4 format"
[code]

[2020-07-28 11:06] thijstriemstra commented on #497
@gaspard sounds good, please open a pull request!

[2020-07-28 11:17] thijstriemstra commented on #491
This is related to the recordrtc implementation of bitrate I think.

[2020-07-30 19:51] mattdorst opened #499 "Start a recording once a browser tab has been selected."
## Description
I would like to automatically start the video recording when the user selects to share a tab for a screen recording.

## Steps to reproduce
Screen Recording > Select Tab > Share

## Results
### Expected
I would like to automatically start the video recording when the user selects to share a tab.

### Actual
When recording a screen and choosing to record a browser tab the browser aut

[2020-08-08 09:13] pyrchJ commented on #493
I have exactly the same issue as @dineshmaths1 with Angular 9

[2020-08-09 19:56] taylerz commented on #485
@thijstriemstra This issue is fixed in Safari Technology Preview 111, and presumably in Safari 14 when it's released this fall with Mac OS Big Sur.

[2020-08-09 19:56] #485 closed

[2020-08-09 20:38] thijstriemstra commented on #485
thanks for the feedback @taylerz!

[2020-08-09 21:20] thijstriemstra commented on #492
Looks related to this: https://github.com/muaz-khan/RecordRTC/pull/657

But you didn't specify what config you're using, and since webm is the default, that fix in recordrtc might help here as well.

[2020-08-10 21:35] thijstriemstra commented on #487
@VapiSoft I found the issue and a solution, stay tuned.

[2020-08-10 21:36] thijstriemstra commented on #493
I found a solution for this issue, stay tuned.

[2020-08-10 21:38] thijstriemstra commented on #497
I opened a pull request for this, can you test #501 @gaspard?

[2020-08-10 22:58] #487 closed

[2020-08-10 22:58] #493 closed

[2020-08-10 22:58] #497 closed

[2020-08-10 23:18] thijstriemstra commented on #497
Fixed in v4.1.0.

[2020-08-10 23:18] thijstriemstra commented on #493
Fixed in v4.1.0.

[2020-08-10 23:19] thijstriemstra commented on #487
Fixed in v4.1.0.

[2020-08-10 23:19] thijstriemstra commented on #480
Fixed in v4.1.0.

[2020-08-10 23:19] thijstriemstra commented on #467
Fixed in v4.1.0.

[2020-08-12 18:33] miguel258 commented on #332
Hi guys, i have the same problem, in this moment the only way for record in IOS is enable experimental feature for MediaRecorderAPI?

Its incredible i need this feature for production environment, but its some complicated that the end user must be make this....

I'm implementend one solution using Vonage Video API, but the additional work its incredible!

[2020-08-12 18:37] thijstriemstra commented on #332
Yes.

[2020-08-17 12:13] Kulgar commented on #454
Hello,

I'm commenting this issue because I got the exact same error but with video.js v7.9.2.

I had to downgrade to 7.8.4 to make it work again. I didn't test 7.9.0 nor 7.9.1, so I don't know if the error comes with these 2 versions too.

I'll gladly help investigating the issue if needed cc @thijstriemstra :-)

[2020-08-17 13:27] anantaramdas opened #502 "Audio laggs on standard mobile browsers when recording audio+video"
I have issues with implementing videojs-record in my project. it works absolutely as expected in Desktop browser however on both mobiles (Android and iPhone) it does not work - sound is slower than it should be and there is extra distortion.
On Android I tested both Edge (45.*) and Chrome (84.*) - behavior is the same.

I'm using:
"videojs-record": "^4.1.0"

I have found old ticker related to this

[2020-08-17 14:48] thijstriemstra commented on #502
extra..?

[2020-08-17 14:59] thijstriemstra commented on #454
@Kulgar please do.

[2020-08-17 15:22] anantaramdas commented on #502
sorry extra distortion during play. On desktop it is all ok.

[2020-08-17 15:25] anantaramdas commented on #502
@thijstriemstra same is happening if I use https://collab-project.github.io/videojs-record

[2020-08-18 14:52] sourabhvashisht opened #503 "ffmpeg.js plugin: error when trying to convert recorded file"
I was able to record video and the recorded video is in .mkv format but when i tried to convert it sows me following error :

`Uncaught` TypeError: Failed to construct 'Blob': The provided value cannot be converted to a sequence.
    at FFmpegjsEngine.onWorkerMessage `(ffmpegjs-plugin.js:104)`

My Option Variable is

[code]

i checked  the line and got to now that the MEMFS array is blank after ca

[2020-08-18 17:58] Viruss98 opened #504 "How to get the current blob data while recording video ?"
How to get the current blob data while recording video ?

[2020-08-19 10:37] Viruss98 commented on #504
close the issues because i solved by  getting the MediaStream instead of blob data

[2020-08-19 10:37] #504 closed

[2020-08-19 10:42] Viruss98 commented on #420
you can get the MediaStream while recording and send it into a peer with ice and signaling server (using webrtc) :D But it can be delay for 1- 3 seconds depend on your server.

[2020-08-23 22:41] #484 closed

[2020-09-03 15:21] wahono77 opened #505 "ffmpeg.js plugin: converted result problem"
## Description
I try https://github.com/collab-project/videojs-record/blob/master/examples/plugins/audio-only-ffmpegjs.html
I add this on top

[code]
and

[code]
But audio player from converteddata not loaded.
Any wrong step in my code?

Thanks in advance

[2020-09-03 16:30] thijstriemstra commented on #505
related to #503 maybe?

[2020-09-07 15:20] George191 commented on #328
did you fix it?   I get this problem in Vue

[2020-09-07 15:38] thijstriemstra commented on #328
What version of videojs-record? Should work with latest.

[2020-09-09 07:00] George191 commented on #328
VIDEOJS: Using video.js 7.8.4 with videojs-record  and recordrtc 5.6.1
It should be a conflict with other extensions, but I have no idea
New projects are fine

[2020-09-09 07:04] George191 commented on #328
"dependencies": {
    "@chenfengyuan/vue-countdown": "^1.1.2",
    "aes-decrypter": "^3.0.0",
    "ag-grid-community": "^21.0.1",
    "ag-grid-vue": "^21.0.1",
    "algoliasearch": "^3.33.0",
    "apexcharts": "^3.6.12",
    "auth0-js": "^9.10.4",
    "axios": "^0.19.0",
    "chart.js": "^2.8.0",
    "core-js": "2.6.5",
    "echarts": "^4.2.1",
    "file-saver": "2.0.1",
    "firebase": "^7.13.2",

[2020-09-09 14:49] aleksey-lav commented on #97
and how to saveAs already converted video by ffmpeg ?

[2020-09-09 20:40] thijstriemstra commented on #97
Please open a new ticket with a specific request.

[2020-09-09 20:44] thijstriemstra commented on #328
Please open a new ticket that reproduces the problem **exactly**. Keep in mind this is **not** a library focused on a specific framework like vue so most of the time it's not an issue in videojs-record but in specific framework you use.

[2020-09-10 06:46] aleksey-lav opened #506 "How to save (download to the computer) converted video by ffmpeg?"
## Description
Hello! After recorded the video and converted it using plugin ffmpeg need to download it? How to do it? AFAIK I can't use method `saveAs
`
## Steps to reproduce
this is my options for record
[code]
and after converted I am getting the object in player.convertedData but if I want to save using `saveAs` from `npm` my video doesn't work since mp4 and each of devices (mobile also) can't

[2020-09-11 14:47] fosteman opened #507 "Could not load vmsg plugin (and other plugins as well)"
## Description
Following instructions, when I am either adding vmsg engine or ts-ebml, or ffmpeg converter - plugins could not be loaded

## Steps to reproduce
https://collab-project.github.io/videojs-record/#/plugins/ffmpeg.js
https://collab-project.github.io/videojs-record/#/plugins/ts-ebml
https://collab-project.github.io/videojs-record/#/plugins/vmsg

## Results
### Error output
<img width="55

[2020-09-19 05:16] sergiks commented on #408
Same issue arised on Ubuntu Firefox and Google Chrome.

Under Mac OS X and Windows / Firefox and Chrome same webcam Logitech c930e gives requested 640x360 resolution.
But on Ubuntu video is 640x360 with the same webcam and code.

`lsusb` and `guvcview` on Ubuntu list the 640x360 among supported resolutions for the webcam, so it is not the driver or hardware issue.

Tried suggested code with no suc

[2020-09-19 05:29] sergiks opened #508 "640x360 resolution fails on Ubuntu"
## Description
Requested 640x360 resolution, result is 640x480

## Steps to reproduce
Logitech c930e webcam, desktop with Ubuntu, web page with JS:

    const options = {
        controls: false,
        width: 1280,
        height: 720,
        bigPlayButton: false,
        controlBar: {
            volumePanel: false
        },
        plugins: {
            record: {
                autoMuteDev

[2020-09-19 13:05] thijstriemstra commented on #508
Thanks for the details, helps a lot.

Would be great if I had a camera with that resolution, not sure how to test right now.

I have an old logitech somewhere, I'll check it with https://webrtchacks.github.io/WebRTC-Camera-Resolution/ and hopefully it also supports that resolution.

[2020-09-19 13:12] thijstriemstra commented on #508
Looking at the specs: https://www.logitech.com/en-us/product/c930e-webcam

From the specs I could say oh it's not supported on Ubuntu and close this ticket but I obviously won't, getting to support this would be nice.

Can you make a screenshot/table of the results of that page for every OS and various browsers?

[2020-09-19 18:54] sergiks commented on #508
I was able to make it work as expected with this syntax:

    video: {
        width: { min: 640, ideal: 640, max: 1280 },
        height: { min: 360, ideal: 360, max: 920 },
    },

I rest my case. Hope this will help someone.

Here I created a [table](https://gist.github.com/sergiks/4ac62efa9da3e63e556901b2cc9ed8cc) for FireFox 80 under Mac OS X. Maybe lets limit the range? This one is quite big

[2020-09-19 19:05] thijstriemstra commented on #508
Good to hear you figured it out. Maybe something that can be added to the docs? Want to make a pr?

[2020-09-22 23:44] dariomadeira opened #509 "Is possible record the audio from the screen and the microphone at the same time?"
## Description
I need to be able to record the audio that comes from the screen sharing (system I think) and the audio that I am relating by microphone, is that possible? I cannot find an example for that.

I would appreciate your help with how I can do that. Thanks!

[2020-09-23 12:40] thijstriemstra commented on #509
Not possible unfortunately.

[2020-09-24 07:39] dns-gh opened #510 "TypeError: Cannot read property 'deviceError' of undefined"
## Description
(let me know if this is a double of another issue, took a quick look and did not see it, thx !)
(maybe it's related to wavesurfer only...)
![videojs_error](https://user-images.githubusercontent.com/10922555/94115222-b4f14580-fe49-11ea-94ee-e78c8119d7c7.PNG)

Errors when loading the videojs + wavesurfer
- Cannot read property 'deviceError' of undefined
- Cannot read property 'deviceR

[2020-09-24 08:31] thijstriemstra commented on #510
This is an issue with wavesurfer.js 4.1.0 (see https://github.com/katspaugh/wavesurfer.js/issues/2067). Please downgrade to wavesurfer.js 4.0.1 for now.

[2020-09-24 08:39] dns-gh commented on #510
Thanks will try this !

[2020-09-25 10:13] thijstriemstra commented on #510
wavesurfer.js 4.1.1 was released and fixed the issue.

[2020-09-25 10:13] #510 closed

[2020-09-25 12:21] M-Annis commented on #413
using this example: https://collab-project.github.io/videojs-record/demo/audio-video.html

control bar is still flickering on iPhone safari, any update?

Thanks in advance

[2020-09-25 12:40] M-Annis commented on #479
using this example: https://collab-project.github.io/videojs-record/demo/audio-video.html

On iPhone safari I'm able to record the video, but playback is not working, it just simply opens the recorder rather than playing the recorded video, also when I download the recorded object as mp4 file, getting this error:

Safari cannot open the page:

The error was: "The operation couldn't be completed. (

[2020-09-25 12:49] thijstriemstra commented on #413
@M-Annis try adding this:

[code]

does it fix the flickering?

[2020-09-27 15:27] johnfslattery opened #511 "IMAGE_ONLY mode - stretched output in player"
## Description
Hello! I've been experimenting with this project (which is a great project!) on a project I've been working on. I'm fairly inexperienced with web development, so please excuse my submission of this issue without an adequate solution. I will try to put one together, but it may take me a long time due to my inexperience.

I have been experimenting with the IMAGE_ONLY mode and my two o

[2020-09-27 18:10] thijstriemstra commented on #511
@johnfslattery thanks for the detailed report. It's been a while so doing this from top of my head, but have you tried using `image` instead:

[code]

[2020-09-28 13:43] johnfslattery commented on #511
Hi @thijstriemstra,

Thanks for getting back in touch.

Apologies, I think I've made a mistake in my code. I had image defined twice by accident - once as an object and once as true. Once I removed the latter, the camera resolution is now being read and works well.

The issue with the image preview is still there though. Could it be that the issue lies when the dimensions of the player and the cam

[2020-09-28 18:54] Kkkassini opened #512 "Way to record system output audio?"
## Description
Hello, is there a way to record system output audio instead of using the microphone to record exterior audio?

[2020-09-28 21:34] thijstriemstra commented on #512
Yes, pick your audio device from the list, e.g. this is one my machine with 3 audio devices:

![audio-select](https://user-images.githubusercontent.com/305679/94488481-f8013f00-01e2-11eb-9516-ec7fd9b34c4e.png)

When I pick the one at the bottom, it'll record my VLC music playback.

[2020-09-28 21:34] #512 closed

[2020-09-29 17:52] igasparetto commented on #506
This would be great!

[2020-09-29 23:18] thijstriemstra commented on #491
@AnshD12 could you try out this recordrtc demo: https://github.com/muaz-khan/RecordRTC/blob/master/simple-demos/bitsPerSecond.html (online demo: https://www.webrtc-experiment.com/RecordRTC/simple-demos/bitsPerSecond.html)

And try if the `videoBitsPerSecond` option has any effect on either browser.

[2020-09-29 23:22] thijstriemstra commented on #498
@anayinfowind what library versions? what iOS version? what iPhone type? what iPad? It's annoying you don't include this information when the ticket instructions clearly ask for them.

[2020-09-29 23:25] thijstriemstra commented on #499
What browser @mattdorst? Since this is browser-specific behavior it would be good to search the browser's bugs and find a ticket and/or open a new ticket if it's not there yet. And add the links to this ticket.

[2020-09-29 23:28] thijstriemstra commented on #502
@anantaramdas can you try some of the recordrtc demos related to audio and see if it's the same problem there?

https://www.webrtc-experiment.com/RecordRTC/simple-demos/

[2020-10-05 17:39] thijstriemstra opened #513 "Support for File System Access API"
This would allow users to write files to a local directory of their choosing.

See https://web.dev/file-system-access/

[2020-10-06 03:04] locotoko commented on #479
@thijstriemstra
Same issue, i'm able to successfully record video on mac, but it disappear on playback. Also it's still can be uploaded to the server.

[2020-10-07 09:49] kapilkarda commented on #332
This is not working on Safari Browser as well
![Screenshot 2020-10-07 at 3 23 35 PM](https://user-images.githubusercontent.com/4336836/95315692-74b1ae80-08b0-11eb-9676-0da3437835c8.png)

[2020-10-09 11:52] thijstriemstra commented on #498
no feedback, closing.

[2020-10-09 11:52] #498 closed

[2020-10-09 11:52] thijstriemstra commented on #332
Safari 14 produces video recordings that are corrupt using the MediaRecorder, this ticket is related to fixing the bug https://bugs.webkit.org/show_bug.cgi?id=85851

The latest Safari hopefully will have MediaRecorder out of experimental: https://bugs.webkit.org/show_bug.cgi?id=216664 / https://bugs.webkit.org/show_bug.cgi?id=216663

[2020-10-09 12:02] thijstriemstra commented on #502
ping @anantaramdas see prev comment

[2020-10-09 12:02] thijstriemstra commented on #479
Safari 14 produces video recordings that are corrupt using the MediaRecorder, this ticket is related to fixing the bug https://bugs.webkit.org/show_bug.cgi?id=85851

The latest Safari hopefully will have MediaRecorder out of experimental: https://bugs.webkit.org/show_bug.cgi?id=216664 / https://bugs.webkit.org/show_bug.cgi?id=216663

[2020-10-09 15:18] anantaramdas commented on #502
Sorry yes Same issue

[2020-10-21 05:57] HeshamMeneisi opened #516 "Recorder freezes with no errors on Epiphany and iOS views (webkit)"
## Description
Once you click the start button the background turns to black but nothing happens. No prompt for permissions and no errors in the console.

## Steps to reproduce
Open a page on iOS (non-safari) browsers or Epiphany on Linux.
Click the start button

## Results
### Expected

Asks for permission if needed
Starts the player and becomes ready to record

OR

Shows some error on the consol

[2020-10-21 08:40] thijstriemstra commented on #516
@HeshamMeneisi can you check if `navigator.mediaDevices.getUserMedia()` is available?

[2020-10-21 08:53] thijstriemstra commented on #516
did you define an `error` handler?

[2020-10-21 11:23] HeshamMeneisi commented on #516
@thijstriemstra Yes but it logs on dev and I even completely disabled it and still nothing was printed. Is there actually any handling for browsers not supporting MediaStream? On iOS Safari, it actually opens the camera but then fails to record. I will open a different issue for that when I get to see the logs from an iOS device.

[2020-10-27 21:16] ignl commented on #489
Hi,
I can also reproduce this with IOS 14 IPhone X and IPhone 6s and official demo. For IPhone stop and play buttons never appears and finishRecord is never called even if time has ran out. Ipad Pro seems to be working, however its video is not played by chrome, but that's another and probably browser issue...

[2020-10-27 21:56] ignl commented on #489
Unrelated, but a quick check  regarding corrupted video file yielded this: https://bugs.webkit.org/show_bug.cgi?id=216832
IOS 14.1 seems to still have this bug, hopefully it will be fixed soon.

[2020-10-31 05:56] IOhacker opened #517 "Chrome and Tomcat"
## Description
We have recorded the video in webm format but when sending the file using POST to API Rest using Chrome we always have Multipart Errors, in Firefox it is working.

[code]

## Steps to reproduce

## Results
[code]

### Expected
[code]
-------------------firefox--------------------

[2020-10-31 23:39] thijstriemstra commented on #413
The suggested fix in the previous comment fixed the flickering but it pushed the video to foreground, overlapping the control bar.

[2020-10-31 23:48] thijstriemstra commented on #438
It depends on what you call fine. That demo shows a horrible UI with an even worse user experience. These workarounds are needed for Safari but are simply too hacky and not viable to implement in videojs-record.

Safari, how did you ever become so sh*tty..

[2020-10-31 23:53] thijstriemstra commented on #503
Looks like the same issue as https://github.com/Kagami/ffmpeg.js/issues/111

[2020-10-31 23:56] thijstriemstra commented on #507
I cannot reproduce this.

[2020-10-31 23:56] #507 closed

[2020-10-31 23:56] #509 closed

[2020-10-31 23:59] thijstriemstra commented on #517
@IOhacker can you reproduce it with an example like https://github.com/collab-project/videojs-record/blob/master/examples/upload/simple.html?

[2020-11-01 01:06] IOhacker commented on #517
Hi,

I have replaced the way it is uploaded (using Angular 8).

    const formData: FormData = new FormData();
    let ext=(file.name).split(".");
    formData.append('name', name);
    formData.append('file', file);
    let url = environment.apis_url + '/V1.0/upload' + urlComplement;
    return this.http.post(url, formData, { headers: httpHeaders }).pipe(
      retry(3),
      catchError(error =>

[2020-11-01 11:38] thijstriemstra commented on #517
@IOhacker ok, and it works now?

[2020-11-05 02:01] cogdog opened #520 "Lower Pitch Audio (Garbled in Safari)"
## Description
I've implemented audio only recording into a custom WordPress theme. My code uses the same settings and structure as the audio only demo combined with the lamejs plugin for saving as mp3.

A few people are reporting that their recordings come out with a lower pitch (on Firefox/Windows and another on Safari/OSX) I cannot reproduce on Firefox/Chrome. One sample

https://lab.cogdogblog

[2020-11-10 10:36] ignl opened #521 "Audio only displayMilliseconds false is not working"
## Description
Milliseconds are not removed in audio-only even if displayMilliseconds property is set to false.

## Steps to reproduce
Change to displayMilliseconds: false in https://collab-project.github.io/videojs-record/demo/audio-only.html

It seems to change only starting timestamp, but end and during recording it still shows milliseconds.

[2020-11-12 09:06] youennf commented on #332
Latest Safari Tech Preview has MediaRecorder enabled by default, which contains MediaRecorder fixes.
I tried https://collab-project.github.io/videojs-record/demo/video-only.html but it does not seem to work.
Any idea what might be the issue? Is it webm vs. mp4?

[2020-11-13 17:59] youennf commented on #332
iOS 14.3 first beta has MediaRecorder enabled by default as well, if anybody want to try it out.

[2020-11-14 21:26] thijstriemstra commented on #332
No console errors @youennf?

[2020-11-14 21:37] thijstriemstra commented on #506
I was able to save the .ogg file from the `audio-only-ffmpegjs.html` sample in Firefox/Ubuntu using ` player.record().saveAs({'audio': 'foo'});`

This isn't working for video? E.g. ` player.record().saveAs({'video': 'foo'});`?

[2020-11-14 21:39] thijstriemstra commented on #520
What versions of Safari? OSX? You haven't included any browser version. You're also using old versions of videojs-record, videojs-wavesurfer and video.js.

[2020-11-14 21:40] thijstriemstra commented on #521
@ignl thanks for the report. What about other modes (video-only, audio+video etc), does it work ok there?