[2015-03-09 23:22] thijstriemstra opened #1 "Add snapshot support"
Besides audio/video recording, a snapshot image from a webcam would be nice as well.

[2015-03-28 19:34] thijstriemstra commented on #1
Released in 0.7.

[2015-03-28 19:34] #1 closed

[2015-04-07 02:17] thijstriemstra opened #2 "Add support for animated gif recordings"
See http://RecordRTC.org/GifRecorder.html.

[2015-04-08 00:07] thijstriemstra opened #3 "Get blobs after specific time-intervals"
This could be useful in scenarios where you're recording long clip and planning to submit/upload recorded blobs to a server that stiches it together (or maybe even do it clientside).

[2015-07-02 12:54] durimrexhaj opened #4 "Enable voice for chrome when recording both audio/video"
In chrome voice doesnt work. How can i fix it

[2015-07-02 22:58] pbojinov opened #5 "No examples of videojs-record methods"
For those who are not very familiar with `videojs`, it is not obvious, at first, that you can access the methods through the `recorder` object on a video instance. @thijstriemstra would you accept a PR with an example HTML file documenting how to use them?

[code]

[2015-07-03 09:38] Billybobbonnet opened #6 "videojs 5.0 support"
I want to switch to 5.0 but I am struggling with their new plug-in management. I will work on it but concerning this plugin, I wanted to check first if you plan to migrate to 5.0. If I manage to do it, do you want a PR?.

[2015-07-03 10:46] thijstriemstra commented on #6
Hi @Billybobbonnet, thanks for your feedback. I think it makes sense to support v5 as soon as they make a stable release. We could look into a port before that and maybe work on a separate branch until then. Once it's released we can move v4 to a stable branch and put v5 implementation on the master/trunk. So yea, feel free to poke at it, PRs are always welcome.

[2015-07-03 10:48] thijstriemstra commented on #4
hi @durimrexhaj, can you please explain in detail why and what isn't working on what version/operating system?

[2015-07-03 10:50] durimrexhaj commented on #4
hiw @thijstriemstra I'm using windows and chrome Version 43.0.2357.130. Recorder doesn't get the voice. When i play video i can't here voice in chrome.

[2015-07-03 11:05] thijstriemstra commented on #4
@durimrexhaj I haven't tested it on windows chrome, so I'll give it a try and see what's going on.

[2015-07-03 11:31] Billybobbonnet commented on #6
Ok. I'll keep in touch. Thanks for your fast answer.

[2015-07-03 11:33] thijstriemstra commented on #5
hi @pbojinov, thanks for your feedback. If you could add these instructions to the README as well as the existing index.html, I will accept your PR, I would like to prevent adding more HTML example files.

[2015-07-03 11:45] durimrexhaj commented on #4
hi @thijstriemstra I have tested RecordRTC script and it worked well for me and i saw the videojs-record uses RecordRTC but I don't know why is not working with this plugin. Thanks a lot

[2015-07-03 15:12] Billybobbonnet commented on #6
I looked a bit more into it. Here are some info on the task:
  - `videojs.Component.extend` is deprecated. It has been replaced with `videojs.extends` function. It should be called like this (see https://github.com/videojs/video.js/pull/2078):
[code]
  - The plugin code should be wrapped into the videojs  `ready` event (see https://github.com/videojs/video.js/wiki/5.0-Change-Details#initialization

[2015-07-06 22:22] thijstriemstra commented on #6
Also note that https://github.com/collab-project/videojs-wavesurfer is an optional dependency for videojs-record that also needs to be ported.

[2015-07-06 22:28] thijstriemstra commented on #4
@durimrexhaj, what example did you use? Or what code are you using?

[2015-07-06 22:29] thijstriemstra commented on #2
This is fixed and part of the next release.

[2015-07-06 22:29] #2 closed

[2015-07-09 00:20] pbojinov commented on #4
I noticed the same issue on `Chrome Version 43.0.2357.130 (64-bit)` for `OSX 10.10.3` using the `examples/audio-video.html` provided.

Here's the `audo-video.html` file hosted as is for testing purposes: http://pbojinov.github.io/videojs-record/examples/audio-video.html

[2015-07-09 17:19] thijstriemstra commented on #4
I've also tested the examples and noticed the same on windows, linux and osx Chrome browsers. As noted in the README:

[code]

This is a limitation of Chrome because it hasn't implemented MediaRecorder yet, and Firefox has. What RecordRTC.js does is record, stop stream, make audio data blob available, then make video data blob available. In Firefox it makes a single audio/video blob available afte

[2015-07-09 18:16] thijstriemstra commented on #4
I've commited a fix for Chrome that makes both audio and video blobs available when the `finishRecord` event fires.

![capture](https://cloud.githubusercontent.com/assets/305679/8603215/2544e400-2677-11e5-9a57-5ca7efb9bdac.PNG)

But during playback it will still only display the video stream and ignore the audio stream (because they're separate objects). I guess syncing the playback of the audio u

[2015-07-09 20:35] thijstriemstra commented on #4
I decided to add an extra `audio` element for chrome when recording audio and video that plays the recorded audio stream in sync with the video element.

Closing this ticket, please open a new one if there's still an issue.

[2015-07-09 20:35] #4 closed

[2015-07-09 20:40] pbojinov commented on #4
:+1:

[2015-08-13 23:11] thijstriemstra commented on #5
Closing, no feedback, feel free to open a PR.

[2015-08-13 23:11] #5 closed

[2015-09-03 17:16] v3ss0n commented on #4
What is the format audio and videos are recorded with AUDIO_VIDEO flag? Is that Webm or WAV??

[2015-09-03 17:57] v3ss0n commented on #3
yeah that will be very useful for our realtime chat too.

[2015-09-04 01:23] thijstriemstra commented on #4
Try it, document it and open a pull request please.

[2015-09-09 12:56] v3ss0n opened #7 "Audio is distorted"
When recording audio at 22050 sample rate Sound is totally distored , sounds like an Alien. Tested on chrome 44.0.2403.155 ,  Linux Kernel 3.16 .

[2015-09-10 11:14] thijstriemstra commented on #7
Have you tried a different version of videojs-record or chrome and does it produce the same results?

[2015-09-10 11:36] v3ss0n commented on #7
Master and 0.8.14 tested.
I tested on several different linux pc. All same Alien-sounding distorting :laughing:
Increasing Samplerate to 440000 solve that problem tho.

[2015-09-10 11:39] thijstriemstra commented on #7
videojs-record uses recordrtc.js for the recording. Can you reproduce the problem with a standalone recordrtc example? If so it's a problem in that library...

[2015-09-10 11:44] v3ss0n opened #8 "Compress wave audio using Libvorbis"
Wav is very big.
Before we discovered videojs , we implemented compression of wav using http://garciat.com/libvorbis.js/ inside browser. It works very well.
Now we are using  videojs-record due to it records both video and audio at the same time . But sizes of audio is huge and looking a way to compress it using libvorbis. Libvorbis compress stream directly.
http://garciat.com/libvorbis.js/demos/m

[2015-09-10 11:45] v3ss0n commented on #7
We will just use 440000 for now. it works fine.

[2015-09-10 11:48] thijstriemstra commented on #8
This sounds like a really good idea. I'm on a holiday now so I won't be able to help you now but next week I'll try to get back to you.

[2015-09-10 11:49] v3ss0n commented on #8
Ok i will find a way in the mean time.

[2015-09-11 19:54] thijstriemstra commented on #7
Modified the title and removed the version nr reference because this is not related to a specific version of the plugin.

[2015-09-22 22:11] v3ss0n commented on #8
this is not enabled yet right? tested and record in wav.

[2015-09-22 22:36] thijstriemstra commented on #8
It's not enabled yet, adding some settings for that now. With current master you have to make sure to place the js libs at these paths: https://github.com/collab-project/videojs-record/blob/master/src/js/videojs.record.js#L140

And enable the libvorbis engine here: https://github.com/collab-project/videojs-record/blob/master/src/js/videojs.record.js#L439

Thanks for testing!

[2015-09-23 17:10] v3ss0n commented on #8
ok , going to try that out

[2015-09-23 17:24] thijstriemstra commented on #8
There's a demo now (https://github.com/collab-project/videojs-record/blob/master/examples/audio-only-ogg.html) but the worker path is still hardcoded, will add a setting for that later today. I'll close this ticket when all is done.

[2015-09-23 17:32] v3ss0n commented on #8
that is so awesome. thanks alot.

[2015-09-23 21:00] v3ss0n opened #9 "Buttons cannot be clicked in mobile browsers."
Is that related to Videojs or record? Buttons dosen't work when tested in mobile emulation (web dev tools). Not tested on native mobile browsers tho .

[2015-09-23 21:01] v3ss0n commented on #8
testing soon

[2015-09-24 00:34] thijstriemstra commented on #8
@v3ss0n everything should be in place now, if you see any issues, open a new ticket, thanks.

[2015-09-24 00:34] #8 closed

[2015-09-24 00:37] thijstriemstra commented on #7
I've changed the default rate to 44100. Closing this ticket, feel free to reopen with a solution..

[2015-09-24 00:37] #7 closed

[2015-09-24 12:08] v3ss0n commented on #8
Audio recording example in Audio Only works!
But at Audi-video example isChrome is become null and trows error. Forces setting isChrome to True but
that makes it not showing video, it cant get videoblob url
`Request URL:http://localhost:8000/examples/null
Request Method:GET
Status Code:404 File not found`

[2015-09-24 12:08] v3ss0n commented on #8
ok creating issue

[2015-09-24 12:09] v3ss0n opened #10 "Ogg recording is not supported when using AUDIO_VIDEO"
Audio recording example in *Audio Only* works!
But at Audio-video example isChrome is become null and trows error. Tried Forced setting isChrome to True but
that makes video blank, and it gives "cant get videoblob url" Error.

```Request URL:http://localhost:8000/examples/null Request Method:GET Status Code:404 File not found```

[2015-09-24 17:09] v3ss0n opened #11 "When i run it on server i got InvalidAccessError: Failed to execute 'disconnect' on 'AudioNode'" in "AUDIO Only" recording."
[code]

It seems to do with CORS . It runs fine locally.

[2015-09-24 17:19] thijstriemstra commented on #9
Just tried with Firefox on Samsung Galaxy S4 and worked fine. What mobile browser(s) are you talking about? Closing this, reopen if you can reproduce on an actual mobile device, thanks.

[2015-09-24 17:19] #9 closed

[2015-09-24 17:24] thijstriemstra commented on #11
Will look into it but it would be easier if you can show an example that reproduces the problem using https://gist.github.com/ or something.

[2015-09-24 17:27] thijstriemstra commented on #10
It's only tested and working with audio-only right now. Recording both audio and video is normally done using RecordRTC, if you want to help out I suggest checking that source code and figuring out how to use an external encoder like libvorbis.js when recording audio and video.

For now I'll find out if the `isChrome` check is present in video.js as well so we can use that, and ill throw an error

[2015-09-24 17:52] v3ss0n commented on #10
Thanks a lo t, i will check it how i can put that to work in RecordRTC!

[2015-09-24 17:57] v3ss0n commented on #11
created a gist at : https://gist.github.com/v3ss0n/fdf2d84d63947964400f

That is my qooxdoo widget for Videojs-record.  The video recording works fines , the options i use for audio is :
[code]

[2015-09-24 18:42] v3ss0n commented on #11
Finally fixed! , it is my error to path to audioWorkerURL and  audioModuleURL

[2015-09-24 18:42] #11 closed

[2015-09-25 13:13] thijstriemstra commented on #10
Added an error for using libvorbis.js in any mode other than audio-only. Will release this as 0.9 now. Leaving this ticket open for discussion of audio/video mode with libvorbis.js.

[2015-09-25 13:14] v3ss0n commented on #10
yeah that is good.

[2015-09-25 22:26] v3ss0n opened #12 "Turn Off Devices via javascript?"
``` vjsplayer.recorder.stop() ``` only stop recording , so need another function for turning off camera .
I don't want users to think that i am spying for NSA :stuck_out_tongue_closed_eyes:

[2015-09-27 14:28] thijstriemstra commented on #12
Sounds good, I'll add something like `stopAll` and/or `stopDevice`.

[2015-09-28 10:38] v3ss0n commented on #12
stopDevice sounds good.

[2015-09-29 00:50] thijstriemstra commented on #12
Added `stopDevice`, let me know if it works and I'll put out a new release.

[2015-09-29 08:06] v3ss0n opened #13 "Support for audio input selection"
https://simpl.info/getusermedia/sources/

with that , user can choose back or front camera. What do you think? If UI is going to be difficult , just an API will be fine.

[2015-09-29 08:45] v3ss0n commented on #12
Thanks , it is working. But i just upgraded to chrome 45 and getting depreciation Notices abobout MediaStream.stop()
found work arounds. But i think we need to support both ways as Chrome45 is relatively new and not everyone supported it yet.
https://developers.google.com/web/updates/2015/07/mediastream-deprecations

[2015-09-29 13:19] v3ss0n commented on #12
During audio-only mode :

When i tried to stop and requestDevice , it just play the pre-recorded audio , didn't try to request device actually.

Might be a bug.

to test:

[code]

[2015-09-29 17:55] thijstriemstra commented on #13
Maybe each example could have an extra row of buttons for testing programmatic things like picking camera, stopping device, starting device.

[2015-09-29 17:58] thijstriemstra commented on #12
Yeah, stop and get are not working as expected yet. I added a fix for the deprecation warnings, could you check what happens with an older version of Chrome?

[2015-09-29 18:02] thijstriemstra commented on #12
Because it turns out https://github.com/collab-project/videojs-record/commit/4e071129f37461032491bc02ddf56de5e287fa2c broke the Chrome check so a 0.9.1 should be released asap.

[2015-09-29 18:42] thijstriemstra commented on #6
Looks like video.js 5.0 is ready: https://github.com/videojs/video.js/commit/872459837b21c1e3d05fa86df4022f5a2b17ea1c

[2015-09-29 18:58] v3ss0n commented on #13
Oh the regular Switch camera icon on the player would be fine?

[2015-09-29 20:55] v3ss0n commented on #12
I have no older version remained  , just did os upgrade. I will check after downloading.

[2015-09-30 00:10] thijstriemstra commented on #12
It was also a little wonky in modes other than audio-only, should be better now. Now going to look at the audio-only issue.

[2015-09-30 21:51] thijstriemstra opened #15 "Add note about v4.x-only support"
Add note about 4.x-only support for now to readme etc. Also see #6.

[2015-10-01 17:17] v3ss0n commented on #9
Hi , need to reopen this.

Tested on XperiaZ Ultra , google Chrome latest and buttons (even big button) cannot be tapped.

[2015-10-01 17:18] v3ss0n commented on #9
only maximize button and vol can be tapped

[2015-10-01 17:35] v3ss0n commented on #9
After soo many tries pressing big device button , and about 90 times pressing small rec button , able to record . But when trying to play back preview of rec , it get error
![error](https://cloud.githubusercontent.com/assets/419606/10228533/5292a79e-6899-11e5-97d9-8939ff42fd14.jpg)

[2015-10-01 17:37] v3ss0n commented on #9
Tested with 3 different mobile devices , same problem. It all work fine on desktop . The demo tested is latest : http://collab-project.github.io/videojs-record/examples/audio-video.html

[2015-10-01 17:48] v3ss0n commented on #15
Mobile buttons working fine on VJS5 , just tested. Not sure how it will be with Videojs-record on VJS5. Does it need major changes?

[2015-10-01 19:00] thijstriemstra commented on #9
Thanks for the research but I don't see any name, version or OS of the browser you're using?

[2015-10-01 19:01] thijstriemstra commented on #9
And how about a non-record version of the video.js demo, does it have the same problems?

[2015-10-01 19:05] thijstriemstra commented on #15
What have you exactly tested?

[2015-10-01 19:29] v3ss0n commented on #9
All mobile devices tested are Android 4.4 . Tested with Videojs5 , it works fine. Haven't test with vidoejs4x.

[2015-10-01 19:31] thijstriemstra commented on #9
I think testing video.js 4.x would be best for now because v5.0 seems to have changed quite a lot.

[2015-10-01 19:35] v3ss0n commented on #9
It was reported in 4.x , https://github.com/videojs/video.js/issues/2333 which is closed since July? not sure it is resolved or not.

[2015-10-01 19:37] v3ss0n commented on #9
The related problem of non-auto-playback is also reported here https://github.com/videojs/video.js/issues/2502

[2015-10-01 19:39] v3ss0n commented on #9
So i guess , i am going to turnoff auto-playback.  Not possible via API i guess.

[2015-10-04 00:59] #15 closed

[2015-10-04 15:36] thijstriemstra opened #16 "Support for Audio Output Devices API"
Support for audio output devices API, a set of JavaScript APIs that let a Web application direct the audio output of a media element to authorized devices other than the system or user agent default.

Behind a flag since Chrome 45, enabled by default since 49. See demo at https://webrtc.github.io/samples/src/content/devices/multi/ and status at https://www.chromestatus.com/features/462160324984832

[2015-10-04 17:59] thijstriemstra commented on #13
Looks like this is only supported in Chrome 30 and later, nothing in Firefox yet.

[2015-10-04 19:57] thijstriemstra commented on #12
Tested with Chromium 32 on OSX and seems the fix for deprecation works there as well so releasing 0.9.1 now, but still need to fix the audio-only issue.

[2015-10-04 22:04] v3ss0n commented on #12
[code]
I tried replacing that in audio only . works partially , except it request media device two times and then fail to turnoff device.

[2015-10-04 22:06] thijstriemstra commented on #12
yeah i saw your PR but unfortunately the problem is a little further down the chain I think (in videojs-wavesurfer and/or wavesurfer.js microphone plugin).

[2015-10-04 23:39] thijstriemstra commented on #12
I think I have fixed it with https://github.com/collab-project/videojs-record/commit/2efca391b72d81057f351acb32702ab1b4cebb83 but it also requires some changes in the wavesurfer.js microphone plugin that I'll open a pull request for. Once that wavesurfer change is released I can roll a new release I suppose.

[2015-10-06 00:10] thijstriemstra commented on #12
Did some more fixes (as well as in videojs-wavesurfer and wavesurfer.js), should be better when the microphone PR is merged: https://github.com/katspaugh/wavesurfer.js/pull/542.

[2015-10-06 08:55] thijstriemstra commented on #12
If you upgrade to the latest wavesurfer.js (1.0.44) and microphone plugin, videojs-wavesurfer (0.9.9) and videojs-record 0.9.2 audio-only mode should work correctly. Please open a new ticket if there are new problems.

[2015-10-06 08:55] #12 closed

[2015-10-06 11:40] v3ss0n commented on #12
Thanks alot . Testing tonight.
On Oct 6, 2015 3:25 PM, "Thijs Triemstra" <notifications@github.com> wrote:

[2015-10-08 18:23] thijstriemstra commented on #13
There's also the https://github.com/muaz-khan/DetectRTC library that implements many of the functionality I'm looking for. I'll probably make that an optional dependency when the new devices API is used (it's a 10kb extra).

[2015-10-08 18:26] thijstriemstra commented on #13
unrelated but @v3ss0n, would be cool if you can add a translation for your native language(s) in https://github.com/collab-project/videojs-record/tree/master/lang :)

[2015-10-08 20:15] v3ss0n commented on #13
Thank you , I will translate it out.

[2015-10-10 16:57] thijstriemstra commented on #6
Before porting videojs-record I want to port videojs-wavesurfer because videojs-record depends on it in audio mode. See https://github.com/collab-project/videojs-wavesurfer/issues/5.

[2015-10-10 20:37] Billybobbonnet commented on #6
I heavily modified videojs-record to suit my needs. I work on a video analysis tool. I skipped the webRTC part and merged it with a custom version of the videojs plugin [rangeslider"](https://github.com/danielcebrian/rangeslider-videojs). To make it short, the plugin "records" a sub-part of the video (rangeslider displays the "chunk") and allow pseudo video editing.

For this project, I also have

[2015-10-11 13:12] thijstriemstra commented on #6
videojs-wavesurfer basically is ready and ported to v5, only need to merge it to master. It was not a lot of work and I think porting videojs-record won't be a problem either.

[2015-10-13 10:31] jabrena opened #17 "How to get Webm to upload to server?"
Hi, I would like to use the library to record a video and upload the clip to server.
https://collab-project.github.io/videojs-record/examples/audio-video.html

Checking console I read this log messages:

[code]

Where is the file stored once the plaer finished recording:

[code]

[2015-10-13 13:28] thijstriemstra commented on #17
Inside the `finishRecord` handler you can upload the blob to a serverside script. For example using jQuery.ajax:

[code]

[2015-10-13 13:28] #17 closed

[2015-10-13 13:31] thijstriemstra commented on #17
Full explanation and code on http://stackoverflow.com/a/18254775

[2015-10-13 14:42] jabrena commented on #17
I handle the front-end request using Node.js:

[code]

Client side:

[code]

[2015-10-13 14:53] jabrena opened #18 "How to execute some events from Javascript."
Testing the example:
https://collab-project.github.io/videojs-record/examples/audio-video.html

It is necessary to interact with the skin to configurate the player to connect with camera and mic.

I would like to execute this methods using a HTML buttons. How to execute the webcam configuration and the event to start recording?

Many thanks in advance

Juan Antonio

[2015-10-13 14:57] thijstriemstra commented on #18
See https://github.com/collab-project/videojs-record#methods. Use `getDevice` to start the camera, `stopDevice` to stop it again. `start` and `stop` aren't documented there but use those to start/stop recording.

[2015-10-13 14:58] thijstriemstra commented on #17
I'm not familiar with node but I assume you figured it out?

[2015-10-13 15:08] jabrena commented on #17
Yes, I understood your Client script and I adapted a old code to upload the Blog to the server.

If you like, I could do a pull request with a clean example with node.js if you like

[2015-10-13 15:09] jabrena opened #19 "Support for Firefox mobile"
Hi, I am testing the solution in a Firefox mobile to upload a .webm file to the server, but current code only upload audio but if I test the same example in a Firefox for Desktop, the code runs nice.

What is the mobile support for videojs-record?

[2015-10-13 15:10] thijstriemstra commented on #17
No, thanks, there are many backend languages to choose from and documenting these things is better to keep in tickets like this imo.

[2015-10-13 15:14] thijstriemstra commented on #19
Recording is based on recordrtc (https://github.com/muaz-khan/RecordRTC). There's no specific note about mobile browsers there. It's also something I haven't tested yet. What kind of output do you see in the console from recordrtc? And what does this demo do: https://www.webrtc-experiment.com/RecordRTC/AudioVideo-on-Firefox.html

[2015-10-13 15:24] jabrena commented on #19
Hi, this evening I have debugged using the output from upload folder only, and I noticed that I only receive audio, but tomorrow I will try to learn how use the remote debugging with FF Mobile.
Today, I have tested:

[code]

Tomorrow, I will notify any progress.

Juan Antonio

[2015-10-14 07:07] jabrena commented on #17
Oki

[2015-10-14 13:56] wasimmomin opened #20 "Onscroll videos are not playing efficiently"
Hello,

I am using jPlayer  and its amazing to use . i have an page where all the videos are displayed in a list view(3 in a row). i wants to auto  play the video (3 videos in a row ) when user is close to that video, My problem is that its playing 1st row (3 videos properly) if i am scrolling down on a second row then the second row videos are not playing properly(its starting to play but not mov

[2015-10-14 13:59] thijstriemstra commented on #20
I'm sorry but what is jPlayer?

[2015-10-14 14:09] wasimmomin commented on #20
sorry, i got the solution and thank you for the reply.

[2015-10-14 14:11] #20 closed

[2015-10-14 14:12] #18 closed

[2015-10-14 15:21] thijstriemstra commented on #6
Well, the port to video.js 5 is ready for testing (@Billybobonet?): https://github.com/collab-project/videojs-record/archive/videojs5.zip
If there are no problems I'll merge it to master in a day or two and release 1.0.0.

[2015-10-14 18:36] Billybobbonnet commented on #6
Great news! I will take a look at it this weekend. Congrats for the port :)

2015-10-14 17:21 GMT+02:00 Thijs Triemstra <notifications@github.com>:

[2015-10-14 19:55] #6 closed

[2015-10-20 05:43] jabrena commented on #19
I tested but for me, I couldn't run that example on FF for OSX:
https://www.webrtc-experiment.com/RecordRTC/AudioVideo-on-Firefox.html

[2015-10-27 19:54] Billybobbonnet commented on #6
I have partially updated my player, including your plugin in a modified version. I still have to add wavesurfer but everything works great so far. Good job on the port.
I will try to port the rangeslider plugin and merge it with videojs-record this week. The goal is to achieve a video pseudo editing plugin: you "extract" chunks of an existing video using your plugin buttons (so I'm not actually re

[2015-10-27 22:11] thijstriemstra commented on #6
Sounds exciting man :) Looking forward to a PR..!

[2015-11-23 13:54] bygiro opened #23 "How add the progress bar for the just recorded video?"
It would be nice to add the progress control in the control bar, so it would be possible to have more control of the playing of the just recorded video.

[2015-11-27 14:48] megadola opened #25 "Saving/Storing on Localhost by default"
first of all, Thank you for your great tools here,

What i can do to store the recorded Audio_Video on localhost/Server by default after finishing the recording process?

Wishing for the Code Please :)

Regards,
Mostafa Megahed

[2015-11-27 23:02] thijstriemstra commented on #25
@megadola what exactly do you mean with by default?

[2015-11-29 08:49] megadola commented on #25
@thijstriemstra thanks for your reply,
by default = stored on server without any action from the user.

so if i'm a user recording a video:
- User clicking on "Start Record"...
- Recording for 15 Seconds ...
- Saving the video on server ...

--

User's only action is: start recording ..

Regards,
Mostafa Megahed

[2015-11-30 21:48] thijstriemstra commented on #25
It depends on the serverside scripting you're using. You can simply send the data to the server each time the finishRecord event fires, which is documented in every example.

[2015-12-02 05:43] mqliutie opened #26 "getUserMedia() no longer works on insecure origins"
why?

At first time, I opened the html file it was ok. But when I change html file this problem was coming

getUserMedia() no longer works on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS

I use gulp browser-sync package load these files

[2015-12-02 06:04] mqliutie commented on #26
Also mobile phone is not work in chrome browser.

[2015-12-03 03:09] mqliutie commented on #26
graduation.avosapps.com

you can look here use mobile phone

[2015-12-03 07:56] thijstriemstra commented on #26
I can't change the fact that HTTPS is now required in Chrome for getUserMedia, what do you suggest?

[2015-12-04 00:55] #26 closed

[2015-12-06 18:06] alsar opened #27 "Browserify error: Cannot find module 'videojs'"
There seems to be an typo:  require('videojs'). When i change it to require('video.js') it works.

```Browserify Error { [Error: Cannot find module 'videojs' from '/vagrant/node_modules/videojs-record/src/js']```

[code]

[2015-12-07 20:29] nico0689 commented on #26
Hi guys, do you have any solution for this issue? I'm having the same problem. Thanks.

[2015-12-09 18:21] thijstriemstra commented on #26
"Starting with Chrome 47, getUserMedia() requests are only allowed from secure origins: HTTPS or localhost." See https://developers.google.com/web/updates/2015/10/chrome-47-webrtc?hl=en

[2015-12-14 00:42] thijstriemstra commented on #27
@alsar can you provide an example to reproduce this issue, I'm not familar with Browserify.

[2015-12-17 19:32] alsar commented on #27
Like in this plugin, that also uses videojs:
https://github.com/eXon/videojs-youtube/blob/master/src/Youtube.js#L29

[2015-12-18 19:39] ic-armando-1992 commented on #25
Where is the data??? i need the data video and audio

[2015-12-20 22:41] thijstriemstra commented on #27
Thanks! Closed with #28

[2015-12-20 22:41] #27 closed

[2015-12-20 23:24] thijstriemstra commented on #25
@ic-armando-1992 see https://github.com/collab-project/videojs-record/blob/master/examples/video-only.html#L66

[2015-12-20 23:24] #25 closed

[2015-12-26 19:58] zang opened #29 "Upload files to Server"
I am trying to use the following popular file upload lib (https://github.com/blueimp/jQuery-File-Upload) to get the recorded blob data to php server, but couldn't figure out how to call the upload function.

Could anybody point me to the right direction?

thanks in advance,
Lucy

[2015-12-26 20:58] thijstriemstra commented on #29
That's a nice plugin. I can add an example but it'll take a day or two since it's christmas ;)

[2015-12-26 23:47] zang commented on #29
Thanks a lot. :)

Yep, one of the reason I am choosing that lib is the chunked upload feature to improve the memory performance etc. I tried with their example but not able to figure out how to pass the generated blob data. It will be great if you can create an example, much appreciated.

Thanks again,
Lucy

[2015-12-28 03:23] pmccarren commented on #29
Hi!

This is an outstanding plugin! I have one quick question that is an extension of the one above. After I get the recordedData uploaded and stored offsite, how can I feed the data back into the player on a subsequent page load? Eg. User A records + uploads a video, and User B wants to watch it.

Any help you can provide would be much appreciated!

Thanks!
Patrick

[2015-12-28 11:17] zang commented on #29
@pmccarren , did you try videojs to play the recorded video? e.g. http://videojs.com/
BTW, did you use blueimp to get the recordedData to server? If so, do you mind to share your code with us? :)

thanks,
Lucy

[2015-12-28 14:26] pmccarren commented on #29
Hi @zang! I utilized the logic found here: http://bit.ly/1TmDg7k to do an Amazon S3 upload. I've been looking at videojs but am not sure how to load both the audio + video tracks in the chrome browser. (video is a webm blob and the audio is a wav blob). Obviously in the videojs-record demo (https://collab-project.github.io/videojs-record/examples/audio-video.html) you can record a video with audio

[2015-12-28 14:27] thijstriemstra commented on #29
@zang I uploaded an jquery fileupload example just now, could you give it a try and let me know how it works out?

[2015-12-28 14:28] thijstriemstra commented on #29
@pmccarren you could use http://ffmpeg.org on the server-side to generate the files for different browsers (mp3, mp4, ogg etc).

[2015-12-28 14:40] thijstriemstra commented on #25
@megadola & @ic-armando-1992 I added a jquery.fileupload example that could help.

[2015-12-28 15:21] zang commented on #29
You are a star!! The file uploading works perfectly. However, I got a separate issue when I try to trans-code the video with ffmpeg. It throws an error saying 'invalid duration'. I then run ffprobe and got the following results. Any idea on how to set the duration and bitrate? :)

Input #0, matroska,webm, from '1451315141116.webm':
  Metadata:
    encoder         : QTmuxingAppLibWebM-0.0.1
  Durat

[2015-12-28 15:23] zang commented on #29
Hi Patrick, I am planning to use ffmpeg to merge the audio and video for chrome recording. :)

[2015-12-28 16:36] thijstriemstra commented on #29
@zang what browser version and platform? Sounds like an issue with the way RecordRTC records these mixed media files.

[2015-12-28 16:37] thijstriemstra commented on #29
@zang try setting width and height, it defaults to 640*480 I think.

[2015-12-28 19:32] zang commented on #29
@thijstriemstra I am on Macintosh Firefox 43.0. and my initialize script is :
	var player = videojs("record", { controls: true, loop: false, width: 1280, height: 720, plugins: { record: { audio: true, video: true, maxLength: 60 } } });

The recorded video is still in 640*480.

thanks,
Lucy

[2015-12-29 01:06] thijstriemstra commented on #29
That sounds like a separate issue, can you create a new ticket for that?

[2015-12-29 06:45] mqliutie commented on #19
The same problem. I run [examples/video-only.html](https://graduation.avosapps.com/videojs/examples/video-only.html). It can't run correctly on firefox mobile on Android

[2015-12-29 10:33] alsar commented on #29
@zang @thijstriemstra
I implemented setting video constraints in #30

[2015-12-29 10:45] zang opened #31 "'Invalid Duration' - Recorded video on Firefox"
- Device -
Macintosh Firefox 43.0

- Recorder setup script -
var player = videojs("record", { controls: true, loop: false, width: 1280, height: 720, plugins: { record: { audio: true, video: true, maxLength: 60 } } });

- Video info from ffprobe -
Input #0, matroska,webm, from '1451315141116.webm':
Metadata:
encoder : QTmuxingAppLibWebM-0.0.1
Duration: N/A, start: 0.000000, bitrate: N/A
Stream #0:0

[2015-12-29 10:46] zang commented on #29
Excellent! :)

@thijstriemstra , I've created a separate issue for the 'invalid duration' via https://github.com/collab-project/videojs-record/issues/31

thanks @thijstriemstra @alsar

[2015-12-29 12:45] thijstriemstra commented on #19
Whats exactly the issue @mqliutie?

[2015-12-30 02:38] mqliutie commented on #19
@thijstriemstra
I want to record with browser on mobile . I searched this repository it works well on PC , when I want to test how it show me on mobile, like [it](https://graduation.avosapps.com/videojs/examples/video-only.html). I clicked that icon to record and it no reaction.

I don't know if you can understand what i said. sorry, my English is not very good

[2015-12-31 01:21] thijstriemstra commented on #29
I've also added an example for the Fine Uploader library. Considering this ticket fixed and closing.

[2015-12-31 01:21] #29 closed

[2015-12-31 01:52] thijstriemstra opened #32 "Add thumbnail of audio visualization to ogg/mp3 files"
It would be cool to add the wavesurfer waveform canvas image to the audio file metadata so it can be displayed as album art.

- Firefox metadata test page for ogg file: http://xiph.org/~giles/2012/metadata.html (and one for [opus](https://people.xiph.org/~giles/2012/metadata-opus.html))
- `loadedmetadata` event: https://developer.mozilla.org/en-US/docs/Web/Events/loadedmetadata
- npm library used

[2015-12-31 02:17] thijstriemstra opened #33 "Add support for recorder.js"
https://github.com/mattdiamond/Recorderjs is a plugin for recording/exporting the output of Web Audio API nodes.

[2016-01-01 14:41] zang commented on #29
Thank you so much for your help!

P.S. As requested, I created a separate ticket for the invalid duration issue. thanks again. :)

[2016-01-02 04:45] thijstriemstra commented on #31
Looks like a firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1068001

[2016-01-02 11:22] zang commented on #29
Updated to latest script, got a few errors when I setup the recorder with the following script:
var player = videojs("record", { controls: true, loop: false, plugins: { record: { audio: true, video: { width: 1280, height: 720 }, maxLength: 60 } } });

1) On Chrome Version 47.0.2526.106 (64-bit), I got the following error
Uncaught TypeError: Failed to execute 'webkitGetUserMedia' on 'Navigator': Ma

[2016-01-02 11:23] zang commented on #31
Thanks @thijstriemstra
Is there a way to set duration and bitrate manually? :)

[2016-01-02 12:00] alsar commented on #29
Chrome doesn't support the latest specification for constraints.
You still have to use the "old" syntax for Chrome:
[code]

@thijstriemstra What about using this shim https://github.com/webrtc/adapter to abstract the differences with constraints between browsers?

[2016-01-02 21:38] thijstriemstra commented on #31
@zang does the same happen with this RecordRTC demo? https://www.webrtc-experiment.com/RecordRTC/AudioVideo-on-Firefox.html
If so you probably have to file a ticket for either RecordRTC, whammy (the webm lib that recordrtc uses) or look into Firefox, there's probably not much I can do.

[2016-01-02 21:48] thijstriemstra commented on #29
@alsar I'd prefer to not to add another dependency but after looking at the code I guess it makes sense not to add all of that compat code to this plugin.

[2016-01-02 22:02] thijstriemstra commented on #29
Thanks for testing @zang. I've fixed point 3 and 1 should be fixed once the webrtc adapter is used. Still need to test point 2.

[2016-01-02 22:17] thijstriemstra commented on #31
I'm getting the same on Firefox with the demo from the previous comment.

[code]

[2016-01-02 22:43] thijstriemstra commented on #31
But opening the webm file in firefox (so without video.js) seems to playback fine...

[2016-01-02 22:53] thijstriemstra commented on #31
Clips recorded using [this demo](https://html5-demos.appspot.com/static/getusermedia/record-user-webm.html) look better in ffmpeg:

[code]

[2016-01-02 23:37] thijstriemstra commented on #31
Also looks like such high resolutions as 1280 x 720 are very slow with whammy (2-3 fps) according to [the comments in this issue](https://github.com/muaz-khan/RecordRTC/issues/69).

[2016-01-02 23:52] thijstriemstra commented on #29
Let's use separate tickets to discuss any other issues, this ticket is about uploading files to the server.

[2016-01-02 23:56] thijstriemstra commented on #31
Looks like recording on Chrome (and Edge) also needs the `video` and `canvas` settings to correctly set the width and height of the recorded video. I suspect these are used by Whammy and Firefox MediaRecorder simply uses the getUserMedia constraints.

[code]

Very annoying but I suppose we either find a way to parse the video constraints or we need to add an explicit (video) `width` and `height` o

[2016-01-03 00:14] thijstriemstra commented on #31
So MediaRecorder in Firefox is definitely broken and I added more information to the related ticket: https://bugzilla.mozilla.org/show_bug.cgi?id=1068001

Last thing we can try is forcing the Whammy recorder in Firefox which seems to properly write the duration and bitrate.

[2016-01-03 01:18] thijstriemstra commented on #31
In Chrome 47 it's using whammy which seems to work fine (as expected):

[code]

[2016-01-03 02:10] #32 closed

[2016-01-03 02:27] thijstriemstra commented on #31
Looks like you can fix the duration using a couple of ffmpeg command as mentioned here: http://superuser.com/questions/1012170/fix-mediarecorder-videos-with-ffmpeg Could you give that a try @zang?

[2016-01-03 21:17] zang commented on #31
thanks a lot @thijstriemstra , I will try the ffmpeg commands and let you know the outcome.

[2016-01-03 23:50] thijstriemstra commented on #33
Fixed and part of next release (1.1.0).

[2016-01-03 23:50] #33 closed

[2016-01-04 00:51] thijstriemstra opened #34 "Use adapter.js"
The webrtc [adapter.js](https://github.com/webrtc/adapter) provides a shim to insulate apps from browser spec changes and prefix differences.

Now that we also use media constraints it makes sense to include this adapter, even though an extra dependency should always be avoided, if possible. Perhaps the code can be adapted/included?

Besides the cross-browser constraint support it also helps with

[2016-01-04 12:09] zang commented on #31
Tested the commands and duration being added. I also tried a simple command with 'ffmpeg -i old.webm new.mp4' and duration being added to the new.mp4 as well.

So, I will upload the recorded video to server and run ffmpeg to convert the videos to mp4, problem should be solved. :)

[2016-01-04 12:11] #31 closed

[2016-01-05 06:08] minhnguyenwp commented on #29
Pls help me. How to upload a video file.  step by step.

plugins:
                    record:
                        audio: true,
                        video: true,

[2016-01-05 14:01] thijstriemstra commented on #29
@minhnguyenwp there are obvious examples here: https://github.com/collab-project/videojs-record/tree/master/examples/upload If you can't figure it out, contact me and send me a bitcoin and I'll help you out ;)

[2016-01-06 03:16] minhnguyenwp commented on #29
Thk master. i did exactly like that. but i need upload a video file and i dont know how to add header options with 'blueimp-file-upload', and a simple php get that data file. would u pls help me.!

[2016-01-07 23:37] thijstriemstra commented on #29
@minhnguyenwp this sounds like a blueimp-file-upload issue, and you should ask them or place your question on stackoverflow.

[2016-01-08 02:11] thijstriemstra opened #35 "Specifying resolution for image/video"
Looks like recording on Chrome (and Edge) also needs the `video` and `canvas` settings to correctly set the width and height of the recorded video. These values are only used by RecordRTC (aka Whammy), the Firefox MediaRecorder simply uses the `getUserMedia` constraints.

[code]

Very annoying but I suppose we either find a way to parse the video constraints (#34 might help?) or we need to add an

[2016-01-12 00:57] xlc opened #36 "Failed to construct 'AudioContext': The number of hardware contexts provided (6) is greater than or equal to the maximum bound (6)."
[code]

This error was thrown when he 7th player is created. It should reuse AudioContext or [close](https://developer.mozilla.org/en-US/docs/Web/API/AudioContext/close) previous one when recording stopped.

Using Chrome Version 48.0.2564.71 beta (64-bit) on OS X 10.11.2

[2016-01-12 17:18] #36 closed

[2016-01-15 21:55] megadola commented on #25
thanks @thijstriemstra it helps, but actually after several times of trying, it didn't work as well (cause: file of fileupload plugin are missing and i tried to get from source but it didn't work for me), anyway:...
finaly, i can upload the video (ONLY USING FIREFOX):

[code]

[code]

and it works fine, BUT:
Audio never match the video (sound is faster than the video) !!
note: saved format is "mp4

[2016-01-17 01:12] thijstriemstra commented on #31
This might be related as well: https://www.fxsitecompat.com/en-CA/docs/2015/x-content-duration-header-for-ogg-media-is-no-longer-supported/

[2016-01-17 01:36] megadola opened #39 "Recorded video is not stable"
thanks @thijstriemstra it helps, but actually after several times of trying, it didn't work as well (cause: file of fileupload plugin are missing and i tried to get it from the source on github but it didn't work for me), anyway:...
finaly, i can upload the video (ONLY with FIREFOX):

JS
[code]

PHP
[code]

and it works fine, BUT:
Audio never match the video (sound is faster than the picture - AUD

[2016-01-17 01:39] thijstriemstra commented on #39
What versions of video.js, recordrtc, videojs-record, browser, operating system etc are you using?

[2016-01-17 09:59] megadola commented on #39
RecordRTC: January 8th, 2016
video.js: 5.2.1
jQuery: 2.1.4
Windows: 10, DELL latitude E5540 i5, 8G RAM

[jsfiles.zip](https://github.com/collab-project/videojs-record/files/93287/jsfiles.zip)

[2016-01-18 00:21] thijstriemstra commented on #19
I added some commits that hide the native controls overlaying the interface (also needs a line of css, see one of the examples).

Animated GIF, all the audio examples and the image example worked fine on this Samsung galaxy tab using "Mozilla/5.0 (Android 4.2.2; Tablet; rv:43.0) Gecko/43.0 Firefox/43.0".

But the video-only and audio-video examples failed.

The video-only example threw this error

[2016-01-18 00:24] thijstriemstra commented on #39
what version of firefox?

[2016-01-18 00:41] thijstriemstra commented on #39
I think the audio/video timing issue can be fixed with https://github.com/muaz-khan/RecordRTC#initrecorder, it does mention these issues.

[2016-01-18 14:37] thijstriemstra commented on #39
The PR was merged. @megadola can you grab the latest videojs-record and RecordRTC.js from their repository and try again?

[2016-01-18 14:41] thijstriemstra opened #40 "Support for lamejs mp3 recording"
https://github.com/zhuker/lamejs offers an mp3 encoder in javascript.

[2016-01-18 17:55] thijstriemstra commented on #40
Fixed.

[2016-01-18 17:55] #40 closed

[2016-01-18 19:38] abgoldstein opened #41 "webm/wav in Chrome seems to record silence"
On OSX 10.11.2 in Chrome 47.0.2526.106, I'm trying to use videojs-record to record video and play it back. I'm not sure if this is a duplicate of https://github.com/collab-project/videojs-record/issues/4, but I'm having trouble getting audio. Here's the code:

[code]

[code]

I can see the callback from howler.js work correctly but I don't hear anything. The audio seems to exist but I think it's r

[2016-01-18 20:02] thijstriemstra commented on #41
@abgoldstein what happens when you remove `loop` setting, this seems to screw things up after first playback. I'm also on that version of OSX with Chrome/48.0.2564.79.

[2016-01-18 20:15] abgoldstein commented on #41
Thanks for such a fast reply! I removed the loop and I still don't hear anything. Does your audio-only demo work for you in Chrome?

[2016-01-18 20:19] thijstriemstra commented on #41
Your event handler calls `play()` on the recorder, yes, that works I can hear that here. When I comment it out I expect it to hear with howler.js but that doesn't play. Can you point me to an example of a blob playing with howler.js?

[2016-01-18 20:22] thijstriemstra commented on #41
If you use this in the event handler:
[code]
works here.

[2016-01-18 20:26] thijstriemstra commented on #41
Ok, turns out your usage of howler.js was incorrect. Try this:

[code]

[2016-01-18 20:26] #41 closed

[2016-01-18 20:34] thijstriemstra opened #42 "Disable loop option"
The loop option isn't useful in this plugin and should be disabled, even when it's enabled by the user, because it screws up playback of recordings.

[2016-01-18 20:35] abgoldstein commented on #41
I tried both that code and your example with `Audio` and I didn't hear anything. Maybe this is something with my environment.

[2016-01-18 20:36] thijstriemstra commented on #41
I'm afraid it is..

[2016-01-18 20:39] abgoldstein commented on #41
Alright, thanks for the quick help!

[2016-01-18 20:43] thijstriemstra commented on #41
If you manage to download that blob, run ffmpeg's `ffprobe` on it, I'm curious what it returns..

[2016-01-18 20:53] abgoldstein commented on #41
Updated Chrome to 47.0.2526.106 and now I hear the audio. Not sure what the deal is but I'll take it.

[2016-01-18 20:55] thijstriemstra commented on #41
Ouch, that sucks. Oh well, good to know.

[2016-01-18 21:03] #42 closed

[2016-01-18 21:53] thijstriemstra opened #43 "Support for opus-recorder"
[opus-recorder](https://github.com/chris-rudmin/Recorderjs) is a library for library for recording opus encoded audio. Audio is encoded using [libopus](https://github.com/xiph/opus) ver 1.1.1 beta compiled with emscripten.

[2016-01-18 23:19] #43 closed

[2016-01-19 13:08] #35 closed

[2016-01-20 01:17] thijstriemstra opened #44 "Support for Seriously.js (video effects)"
https://github.com/brianchirls/Seriously.js provides 40+ high-quality video effects for browsers that support WebGL.
<img width="984" alt="screen shot 2016-01-20 at 02 16 48" src="https://cloud.githubusercontent.com/assets/305679/12437189/f265e596-bf1b-11e5-812f-cf54e2622e67.png">

[2016-01-20 01:28] thijstriemstra opened #45 "Support for Tuna (audio effects)"
https://github.com/Theodeus/tuna is an audio effects library for the Web Audio API.

[2016-01-20 17:16] alsar opened #46 "Blinking time indicator on second recording"
If you record a video for the second time, the time indicator starts to blink.
Also the recording time is wrong. If the length of the recorded video is 10s the recorder shows 8s. This also happens on the second run.

[2016-01-20 17:38] alsar opened #47 "Distorted video/audio"
Sometimes it happens that the audio and video is recorded like this: https://www.youtube.com/watch?v=iI1yHDF2DYA

This happens in Firefox, but I don't know in which circumstances. It seems that this happens randomly.

[2016-01-21 11:05] thijstriemstra commented on #47
@alsar is this something you noticed since v1.1.0 released this week or was it already present.

[2016-01-21 11:07] thijstriemstra commented on #46
@alsar is this something you noticed in v1.1.0 or was it already present?

[2016-01-21 11:10] alsar commented on #47
@thijstriemstra this happened also in 1.0.3
I didn't have the chance to check it in Chrome, if there is the same problem.

[2016-01-21 12:07] alsar commented on #46
It was already present in 1.0.3

[2016-01-22 21:37] zang opened #48 "Chrome MediaRecorder"
MediaRecorder API seems to be available in both Canary and stable, behind a flag (chrome://flags/#enable-experimental-web-platform-features). Does it mean that video+audio can be recorded as a single webm (similar to Firefox) in the future? :)

Is there any change I need to do with this lib to force Chrome MediaRecorder or it automatically detect MediaRecorder?

Thanks

[2016-01-25 12:11] thijstriemstra commented on #39
Closing this for now, please reopen if issue still exists.

[2016-01-25 12:11] #39 closed

[2016-01-25 12:15] thijstriemstra commented on #48
Yes, support for MediaRecorder in Chrome was added to RecordRTC: https://github.com/muaz-khan/RecordRTC/commit/565347c8b1fbcce3cb1118746b373de781cb9673 but there's this comment:

[code]
So audio isn't supported yet, Chrome supports only video recording at the moment.

@zang, does the browser console log show that RecordRTC is using MediaRecorder in Chrome stable or beta?

[2016-01-25 14:42] thijstriemstra commented on #46
@alsar what browser are you using? It is supposed to blink (but perhaps it only does it the second time in your browser).

[2016-01-25 14:43] thijstriemstra commented on #46
Oh you mean the time indicator, not the record indicator of course, my bad. The time indicator starts to blink, can you make a gif or something of this, I'm not seeing this or misunderstanding you. This would also help with figuring out the recording time issue.

[2016-01-25 14:45] thijstriemstra commented on #47
@alsar the youtube link you're referring to is gone it seems ("This video has been removed by the user.")

What version of Firefox is this? Are you using the latest recordrtc version?

[2016-01-25 15:27] alsar commented on #47
@thijstriemstra I deleted it by mistake as I removed some testing videos.
I've found another one: https://www.youtube.com/watch?v=mwvvR1Dh3Wg

It's the latest version of RecordRTC, but it also happened with previous versions of RecordRTC and videojs-record. I'm using Firefox 43 on Linux.

I couldn't reproduce it on Chrome (Chromium) as this happens rarely.

[2016-01-25 17:04] alsar commented on #46
Here is a video: https://youtu.be/g_QsgwQRqO4

As already mentioned, this happens only on the second run (and every next).

[2016-01-26 11:19] zang commented on #48
I enabled the flags on Chrome stable and I got the following from console log:

started recording audio stream.
initializing audio stream recorder.
StereoAudioRecorder is set to record number of channels:  2
sample-rate 44100
buffer-size 4096
started recording video stream.
initializing video stream recorder.
Using frames-interval: 10
canvas resolutions 320 * 240
video width/height 320 * 240

[2016-01-26 11:22] thijstriemstra commented on #48
Try Chrome Beta as well @zang

[2016-01-26 11:28] zang commented on #48
Version 50.0.2631.0 canary (64-bit)

started recording audio stream.
initializing audio stream recorder.
StereoAudioRecorder is set to record number of channels:  2
sample-rate 44100
buffer-size 4096
started recording video stream.
initializing video stream recorder.
Using frames-interval: 10
canvas resolutions 320 * 240
video width/height 320 * 240

[2016-01-26 11:30] thijstriemstra commented on #48
And what if you disable the flag. Also see https://github.com/muaz-khan/RecordRTC/issues/78

[2016-01-26 11:34] zang commented on #48
Disabled the flags on stable, and got same console log.

[2016-01-26 11:37] thijstriemstra commented on #48
@zang and what if you remove the `!isChrome` here: https://github.com/muaz-khan/RecordRTC/blob/master/RecordRTC.js#L790 (try with both beta/stable and flags on/off)?

[2016-01-26 11:39] thijstriemstra commented on #48
@zang well that will probably not make much difference, but try commenting out the various checks and force it to use MediaRecorder on Chrome that way.

[2016-01-26 11:39] thijstriemstra commented on #48
If that doesn't work than it's simply too early to rely on it in Chrome I think.

[2016-01-26 12:12] zang commented on #48
Will try and keep you posted. thanks :)

[2016-01-28 10:46] muaz-khan commented on #48
### Chrome stable

1. Supports video-only recording
2. Not following spec i.e. 2nd argument of MediaRecorder API is expected to be a string (`video/vp8`) rather than an object `{mimeType:"video/webm"}`
3. RecordRTC is forcefully skipping stable versions i.e. using WhammyRecorder/StereoAudioRecorder instead.

You can force `recorderType` but you've to manually modify MediaStreamRecorder.js to pass

[2016-01-28 10:46] zang commented on #48
Removed !isChrome and the console log is different as below:

started recording audio stream.
initializing audio stream recorder.
Passing following config over MediaRecorder API. video/vp8
started recording video stream.
initializing video stream recorder.
Using frames-interval: 10
canvas resolutions 320 * 240
video width/height 320 * 240

[2016-01-28 11:30] muaz-khan commented on #47
This issue seems happening only on Windows.

Firefox 44.0 on Mac seems working fine (tested in MacOSX 10.10.5)

[2016-01-28 11:57] thijstriemstra commented on #48
Thanks for the details @muaz-khan! You mention it's possible to force the `recorderType` but this project uses MRecordRTC and I don't see a way to specify this. Would you accept a pull request for this?

[2016-01-28 11:58] thijstriemstra commented on #48
@zang, that looks better, how's the quality of the resulting audio or video file?

[2016-01-28 12:00] thijstriemstra commented on #47
Thanks for your feedback @muaz-khan. @alsar mentions he's using Linux Firefox 43, seems it's not a Windows only problem..

[2016-01-28 12:18] zang opened #49 "Trigger vjs-device-button"
Is there a way to trigger the vjs-device-button button programmatically?

Use case:
1) click a link outside the player to trigger the camera
2) automatically trigger the camera to skip clicking of the button

thanks

[2016-01-28 12:21] zang commented on #48
@thijstriemstra quality looks similar. I will change resolutions and intervals to see if them make difference. :)

[2016-01-28 12:26] thijstriemstra commented on #49
Yes, use `getDevice` (and `stopDevice`). See https://github.com/collab-project/videojs-record/issues/12.

[2016-01-28 12:26] #49 closed

[2016-01-28 15:20] zang commented on #49
thanks

[2016-01-28 15:21] zang opened #50 "IE record for video+audio"
I tried to record video+audio on IE and it seems only recorded audio as wav and no video. Is that the limitation with RecordRTC?

[2016-01-29 13:21] thijstriemstra commented on #50
@zang what version of Internet Explorer? What version of Windows?

[2016-01-29 13:27] zang commented on #50
@thijstriemstra
IE Edge 25.105686.0.0
Window 10 Home

[2016-01-29 13:56] thijstriemstra commented on #50
I've signed up for https://dev.windows.com/en-us/microsoft-edge/tools/remote/ and I'll take a look, haven't tested with IE at all.

[2016-01-29 14:05] thijstriemstra commented on #50
Well, that sucked, there's no webcam/mic support for that remote desktop tool.

[2016-02-01 08:19] vojka commented on #46
I'm also having the same problem.

[2016-02-01 08:40] vojka commented on #47
I also encountered this problem a few times.
@thijstriemstra @muaz-khan Is this a problem with RecordRTC or videojs-record?

[2016-02-01 09:34] muaz-khan commented on #47
Seems issue in Firefox. If you record merely video-tracks then it works in all platforms.

Maybe we need to pass `video/webm; codecs=vp8` or vp9/etc. parameters instead of simply passing `video/webm`.

PS. There seems something wrong in Firefox implementation. Maybe need to track bugzilla.

[2016-02-02 16:07] thijstriemstra commented on #46
It seems this only happens on slow machines, I can't reproduce it on this early 2015 Macbook Pro.

[2016-02-02 16:09] thijstriemstra commented on #50
The RecordRTC [changelog](https://github.com/muaz-khan/RecordRTC/blob/master/RecordRTC.js#L27) mentions there's audio-only support for now in Edge.

[2016-02-02 16:09] #50 closed

[2016-02-03 10:31] zang commented on #48
With MediaRecorder enabled, the recorded video doesn't seem to have sound. It works without though.

[2016-02-03 10:32] zang commented on #50
Thanks, and I will ask users to use Chrome on Windows.

[2016-02-04 14:27] alsar commented on #46
Tried on multiple i5 machines with 8-16gb ram. Same problem.

[2016-02-04 14:32] thijstriemstra commented on #46
There is someting in video.js that resets the current time every x milliseconds when no valid source was found. This is what makes the time indicator 'blink'. Please look through the video.js source (probably for `timeupdate` event) and figure out how to disable this, I won't have time the next few days.

[2016-02-04 14:39] thijstriemstra commented on #46
For example, on https://github.com/videojs/video.js/blob/master/src/js/player.js#L2792:

[code]
This is the 15-250 ms time indicator reset issue I think.

[2016-02-04 14:47] thijstriemstra commented on #46
And then in [tech.js](https://github.com/videojs/video.js/blob/master/src/js/tech/tech.js#L165) there's `trackCurrentTime`. Can you check if that method is called and resets the time to 0?

[2016-02-04 14:56] thijstriemstra commented on #46
When the videojs-record plugin is first intialized, the `timeupdate` event [is disabled](https://github.com/collab-project/videojs-record/blob/master/src/js/videojs.record.js#L371). Then during playback it's [enabled again](https://github.com/collab-project/videojs-record/blob/master/src/js/videojs.record.js#L955). If you then start recording again, the `timeupdate` handler is [disabled again](htt

[2016-02-09 21:36] zang opened #51 "Firefox video quality"
Using the default 640*480 setting on Firefox, and the recorded video seems in much lower quality compared with Chrome recorded video with 640*480 setting. I also tested on the recordrtc example page, and the Firefox video quality seems fine and match the chrome quality.  Is there any setting I can change to improve the Firefox video quality?

All the tests performed on latest iMac with latest brow

[2016-02-10 21:33] axyl opened #52 "Firefox Video locked in 4:3, specifying 720p. Works in Chrome"
Hey Guys,

With this test setup...

[code]

In Chrome, the video is played/recorded in 720p, but Firefox seems to lock in at 4:3?  I've duplicated this with a few different cameras too.  Any ideas?

Firefox 44.0.1/Windows 10

[2016-02-10 23:48] Yamakasi commented on #25
Is it not possible to realtime stream it to the server like with flash ? the issue is when it needs to upload after the recording it might get corrupted because users think, stop is remotely saved which happens with flash realtime.

[2016-02-11 16:56] thijstriemstra commented on #52
Have you tried using different constraints (`width`, `height`)? What does the RecordRTC console log display?

[2016-02-11 16:56] thijstriemstra commented on #51
@zang can you compare the output of the recordrtc console log?

[2016-02-11 20:30] zang commented on #51
**Example console from https://www.webrtc-experiment.com/RecordRTC/**

started recording video stream.
RecordRTC.js (line 105)
initializing video stream recorder.
RecordRTC.js (line 129)
Passing following config over MediaRecorder API. Object { type="video",  mimeType="video/webm",  disableLogs=false,  more...}
RecordRTC.js (line 1477)
Stopped recording video stream.
RecordRTC.js (line 154)
video/

[2016-02-11 20:35] zang commented on #52
@axyl , you may need to clear cache and cookie and try again. It happened to me as well without clearing the above.

[2016-02-11 22:34] axyl commented on #52
Using [this ](http://stackoverflow.com/questions/26415778/getusermedia-video-size-in-firefox-chrome-differs) as inspiration, I could get the right aspect ratio with the following...

[code]

It's probably device specific, but when I tried locking at 1024x576, Firefox wouldn't like it.

[2016-02-12 13:07] thijstriemstra commented on #52
@axyl good to hear you got it to work, closing.

[2016-02-12 13:07] #52 closed

[2016-02-12 13:48] thijstriemstra commented on #51
@zang I meant the videojs-record console output for Chrome versus Firefox, there must be something to see in the log that explains the quality difference.

[2016-02-13 10:04] zang commented on #51
@thijstriemstra Chrome console log below:

started recording audio stream.
RecordRTC.10297.js:129 initializing audio stream recorder.
RecordRTC.10297.js:1704 StereoAudioRecorder is set to record number of channels:  2
RecordRTC.10297.js:2065 sample-rate 44100
RecordRTC.10297.js:2066 buffer-size 4096
RecordRTC.10297.js:105 started recording video stream.
RecordRTC.10297.js:129 initializing video st

[2016-02-13 21:56] zang commented on #51
Would it be the 'bitsPerSecond 128000' affecting the quality? If so, is there a way not to pass it to media stream API? :)

[2016-02-13 21:58] thijstriemstra commented on #51
@zang does [this RecordRTC](https://github.com/muaz-khan/RecordRTC/commit/6c3d5bd59e9017c6374432499cd021aad0d884c5) commit (log) help?

[2016-02-13 22:04] thijstriemstra commented on #51
I suppose being able to set this value from videojs-record would be necessary, but confirming this fixes the issue would be nice first.

[2016-02-14 22:05] zang commented on #51
fixed by upgrade recordrtc to latest commit. thanks.

[2016-02-14 22:05] #51 closed

[2016-02-14 22:51] zang opened #53 "Force Firefox to record video/audio separately"
Is there a way to force Firefox to record video and audio separately (similar to Chrome)? The reason is that the default recorded webm got audio issues when uploaded to YouTube, Vimeo or transcode with ffmpeg. I saw other people have the same issue and reported on https://www.webrtc-experiment.com/RecordRTC/AudioVideo-on-Firefox.html

[To reproduce the issue]
1) Record video+audio as single webm
2

[2016-02-15 00:52] thijstriemstra commented on #51
Thanks for the update. Could you open a recordtrtc ticket and ask him to release a new version?

[2016-02-19 10:52] zang commented on #53
@thijstriemstra , is there a way to force firefox to record video/audio seperately? e.g. set isChrome is true or something like that. I don't particularly like this approach, but there seems no other way to fix the firefox encoder issue. I really want to support Firefox, any advice would be appreciated. :)

[2016-02-19 12:13] thijstriemstra commented on #53
@zang videojs-record uses recordrtc for recording by default and i would ask thebquestion in that project and open ticket there.

[2016-02-19 14:46] zang commented on #53
@thijstriemstra thanks a lot, much appreciated :)

[2016-02-19 16:04] zang commented on #53
@thijstriemstra I've found the following code example from Muaz Khan's response, and wondering if that would help to build the logic into videojs-record? Sorry that I am able to tell based on my limited javascript knowledge. :(

`
var audioStream = new MediaStream();
var videoStream = new MediaStream();

audioStream.addTrack(originalStream.getAudioTracks()[0]);
videoStream.addTrack(originalStream.

[2016-02-20 10:10] alsar opened #54 "Recorder freezes on Chrome 49 beta"
When i hit the record button it doesn't start to record, but it just freezes after a few seconds.
The console output shows that the recorder tries to initialize the MediaRecorder API over and over again until it crashes the browser.

![selection_009](https://cloud.githubusercontent.com/assets/1380676/13195996/12f929c6-d7c2-11e5-9766-a3ab23786396.png)

On Chrome 48 it works without a problem.

On t

[2016-02-20 23:44] zang commented on #54
I can reproduce this issue on MRecordRTC demo page as well with Chrome 49. I think there might be conflicts between MRecordRTC() and RecordRTC() on handling audio stream. @thijstriemstra , what do you think?

[2016-02-21 19:06] thijstriemstra commented on #54
@zang if you can reproduce it with the mrecordrtc demo, please file a ticket in recordrtc (as well).

[2016-02-21 19:39] zang commented on #54
Created the ticket at https://github.com/muaz-khan/RecordRTC/issues/92

@thijstriemstra , @alsar , does Chrome 49 generate video/audio in single webm? If so, any impact to videojs-record?

[2016-02-21 20:13] alsar commented on #54
@zang Chrome 49 finally implements the MediaRecorder API and generates a single file.

[2016-02-22 09:28] zang commented on #54
RecordRTC.js line 892:
I replaced isChrome with isMediaRecorderCompatible() and it seems to work now. Unsure of other conditions in that line though.

[2016-02-22 09:54] zang commented on #48
Related to https://github.com/collab-project/videojs-record/issues/54 and https://github.com/collab-project/videojs-record/pull/55

[2016-02-22 09:54] #48 closed

[2016-02-22 20:12] zang commented on #54
p.s. Chrome 49+ supports 720p well.

[2016-02-22 20:17] thijstriemstra commented on #54
Can you link the recordrtc PR here @zang?

[2016-02-22 21:28] zang commented on #54
https://github.com/muaz-khan/RecordRTC/pull/94

[2016-02-24 11:05] zang opened #56 "Chrome constraints"
What's the best way to let browsers use 720p?

Experiment 1
_video: { mandatory: { minWidth: 1280, minHeight: 720 } }, frameWidth: 1280, frameHeight: 720,_
It works fine on my iMac fine. However, it throws media constrain error on my Mac air.

Experiment 2
_video: {
  width: { min: 640, ideal: 1280, max: 1280 },
  height: { min: 480, ideal: 720, max: 720 },
}, frameWidth: 1280, frameHeight: 720,_

[2016-02-24 15:03] thijstriemstra commented on #56
What media constraint error do you see on your mac?

[2016-02-24 15:06] thijstriemstra commented on #54
@zang so this is fixed with the latest recordrtc?

[2016-02-24 15:12] alsar commented on #54
Yes it is. I tested it and it works.

[2016-02-24 15:12] #54 closed

[2016-02-24 18:37] thijstriemstra commented on #19
Let's open specific issues for video-only, audio-video example failures, closing this.

[2016-02-24 18:37] #19 closed

[2016-02-25 16:14] thijstriemstra commented on #53
@zang looks like recordrtc 5.2.9 added ability to select specific audio/video recorder type but no way to record streams seperately yet.

[2016-02-25 16:50] zang commented on #53
thanks @thijstriemstra , do you think that could solve the firefox audio encoder issue?  I can give it a try, it will be great if you can let me know how to set the recorder type within videojs-record :)

[2016-02-25 16:56] thijstriemstra commented on #53
Recordrtc doesn't allow you to separate the audio/video yet so I don't think your issue is solved yet. But specifying the `audioRecorderType` and `videoRecorderType` can be done like:

[code]

[2016-02-25 17:06] zang commented on #53
thanks @thijstriemstra . :) I will give it a try later on and post the results here.

[2016-02-25 17:46] zang commented on #53
Upgraded videojs.record to latest and upgraded recordrtc to 5.2.9
Using the following code to setup the recorder:

{ record: { audio: true, video: { mandatory: { minWidth: 640, minHeight: 480 } }, frameWidth: 640, frameHeight: 480, audioRecorderType: "StereoAudioRecorder", videoRecorderType: "WhammyRecorder", maxLength: 60 }

Recorded the video on firefox and ffprobe info below:
Input #0, matroska

[2016-02-25 18:01] zang commented on #56
@thijstriemstra I got the following error on Chrome 50, Mac Air

NavigatorUserMediaError {name: "ConstraintNotSatisfiedError", message: "", constraintName: "width"}

[2016-02-25 18:45] thijstriemstra commented on #53
You should use the javascript class name not a string value, e.g. WhammyRecorder without quotes.

[2016-02-25 19:01] zang commented on #53
@thijstriemstra , I tried that as well, and I got the following error on firefox:

TypeError: riff.RIFF is undefined

I think it might be caused by lack of WebP support on Firefox.

[2016-02-25 23:09] thijstriemstra commented on #53
@zang something I'd ask @muaz-khan

[2016-02-26 18:23] thijstriemstra commented on #53
Looks like 5.3.0 works around that error on firefox.

[2016-02-26 18:31] zang commented on #53
@thijstriemstra , I've tried with the following on Firefox (5.3.0):
audio: StereoAudioRecorder,  video: MediaStreamRecorder

And the recorded file got no audio stream, ffprobe info below:

Metadata:
    encoder         : QTmuxingAppLibWebM-0.0.1
  Duration: N/A, start: 0.000000, bitrate: N/A
    Stream #0:0(eng): Video: vp8, yuv420p, 640x480, SAR 1:1 DAR 4:3, 30 fps, 30 tbr, 1k tbn, 1k tbc (defaul

[2016-03-02 21:57] thijstriemstra commented on #56
@zang what if you include http://webrtc.github.io/adapter/adapter-latest.js before every other js script?

[2016-03-02 21:59] thijstriemstra commented on #47
Is https://bugzilla.mozilla.org/show_bug.cgi?id=1234230 related?

[2016-03-02 23:47] thijstriemstra commented on #34
Perhaps core compatibility code for things like getUserMedia and MediaStream.stop() will always be part of videojs-record, but support for 'extras' like `enumerateDevices` (#16) or consistent constraints definitions you would need to include some or all of adapter.js (e.g. https://webrtc.github.io/adapter/adapter-latest.js).

[2016-03-03 08:02] zang commented on #56
Thanks, will try.

[2016-03-04 13:55] vojka commented on #56
With https://webrtc.github.io/adapter/adapter-latest.js it works on Chrome 49.

[2016-03-05 23:00] thijstriemstra commented on #56
Thanks for the feedback @vojka. A pull request adding this info to the media constraints section in the readme is always welcome.

[2016-03-06 21:35] #56 closed

[2016-03-09 12:05] zang commented on #56
It doesn't seem to work for me on Chrome 49. Console log:

adapter.js shimming chrome!
constraintName "minHeight"
message ""
name "ConstraintNotSatisfiedError"

Recorder setup as:
record: { audio: true, video: { mandatory: { minWidth: 1280, minHeight: 720 } }, frameWidth: 1280, frameHeight: 720

[2016-03-09 17:53] thijstriemstra commented on #56
This [comment](https://github.com/samdutton/simpl/issues/62) suggests the camera doesn't support the resolution but you're saying it's working in Firefox so that can't be the issue then..

[2016-03-09 17:55] thijstriemstra commented on #56
Here's a very complete examination of constraints: https://webrtchacks.com/video-constraints-2/

[2016-03-15 08:43] alsar commented on #47
It seems that it is the same issue. According to the bug report it should be fixed in Firefox 47.
I'll close the issue for now.

[2016-03-15 08:43] #47 closed

[2016-03-15 12:06] thijstriemstra commented on #47
thanks @alsar, if you can confirm at some point that this is fixed, please let us know.

[2016-03-15 17:48] zang commented on #56
Thanks, Chrome seems still use the old constraints and all seems ok with setting up maxWidth option.

[2016-03-16 01:54] thijstriemstra commented on #46
@alsar can you upgrade video.js to 5.8.0 or newer and check if this issue is fixed (related commit: https://github.com/videojs/video.js/commit/04907283216c18fdcb44bebd1253c507b5cede51)?

[2016-03-16 08:24] alsar commented on #46
@thijstriemstra it's still the same with 5.8.3

[2016-03-16 14:57] JoshHarrington opened #59 "Chrome v49 - no video playback"
Hi there,

First off, massive thanks for the plugin.

I've noticed an issue when trying to playback the video on the latest version of Chrome on Mac - Version 49.0.2623.87 (64-bit).

To replicate:

- Ensure you're on Chrome v49 or higher on Mac
- Start recording a video
- Stop the video
- Press the play button
- Instead of playing the video you've just recorded it will just default to the live fee

[2016-03-16 15:03] thijstriemstra commented on #59
@JoshHarrington I'll take a look at it now but can you also try to reproduce this with one of the online examples (because your report references a `http://127.0.0.1:8011/js/showdown.js.map` which is not related to this plugin), e.g. http://collab-project.github.io/videojs-record/

[2016-03-16 15:11] JoshHarrington commented on #59
@thijstriemstra thanks for the quick response.

Yeah I think you're right, I'm guessing there must be something wrong with our setup as I can still use the demo from the github site fine (https://collab-project.github.io/videojs-record/examples/audio-video.html)

If there's anything you can think that we might be doing strangely then that would be a massive help, but I think it's unlikely there's

[2016-03-16 15:46] JoshHarrington commented on #59
@thijstriemstra just grabbed the latest js from the repo and seems to be working fine now.

Sorry for the false alarm!

[2016-03-16 15:46] #59 closed

[2016-03-16 17:14] zang commented on #53
I can manage to get around now. closing this ticket.

[2016-03-16 17:14] #53 closed

[2016-03-16 17:17] zang opened #60 "Recording crash over 3 mins on 720p"
Resolution 720p, on Chrome 49 stable iMac. Page crashes when I click on the finish button.

[2016-03-16 17:21] thijstriemstra commented on #60
@zang can you include the video.js config so I can give it a try?

[2016-03-16 17:38] zang commented on #60
Here you go:

var player = videojs('myVideo', { controls: true, loop: false, plugins: { record: { audio: true, video: { mandatory: { minWidth: 1280, minHeight: 720, maxWidth: 1280, maxHeight: 720 } },  maxLength: 600 } } });

Tried on the following page and works fine for long recording but apparently it's 480p as I don't see any option to switch to 720p. :)

[2016-03-16 18:06] zang commented on #60
Testing Machine:
iMac OS X
2.7 GHz Intel Core i5
8 GB 1600 MHz DDR3

[2016-03-16 18:07] thijstriemstra commented on #60
What page?

[2016-03-16 18:09] zang commented on #60
https://www.webrtc-experiment.com/RecordRTC/MRecordRTC/

[2016-03-16 19:42] thijstriemstra commented on #60
@zang with chrome 49 on OSX I've tried with the default settings (320x240) and this created a video/webm -> 74.1 MB file for 9:10 minutes. When I record more than 9:30 the browser crashes, even with 320x240. Need to figure out how to view the crash log.

[2016-03-16 20:53] thijstriemstra commented on #60
I've logged a crash report here: https://bugs.chromium.org/p/chromium/issues/detail?id=595442

[2016-03-16 21:05] zang commented on #60
Thanks @thijstriemstra
I just recorded a 5-min 720p on Firefox (98mb) and it works. So, I think it's a Chrome issue.

@muaz-khan are you aware of this issue? I vaguely remember you have an example of 60-min recording. If so, how did you do it?

[2016-03-16 21:17] thijstriemstra commented on #60
FYI a Blob in Chrome cannot be bigger than 500MB at the moment according to [this bug report](https://bugs.chromium.org/p/chromium/issues/detail?id=375297) but we're not hitting that limit yet are we?

[2016-03-16 21:37] thijstriemstra commented on #60
@muaz-khan on Chromium I see an actual error and it seems related to RecordRTC: https://bugs.chromium.org/p/chromium/issues/detail?id=595442#c1

[2016-03-17 01:41] thijstriemstra commented on #45
Also see https://github.com/mdn/stream-source-buffer

[2016-03-20 20:11] thijstriemstra commented on #60
@muaz-khan added a change related to this issue it seems (https://github.com/muaz-khan/RecordRTC/commit/b1e63b06ce3d19828849ab53f1174288f528d925).

[2016-03-21 16:56] zang commented on #60
Thanks @thijstriemstra , and I will try.

[2016-03-21 16:57] zang opened #61 "Pause and resume recording"
Question : Is it possible to press a button to pause/resume recording?

[2016-03-21 18:25] thijstriemstra commented on #61
Not yet. Back then this wasnt part of recordrtc yet. PR welcome!

[2016-03-21 20:03] angelolustosa opened #62 "VIDEOJS: WARN: Player "my-id" is already initialised. Options will not be applied."
When I close window that contains video with "my-id", show me this warning. I know  that I close player before open new window with new player and fix this warning, but I can't doing. Can help me?

`var me =  this,
			player = videojs("videoExame", {
		    controls: true,
		    width: 415,
		    height: 306,
		    plugins: {
		        record: {
		            audio: true,
		            video: true,

[2016-03-22 18:02] thijstriemstra commented on #62
It looks like you need to call `destroy` on the player when you close your modal window, see https://github.com/collab-project/videojs-record#options.

[2016-03-22 18:39] thijstriemstra commented on #60
I just tried again in Chrome stable 49 and created video/webm -> 173 MB for 10:10 minutes and I didn't get a crash. Tested on:

<img width="208" alt="screen shot 2016-03-22 at 19 39 31" src="https://cloud.githubusercontent.com/assets/305679/13963484/d89602f6-f065-11e5-909a-1803450fde49.png">

[2016-03-23 10:43] zang commented on #60
Tested on my machine and it works perfectly. (Closing this ticket)

[2016-03-23 10:43] #60 closed

[2016-03-23 21:22] zang commented on #46
Got the same issue. Time still updates, but the leading 0 seems to blink. (e.g. 0:12 to 00:12, then to 0:13)

[2016-03-24 13:59] zang commented on #46
it works fine if I change line 1547 to the following:
m = ((h && m < 10) ? '0' + m : m) + ':';

I am not unsure what's the gm for, so didn't create PR.

[2016-03-24 17:39] thijstriemstra commented on #46
@zang feel free to make a PR so I can check it out. videojs-wavesurfer also uses the same code, I'm guessing it's the same problem there? https://collab-project.github.io/videojs-wavesurfer

[2016-03-24 20:50] zang commented on #46
https://github.com/collab-project/videojs-record/pull/65

[2016-03-25 15:16] thijstriemstra commented on #46
This is the original code btw: https://github.com/videojs/video.js/blob/master/src/js/utils/format-time.js

videojs-record adds support for `M:SS:MMM`.

[2016-03-25 15:49] thijstriemstra commented on #46
Thanks for the PR @zang, merged it and will release a new version now.

[2016-03-25 15:49] #46 closed

[2016-03-29 00:28] thijstriemstra commented on #62
@angelolustosa closing because no feedback.

[2016-03-29 00:28] #62 closed

[2016-04-06 16:59] jjones3535a opened #66 "Re-register events"
I am using -> player.recorder.destroy();  and then rebuilding my player on a page.  However, when I do this my player events:

player.on('deviceError',
player.on('deviceReady'
player.on('startRecord',

no longer fire.  Is there a way to re-register those events on the page?

[2016-04-11 21:04] web-maker opened #67 "Firefox & Chrome crashes"
FF (or Crome) crashed when user set permissions to use microphone and select **No video** for video input device. In FF was detected next message:
`MediaRecorder Error error { target: MediaRecorder, isTrusted: true, name: "OutOfMemoryError", currentTarget: MediaRecorder, eventPhase: 2, bubbles: false, cancelable: false, defaultPrevented: false, timeStamp: 1460385666006891, originalTarget: MediaRec

[2016-04-12 12:23] thijstriemstra commented on #67
What code are you using?

[2016-04-12 12:24] thijstriemstra commented on #66
That would be a bug, can you create an example that reproduces this?

[2016-04-12 14:43] web-maker commented on #67
@thijstriemstra ,
Player configs:
`var player = videojs("recorded-video", {
    controls: true,
    loop: false,
    plugins: {
        record: {
            maxLength: 90,
            debug: true,
            image: false,
            audio: true,
            video: {
                width: { min: 640, ideal: 800, max: 1280 },
                height: { min: 480, ideal: 600, max: 720 }

[2016-04-12 15:09] thijstriemstra commented on #67
You shouldn't start the recorder right after you call `getDevice`, make sure the device is active first and call `recorder.start()` from the `deviceReady` event handler. With that being said, I'm also seeing an error in Firefox 45.0.2 on OSX 10.11.4 that I've never encountered before:

[code]

[2016-04-12 15:13] thijstriemstra commented on #67
Now that I restarted the browser I can't reproduce it though, weird.

It could be a imcompatible constraint thing as well, can you try including http://webrtc.github.io/adapter/adapter-latest.js before your scripts and see if that helps?

[2016-04-12 15:15] thijstriemstra commented on #67
Ok, when I select 'No video' for that option my browser crashes as well. May I ask why you select no video when you're trying to record both audio and video? To reproduce a user error?

[2016-04-12 15:22] thijstriemstra commented on #67
When I do the same in [this example](https://simpl.info/mediarecorder/) the browser doesn't crash.

[2016-04-12 16:40] thijstriemstra commented on #67
I've tried debugging the issue and it looks like it's a recordrtc problem, specifically https://github.com/muaz-khan/RecordRTC/issues/117. When I downgrade recordrtc to 5.3.0 (`bower install recordrtc#5.3.0`) a stacktrace appears and an error about too much recursion:

[code]

[2016-04-12 17:06] thijstriemstra commented on #67
Also seeing the `OutofMemory` error after some fiddling with RecordRTC:

[code]

[2016-04-12 19:17] web-maker commented on #67
@thijstriemstra First of all thank you for replies and help. You say:

I'm just acted as a user. They can do it, so I have to handle this behavior.

Sure, just go to chrome://settings/content#media-stream-mic and there we can disable camera or microphone [screen](http://storage6.static.itmages.com/i/16/0412/h_1460487164_7339247_92baf1727c.png).
You also can get this settings by click this [link](h

[2016-04-12 19:20] thijstriemstra commented on #67
I've opened a new recordrtc issue because I can also reproduce it without videojs-record so it's a recordrtc.js issue, see https://github.com/muaz-khan/RecordRTC/issues/118. I agree that it's a user error that should be handled. I've tried debugging the error but couldn't fix it, let's continue the conversation on the recordrtc.js ticket because there's not much I can do in this plugin I think.

[2016-04-15 17:00] thijstriemstra commented on #67
@web-maker well looks like @muaz-khan pushed a fix for this issue, can you give the latest recordrtc a try?

[2016-04-15 17:24] web-maker commented on #67
@thijstriemstra I have already tested the latest version. Looks like it works fine - no crashes now in Chrome and FF. Many thanks to you andI  have already tested the latest version. Looks like it works fine - no crashes now in Chrome and FF. Many thanks to you and mauz-khan.

[2016-04-15 17:47] thijstriemstra commented on #67
Awesome! Thanks guys.

[2016-04-15 17:47] #67 closed

[2016-04-17 17:50] thijstriemstra commented on #66
@jjones3535a closing because of missing feedback.

[2016-04-17 17:50] #66 closed

[2016-04-18 19:04] Technopathic opened #68 "Videojs-record with Browserify"
Hi, I'm pretty new to VideoJS/VideoJS-record and was wondering if it's possible to get this working on the client-side using Browserify? And if so, could I have a basic example?

[2016-04-18 19:42] thijstriemstra commented on #68
hi @Technopathic I've not used browserify before but I believe @alsar has, maybe he can give some tips.

[2016-04-22 07:00] atsuzu commented on #68
I would also like to have a guide on how to use Browserify with this if possible :)

[2016-04-24 15:54] thijstriemstra commented on #68
Having a browserify (test) grunt task wouldn't hurt so we can see if it builds properly. I'm personally (still) using r.js.

[2016-04-24 19:28] atsuzu commented on #68
I tried using Browserify with this just now actually and encountered a problem.  I am a complete beginner with Browserify, so I may have done something wrong.

Steps I took (for video and audio):
1.  npm installed on video.js, recordrtc, and videojs.record.
2.  run browserify on videojs.record.js to create a bundle.js
3.  Included the bundle.js like so:
[code]

4.  I put all of this into MAMP, and

[2016-04-24 19:39] thijstriemstra commented on #68
@atsuzu can you paste the contents of the bundle in a gist (https://gist.github.com/) or something so we can take a look?

[2016-04-24 19:46] atsuzu commented on #68
@thijstriemstra  Sure thing!  I used MAMP to load my website on localhost and worked without problem without using browserify.  So I think the setup should be fine.  The bundle.js is crazy long but here it is.  :)

https://gist.github.com/atsuzu/78a88892551c0b64eba82ea36778e5cb

[2016-04-24 19:50] thijstriemstra commented on #68
Hmm the videojs-record code is in there.. Can you try implementing the steps you took into a grunt file (using something like https://github.com/jmreidy/grunt-browserify) so we can add this to the videojs-record grunt file for testing?

[2016-04-24 19:52] atsuzu commented on #68
I've never actually used grunt before, and so it might take a while to add the testing.  However, I can explain step by step what I did on here though if that's okay?

[2016-04-24 19:53] thijstriemstra commented on #68
I suppose that's ok but it might take longer to debug this.

[2016-04-24 19:55] thijstriemstra commented on #68
@atsuzu here's a good example: https://github.com/jmreidy/grunt-browserify/tree/master/examples/basic

[2016-04-24 20:05] atsuzu commented on #68
Thanks,

Step 1:
Download  and install MAMP

Step 2:
put index.html in MAMP/htdocs directory.

Step 3:
npm install video.js
npm install recordrtc
npm install videojs-record

Step 4:
Create a main.js with just the following content:
`var videojsrecord = require("videojs-record");`

Step 5:
browserify main.js > bundle.js

Step 6:
Start server with MAMP

Step 7:
Go to localhost:8888

Step 8:
When you

[2016-04-24 20:08] atsuzu commented on #68
@thijstriemstra Thanks, I'll go through and will try to create the grunt file as soon as I can.  :)

[2016-04-24 20:13] thijstriemstra commented on #68
Create a main.js with just the following content:
var videojsrecord = require("videojs-record");

I would probably try this instead:

[code]

[2016-04-24 20:42] atsuzu commented on #68
So I took that portion out of the index.html and inserted it in main.js.
I then get the following issue:

`video.min.js:22 Uncaught TypeError: The element or ID supplied is not valid. (videojs)`
and
`VIDEOJS: ERROR: Unable to find plugin: record`

[2016-04-24 20:50] thijstriemstra commented on #68
@atsuzu looks like there's not a video element on your page? See https://github.com/collab-project/videojs-record/blob/master/examples/video-only.html#L25.

[2016-04-24 20:58] atsuzu commented on #68
That's odd... I see the video tag on my index.html

https://gist.github.com/atsuzu/988e8e1251157ec9e3764aa08935bc1e#file-index-html-L25

[2016-04-24 21:05] thijstriemstra commented on #68
@atsuzu right but the script etc is still there (https://gist.github.com/atsuzu/988e8e1251157ec9e3764aa08935bc1e#file-index-html-L27)? Move everything inside <script> to your main.js.

[2016-04-24 21:15] atsuzu commented on #68
@thijstriemstra yes you're right.  I must have misunderstood how browserify worked with this.
So I updated the files with the script contents moved to move.js, and I regenerated the files using browserify main.js > bundle.js
Now I get just this error:
`Uncaught TypeError: The element or ID supplied is not valid. (videojs)`

[2016-04-24 21:35] atsuzu commented on #68
@thijstriemstra Actually, I think I got it to work.
I had to do two things.
1.  Move the bundle.js include to the bottom of the index.html
2.
[code]
These two files were not included by the bundle.

So after adding those two changes, the recorder was able to successfully record!
Thank you very much!! :)

[2016-04-24 22:17] thijstriemstra commented on #68
That's good to hear @atsuzu. I've created a wiki (https://github.com/collab-project/videojs-record/wiki) and it would be cool if you could these instructions to a new browserify wiki page so it can help @Technopathic etc.

[2016-04-24 22:51] atsuzu commented on #68
@thijstriemstra Done.  I hope it helps :)

[2016-04-25 00:39] fajarmf opened #71 "Improve support for Chrome Android browser"
Currently on Android browser the recording doesn't work. I tried the demo for video and the recorder doesn't start after clicking it.

Any plan on supporting them?

Thank you

[2016-04-25 08:24] sabardotnet opened #72 "how to save video in php"
console.log('finished recording: ', player.recordedData);

how to save player.recordedData in php ?

[2016-04-25 12:20] thijstriemstra commented on #72
@sabardotnet this is in the documentation: "Check the [jquery.fileupload](https://github.com/collab-project/videojs-record/blob/master/examples/upload/jquery.fileupload.html) or [Fine Uploader](https://github.com/collab-project/videojs-record/blob/master/examples/upload/fine-uploader.html)
examples on how to upload the data to a server."

[2016-04-25 12:20] #72 closed

[2016-04-25 12:21] thijstriemstra commented on #71
@fajarmf what (version) of the android browser? Can you add a screenshot?

[2016-04-25 15:22] thijstriemstra commented on #68
@atsuzu thanks, ive added some links and cleanup to the page, closing this ticket, please refer to that page @Technopathic.

[2016-04-25 15:22] #68 closed

[2016-04-25 15:42] thijstriemstra commented on #61
https://github.com/muaz-khan/RecordRTC/blob/master/dev/MRecordRTC.js will also need an update since there is no pause/resume functionality implemented yet.

[2016-04-27 01:10] fajarmf commented on #71
My mistake, it was a chrome browser. and the screenshot is attached.
![screenshot_2016-04-27-08-07-07_com android chrome](https://cloud.githubusercontent.com/assets/191735/14838825/7a0286d2-0c4f-11e6-9170-e40307a26c3d.png)

[2016-04-29 15:25] thijstriemstra commented on #71
@fajarmf is there any way you can get a console log for this? I'm hoping we can use that to figure out what's going on here.

[2016-05-03 05:03] jimklo opened #73 "Is there a way to clear the recorded video and restart the player?"
Is there a way to reset the video recorder and restart after the user has recorded a video?

[2016-05-03 06:37] thijstriemstra commented on #73
No not yet, PR welcome!

[2016-05-04 14:35] alsar commented on #68
@atsuzu @Technopathic @thijstriemstra

I've read the wiki: https://github.com/collab-project/videojs-record/wiki/Browserify
You don't need to include `video.min.js`. But you have to include `https://webrtcexperiment-webrtc.netdna-ssl.com/RecordRTC.js` as it does not support Browserify.

So in your index.html at the end of the body tag you just have to add:

[code]

In your main.js you add:

[code]

[2016-05-04 14:54] thijstriemstra commented on #68
Thanks for the feedback @alsar, feel free to update the wiki page ;)

[2016-05-11 11:47] thijstriemstra commented on #61
I've opened https://github.com/muaz-khan/RecordRTC/pull/128. Once this lands and gets released it can be implemented in this plugin.

[2016-05-11 12:31] thijstriemstra commented on #71
I've used the DevTools to debug this issue and I managed to record a audio/video clip but the playback of this clip failed with this error:

[code]

<img width="1175" alt="screen shot 2016-05-11 at 14 28 50" src="https://cloud.githubusercontent.com/assets/305679/15180990/0152eeb6-1785-11e6-9c6a-2c8be5ad447e.png">

[2016-05-11 12:51] thijstriemstra commented on #71
From https://developers.google.com/web/updates/2016/01/mediarecorder: Audio recording works in Firefox and in Chrome 49 and above; Chrome 47 and 48 only support video recording.

I tested audio+video in the previous comment so that explains the error. @fajarmf which one did you try?

[2016-05-11 12:53] thijstriemstra commented on #71
Here's a bug tracking the MEDIA_ERR_SRC_NOT_SUPPORTED error: https://bugs.chromium.org/p/chromium/issues/detail?id=253465

There seems to be a [workaround](https://bugs.chromium.org/p/chromium/issues/detail?id=253465#c39), can you give that a try @fajarmf?

[2016-05-13 21:30] AdamHess opened #74 "Loading previously recorded video from Base64 value?"
Is there a way to load in base64 encoded video and then record over it?

I'd like a user to be able to land on the page, view what they recorded for this page in the past and then record over it.

 I can get the record over it part down, but I can't quite load in their video again.

I tried

[code]

But I get an error because it tries to load in from the source rather than webcam when trying to in

[2016-05-15 22:21] thijstriemstra commented on #74
@AdamHess you should convert your base64 data and create a new Javascript Blob file. Take that Blob's URL and create an instance programmatically.

[code]

[2016-05-15 22:21] #74 closed

[2016-05-16 14:02] adrianug opened #75 "Empty record data on chrome"
I following this simple step to recording my video

JS
[code]

Work fine in firefox, but has empty data in chrome. .

![image](https://cloud.githubusercontent.com/assets/17444732/15291675/54e76a52-1ba9-11e6-8d4b-29f7de4346f7.png)

![image](https://cloud.githubusercontent.com/assets/17444732/15292125/c1d9f286-1bab-11e6-8a47-0cde16ee06b7.png)

So, what did i miss ?

Chrome 50.0.2661.102
Firefox 46.0

[2016-05-16 17:04] adrianug commented on #75
Test using blob

[code]

![image](https://cloud.githubusercontent.com/assets/17444732/15297064/7d316896-1bc2-11e6-823a-331e9fa81df7.png)

`console.log(blob.size);` = 15

And sure, working fine in firefox

[2016-05-16 18:10] thijstriemstra commented on #75
@adrianug in older versions of the Chrome browser you would need to use recordedData.audio and recordedData.video and stitch these 2 blobs together on the server-side using something like FFmpeg. With recent Chrome browsers >= 49 (inc. the one you're using) a single blob is created and stored into `recordedData`. What is the `Video field is required`?

[2016-05-16 18:11] thijstriemstra commented on #75
Also, before uploading etc, can you reproduce this issue with the simplest example, eg. https://collab-project.github.io/videojs-record/examples/audio-video.html?

[2016-05-16 20:57] jyounger opened #76 "Can options be changed dynamically?"
Can options be changed dynamically? For example, can I turn audio off with javascript and then record video only? Or, can I choose a different width and height?

Thanks! Already using videos-record. It's quite good.

[2016-05-16 23:58] thijstriemstra commented on #76
@jyounger #73 proposes a similar thing, I was thinking of a `reset` method there, but what you're proposing also depends on having that functionality present in recordrtc and wavesurfer.js. If you could take a look at these libraries and manage to change their options on the fly in an example, let me know,  and technically we should be able to do it in videojs-record as well.

[2016-05-17 01:37] adrianug commented on #75
`Video field is required` is response from ajax post because when post from chrome, `$_FILES` is empty

Both firefox and chrome has correct data in `blob:https%3A//site.com/4ec97744-994a-4f5e-8c1b-a9fd3ecfa8d8`

But, when i try using `new FormData();` to post data with ajax, `player.recordedData` is missing in chrome

[code]
And wrong size when using `new Blob();`

[code]

Sadly, everything works

[2016-05-17 07:59] ncaneldiee commented on #75
Solved with `new Blob([player.recordedData.video], { type: 'video/webm' });` in chrome and `new Blob([player.recordedData], { type: 'video/webm' });` in firefox

[2016-05-17 08:00] adrianug commented on #75
Solved with `new Blob([player.recordedData.video], { type: 'video/webm' });` in chrome and `new Blob([player.recordedData], { type: 'video/webm' });` in firefox

[2016-05-17 08:00] #75 closed

[2016-05-17 15:52] AdamHess opened #77 "Need way to control bitrate of video."
frameWidth and Height do not control the video quality recorded.

recordRTC seems to indicate the bitrate should be 60kbs/s but with my hardware/configuration it a 3 second clip is closer to 130kbs leading to HUGE files for 20-30seconds of recording.

[2016-05-18 11:44] maxpaj opened #78 "Recording video then changing source"
Hi,

I'm having a little bit of trouble with first recording a video then playing another video by changing the source of the player. First, the duration display when playing the second video doesn't work. Second, when that video is done playing, the play button plays the first recorded video again. I think the expected behaviour is that the second video should play again.

Is there any way to wor

[2016-05-18 15:53] thijstriemstra commented on #78
@maxpaj I suggest you use a separate video.js player for playback.

[2016-05-18 15:53] #78 closed

[2016-05-18 22:17] thijstriemstra commented on #73
@jimklo I've added a `reset` method, please give it a try. Closing this ticket, but add your feedback here and I'll reopen it if necessary.

[2016-05-18 22:17] #73 closed

[2016-05-18 22:19] thijstriemstra commented on #34
adapter.js isn't necessary for videojs-record until now so I'll close this. If you have troubles with e.g. media constraints across browers, you're free to include adapter.js.

[2016-05-18 22:19] #34 closed

[2016-05-18 22:23] thijstriemstra commented on #77
@AdamHess can you show the player and plugin configuration?

[2016-05-19 00:27] thijstriemstra commented on #76
@jyounger I added a new `loadOptions` in https://github.com/collab-project/videojs-record/commit/3426e600db26e1a139c3d963e87be6543512da09#diff-493b5c61507553acbf7af34be47e0c3cR367. You can try to override these settings and call it `loadOptions` again (and any other methods like `load` after that) and see what happens.. I haven't tested it yet.

[2016-05-19 00:30] thijstriemstra commented on #75
It's something (left over) from RecordRTC.js, take a look at that source code if you really want to know ;)

[2016-05-20 13:48] jyounger commented on #76
Thanks! I'll test it today and post the results.

[2016-05-23 11:31] ignl commented on #73
I was wondering about the same. For some reason reset didn't work for me, but after some search I found this ticket and saw that it was closed only few days ago so figured my npm install is too old and  just downloaded from github and now it works fine. Thanks and great job!

[2016-05-23 16:48] thijstriemstra commented on #73
@ignl thanks for letting me know, I'll push a new release this week.

[2016-07-01 10:53] abhaydas78 opened #79 "Handle rear/front camera"
## Description
How to handle rear and front camera?

[2016-07-04 06:07] achyuth8121 opened #80 "Getting error while uploading the recorded file. using script in examples."
## Description
File Upload not working

## Steps to reproduce

## Results
jquery.min.js:5 POST http://localhost/jQuery-File-Upload/server/php/ 404 (Not Found)
### Expected
Need to upload the recorded file to a path.

### Actual
Getting below errors.
1) jquery.min.js:5 POST http://localhost/jQuery-File-Upload/server/php/ 404 (Not Found)
2) undefined:1 Uncaught (in promise) DOMException: The play()

[2016-07-04 06:10] achyuth8121 commented on #80
Please help me on how to fix this.

[2016-07-04 06:58] abhaydas78 commented on #79
Can anyone help here???

[2016-07-04 16:02] thijstriemstra commented on #79
This is an opensource project and asking questions that way is perceived rude. You could also simply google it: https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#Front_and_back_camera

[2016-07-05 04:32] abhaydas78 commented on #79
Hi Thijstriemstra...my apologies. Didn't wanted to be rude. What I wanted to know was, how to set these constraints in the player initialization?

Regards,
Abhay

[2016-07-14 07:02] achyuth8121 opened #81 "Videos generated are not playing second time in FireFox untill refresh"
## Description
Videos generated are not playing second time in FireFox untill refresh
## Steps to reproduce
Record a video and save in some path, now in added the src for video tag and tried to play the video. For the very first time the video played good and when we try to replay clicking the play button it does not play and buffer circle was shown.

## Results
### Expected
Please describe what y

[2016-07-14 14:00] thijstriemstra commented on #81
@achyuth8121 can you show me an example that reproduces this issue? Also include the Firefox and OSX versions please.

[2016-07-14 14:23] achyuth8121 commented on #81
Fireofx version : 47.0.1
Mac OSX Version 10.9.5

Attached is the sample audio-video recorded file.
[SampleGeneratedVideo.zip](https://github.com/collab-project/videojs-record/files/363973/SampleGeneratedVideo.zip)

Below is the code i am using for playing the recorded video. (We need to specify the path of the video saved in src).

<video  id='videoPlayer' width="320" height="240" controls >
	<sou

[2016-07-18 14:25] achyuth8121 opened #82 "Video recording not working on chrome/firefox on iPad"
## Description
Video recording not working on chrome/firefox on iPad

## Steps to reproduce
Open below link and try to record video on iPad and it wont let me record the video
https://collab-project.github.io/videojs-record/examples/audio-video.html

## Results
### Expected
Should record the video on iPad and ios devices

### Actual
Video recording not working on iPad

### Error output

## Additio

[2016-07-18 14:36] achyuth8121 commented on #82
Thanks in Advance. :(

[2016-07-18 15:34] ignl commented on #82
If I am not mistaken apple forces everyone to use webkit on mobile devices so all the browsers are basically the same and webm and recording is not supported by apple webkit.

[2016-07-18 20:05] ignl opened #83 "Firefox: the media playback was aborted due to corruption problem"
## Description
Trying to record with firefox results in: "The media playback was aborted due to a corruption problem or because the media used features your browser did not support"

## Steps to reproduce
I can reproduce this on: https://collab-project.github.io/videojs-record/examples/audio-video.html with Firefox (Chrome is fine). This one: https://simpl.info/mediarecorder/ works. My project whi

[2016-07-19 07:07] ignl commented on #83
Ok after computer (firefox only was not enough) restart example seems to be working. However I can still reproduce it by pressing record, then stop, then play, then record again (while play haven't finished yet) then stop. Yesterday I was getting error every single record, but it was probably because I was testing my app and was doing a lot of different tests on recording on firefox and after a wh

[2016-07-19 08:43] ignl opened #84 "The end of the video is cut if recording until auto stop"
## Description
Record for all allowed time. Very tiny amount of the video at the end is cut off. Maybe a second or even less. On my project for a 15s video sometimes almost 2s.

## Steps to reproduce
It is visible on the example (audio/video). When replaying recorded video it stops at 9s (not sure if always but I get that).

## Additional Information
Both chrome and firefox seems to be affected.

[2016-07-19 19:03] thijstriemstra commented on #82
Is it possible to get the console output, curious what error it's throwing. But like @ignl said, it's not supported on any iPad/iOS browser at the moment (see http://iswebrtcreadyyet.com). You can track it's progress here: https://bugs.webkit.org/show_bug.cgi?id=124288. So it's a known issue I can't work around unfortunately.

[2016-07-19 19:03] #82 closed

[2016-07-19 19:07] thijstriemstra commented on #80
This is a jQuery-File-Upload related issue, please ask for help there. Here's the documentation for the basic PHP setup I used: https://github.com/blueimp/jQuery-File-Upload/wiki/Setup#using-jquery-file-upload-ui-version-on-php-websites

[2016-07-19 19:07] #80 closed

[2016-07-19 19:09] thijstriemstra commented on #83
I suspect it's a RecordRTC issue. Do you have a stacktrace of the error?

[2016-07-19 19:10] thijstriemstra commented on #84
@ignl can you reproduce this with a pure RecordRTC-only example?

[2016-07-19 19:56] ignl commented on #83
It's reproducible on https://collab-project.github.io/videojs-record/examples/audio-video.html with action sequence I described. After a lot of tests today firefox recording stopped working again for me. Error is the same as in reproducible example: "The media playback was aborted due to a corruption problem or because the media used features your browser did not support". Maybe they are related.

[2016-07-19 20:17] ignl commented on #84
This is more like a countdown issue. In webrtc sample you have to manually stop recording (https://www.webrtc-experiment.com/RecordRTC/) which works ok for chrome (and cuts a lot maybe 2-3s for firefox). Videojs-record seems to work ok for me when you stop manually however using countdown it seems to stop just a liiittttle bit too early. It's subtle but noticeable.

[2016-07-22 14:18] ignl commented on #81
Yes I have this problem too. Once webm is saved and then served in src of video tag, Firefox for some reason cannot replay it. I tried same setup with another webm sample and it was working, so something is wrong with recorded webm. This is reproducible on https://www.webrtc-experiment.com/RecordRTC/ (once recorded and in another tab video will play only once), so this is RecordRTC problem and not

[2016-07-22 14:26] ignl commented on #81
Created ticket in recordrtc, I think this ticket can be closed: https://github.com/muaz-khan/RecordRTC/issues/145

[2016-07-23 18:59] #81 closed

[2016-08-02 09:00] ignl commented on #71
Hmm for me it also doesn't work on mobile chrome - simply nothing happens. https://webrtc.github.io/samples/src/content/getusermedia/record/ asks for permissions but videojs-record does not. Will try to find out what's wrong later.

[2016-08-02 09:12] canpoyrazoglu opened #85 "Demo not working"
I am considering to use the library, and I've tried to fire up the demo. (tried both audio and audio + video). All I'm getting is this:

<img width="340" alt="screen shot 2016-08-02 at 12 12 08" src="https://cloud.githubusercontent.com/assets/4348413/17323318/6435422a-58aa-11e6-85bc-342c8cb9676b.png">

I can click it but nothing happens. Why? (I am on Safari 9.1.2)

[2016-08-02 11:18] ignl commented on #85
Safari does not support video recording.

[2016-08-02 13:03] thijstriemstra commented on #85
@ignl is right, if you open the web inspector or console in the browser you'll see an error message because Safari doesn't support it.

[2016-08-02 13:03] #85 closed

[2016-08-03 07:23] ignl commented on #81
This issue is now solved on Firefox 48

[2016-08-03 09:14] thijstriemstra commented on #81
Thanks for update. Any reference to ticket,/changeset for that?

[2016-08-03 19:41] ignl commented on #81
This one I think:
https://bugzilla.mozilla.org/show_bug.cgi?id=657791

[2016-08-03 20:34] thijstriemstra commented on #81
@ignl would be good to have a table in the documentation describing known and fixed issues per browser like this one.. ;)

[2016-08-08 08:59] ignl commented on #81
Maybe it's better to move documentation to the wiki as it's easier for anyone to add notes etc?

[2016-08-08 11:43] thijstriemstra commented on #81
@ignl with github you can edit repository files just as editing a wiki page.

[2016-08-08 14:34] ignl commented on #81
Yeah I don't have much experience with that but as I understand I fork whole repo then need to create pull request or smth like that? Too complex for a few lines of documentation change. Wiki is better for that :)

[2016-08-08 16:17] thijstriemstra commented on #81
@ignl no, you browse to the file you want to edit and then press the 'edit' button and inside the browser you can make edit the document. Press save and it will make a fork and PR for you.

[2016-08-08 20:52] ignl commented on #71
OK I tried to debug but there are no errors and actually I found out that it kinda works, but reaaaallllyyy slow. Like press button then wait 3 min for video to show up (with pressing that button repeatedly) then press record then wait again and with multiple tries it's possible to record something. So it seems that it does work it just so incredibly slow it's unusable with android chrome. Video i

[2016-08-08 20:54] ignl commented on #81
OK

[2016-08-08 21:00] thijstriemstra commented on #71
@ignl thanks for the report. I suspect the code that updates the current time for the video.js player is slow as it happens continuously. What if you comment out the statements on https://github.com/collab-project/videojs-record/blob/master/src/js/videojs.record.js#L1231 and https://github.com/collab-project/videojs-record/blob/master/src/js/videojs.record.js#L1257?

[2016-08-08 21:30] ignl commented on #71
Ok I have checked on firefox and video performance seems similar. Maybe chrome is more sensitive to this. I will test it tomorrow as it requires https so i will need to deploy my app or work around that security requirement. However there is also something wrong with the click event as it hardly works on first easy touch on android. For the firefox I also had to try several times until it asked me

[2016-08-09 15:53] THPubs opened #86 "How to stop the recording from JS and get the recorder data?"
I tried to call the `stop` and the `deviceStop` functions. It does stop the recording but if I try to get the recorded data like this `player.recordedData` it returns undefined. Any idea how to fix this?

[2016-08-09 16:18] thijstriemstra commented on #86
@THPubs see https://github.com/collab-project/videojs-record#get-recorded-data

[2016-08-09 16:18] #86 closed

[2016-08-09 16:25] THPubs commented on #86
@thijstriemstra Thanks. But if I try to stop the recording using js functions like `player.recorder.stop()`, The `player.on('finishRecord', function()` won't fire and `player.recordedData` returns undefined.

[2016-08-09 17:42] thijstriemstra commented on #86
@THPubs can you paste your code on a https://gist.github.com?

[2016-08-10 01:59] THPubs commented on #86
Sure. Here's how I initiate the player :

    const videoBoxWidth = $('#video-box').width()
    const videoBoxHeight = videoBoxWidth * 0.5625

    const player = videojs("myVideo",
      {
        // video.js options
        controls: true,
        loop: false,
        width: videoBoxWidth,
        height: videoBoxHeight,
        plugins: {
        // videojs-record plugin options
          record

[2016-08-10 04:22] THPubs commented on #86
@thijstriemstra Very sorry! I just fixed the issue! Looks like I'm not starting the recording. You have to click the record button twice :-)

[2016-08-10 15:10] thijstriemstra commented on #86
Yes clicking the player starts the camera/microphone. Use `getDevice` to do this programatically.

[2016-08-10 15:16] THPubs commented on #86
Perfect thanks!

[2016-08-16 09:48] ignl commented on #71
I have added touchstart event everywhere where there was a click event. Something like this:
[code]

Not sure if it is a good approach, I didn't find any problems like ghost click event triggering but maybe its only on my device. Maybe need a better solution like the ones discussed [here](http://stackoverflow.com/questions/7018919/how-to-bind-touchstart-and-click-events-but-not-respond-to-both).

[2016-08-16 16:55] thijstriemstra commented on #71
Did adding touch events help?

[2016-08-16 21:56] ignl commented on #71
Yes mobile browsers now works fine on my htc just maybe need more testing with more devices. But yeah touch events should be added to the project.

[2016-08-16 22:01] thijstriemstra commented on #71
@ignl cool, could you add a PR?

[2016-08-17 22:07] ignl commented on #71
Ok I will test my application a bit more, and when finish will try to do it

[2016-08-24 14:54] kelvinblade opened #87 "Having problem getting the recorded data from the demo"
I tried the demo online and I also tried it locally.

Video shows, press records, it starts.

When it ends, I get Stopped recording video stream RecordRTC.js:100 but it doesn't seem to be firing console.log('finished recording: ', player.recordedData);

I am using chrome 52 on a macbook air.

i am using this demo:
https://github.com/collab-project/videojs-record/blob/master/examples/audio-video.ht

[2016-08-24 14:56] thijstriemstra commented on #87
@kelvinblade what version of video.js, wavesurfer.js and videojs-wavesurfer?

[2016-08-24 15:14] kelvinblade commented on #87
i am using the cdn which is 5.8

i am not using wavesurfer.js and videojs-wavesurfer

[2016-08-25 01:06] kelvinblade commented on #87
i am using this demo:
https://github.com/collab-project/videojs-record/blob/master/examples/audio-video.html

i am having the same problem using the example as well:
https://collab-project.github.io/videojs-record/examples/audio-video.html

[2016-08-26 00:25] thijstriemstra commented on #87
I cannot reproduce this with Chrome/52.0.2743.116 on latest OSX. The event handler is called and creates a blob. When I save that blob and use ffmpeg's `ffprobe` tool it shows both audio and video:

[code]

[2016-08-27 13:35] thijstriemstra commented on #84
Maybe https://github.com/videojs/video.js/issues/3369 is also related.

[2016-09-01 10:21] vrajroham opened #88 "Access Record Button outside video control"
## Description
I want to access start recording, stop recording button outside the video control. Is it possible to do so?

[2016-09-01 10:36] thijstriemstra commented on #88
Use `player.recorder.getDevice`, `player.recorder.stopDevice` and `player.recorder.start` and `player.recorder.stop`.

[2016-09-01 10:36] #88 closed

[2016-09-07 00:13] thijstriemstra commented on #87
Closing due to lack of feedback.

[2016-09-07 00:13] #87 closed

[2016-09-07 10:10] chirag-jog opened #89 "Unable to run example audio-video.html locally"
## Description
I am trying to run the audio-video.html on my local macbook. I get the following error:

`Not allowed to load local resource: blob:null/87fe6221-142a-4f82-af80-b97a8a44839b
video.min.js:20 VIDEOJS: ERROR: (CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED) The media could not be loaded, either because the server or network failed or because the format is not supported. i {code: 4, message: "The me

[2016-09-14 00:17] thijstriemstra commented on #83
@ignl you have time to test PR #90?

[2016-09-15 17:03] sur3d opened #91 "Export sound wave as an image"
Hi,

I love you project guys, it really helped my out!
I'd like to know if there is any way to export the recorded sound wave as an image

Thanks!

[2016-09-15 19:23] ignl commented on #83
Ok I will check it tomorrow.

[2016-09-15 22:16] thijstriemstra commented on #91
This sounds like a useful feature, I'll add one.

[2016-09-15 22:22] sur3d commented on #91
Thanks so much!
I'd love to help, but I'm not quite exactly sure where to start from.
There is no render logic in video-record, right? As far as I understand it's all done in wavesurfer.
Do you have an idea/advice as per where to start?

[2016-09-15 22:27] thijstriemstra commented on #91
@sur3d videojs-record uses videojs-wavesurfer for the waveform rendering. videojs-wavesurfer uses wavesurfer.js for the waveform rendering. I think videojs-wavesurfer needs an `exportImage` method that exports an image from the wavesurfer.js `canvas` that can be called in this plugin, videojs-record.

[2016-09-15 22:42] thijstriemstra commented on #91
@sur3d I've opened https://github.com/katspaugh/wavesurfer.js/issues/822 as a starting point, feel free to open a PR there, anywhere.

[2016-09-16 19:18] thijstriemstra commented on #91
Added `exportImage` to wavesurfer.js with https://github.com/katspaugh/wavesurfer.js/pull/823

[2016-09-16 19:40] thijstriemstra commented on #91
Added `exportImage` to videojs-wavesurfer with https://github.com/collab-project/videojs-wavesurfer/commit/b0283c47d147e85e665a7a3029e48e129a196788 (in the upcoming 1.2.4 release).

[2016-09-16 20:30] #91 closed

[2016-09-16 20:35] thijstriemstra commented on #91
@sur3d Update wavesurfer.js and videojs-wavesurfer and use the `exportImage` method from videojs-wavesurfer like this:

[code]

[2016-09-16 21:07] ignl commented on #83
OK I didn't test PR because I could not reproduce it on example page anymore. Also I have updated my project versions of video.js and recordrtc (to 5.40 from 5.38) and could not also reproduce it. However on my project it was rather unpredictable so will have to do some more tests but right now it seems that newer versions fixed the problem. Oh and also updated firefox to 48.02. So I am not sure w

[2016-09-16 21:07] #83 closed

[2016-09-16 21:23] ignl commented on #89
Few ideas. Try to set breakpoint on player.on('finishRecord', function() and check what does player.recordedData return. Also do you have access to PC? Could you try to do same setup?
Btw is deployed version working fine for you?

[2016-09-16 21:32] ignl commented on #84
Yeah it's very likely. It also seems that it is OK now after I updated to new version of video.js. Ticket is not closed but maybe they already solved that problem.

[2016-09-16 21:32] #84 closed

[2016-09-16 22:07] thijstriemstra commented on #89
getUserMedia stuff needs to be run from a webserver. Please reopen if you can reproduce this with a RecordRTC example.

[2016-09-16 22:07] #89 closed

[2016-09-19 23:22] thijstriemstra commented on #84
@ignl what version of video.js are you using now?

[2016-09-20 17:07] thijstriemstra commented on #71
It looks like the only event video.js subscribes to is the `tap` event as seen [here](https://github.com/videojs/video.js/blob/master/src/js/clickable-component.js#L27). This doesn't seem to be a native browser event but a custom video.js event indicating there is support for touch events as seen [here](https://github.com/videojs/video.js/blob/master/src/js/component.js#L1154). So it seems we need

[2016-09-20 17:39] thijstriemstra commented on #71
@ignl if you have time, please test the latest. I'll put out a new release in a few days.

[2016-09-20 17:46] thijstriemstra commented on #79
I haven't tested it but from the link I posted it seems this should do it:

[code]

[2016-09-20 17:46] #79 closed

[2016-09-20 17:46] thijstriemstra commented on #76
@jyounger any news?

[2016-09-21 13:41] ignl commented on #71
I will test "tap" a bit later today.

[2016-09-21 16:31] ignl commented on #71
OK "tap" event works for me.

[2016-09-21 18:43] thijstriemstra commented on #71
Did I try it myself? Uh, of course?? And if you followed the link in my previous comment explaining `tap`, you'd see it's a custom video.js event that combines touchstart and touchstop events.

Thanks for testing!

[2016-09-21 19:01] ignl commented on #71
Yeah saw "tap" vent before when looking for mobile event, but I thought it will require additional dependency so it's my bad research :)

[2016-09-28 11:52] Banwari1990 opened #92 "Recorded video need in .mp4 format"
Hi,

Is it possible to get the recorded video in to .mp4 format instead of .webm format.

Thanks.

[2016-09-28 19:36] thijstriemstra commented on #92
There's [this solution](https://www.webrtc-experiment.com/ffmpeg/merging-wav-and-webm-into-mp4.html) using ffmpeg.js but that isn't optimal. But it also looks like, at least Firefox, can record as mp4, according to [this example](https://github.com/muaz-khan/RecordRTC#record-audiovideo-in-firefox). I just tested this in Firefox 49 on Ubuntu and it did create a mp4 file:

[code]
I'll add an option

[2016-09-28 19:56] thijstriemstra commented on #92
Also tested on Chrome 54 / Ubuntu 16.04 and it also produced an MP4 file. ffprobe details:

[code]

Duration is not available it seems though.. but it plays in VLC.

[2016-09-28 22:00] thijstriemstra commented on #92
This is probably on hold until https://github.com/muaz-khan/RecordRTC/issues/97 is resolved.

[2016-09-28 22:12] thijstriemstra commented on #92
A full list of supported mime-types in Chrome is listed [here](https://cs.chromium.org/chromium/src/third_party/WebKit/LayoutTests/fast/mediarecorder/MediaRecorder-isTypeSupported.html). Just tested the mime type `video/webm;codecs=H264` and it created a H264 clip. Output of ffprobe:

[code]

[2016-09-28 22:43] #92 closed

[2016-09-28 22:44] thijstriemstra commented on #92
Added `audioMimeType` and `videoMimeType` settings for H264 support in next release.

[2016-09-28 23:21] thijstriemstra commented on #76
Closing, no feedback, please open a new ticket if something's not working.

[2016-09-28 23:21] #76 closed

[2016-09-28 23:21] thijstriemstra commented on #77
No feedback, closing.

[2016-09-28 23:21] #77 closed

[2016-10-02 23:35] nocravate opened #94 "I will record a video format mp4, is it possible ??"
Hiii
Please, I need your help !!!
I will record a video format mp4, is it possible ??
thanks

[2016-10-03 12:58] nocravate commented on #94
Thanks @thijstriemstra , I added (videoMimeType: 'video/webm;codecs=H264'), but record a video screen (.mkv) !!!!

[2016-10-03 13:31] thijstriemstra commented on #94
If you download the file and inspect it with ffmpeg's `ffprobe` tool you'll get an output like this:

[code]
If this is not what you expected, please open a ticket for Chromium or the Chrome browser. Also make sure to always note your operating system, browser version.

[2016-10-03 14:01] nocravate opened #95 "record a video format mp4, not (.mkv)"
Hi

I will record a video format mp4, i added (videoMimeType: 'video/webm;codecs=H264'), but record a video format (.mkv) not mp4.

chrome version 53.0.2785.116 (64-bit)

[2016-10-03 14:38] thijstriemstra commented on #95
You should open a ticket in the Chromium or Chrome bug tracker, there's not much I can do.

[2016-10-03 14:38] #95 closed

[2016-10-05 13:13] thijstriemstra commented on #10
Since videojs-record 1.5.0 (and latest Firefox and RecordRTC.js) it should be possible to record with `audio/ogg` natively. Simply use the `audioMimeType: 'audio/ogg'` setting. Closing, please open a new ticket if it's not working.

[2016-10-05 13:13] #10 closed

[2016-10-05 14:29] v3ss0n commented on #10
thanks a lot! does it work on chrome ?

[2016-10-05 17:12] thijstriemstra commented on #10
@v3ss0n according to this page `audio/ogg` isn't supported, but opus is: https://cs.chromium.org/chromium/src/third_party/WebKit/LayoutTests/fast/mediarecorder/MediaRecorder-isTypeSupported.html

[2016-10-06 11:27] thijstriemstra opened #96 "Support for MediaStreamTrack.takePhoto"
Chrome 55 [introduces](https://www.chromestatus.com/features/4843864737185792) the `takePhoto()` and `grabFrame()` methods for image capture. See implementation status here: https://github.com/w3c/mediacapture-image/blob/gh-pages/implementation-status.md

Chrome blog post: https://developers.google.com/web/updates/2016/12/imagecapture

Firefox has support behind a [flag](https://github.com/w3c/med

[2016-10-22 03:54] ConnectedReasoning opened #97 "Save as dialog"
## Description

I don't see any methods to save
## Steps to reproduce

navigate to video-only.html record and then stop
## Results

dfsdf
### Expected

I expect to find information necessary to save video
### Actual

There is no documentation about how to save video
### Error output

If there are any errors at all, please include them here.
## Additional Information

Nothing to add
### versions

C

[2016-10-22 19:01] thijstriemstra commented on #97
I guess you want to see a link where you can download the recorded video? You can also right-click the video and save it from there.

[2016-10-27 03:55] ConnectedReasoning opened #98 "clicking on video returns a re"
## Description

Clickingon video returns error "ReferenceError() video.min.js 6359
## Steps to reproduce

run the site with simple node server. VideoOnly screen comes up with mic logo. Clicking on logo does not bring up video, only error message
## Results
### Expected

I expected to get a permision request to access video
### Actual

ReferenceError() video.min.js 6359
### Error output

ReferenceE

[2016-10-27 13:20] thijstriemstra commented on #98
@ConnectedReasoning can you use a non-minified version of video.js and report the stacktrace of this error? Can you reproduce this with the github example site?

[2016-11-08 08:52] maxpaj opened #99 "Duration display showing incorrect values when switching between recording and watching video"
## Description
I've observed that the duration display is showing incorrect values when switching between recording video and watching video.

## Steps to reproduce
First scenario:
1. Record video (record button)
2. Watch the video (auto plays) (duration displayed correctly)
3. Watch it again (play button)
The max duration is now displayed as "-:--:--". Towards the very end of the video the durati

[2016-11-08 22:34] thijstriemstra commented on #99
Thanks for this detailed report. It's a known issue and it should be fixed.

[2016-11-09 00:27] thijstriemstra opened #100 "Move plugin documentation"
The plugins, that become more irrelevant every day, take up a lot of room in the main readme file. Let's move it to the wiki or simplify it.

[2016-11-14 21:31] clavish opened #101 "Can't upload on Chrome"
## Description
I can't upload to server recorded video on Chrome, on Firefox is working.

## Steps to reproduce
Just try with jquery.fileupload.js or fine-uploader.js on Chrome

## About
I just got "undefined (undefined bytes)".
When put manually some files to  <input id="fileupload" type="file" name="files[]" multiple> from computer then it's all uploaded good.

## Additional Information
Chrome 5

[2016-11-15 12:48] #101 closed

[2016-11-15 13:52] thijstriemstra commented on #101
@clavish you resolved the issue?

[2016-11-18 19:46] erikdonohoo commented on #61
Our company will need this. I'm happy to do the work and open a PR if someone can point me in the right direction.  There are a few things that are currently open issues here that we would like.  I'm happy to help contribute more to the project.

[2016-11-18 19:46] erikdonohoo commented on #3
Is this something that still needs to be done?  We would also like to have this functionality and I'm happy to do the work if someone can help point me in the right direction

[2016-11-18 20:01] thijstriemstra commented on #61
@erikdonohoo thanks! point any questions you have at me.

[2016-11-18 20:01] thijstriemstra commented on #3
PRs are welcome!

[2016-11-18 21:04] erikdonohoo opened #102 "Question: After enumerating devices, how to supply a selected device to recorder"
## Description
How do I tell the recorder which enumerated device to use?  Basically I'm trying to make my own UI instead of the supplied one.  Is there a way to access the API used by the native button this plugin supplies?

Thanks in advance

[2016-11-20 23:55] thijstriemstra commented on #102
Good question. Check the enumerate-devices.html example on how to get aquire the `deviceId` used in the example below.

[code]

I haven't tested it but more info [here](http://stackoverflow.com/a/20082861).

[2016-11-20 23:55] #102 closed

[2016-11-21 00:32] thijstriemstra commented on #100
Moved to the Plugins wiki page.

[2016-11-21 00:32] #100 closed

[2016-11-21 00:33] thijstriemstra commented on #98
@ConnectedReasoning any news? Please open a new ticket with instructions from my previous comment if it's still an issue.

[2016-11-21 00:33] #98 closed

[2016-11-21 00:34] thijstriemstra commented on #97
Closing because there's no further feedback.

[2016-11-21 01:24] thijstriemstra commented on #102
If the proposed solution doesn't work, try this constraint instead: https://github.com/samdutton/simpl/blob/gh-pages/imagecapture/js/main.js#L51

[2016-11-24 16:03] clavish commented on #97
I have similar question. How to save video? (not upload) When user stops recording then its able to click on "save to disk". Any ideas? Thank you!

[2016-11-24 16:03] clavish commented on #97
I have similar question. How to save video? (not upload to server) When user stops recording then its able to click on "save to disk". Any ideas? Thank you!

[2016-11-24 16:24] thijstriemstra commented on #97
@clavish remember it's already saved to disk in a temporary location.

That being said, use this to show a save as dialog when the user finished recording for example:

[code]
This is not a really nice API so I'll re-open this ticket and add something better.

[2016-11-24 16:37] ConnectedReasoning commented on #97
I extended a sample to offer a download option. I will add to this soon

[2016-11-24 17:11] clavish commented on #97
@thijstriemstra thank you, works great now :+1:

[2016-11-26 02:38] thijstriemstra commented on #97
thanks for the feedback @clavish. In upcoming 1.6 it should be as simple as `player.recorder.saveAs(nameObj)`, see https://github.com/collab-project/videojs-record#save-data.

[2016-11-26 02:38] #97 closed

[2016-12-07 01:50] thijstriemstra commented on #71
Going to close this, if there are any other mobile issues, open a new ticket.

[2016-12-07 01:50] #71 closed

[2016-12-30 09:28] kimhongn89 commented on #76
hi @thijstriemstra,
what function can i call after call loadOptions().
it looks like load() function is not appropriate

[2017-01-03 19:14] kimhongn89 opened #105 "Event VIDEOJS: Finished playback"
## Description
Do you have event ended when i play my audio recording. There is event ended for video recording but audio isn't.

## Steps to reproduce
init audio-only => startRecord => finishRecord => play my audio recording => when audio recording finished => event ended didn't call (it's called in case audio/video)
Sorry about my English.

[2017-01-09 11:02] httpamit commented on #85
I have same issue. Can we provide support for Safari Browser using flash?

[2017-01-09 11:09] httpamit opened #106 "How can we provide flash support in this plugin?"
I have problem with safari browser, getUserMedia() is not supported in safari browser. can we provide flash support in safari?

[2017-01-09 23:18] thijstriemstra commented on #85
see #106 for the flash question.

[2017-01-09 23:21] thijstriemstra commented on #106
I was a Flash developer for many years but after Adobe ditched it the way they did I decided to never develop for a closed-source system again. As with most things in this plugin, take a look at wavesurfer.js first, does that support Flash? It seems it does with the https://github.com/laurentvd/wavesurfer.swf project. I would start there and see if you can get that plugin working with videojs-reco

[2017-01-09 23:22] thijstriemstra commented on #105
I'll take a look.

[2017-01-09 23:43] thijstriemstra commented on #105
This looks like it's related to https://github.com/collab-project/videojs-wavesurfer/issues/24. Does that event help here or do you think videojs-record needs an extra event as well @kimhongn89?

[2017-01-11 08:34] kimhongn89 commented on #105
Yes, it 's same

[2017-01-11 08:34] #105 closed

[2017-01-24 09:39] IlyaAndr opened #108 "stopDevice doesn't trigger finishRecord callback"
Hello!
I would like to use external buttons to control player behaviour. But unfortunately `stopDevice` method doesn't trigger `finishRecord` callback so i can't receive blob to save it. So how can i get `recordedData`?
Thanks!

[2017-01-24 11:38] #108 closed

[2017-02-06 01:36] MapZombie opened #110 "Video very dark when recording on Android phone with Chrome"
## Description
The video is very dark when using the front camera, it seems like exposure is off.  This was on Samsung Note 4, with Chrome browser.
## Steps to reproduce
Ran the example page of videojs-record for jquery fileupload.
## Results
Extremely dark video.
### Expected
I switched to my standard phone camera app and the front camera was very clear and bright, lighting not an issue.  I expec

[2017-02-06 02:43] MapZombie commented on #110
Update:  I believe this a know bug for Chrome on Android.  I tried Chrome Beta and it appears to be fixed.  But regular Chrome is still behind.

[2017-02-06 13:34] thijstriemstra commented on #110
Do you have a link for this known issue?

[2017-02-06 15:06] MapZombie commented on #110
https://bugs.chromium.org/p/chromium/issues/detail?id=630266

[2017-02-06 16:53] thijstriemstra commented on #110
thanks!

[2017-02-06 16:53] #110 closed

[2017-02-10 10:53] manishchauhanquovantis commented on #61
Can we now pause and resume recording ? If yes how can we  use it.

[2017-02-11 19:19] manishchauhanquovantis opened #111 "How to Stop and resume recording ?"
I am trying to figure out how to pause and resume recording ?
Does videoJS record supports it.

[2017-02-12 01:04] thijstriemstra commented on #111
Duplicate of #61.

[2017-02-12 01:04] #111 closed

[2017-02-12 01:05] thijstriemstra commented on #61
@manishchauhanquovantis I've added a `pause` and `resume` method in the master branch, can you test that?

You can use it like:

[code]

[2017-02-12 05:05] lorddamsy1000 opened #112 "How do I convert object given in google chrome to video."
## Description
Briefly describe the issue.

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.

## Results
### Expected
Please describe what you expected to see.

### Actual
Please describe what actually happened.

### Error output
If there are any errors at all, please include them here.

## Additional Information
Please include any additional information ne

[2017-02-12 15:09] thijstriemstra commented on #112
@lorddamsy1000 what?

[2017-02-12 15:49] #112 closed

[2017-02-13 02:10] #44 closed

[2017-02-13 02:10] #45 closed

[2017-02-13 02:17] #61 closed

[2017-02-13 02:20] thijstriemstra commented on #61
Should be fixed with the upcoming 1.6.0 release. Pause/resume during a video recording seems to work fine on Ubuntu 16.04 Chrome (57.0.2987.37) but on Firefox 51 there was an issue with the stream timestamp increasing despite the `pause()` call. Haven't tested on other platforms yet.

[2017-02-13 03:45] thijstriemstra commented on #61
https://github.com/muaz-khan/RecordRTC/issues/190 also looks related.

[2017-02-13 09:12] bobyper opened #114 "Firefox 51.0.1 Crash"
Using demo (https://collab-project.github.io/videojs-record/examples/audio-video.html), Firefox crash (memory leak) after stop record and wait few minutes.
Firefox eat memory and crash.

[2017-02-13 12:31] manishchauhanquovantis opened #115 "Is their any method to stop video recording and download the file?"
In my case i need to pause and resume video many times and later on i need to download it.Video is only downloaded in case of finishRecord event.Is their any other way to inform that i finished recording.

[2017-02-13 15:16] thijstriemstra commented on #114
What operating system?

[2017-02-13 16:35] bobyper commented on #114
Windows 8.1 64 bit , and Windows 10 32 bit

Firefox 50.1.0 working fine but 51.0.1 eat memory and processor time and finally crash

[2017-02-13 18:13] kimhongn89 opened #116 "Option for echo issue"
In my website, i need config on/off echo for record
Can u add option for echo issue

Thanks.

[2017-02-13 19:10] thijstriemstra commented on #114
Maybe this is related: https://bugzilla.mozilla.org/show_bug.cgi?id=1338930 I also saw weird behavior on Firefox for OSX (it ate all swap memory within 10 mins). I'm not yet sure it's a firefox-specific issue (as opposed to videojs-record) but it probably is.

[2017-02-13 19:15] thijstriemstra commented on #115
@manishchauhanquovantis you can call `player.recorder.saveAs({'video': 'my-video-file-name'})` at any point you want, not just in `finishRecord`. I'm afraid I don't understand your question, can you elaborate?

[2017-02-13 19:29] thijstriemstra commented on #114
@bobyper if firefox 50.1.0 works fine than this must be a Firefox bug. Can you open a ticket in their bugzilla?

[2017-02-13 19:47] bobyper commented on #114
I thing so, firefox 51 is buggy.
Its something specific on videojs-record.js make Firefox to crash, because recorrtc demo working on Firefox 51 (https://www.webrtc-experiment.com/RecordRTC/)

[2017-02-13 19:48] thijstriemstra commented on #114
@bobyper it be interesting to see what the about:memory says during the leak.

[2017-02-13 20:06] thijstriemstra commented on #116
@kimhongn89 if you paste this in a HTML file you'll see `echo cancellation` is one of the supported constraints (and that firefox and chrome don't support the same constraints unfortunately but for `echoCancellation` it does.

[code]

In your videojs-record config, supply an object for audio. Try setting these values to `true` or `false`. Also see https://github.com/muaz-khan/RecordRTC#echo-issues

[2017-02-13 20:16] bobyper commented on #114
Here is four export of  about:memory during leak.
[memory-report.json.gz](https://github.com/collab-project/videojs-record/files/772289/memory-report.json.gz)
[memory-report.json3.gz](https://github.com/collab-project/videojs-record/files/772287/memory-report.json3.gz)
[memory-report.json2.gz](https://github.com/collab-project/videojs-record/files/772290/memory-report.json2.gz)
[memory-report.json

[2017-02-13 20:25] bobyper commented on #114
Here is four export of about:memory during leak.

[memory-report.json1.gz](https://github.com/collab-project/videojs-record/files/772313/memory-report.json1.gz)
[memory-report.json2.gz](https://github.com/collab-project/videojs-record/files/772314/memory-report.json2.gz)
[memory-report.json3.gz](https://github.com/collab-project/videojs-record/files/772315/memory-report.json3.gz)
[memory-report.js

[2017-02-13 20:26] thijstriemstra commented on #114
@bobyper in the first report I notice an unknown blob reference, which is strange, on my machines I only see a single blob at anytime. Maybe you had an additional tab open with some other (getUserMedia) example?

[code]

[2017-02-13 20:28] thijstriemstra commented on #114
This ticket seems very related: https://bugzilla.mozilla.org/show_bug.cgi?id=1337204

[2017-02-13 20:49] thijstriemstra commented on #114
I've not read these memory reports before but this also seems high:

[code]

[2017-02-14 01:56] thijstriemstra opened #117 "Animated gif recording broken"
Getting error on demo:

[code]

[2017-02-14 02:53] thijstriemstra commented on #117
It's a bug in RecordRTC.js: https://github.com/muaz-khan/RecordRTC/issues/213

[2017-02-14 02:55] #117 closed

[2017-02-14 05:20] manishchauhanquovantis commented on #115
I am getting this error
`Uncaught Blob object is required`
When i tried to to call `player.recorder.saveAs({'video': 'my-video-file-name'})`

[2017-02-14 05:23] thijstriemstra commented on #115
@when are you calling saveAs?

[2017-02-14 06:09] manishchauhanquovantis commented on #115
@thijstriemstra  hey sorry i just checked it out again i worked.Your library is awesome i just loved it :dagger:

[2017-02-14 11:58] bobyper commented on #114
Something totally is broken in Firefox 51. Pause/Resume not working too. Pause stops only audio. Video continues recording.
Its seems we need to wait next Firefox version.

[2017-02-14 15:02] thijstriemstra commented on #115
Thanks!

[2017-02-14 15:02] #115 closed

[2017-02-14 15:03] thijstriemstra commented on #114
Pause/resume not working on FF is a known issue unfortunately.

[2017-02-14 15:07] bobyper commented on #114
Pause/Resume working fine on FF 50, both Windows and Mac

[2017-02-14 17:23] stragari opened #118 "The camera is not captured when an element in uiElements[element] is not a function"
## Description
The camera is not captured when the an element in the array uiElements[element] is an element extended.

## Steps to reproduce
use Chrome Version 55.0.2883.75 (64-bit), default configuration, and an Array extended functionality.

## Results
### Expected
The camera should be captured when the a element in the array is an element extended

### Actual
The camera is not captured when th

[2017-02-14 17:41] thijstriemstra commented on #118
@stragari can you show me the error message?

[2017-02-14 17:42] thijstriemstra commented on #114
@bobyper oh man, didn't know that, FF 51 is definitely screwed then.

[2017-02-14 17:55] thijstriemstra commented on #114
@bobyper maybe a nightly build of Firefox might be worth testing.

[2017-02-14 18:12] stragari commented on #118
the error message en the web console

device error: TypeError: uiElements[element].el is not a function at constructor.onDeviceReady (videojs.record.js:850)

![videojsrecorder](https://cloud.githubusercontent.com/assets/390458/22942329/70a0f180-f2bf-11e6-8a33-d47c1cabc00f.png)

[2017-02-14 18:15] thijstriemstra commented on #118
@stragari I see, you added or removed elements and they're not found. Can you make a pull request? thanks!

[2017-02-14 18:36] stragari commented on #118
PR #119

[2017-02-14 18:47] stragari commented on #118
Sorry the new PR  #120

[2017-02-14 19:56] bobyper commented on #114
Nighty version FF 54 is broken too

I don't know how to define issue for ticket in  bugzilla.

[2017-02-15 06:19] manishchauhanquovantis opened #121 "Changed videoMimeType to video/mp4 but it is still downloading file in 'webm' format"
Current configuration for my video recorder.I want video to get downloaded in mp4 format
[code]

[2017-02-15 06:39] manishchauhanquovantis opened #122 "Is their any event to get user is speaking in microphone or not during recording?"
Am trying to create demo which asks a series of questions and video is recorded while answering.I need to grab an event when user finishes to speak .Is it possible ?

[2017-02-15 17:04] thijstriemstra commented on #121
Have you checked the actual codec using VLC or ffmpeg? The extension webm is just a file extension, content should be mp4. What browser are you using (please always inc that info!)

[2017-02-15 21:38] thijstriemstra commented on #122
@manishchauhanquovantis I suppose you could monitor the volume, see http://stackoverflow.com/a/21247724 for example.

[2017-02-15 21:43] thijstriemstra commented on #121
@manishchauhanquovantis try `videoMimeType: 'video/webm;codecs=H264'` in Chrome, also see #92

[2017-02-15 21:43] #121 closed

[2017-02-15 21:44] thijstriemstra commented on #118
Should be fixed in the upcoming version.

[2017-02-15 21:44] #118 closed

[2017-02-16 03:54] thijstriemstra commented on #96
Fixed in upcoming release. Exposing a `takePhoto` method is a different ticket.

[2017-02-16 03:54] #96 closed

[2017-02-16 03:55] #116 closed

[2017-02-16 14:22] cihadhoruzoglu opened #123 "Webpack can't find 'videojs'"
## Description
There is an issue in videojs.record.js file at line 6.
`define(['videojs'], factory);` should be `define(['video.js'], factory);`
because there is no 'videojs' npm package it should be **'video.js'**

## Steps to reproduce

- Import videojs
- Import videojs-record package and error will be pop-up when you build with webpack

### Error output

* videojs

### versions
#### videojs
1.5

[2017-02-16 16:14] thijstriemstra commented on #123
@cihadhoruzoglu can you post the error message?

[2017-02-16 18:01] thijstriemstra commented on #122
Closing, no feedback.

[2017-02-16 18:01] #122 closed

[2017-02-17 07:36] cihadhoruzoglu commented on #123
<img width="1049" alt="screen shot 2017-02-17 at 10 34 13" src="https://cloud.githubusercontent.com/assets/1528616/23056509/7fac8fe0-f4f4-11e6-801f-e2a01364ed61.png">

[2017-02-17 10:42] cihadhoruzoglu commented on #114
I got memory leak on Mac Chrome v56. Firefox v51 works fine on my Mac.

[2017-02-17 23:00] thijstriemstra commented on #114
@cihadhoruzoglu can you provide a memory analysis/scan? If it's leaking in Chrome as well there's something else not right, likely in this library or one of it's dependencies.

[2017-02-18 09:35] OmrDemirel opened #124 "My video records do not play on iPhone & iPAD"
## Description
Please find my codes below. My problem is that while my codes work on regular PC, they do not on Safari browsers on Iphone and Ipads. I have also attached screenshots hoping that you'll be able to help me on this issue.

As a last note, I also receive the error message below whenever I download the records to the server using ffmpeg to change into mp4 (or other) formats, and have no

[2017-02-18 20:35] thijstriemstra commented on #124
@OmrDemirel what browser on the ipad? What ffmpeg command? What does the `ffprobe` tool say about your file?

[2017-02-19 02:14] thijstriemstra opened #125 "Support offline storage for multiple recordings"
Currently recording a piece of media is limited to a single recording. You record something, play it again (possibly again), and when you're not happy, you start the whole process from the beginning.

It would be cool to use offline, local storage to temporarily store media files.

See [this blog post](https://developers.google.com/web/fundamentals/instant-and-offline/web-storage/offline-for-pwa)

[2017-02-20 06:54] OmrDemirel commented on #124
@thijstriemstra
FFmpeg Command
`ffmpeg -i input.mp4 output.avi`
`ffmpeg -i input.mp4 -acodec copy -vcodec copy output.avi`
`ffmpeg -i input.mp4`

I keep on getting the nsame error message for all ffmpeg listed above. This is just a few examples of errors coming to my mind and I have tried others as well.

On the other side I use Safari on Ipad and Iphone but couldnt get the record playing. I have

[2017-02-21 06:48] thijstriemstra commented on #124
@OmrDemirel what version of ffmpeg? Please paste the full text version of the ffmpeg command and version.

`ffprobe` is installed along ffmpeg, e.g. `ffprobe input.mp4`.

Make sure your ffmpeg has libopus support (you should see `--enable-libopus` in the version output).

Mine for example:

[code]

[2017-02-21 06:53] thijstriemstra commented on #124
And finally, the `aac` codec should work on ipad (see http://superuser.com/questions/758622/improve-ffmpeg-command-for-mkv-to-mp4-for-ipad).

[2017-02-21 06:53] #124 closed

[2017-02-21 11:45] OmrDemirel commented on #124
FFprobe version 0.6.5, Copyright (c) 2007-2010 the FFmpeg developers
  built on Jan 29 2012 23:55:02 with gcc 4.1.2 20080704 (Red Hat 4.1.2-51)
  configuration: --prefix=/usr --libdir=/usr/lib64 --shlibdir=/usr/lib64 --mandir=/usr/share/man --incdir=/usr/include --disable-avisynth --extra-cflags='-O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector --param=ssp-buffer-size=4 -m

[2017-02-21 15:30] thijstriemstra commented on #124
Yes so thats the issue; you should upgrade to a recent ffmpeg with opus support.

[2017-02-22 13:17] baimurzin opened #126 "Is there any way to show text with controls on video?"
Is there any way to display any html block with controls during recording the video on the video block?

[2017-02-22 14:20] cihadhoruzoglu commented on #114
@thijstriemstra I had 2 crash 6 days ago but then I couldn't get that error again. I think it was about another 3rd pary library.

[2017-02-22 14:22] cihadhoruzoglu opened #127 "Internet Explorer Edge Support?"
IE edge supports video capture and this library also recording on IE but when record stops IE throws this error;

![captureerror](https://cloud.githubusercontent.com/assets/1528616/23215430/03ade35a-f91b-11e6-8da8-ba4f84f38db5.PNG)

[2017-02-22 15:16] thijstriemstra commented on #126
What kind of controls?

[2017-02-22 15:55] thijstriemstra commented on #127
What media playback types does Ie edge support? Did you even search? And how am I supposed to guess yoh

[2017-02-22 15:55] #127 closed

[2017-02-22 16:22] baimurzin commented on #126
@thijstriemstra  for example I recording video and server push me any data, then I display those data as html blocks with buttons and after click on this button I show next block and store time of last closed form.
By the way, now I trying to do this with videojs-caption but the text only can show with 'startTime' and end with similiar option. But I need to show and close programable.

[2017-02-22 17:49] baimurzin opened #128 "How can I listen timeupdate event while recording?"
Is it possible to listen `timeupdate` event and get current time while recording?

[2017-02-22 22:23] baimurzin opened #129 "Is currentTime wrong?"
When I call `player.currentTime()` it shows me different time with time on controls bar.
For example, on controls bar when I recording displays `0:02` and when I clicked a button that logs currentTime the button logs `5.434436`
So, how can I get exact time?

[2017-02-23 00:20] cb109 opened #130 "Chrome recording audio-only sounds too low"
Recording audio only (with the demo code) in Chrome 56 sounds a lot lower/deeper when playing back.

Can not reproduce with Firefox 43, works fine there.

Any ideas how I might fix that by changing the configuration?

[2017-02-23 00:21] cb109 commented on #130
Just checked: Does not happen when recording video AND audio.

[2017-02-24 10:36] thijstriemstra opened #131 "Support for MediaStreamTrack.getSettings()"
Returns the current settings of a MediaStreamTrack, including information such as (for video) width, height or framerate. Available since Chrome 61 and Firefox 50.

See https://www.chromestatus.com/features/5648690194677760, [chrome ticket](https://bugs.chromium.org/p/chromium/issues/detail?id=681824) and https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamTrack/getSettings

E.g. for a vid

[2017-02-24 11:20] thijstriemstra commented on #60
Chrome 51 introduces async blob construction that should be able to work around this problem. See https://bit.ly/BlobStorageRefactorPreso

[2017-02-24 11:58] thijstriemstra commented on #130
@cb109 can you check if it's [using the extra audio element](https://github.com/collab-project/videojs-record/blob/master/src/js/videojs.record.js#L1216) with the audio+video recording in Chrome (and not in Firefox)?

[2017-02-25 23:59] thijstriemstra commented on #126
I think this is a videojs-specific question, and if I understand correctly you want to add extra elements to the player.

Check here on how to add elements to the plugin: https://github.com/collab-project/videojs-record/blob/master/src/js/videojs.record.js#L2269

[2017-02-25 23:59] #126 closed

[2017-02-26 00:12] thijstriemstra commented on #123
@cihadhoruzoglu you should use this (taken from [here](https://github.com/videojs/videojs-contrib-hls/issues/600#issuecomment-273289790):

[code]

or [this](https://github.com/hallelujah/videojs-webpack-example/blob/master/webpack.config.js#L90) approach:

[code]

[2017-02-26 00:12] #123 closed

[2017-02-26 00:30] thijstriemstra commented on #129
@baimurzin during recording you can use `player.recorder.streamDuration` to get the current length of the recorded stream. I will add a `player.recorder.getDuration()` method and document it that does the same.

It looks like a method to get the current time of a recorded stream during playback is missing, or not working, because `player.currentTime()` always returns 0 here. I'll add a player.reco

[2017-02-26 00:30] thijstriemstra commented on #128
Sounds like a reasonable enhancement that I'll add.

[2017-02-26 00:38] thijstriemstra commented on #129
When I print the streamDuration after an audio-only recording it displays 8.09 for example, but the player shows 9.91. ffprobe shows the correct duration is 9.91 so there's also a bug somewhere.

[code]

[2017-02-26 01:16] thijstriemstra commented on #129
Added `getDuration` and `getCurrentTime`. Tested with with audio-only and that seems to work fine (you'll need videojs-wavesurfer 1.3.1 or newer). Let me know if this works for you @baimurzin.

[2017-02-26 01:43] thijstriemstra commented on #128
@baimurzin I added a `progressRecord` event that you can use, e.g.:
[code]
Let me know how it goes!

[2017-02-26 01:43] #128 closed

[2017-02-26 01:44] #129 closed

[2017-02-26 02:22] thijstriemstra opened #132 "Support for Canvas2D Animation Recording"
See https://www.webrtc-experiment.com/RecordRTC/Canvas-Recording/

[2017-02-26 02:25] thijstriemstra opened #133 "Support for WebGL recording"
See https://www.webrtc-experiment.com/RecordRTC/webgl/

[2017-02-26 19:34] baimurzin commented on #129
Thanks for response @thijstriemstra .
I had already did almose save thing, clone repo and add event in your onCountDown method that returns the current time also added getter for current time.
So for that reason I need  "videojs-wavesurfer"?

[2017-02-26 20:49] thijstriemstra commented on #129
@baimurzin you only need videojs-wavesurfer (1.3.1 or newer) if you're also recording audio-only.

[2017-02-27 06:14] manishchauhanquovantis commented on #122
I used AudioMeter plugin for solving this issue...

[2017-02-27 13:14] jaishanker123 opened #134 "Chrome Version 56.0.2924.87 / Firefox Version-51.0.1 (32-bit) - Not recording and showing audio/video."
Description-

Dear Team,

I was able to record and play recording on Firefox Version-51.0.1 (32-bit), Sometime it works fine and something it's not even connecting to the webcam.

Same issue happening with Chrome Version 56.0.2924.87.

Could you Please help me with this:

I have downloaded videojs-record Version- 1.6.0 manually and copied required js files from below sources:

http://cdn.webrtc-ex

[2017-02-27 19:30] thijstriemstra commented on #134
hi Jai. Instead of copying the files manually (you copied some incorrect ones) you should run the following from the root of the repository:

[code]
This will install all the dependencies and place them in `node_modules`, which is referenced in the examples.

You should run the examples from a webserver.

The only thing I can think of why it doesn't work sometimes is probably when you have multipl

[2017-02-27 20:30] baimurzin opened #135 "Should I check for browser to convert into mp4 format?"
Should I check which browser user is using before each initialization vplayer to output autio+video in mp4 format. And set mp4 for firefox and h.. for chrome?

[2017-02-27 20:33] thijstriemstra commented on #135
@baimurzin yea probably. Any pull requests or ideas to simplify it for the user are welcome.

[2017-02-28 00:03] thijstriemstra commented on #134
I'll have to add a note about this in the docs, it's not mentioned anywhere.

[2017-02-28 14:00] jaishanker123 commented on #134
Is there another way, to use this code.
As I can't install outside software in my system.
Can you tell me the correct versions of dependencies and source of files, So that I can manually download and put into my code and use this.

Thanks In Advance
Jai

[2017-03-02 20:47] stevula opened #136 "Webpack problem - Cannot resolve module 'videojs'"
## Description
I am using webpack with babel es2015 loader and getting a compile error due to the AMD import in videojs.record.js.

Seems to be related to #123.

## Steps to reproduce
(after installing recordrtc, videojs and videojs-record via npm)

*index.js*
[code]

I have tried with and without the ProvidePlugin with no change in results:

*webpack.config.js*
[code]

## Results
### Expected
It

[2017-03-02 22:27] stevula commented on #136
I was able to resolve the issue by using CDNs for the dependencies (not ideal):
[code]

[2017-03-03 00:25] stevula opened #137 "Output blob size is 0 on Chrome when recording audio"
## Description
When I try to record video + audio on Chrome the output blob for video has no data and there is no audio blob at all. It outputs a 2 MB blob if recording video-only, but when I set `audio: true` in the videojs `options` object, the output video blob is 0 MB. There is also no audio blob in the output.

Your [audio-video demo](https://collab-project.github.io/videojs-record/examples/a

[2017-03-03 00:51] stevula commented on #137
Sorry to bother you. The problem went away when I quit and reopened my browser.

[2017-03-03 11:00] thijstriemstra commented on #137
Cache thing?

[2017-03-05 03:08] #135 closed

[2017-03-05 03:09] thijstriemstra commented on #130
@cb109 no feedback, closing.

[2017-03-05 03:09] #130 closed

[2017-03-10 10:51] ViktorLalev opened #138 "Safari Support"
## Description
Hi, as you probably know there is an issue with accessing web cam and microphone via Safari.

This is the error i recieve:

I found that Safari don't currently support getUserMedia

Is there any solutions to resolve this issue ?

[2017-03-10 20:33] thijstriemstra commented on #138
Duplicate of #85, also see #106 for Flash support.

[2017-03-10 20:33] #138 closed

[2017-03-15 02:27] thijstriemstra commented on #114
There's a new firefox release, any crashes since then?

[2017-03-16 13:33] bobyper commented on #114
Firefox 52.0 not eat memory but pause/resume not working. Can be used for record, except pause/resume

[2017-03-22 19:20] AdamHess opened #139 "Add Ability to Pause and Resume Recording to Control Bar"
Would like to have ability to click on control buttons to pause, resume and restart recording.

[2017-03-22 19:31] thijstriemstra commented on #139
@AdamHess any suggestions how this would work? how many new btns are needed? what happens to existing buttons?

[2017-03-26 04:18] liufitch opened #140 "Empty record data on chrome but it works in firefox"
i ran your audio-video.html of examples. but it didnt work in chrome.work fine in firework.
in chrome,it shows
![Uploading chrome_record.png…]()

![Uploading debug_record.png…]()

i didnt change js  but i change js url

my chrome  57.0.2987.110 (64-bit)
video.js 5.19.0
Latest version of RecordRTC.js and videojs-record

[2017-03-26 04:18] #140 closed

[2017-03-26 12:54] liufitch commented on #124
@OmrDemirel  can you show me your server code ??? video i recived  doesnt play.i have already thought the question for 3 days. please!!!!

[2017-03-26 13:35] thijstriemstra commented on #140
Why is this closed?

[2017-03-26 14:02] liufitch commented on #140
i misclick

[2017-03-26 14:20] liufitch opened #141 "Empty record data on chrome but it works in firefox"
i ran your audio-video.html of examples. but it didnt work in chrome.work fine in firework.
in chrome,it shows
![chrome_record](https://cloud.githubusercontent.com/assets/16552313/24332029/eb18803c-1271-11e7-8443-58b653b89abc.png)
![debug_record](https://cloud.githubusercontent.com/assets/16552313/24332034/ee73b3a0-1271-11e7-9865-5b09df6ce3ec.png)

[code]
i didnt change js but i changed js url

my

[2017-03-29 23:03] thijstriemstra commented on #141
that's strange, although I haven't tested with video.js 5.19.0 yet. @liufitch can you reproduce this with older video.js versions?

[2017-03-30 07:08] marvz73 opened #142 "Play Method get Error"
## Description
[code]

Error Message:
`Uncaught TypeError: player.recorder.play is not a function`

[2017-03-30 12:46] thijstriemstra commented on #142
@marvz73 here is a list of supported methods: https://github.com/collab-project/videojs-record#methods

You should use `start` to start recording.

[2017-03-30 12:46] #142 closed

[2017-03-30 14:04] liufitch commented on #141
i know why. because i used http not https. it  says " getUserMedia() no longer works on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details.
 device error: DOMException: Only secure origins are allowed (see: https://goo.gl/Y0ZkNV)."

[2017-03-30 16:26] thijstriemstra commented on #141
Thx

[2017-03-30 16:26] #141 closed

[2017-04-04 08:51] andriy-kravets commented on #124
Found your posted issue on upwork. I think I can help you! Contact me via email: kravets.andr@gmail.com. Thank you!

[2017-04-06 02:33] omgj commented on #106
listen to Stallman - flash is malware i.e not free software.

[2017-04-21 10:51] thestrayed opened #143 "Unable to run videojs-record on angular"
## Description
try setting up video element on view with external js

### Error output
The element or ID supplied is not valid. (videojs)
if i use in-line script, this error won't come up. video tag will have only volume bar instead

[2017-04-21 12:17] thijstriemstra commented on #143
I believe the issue template asks for video.js version info, os info. Am i supposed to guess? Try to reproduce it by making my own angular example? Sigh.

[2017-04-21 13:06] thestrayed commented on #143
### versions
#### videojs
5.19.2
#### recordrtc
5.4.1
#### videojs-record
1.6.1
#### browsers
what browser are affected?
Chrome, Safari
#### OS
MacOS 10.12.4

Note that my code is exactly the same as audio-video.html

[2017-04-21 13:54] thijstriemstra commented on #143
if your code is exactly the same, can you reproduce it with the audio-video.html example?

[2017-04-21 16:17] thestrayed commented on #143
Nope, I actually have working one on html. Now I'm trying to run it on Angular version 1.6.4 It get stuck when call videojs in script

[2017-04-21 16:35] #143 closed

[2017-04-21 21:55] thijstriemstra commented on #143
Can you share the solution if it's useful to others working with angular?

[2017-04-24 19:15] #136 closed

[2017-04-29 12:37] imrizwan89 commented on #29
@thijstriemstra can you share upload example for the same for php server

[2017-05-03 01:37] baimurzin opened #144 "why playing as online?"
After I finished recording I destroy recorder player. Create new player videojs:

[code]

`                <video id="playerRecordPreviewId" class="video-js vjs-default-skin" style="width: 100%; height: 100%;" controls></video>
`

And when its appear there is a bug, in control panel at first time instead of timer I see "ONLINE", but after I finish and play again it's OK.

![image](https://cloud.gi

[2017-05-03 01:49] thijstriemstra commented on #144
@baimurzin you haven't read the ticket reporting instructions;

* what's the operating system
* video.js version, videojs-record version
* browser version(s)

[2017-05-03 07:21] bagwaa opened #145 "MP4 / MPEG recordings?"
## Description
WebM is wonderful, but it doesn't work on all browsers and/or devices at the moment, is there any way to have videojs-record record in anything other than WebM?  I have seen the mime type settings but I still get WebM when trying that? :(

[2017-05-03 12:53] baimurzin commented on #144
@thijstriemstra ok, sorry.
- MacOS Sierra 10.12.4
- Video.js 5.17.0, RecordRTC v5.4.1, videojs-record: ^1.5.2
- Google Chrome 57.0.2987

[2017-05-04 00:56] thijstriemstra commented on #144
Thanks. @baimurzin this [line](https://github.com/collab-project/videojs-record/blob/master/src/js/videojs.record.js#L497) should disable that component.

You shouldn't use an empty object but a boolean value instead: https://github.com/collab-project/videojs-record#customizing-controls

[code]

Closing, please reopen if issue is still there.

[2017-05-04 00:56] #144 closed

[2017-05-04 00:57] thijstriemstra commented on #145
@bagwaa can you use ffmpeg's `ffprobe` tool on the resulting file and report the output?

[2017-05-04 01:00] thijstriemstra commented on #145
And also post the usual, player config, browser version, recordrtc etc.

[2017-05-04 10:24] baimurzin commented on #144
No, It doesn't' help, problem is still exist

[2017-05-04 10:32] bagwaa commented on #145
[code]

Just downloads as a `webm` still, and not able to play it in Safari, trying to get these videos working across as many browsers as possible.  Previously I was using AWS elastic transcoder to change these on upload, but that gets expensive so looking so save in MP4 format thats playable in all browsers (if possible)

Config

[code]

[2017-05-04 11:11] bagwaa commented on #145
Seems like the major issue at the moment is that video recorded in Chrome can't be watched in FF

[2017-05-04 14:32] thijstriemstra commented on #145
Just because it's downloaded as an webm file doesn't mean it's content is webm (ffprobe shows it's `Video: h264 (Baseline)`). Simply rename the clip to mp4 or hardcode the extension you want in the code. Safari doesn't playback webm (only with a plugin https://www.reddit.com/r/apple/comments/40b3y3/this_is_how_you_can_play_webm_in_safari/) but it does playback MP4: https://developer.mozilla.org/en

[2017-05-04 14:39] thijstriemstra commented on #145
Is it possible the other way around: watching recorded firefox clips in Chrome?

[2017-05-04 14:40] bagwaa commented on #145
The weird thing is, when I convert the webm to an mp4 using ffmpeg I am able to use the scrub bar, but when I do this with the webm file or even rename that file to mp4, it still doesn't give me this

[2017-05-04 14:41] bagwaa commented on #145
Yeah, recording on FF and watching that clip on Chrome seems ok

[2017-05-04 15:00] thijstriemstra commented on #144
Can you please create a full example that reproduces this problem? I'm unable to reproduce it like this.

[2017-05-04 15:04] thijstriemstra commented on #145
@bagwaa the scrubbar will only work when there's duration metadata in the video file. Unfortunately none of the browsers currently inject this duration metadata in their recorded files so scrubbing will not work without ffmpeg conversion (see #31).

[2017-05-04 15:05] bagwaa commented on #145
thanks @thijstriemstra you've helped make all this a little bit clearer for me now 👍

[2017-05-04 15:05] #145 closed

[2017-05-04 15:07] thijstriemstra commented on #145
@bagwaa no problem, recording video in the browser just sucks at the moment as you can see. People hate Flash but at least that worked consistently across all browsers.

[2017-05-04 15:10] bagwaa commented on #145
this is very true, its for a site I have done (for a hobby) for rubix cube solving and giving the ability to film solves easily, works flawlessly in Chrome, firefox is kinda OK .. everything else just doesn't work.  But I think for now its a waiting game.

As it stands I just have one user (me) who's videos goto a premium s3 bucket that transcodes everything to mp4 as well as uses the uploaded web

[2017-05-10 12:41] redwerk opened #146 "Freezes in Chrome"
## Description
We have found inexplicable freezes of video recording in Chrome.
Sometimes on the start of recording the plugin shows just static image instead of video recording.
The video doesn't exist after the stop of the recording.

We’ve set debug to true in order to figure out additional information, but haven’t seen any errors in browser console. Library debug log write that video is record

[2017-05-10 13:42] thijstriemstra commented on #146
Thx for the report. How this ticket will get fixed, i dont know though..

[2017-05-10 14:09] aaagepard opened #147 "Firefox Video/audio issue."
## Description
FireFox 53.0.2 (32-bit)
Audio-video example dont works normally.
It see webcam and microphone but after access acception, it just show loader and one first. Controls works as expected, but any display changes after start or stop recording.

Works great in Chrome. Thanks!

## Steps to reproduce
Used FireFox 53.0.2 (32-bit)
Audio-video : https://collab-project.github.io/videojs-record

[2017-05-10 14:12] aaagepard opened #148 "Firefox Audio issue."
## Description
FireFox 53.0.2 (32-bit)
Audio example dont works normally.
It see microphone but after access acception, it just horisontal line on screen, any changes on voice. Controls works as expected, but any display changes after start or stop recording.

Works great in Chrome. Thanks!

## Steps to reproduce
Used FireFox 53.0.2 (32-bit)
Audio : https://collab-project.github.io/videojs-record/

[2017-05-10 21:50] thijstriemstra commented on #148
@aaagepard what operating system?

[2017-05-10 21:56] thijstriemstra commented on #148
I'm not able to reproduce this on same version of Firefox on Ubuntu 16.04. Are you sure you closed the microphone/Chrome browser while testing? They cannot access the mic at the same time.

[2017-05-10 21:57] thijstriemstra commented on #147
@aaagepard hat operating system? and im not able to reproduce this with that version of Firefox on Ubuntu 16.04

[2017-05-10 22:04] thijstriemstra commented on #146
@redwerk what version of Chrome?

[2017-05-11 06:16] redwerk commented on #146
57.0.2987.133 and 58.0.3029.81

[2017-05-11 09:10] aaagepard commented on #147
@thijstriemstra Windows 7

[2017-05-11 09:15] aaagepard commented on #148
@thijstriemstra Windows 7. yes I closed all other browses.

![audio-only example - record plugin for video js - mozilla firefox](https://cloud.githubusercontent.com/assets/25985568/25941839/82c9e3c2-3643-11e7-9eb5-b4dff5c385c5.jpg)

[2017-05-12 09:39] aaagepard commented on #147
I see, that wavesurfer.js microphone plugin doesnt works normally for me on example page - https://wavesurfer-js.org/plugins/microphone.html

After "Start the mic" click I see request to access the microphone and then no reaction on my voice, just horisontal line.

![firefor videoaudio issue issue 147 collab-projectvideojs-record - google chrome](https://cloud.githubusercontent.com/assets/25985568

[2017-05-12 09:41] aaagepard commented on #147
Works fine in Chrome
![wavesurfer js - google chrome9848498489](https://cloud.githubusercontent.com/assets/25985568/25992783/55ed9dc6-3710-11e7-9b66-731029a9f526.jpg)

[2017-05-12 16:50] thijstriemstra commented on #147
@aaagepard can you open a ticket in wavesurfer.js for this? Once we figure out the issue there I can move on to solving it in other projects like this.

[2017-05-13 09:02] aaagepard commented on #147
@thijstriemstra  yes, of course. Issue created. https://github.com/katspaugh/wavesurfer.js/issues/1089

[2017-05-14 02:38] thijstriemstra commented on #146
@redwerk can you post a video? code example?

[2017-05-14 08:33] maxpaj commented on #23
I believe the issue here lies with that the webm produced while recording with RecordRTC does not contain that metadata.

[2017-05-14 09:32] maxpaj commented on #146
I have observed something similar, so I'll give some input on this.

What happens is that the video freezes a second after recording starts. Then when you finish the recording with stop(), an error is produced in the console:

GET blob:https://*hidden*/8a3ab656-d7b3-4178-af86-51918dda7cca 416 (Requested Range Not Satisfiable)

This bug appears on a very unregular basis. If I can do one recording t

[2017-05-16 16:14] redwerk commented on #146
We can't share the code, unfortunately, and we believe that it won't be useful as this is quite an unregular bug. Are there any chances we can speed up the fixes? Maybe we can provide help or there are some other ways to do it?

[2017-05-17 11:06] alsar opened #149 "Play button doesn't work with video.js 6.2.0 and webpack"
## Description
Playing the recorded video doesn't work with video.js ~~6.0.0~~ ~6.2.0
When you record a video and then press the play button noting happens.

## Steps to reproduce
Install video.js ~6.2.0

## Results
### Expected
Should play the video.

### Error output
[code]

## Additional Information
### versions
#### videojs
what version of videojs does this occur with?
video.js 6.2.0
videojs-r

[2017-05-23 14:16] maxpaj commented on #146
Since what happens in my case is that the entire browser hangs and I have to close it down in order to make it work again - does that mean it could be bug in Chrome?

[2017-05-23 16:27] thijstriemstra commented on #146
possibly. Probably a good idea to open a ticket for the Chrome or Chromium browser, maybe they can reproduce it.

[2017-05-23 16:28] thijstriemstra commented on #149
Have to test this.

[2017-05-24 10:48] redwerk commented on #146
We think it's not a chrome bug, because we had this error on firefox as well (here is the screenshot https://www.dropbox.com/s/6zwcafnm0hjiucr/Screen%20Shot%202017-05-24%20at%201.46.39%20PM.png?dl=0). We have also thoroughly reviewed our code and have not found anything that could have caused the issue. Maybe this issue it's something related to one of this issues https://github.com/collab-project

[2017-05-25 16:35] mir1234 commented on #139
I think this technique can be apply by concatenation of multiple blobs....

[2017-05-26 06:32] mkc110891 opened #150 "Record video in 16:9 aspect ratio record in 4:3 aspect ratio"
## Description
I am trying to record video in 16:9 video, I have set aspectRatio: '16:9' but still its recording in 4:3

## Steps to reproduce
[code]
## Results
Its still recording video in 4:3
### Expected
It should record in 16:9

### Actual
Please describe what actually happened.

### Error output
If there are any errors at all, please include them here.

## Additional Information
Please includ

[2017-05-27 00:28] thijstriemstra commented on #150
You can use the aspectRatio to size the player but you need to pass in the correct video constraints to actually size it in 16:9. See https://github.com/collab-project/videojs-record#media-constraints for example.

[2017-05-27 00:28] #150 closed

[2017-05-27 01:09] thijstriemstra commented on #146
Maybe you can analyze the crash report generated by firefox or chrome.

[2017-05-27 01:12] thijstriemstra commented on #140
duplicate of #141.

[2017-05-27 06:35] mkc110891 commented on #150
Hi, Thijs Triemstra
I got solution.
even after using proper media constraints, I am not able to get proper frame in chrome.

Here is proper script to initiate recorder for 16:9
`var player = videojs(videoId,
		{
			controls: true,
			//loop: false,
			// dimensions of video.js player
			width: 1280,
			height: 720,
			plugins: {
				record: {
					maxLength: 40,
					//debug: true,
					audio: tru

[2017-05-30 14:17] redwerk commented on #146
We also created issue for RecordRTC library, because we found issues, which looks similar to this bug (https://github.com/muaz-khan/RecordRTC/issues/269).
And, unfortunately, we can't analyze the crash report, because it was shown once and bug reproduced really randomly.

[2017-06-12 14:02] anasanzari opened #151 "No dist folder or minified files when installed with Bower"

[2017-06-12 16:39] thijstriemstra commented on #146
@redwerk have you tried the suggestions in that recordrtc ticket?

[2017-06-12 21:01] maxpaj commented on #146
@thijstriemstra do you think it's possible to use Chrome's native MediaRecorder with videojs-record?

I'm thinking of temporarily replacing RecordRTC with some other record engine since we're having a lot of issues with our video recorder and RecordRTC seems to be the culprit here...

[2017-06-12 21:18] thijstriemstra commented on #146
@maxpaj that sounds like a plan. But there are many quirks (I expect) that have to be worked around for various browsers, which is the reason I choose for recordrtc in the first place, so I wouldn't have to reinvent those fixes again. But if recordrtc is buggy and we can create a better native recorder, I'm all for it. Can you work on a PR for this @maxpaj?

[2017-06-12 23:43] thijstriemstra commented on #151
Correct. This only is supported in bower afaik (but pull requests for fixes are welcome). Download the latest zip from the releases instead, e.g. https://github.com/collab-project/videojs-record/releases/download/1.6.2/videojs-record-1.6.2.zip

[2017-06-12 23:43] #151 closed

[2017-06-13 02:22] thijstriemstra commented on #148
This is related to https://github.com/katspaugh/wavesurfer.js/issues/1089 @aaagepard?

[2017-06-13 02:23] thijstriemstra commented on #147
So is this a duplicate of #148 @aaagepard?

[2017-06-13 05:50] vrajroham commented on #77
@thijstriemstra Same question again! Can I change video bitrate of underlying RecordRTC library so that it will help to reduce the video size.

I don't have example but you can see example here. https://www.webrtc-experiment.com/RecordRTC/

[2017-06-13 07:52] maxpaj commented on #146
@thijstriemstra I'll take a look at it!

[2017-06-13 11:09] aaagepard commented on #148
@thijstriemstra yes. I this is related issues.

[2017-06-13 11:11] aaagepard commented on #147
@thijstriemstra  I think yes. we can remove this one.

[2017-06-13 14:33] thijstriemstra commented on #148
@aaagepard so you got it to work on a different machine?

[2017-06-13 14:34] #147 closed

[2017-06-15 10:36] faraz-purelogics commented on #3
Hi @thijstriemstra ,

Very nice library worked very well.
I will be very thank full to anyone who let me know how to achieve functionality of getting blob after some time intervals.

Thanks,
Faraz

[2017-06-15 13:10] redwerk commented on #146
@thijstriemstra We have done everything from recordrtc ticket:
1. add to logs code, that was provided by RecordRTC owner
2. tried to reproduce issue and collect all logs, that we can get and add them to ticket.
Also,  we noticed, that error, that reproduced by @maxpaj is also reproduced in our project (comment on May 14). Error looks like this:
GET blob:https://*hidden*/f635a895-341b-486d-9aa6-141

[2017-06-15 14:36] thijstriemstra commented on #3
It looks like the latest recordrtc improves support for this. I added a PR (https://github.com/muaz-khan/RecordRTC/pull/283) and will implement a `timeSlice` option in this plugin.

[2017-06-16 21:15] thijstriemstra commented on #3
@faraz-purelogics and @erikdonohoo it's now implemented in master, see https://github.com/collab-project/videojs-record#timestamps. Can you give that a try?

[2017-06-16 21:15] #3 closed

[2017-06-16 21:17] thijstriemstra commented on #139
@mir1234 monitoring a stream for blobs can be done using the new `timeSlice` option.

[2017-06-16 21:18] thijstriemstra commented on #99
@maxpaj is this still an issue?

[2017-06-16 21:18] #148 closed

[2017-06-16 23:17] thijstriemstra opened #152 "DOMException: The play() request was interrupted by a call to pause()."
## Description
Getting this error in Chrome 60.0.3112.32 Ubuntu 16.04 after trying to start playback of a recording:

[code]

Looks like the solution is explained here, related to Promises: https://developers.google.com/web/updates/2017/06/play-request-was-interrupted

[2017-06-16 23:49] thijstriemstra commented on #149
It works in Firefox (53) now but not in Chrome (60), closed this to soon.

[2017-06-17 00:37] #152 closed

[2017-06-17 01:00] thijstriemstra commented on #149
@alsar can you confirm it's working now with the latest master?

[2017-06-17 06:30] alsar commented on #149
@thijstriemstra With 6.2.0 i get an `Uncaught TypeError: videojs.getComponent is not a function`error.

[2017-06-17 06:41] alsar commented on #149
With 6.1.0 it works now in both Firefox and Chrome.

[2017-06-17 12:23] thijstriemstra commented on #149
@alsar really, it works with 6.1.0 but not with 6.2.0?

[2017-06-17 14:09] alsar commented on #149
Yes, is looks that way.

[2017-06-17 20:57] thijstriemstra commented on #149
what os/version of firefox/chrome? I can't reproduce that..

[2017-06-18 08:40] alsar commented on #149
Firefox 54 and Chromium 58. Maybe it's an Webpack problem.
I'll investigate in the next days and get back to you.

[2017-06-18 11:35] perminder-klair commented on #149
Getting same issue with

[code]

`TypeError: videojs.getComponent is not a function`

[2017-06-18 18:23] thijstriemstra commented on #149
What line does this error occur on? Can someone post a screenshot or stacktrace? (with unminified versions)

[2017-06-18 18:27] thijstriemstra commented on #149
This fix in a different plugin could be related: https://github.com/videojs/videojs-youtube/commit/ad7275caf4b9d102354fbceda86ab9f20e216ee8#diff-41489607c076711cf7440b328fb7a065R37.

[2017-06-20 07:34] AbhijitParate opened #153 "Uncaught (in promise) DOMException: setOptions failed in Chrome Version 59.0.3071.104"
## Description
Not able to capture the image in Chrome Version 59.0.3071.104
I tried with this link
[Image Demo](https://collab-project.github.io/videojs-record/examples/image-only.html)

## Steps to reproduce
Just try to capture the image

## Results
### Expected
Get image blob

### Actual
Not happening

### Error output
Uncaught (in promise) DOMException: setOptions failed

## Additional Informa

[2017-06-21 21:49] kperdomo1 opened #154 "Frozen video stream on Chrome Android"
Hey guys. The plug-in has worked pretty good except for Chrome Android. Once the stream starts (after clicking the device button), it's supposed to show a live streaming of what the camera is capturing.

The issue here is that, for Chrome Android, this live streaming is extremely slow, basically showing snapshots of the stream with seconds in between. Nevertheless, once you start recording this is

[2017-06-22 03:39] kperdomo1 commented on #154
After many hours I figured out what the problem is.

At the end of onDeviceReady callback, the stream is being loaded into the video element and **immediately** being played. The thing is, Chrome seems to take a moment to load such stream. As a result, the stream is not actually being played. To solve this, right after loading the stream to the video element, a loadedmetadata callback must be conf

[2017-06-22 03:58] thijstriemstra commented on #154
Thanks for the details, can you make a pull request?

[2017-06-22 04:48] kperdomo1 commented on #154
Sure thing. I'm swamped with work atm but I'll try to do it tomorrow.

[2017-06-22 05:03] CherryChann opened #155 "Can I record as mp4 format in videojs-record 5.19.2."
## Description
I want to record the video format as mp4 format and i have already initiated like below.
[code]
But when I get player.recordedData , it is still webm format.How can I do this? I m using Chrome 59.0

[2017-06-22 09:55] thijstriemstra commented on #155
It's in the documentation: https://github.com/collab-project/videojs-record/blob/master/README.md#options

Use video/mp4 (Firefox) or video/webm;codecs=H264 (Chrome 52 and newer) for MP4.

[2017-06-22 09:55] #155 closed

[2017-06-22 16:01] CherryChann commented on #155
Yep I already tried that but it doesnt work and I still got recorded data as webm format

[2017-06-25 16:59] thijstriemstra commented on #149
Also tested on OSX with Chrome 60.0.3112.40, still cannot reproduce.

[2017-06-30 12:49] alsar commented on #149
@thijstriemstra  I could get down to the root of the problem.
The problem is the combination of ES6 exports `export default videojs` and requirejs imports `require('video.js)`

video.js switched from `module.exports = videojs` in 6.1.0 to `export default videojs` in 6.2.0
And while videojs-record still uses require('video.js) and if you use ES6 stops working.

https://github.com/videojs/video.js/b

[2017-07-03 10:33] thijstriemstra commented on #153
@AbhijitParate what operating system? Could not reproduce this with Chrome 60.0.3112.50 (Official Build) beta (64-bit) on Ubuntu.

[2017-07-03 11:03] thijstriemstra commented on #155
@CherryChann can you post the file somewhere so we can inspect it?

[2017-07-03 11:17] #154 closed

[2017-07-03 11:24] thijstriemstra commented on #146
I can imagine #154 that was recently merged could also help fix this issue..

[2017-07-03 11:32] thijstriemstra commented on #149
Hmm, @gkatsev should we use `require('video.js).default` as suggested in order to support both versions of video.js?

[2017-07-03 22:46] thijstriemstra commented on #149
@alsar I assume you (will) have the same issue with https://github.com/collab-project/videojs-wavesurfer?

[2017-07-03 23:56] gkatsev commented on #149
Hm... when making the changes in 6.2.0 I tested to make sure that it works without requiring es6: https://github.com/videojs/videojs-bundler-sample
Maybe the issue is that this is a separate project that requires videojs and not an end-user which is what the bundler-sample project is?

[2017-07-04 00:01] gkatsev commented on #149
Though, thinking about it some more, what version of webpack is used? We're outputting both CJS and ESM outputs and specify a `main` and a `module` property in the config. If webpack 2 is used, it probably tries to load the ESM module and things break.

[2017-07-04 00:15] thijstriemstra commented on #149
This sounds confusing, can you elaborate?

@alsar what version are you using?

[2017-07-04 00:24] thijstriemstra commented on #149
A new release of this plugin  (in short term) would pin video.js to anything < 6.2.0.

[2017-07-04 00:24] gkatsev commented on #149
Actually, I think it's exactly module field issue. Just remembered I had to do: https://github.com/videojs/videojs-bundler-sample/blob/master/src-es5/webpack.config.js#L9-L11
We probably should document that in the webpack guide.

What I meant is that in videojs-bundler-sample, we require video.js directly in that project and we don't have a dependency also require video.js.

It sounds to me like

[2017-07-04 00:26] thijstriemstra commented on #149
wtf is ESM. sorry.

[2017-07-04 00:27] gkatsev commented on #149
it's ok. ESM is short for ES modules or Ecmascript modules. That is the `import` and `export` syntax. CJS is commonjs, i.e., what nodejs uses and what bundlers used to use.

[2017-07-04 07:36] alsar commented on #149
I'm using Webpack 3 now. Had the same problem with version 2.

Webpack with ES6 by default uses `video.es.js`.
I solved the problem temporarily by aliasing video.js with `node_modules/video.js/dist/video.js` which doesn't use the ES6 syntax. But that is not really a proper fix.

[2017-07-05 11:27] redwerk commented on #146
Thank you for all responses!
We found that such error occur mostly on the 57 and 58 Chrome version. And we fixed it through changing videoMimeType to 'video/webm;codecs=vp9'.
But, also we got latest update for library and we will check this issue with your update.
Also, we noticed, after update not only videojs.record.js script, but also after update video.js script, that in console we have some w

[2017-07-05 14:16] thijstriemstra commented on #146
That warning should be fixed with the latest videojs-record version.

[2017-07-05 20:19] thijstriemstra commented on #153
Please reopen if you have feedback.

[2017-07-06 08:07] redwerk commented on #146
Ok. Then thank you for your help!

[2017-07-06 08:07] #146 closed

[2017-07-06 08:10] maxpaj commented on #99
I think this may be fixed with the config
`videoMimeType: 'video/webm;codecs=vp9',`

[2017-07-06 17:45] oosthoek commented on #153
I am having this same problem with the latest version of chrome on windows.  I traced it down to imageCapture.takePhoto() not working.

[2017-07-06 18:32] thijstriemstra commented on #153
can you post the error or a screenshot @oosthoek? what version of windows/chrome?

[2017-07-06 19:04] oosthoek commented on #153
chrome: Version 59.0.3071.115 (Official Build) (64-bit)
i have windows 7 and my coworker with windows 10 pro has the same problem.

screenshot from https://collab-project.github.io/videojs-record/examples/image-only.html
![image](https://user-images.githubusercontent.com/6978789/27928211-4bd6b288-625c-11e7-83ab-85ffa7e8fa11.png)

[2017-07-07 11:03] alsar opened #157 "Turning off the device between recordings"
I want to be able to turn off the camera when the user has pressed the stop button (for privacy reasons).
I know, there is a `stopDevice` method and it works as advertised. It turns off the recording device. So I can call this method after the user clicks the stop button.
But the problem is that if I stop the device and the user clicks record again the recorder stops working. I get an error: ` DOM

[2017-07-08 18:07] thijstriemstra commented on #157
Looks related to #73, #78 and #86.

[2017-07-08 18:08] thijstriemstra commented on #157
I think you need to call `reset` and combine it with `getDevice` @alsar.

[2017-07-08 18:25] thijstriemstra commented on #99
Thanks for the feedback. if you could verify this, it would be very useful so we can close this one.

[2017-07-08 18:49] thijstriemstra commented on #153
This is the implementation status page for Chrome: https://github.com/w3c/mediacapture-image/blob/gh-pages/implementation-status.md

It mentions:

This implies Chrome version 60 and newer should work out of the box, in older browsers you need to enable the flag: chrome://flags/#enable-experimental-web-platform-features.

I thought the plugin was checking for this but probably incorrectly, let me c

[2017-07-08 18:55] thijstriemstra commented on #153
Using this code currently:

[code]
which pins it on Chrome >= 56 which is incorrect. So the Chrome devs decided to change this (the blog post referenced in the comments was also updated on june 2nd this year).

So let me fix that.

[2017-07-08 19:13] thijstriemstra commented on #153
@oosthoek and @AbhijitParate, I improved a version check, can you see if it works with the latest version from the master branch?

[2017-07-08 19:20] thijstriemstra commented on #149
I think I will open a new ticket for video.js, pin video.js to <= 6.1.0, and release a new version of this plugin.

[2017-07-08 19:34] thijstriemstra commented on #149
video.js will be using webpack 3.1.0 soon it looks like (when this travis build succeeds I suppose): https://github.com/videojs/video.js/pull/4470

[2017-07-10 06:56] alsar commented on #157
@thijstriemstra `reset` works but I loose the previously recorded video (I can't play it again).
Is it somehow possible to retain the previously recorded video?

What I want to achieve is the basically the default functionality but with the possibility that the camera gets turned off after the stop button is clicked and turned on again after start is clicked.

[2017-07-10 07:50] maxpaj commented on #99
Yup, it's definitely working now. You can close it :)

[2017-07-10 07:50] #99 closed

[2017-07-10 15:17] aaagepard commented on #153
@thijstriemstra  I had the same issue in last Crome 59.0.3071.115 (64 бит) on Windows 7 . After update from your last commits it works fine.

[2017-07-10 16:26] oosthoek commented on #153
Works for me too.  Thank you.

[2017-07-11 10:15] thijstriemstra commented on #153
Thx for feedback.

[2017-07-11 17:56] stevula commented on #137
This is still popping up intermittently. Clearing browser cache doesn't fix it but closing the browser completely does. So far I've only spotted the issue in Chrome, but I haven't done as much testing in Firefox to be sure.

[2017-07-16 14:42] thijstriemstra commented on #99
Thx for the feedback.

[2017-07-22 22:21] thijstriemstra commented on #137
@stevula can you update and add the additional Chrome and/or OS info in the ticket description?

[2017-07-25 03:40] lilyxs opened #158 "Videos played by web pages can be recorded"
## Description
Use the videojs plug-in to play HLS live streams on the web page with HTML5 tags. Can you use videojs-record to record live streaming videos at the end of the page? If possible, can you tell me how to use the videojs-record related steps, thank you?

[2017-07-25 12:44] ox-michaelradionov commented on #137
I've encountered the same problem, and browser restart solved it. Only Chrome, only on Mac OS.

Chrome 59.0.3071.115
macOS Sierra 10.12.4

videojs-record 1.6.0
video.js 5.15.1

[2017-07-25 15:38] thijstriemstra commented on #158
@lilyxs what plugin are you using for that?

[2017-07-27 06:58] lilyxs commented on #158
RecordRTC.js and Video.js

[2017-07-29 00:14] thijstriemstra commented on #158
@lilyxs can you show some example code?

[2017-07-31 13:06] bennybee opened #159 "Close playback and return to recording without getDevice"
Using a single player instance to record multiple videos. When finished recording - in some cases I want the user to playback what they have recorded, in other cases I want it to return straight back to webcam view while file uploads.

Is there a way to do this without using getDevice()? It keeps asking permission to use the camera when testing on HTTP. I know this isn't an issue when on HTTPS but

[2017-08-01 11:50] CherryChann opened #160 "Recording as Mirror Mode"
I want to record the video as mirror mode and I want to know if it has any options i can do about it.

[2017-08-02 11:59] maxpaj commented on #137
I can add that I've seen this as well in our live environment. But since I don't know how to reproduce it I just don't know where to begin...

[2017-08-02 13:12] thijstriemstra commented on #160
@CherryChann you can mirror the video element during preview/recording. Add the following CSS (taken from https://stackoverflow.com/a/14455993):

[code]

[2017-08-05 01:05] hypatia commented on #146
I ran into this crash on the latest videojs-record with the following browser version

-- | --
Revision | 3cf8514bb1239453fd15ff1f7efee389ac9df8ba-refs/branch-heads/3071@{#820}
OS | Mac OS X
JavaScript | V8 5.9.211.38
Flash | 26.0.0.137 /Users/hypatia/Library/Application Support/Google/Chrome/PepperFlash/26.0.0.137/PepperFlashPlayer.plugin

[2017-08-05 10:36] thijstriemstra commented on #146
@hypatia any crash log files or something you can share? Would love to get this fixed somehow.

[2017-08-06 17:31] Guiladg opened #161 "Preview needs setTimeout"
Why I need to use setTimeout(function(){ player.play() }, 500); for watching a preview of the recorded video? If I just use player.play() after finishRecord fires, I don't get any result.

[2017-08-06 20:03] thijstriemstra commented on #161
@Guiladg hmm haven't seen that before. You haven't told us what version of video.js/videojs-record/recordrtc though.

[2017-08-06 21:14] thijstriemstra commented on #159
@bennybee getUserMedia, the browser API that provides access to the webcam, only works on HTTPS.

[2017-08-07 09:24] bennybee commented on #159
Ah ok, was testing in Firefox which seems to allow HTTP recording.

[2017-08-07 10:20] thijstriemstra commented on #159
Only on localhost afaik.

[2017-08-10 11:02] bobyper commented on #114
Finally, Firefox 55 record/pause/resume working fine

[2017-08-14 09:00] assiomatica opened #162 "preview autostart"
I need to start the camera preview without click on the player just after init, it's possible?

Thanks
Antonio

[2017-08-14 09:02] thijstriemstra commented on #162
@assiomatica no this is not possible, browsers don't allow it. It would be a privacy nightmare if every site can start you camera without giving it permission. Closing ticket, please re-open if I misunderstood your question.

[2017-08-14 09:08] assiomatica commented on #162
Hi thanks for quick answer,
I think my question was not clear
I should like the recorder act as this:

https://simpl.info/getusermedia/

as you can see the camera preview starts without any user action.

Thanks

[2017-08-14 09:20] thijstriemstra commented on #162
@assiomatica I see, please try this:

[code]

[2017-08-14 09:24] assiomatica commented on #162
It works! Perfect, thanks.
Excellent plugin and lighting fast support! congratulations!

[2017-08-14 09:26] #162 closed

[2017-08-18 10:53] jipema opened #163 "Adding a video preview/stream method?"
## Description
In video mode, how could we re-activate the preview, after a record.stop()?
It could be useful in case of a countdown before a new recording.

## Steps to reproduce
1. player.recorder.getDevice() -> camera preview
2. player.recorder.start() -> camera preview
3. player.recorder.stop() -> recorded video cover (fixed)
4. player.recorder.start() -> camera preview

### Expected result
1.

[2017-08-18 13:52] thijstriemstra commented on #163
I believe this isn't the case in Chrome, once you give permission you don't have to do it again. Can you confirm this?

[2017-08-18 14:13] jipema commented on #163
That is correct, Chrome doesnt ask twice. But firefox does, and probably others, I have to try.

The player replaced the camera feed by a still image (the first image of the recorded video).

[2017-08-20 14:01] thijstriemstra commented on #163
There is a Firefox pref (`media.navigator.permission.disabled`) to disable the permission check, but this is probably not an option for you?

[2017-08-21 12:53] thijstriemstra commented on #160
No feedback, closing.

[2017-08-21 12:53] #160 closed

[2017-08-21 12:54] thijstriemstra commented on #114
@bobyper so I guess this ticket can be closed, Firefox 55 and newer do not crash (at all)?

[2017-08-21 12:54] thijstriemstra commented on #137
Yea, if it's not possible to reproduce it'll be impossible to fix this..

[2017-08-21 12:59] thijstriemstra commented on #149
I opened https://github.com/videojs/video.js/issues/4580 cc @gkatsev

[2017-08-21 12:59] thijstriemstra commented on #161
Closing, no feedback.

[2017-08-21 12:59] #161 closed

[2017-08-21 13:01] thijstriemstra commented on #158
no feedback. @lilyxs please reopen with feedback.

[2017-08-21 13:01] #158 closed

[2017-08-21 13:30] bobyper commented on #114
yes

[2017-08-21 13:30] #114 closed

[2017-08-22 13:48] maxpaj commented on #137
@thijstriemstra kind of have to agree with you here... We've seen this bug appear very sporadically.

In any case, I think this bug probably stems from RecordRTC. So for anyone interested in getting this fixed, I'd refer to the RecordRTC issues instead. https://github.com/muaz-khan/RecordRTC

[2017-08-30 17:39] alexthewilde opened #164 "No audio signal in Chrome Desktop"
## Description
The recorder doesn't receive an audio-signal in Chrome Desktop.

## Steps to reproduce
Test the [audio-only demo](https://collab-project.github.io/videojs-record/examples/audio-only.html) in Chrome v60 desktop.

## Results
### Expected
After granting permission, the recorder should receive an audio signal.

### Actual
No audio signal.

## Additional Information
Please include any ad

[2017-09-01 01:32] thijstriemstra commented on #163
Any feedback @jipema?

[2017-09-01 01:33] thijstriemstra commented on #149
They committed a fix at https://github.com/videojs/video.js/commit/5e2304837044a09204016a771743b7801261c6ad. You can give that a try @alsar or wait till they release it.

[2017-09-01 01:38] thijstriemstra commented on #164
What version of video.js @alexthewilde (latest doesn't mean much)?

[2017-09-01 14:07] alexthewilde commented on #164
@thijstriemstra I was using the official demo from the repo README.

Anyway, the issue seems to be gone now. It tested on multiple machines, so the issue did exist for about two days. No idea what caused it nor what fixed it.

[2017-09-01 14:23] thijstriemstra commented on #164
Thanks for the feedback, clsoing.

[2017-09-01 14:23] #164 closed

[2017-09-04 14:17] alsar commented on #149
I tested it quickly with the newsest video.js release that ships with the fix.
[code]

but I get an error with webpack `Error: plugin "record" does not exist` (also with other plugins). I currently don't have the time to debug it in the next days, but it's definitely a ES6 issue and also maybe isn't related to the fix. Because I don't get any error with `video.js/dist/video.js`.

[2017-09-04 19:24] aveeshkumar opened #165 "How to upload data to server (PHP) - audio works but video does not"
## Description
I just thought I would give an example to newbies like myself and alert to video not being sent to server but audio works fine

## Steps to reproduce
Since I couldnt get jquery file upload or the other uploader to do it and all i wanted was a way to upload recroded file to server i just implemented it in pure JS (XHR)

audio/video are recorded and can be saved locally but on XHR upl

[2017-09-04 21:35] thijstriemstra commented on #165
@aveeshkumar what does your player config look like?

[2017-09-05 00:29] thijstriemstra commented on #149
@gkatsev any idea?

[2017-09-05 00:34] #137 closed

[2017-09-05 00:34] thijstriemstra commented on #164
Maybe related to #137?

[2017-09-05 04:54] aveeshkumar commented on #165
Hello,

Thx for your excellent coding!

Posting the config file below. But just wanted to say that video records coz I can click the play button to hear the recording. player.recorder.saveAs({'video': 'my-video-file-name'}); works. player.recorder.saveAs({'audio': 'my-audio-file-name'}); works too

But when I upload using XHR:
formData.append('file', player.recordedData);

works for the audio inst

[2017-09-05 10:57] alexthewilde commented on #164
@thijstriemstra yes, this sounds very much like the issue that I've encountered.

[2017-09-05 12:03] thijstriemstra commented on #165
@aveeshkumar try:

[code]

[2017-09-05 13:37] aveeshkumar commented on #165
hello,

It WORKED ! - thank you!

however console.log(player.recordedData.audio);

or
console.log(player.recordedData.video);

displays undefined

Thank you Thank you!