[2020-11-14 22:41] cogdog commented on #520
Of course, I forgot I was using local versions of libraries. I had a problem with linking to hosted versions. Will retry and update. This was Safari Version 14.0 (14610.1.28.1.9) on OSX 10.14.6

[2020-11-15 16:08] youennf commented on #332
No JS console errors, the recording seems to go fine (I do not see any exception) when clicking on the record button.
When trying to render the recorded video, the live stream is rendered, not the recorded one.

[2020-11-17 12:39] evd3v opened #523 "Recording custom stream"
## Description
Can I record, for example, remote stream? In my case, I have two videos, local and remote. And I need to record both. In docs I only find the case when we record local video with `player.record().getDevice()`

So can I set video stream, without `player.record().getDevice()`? Smth like that:  `player.record().srcObject = stream `?

Thanks

[2020-11-21 15:50] ignl commented on #521
@thijstriemstra yes, it seems to be working correctly. In demo I don't see milliseconds.

[2020-11-22 11:16] ignl commented on #520
There were some issues with safari 14 and MediaRecorder api. You can track results here: https://bugs.webkit.org/show_bug.cgi?id=85851
From that bug ticket it seems that everything should work and MediaRecorder should be enabled by default on Safari 14.1, so you can try to check beta version of newest safari to see if it works.

[2020-11-22 11:23] ignl opened #524 "Audio only recording on Safari iOS 14.2"
## Description
When trying audio only demo with IOS safari at first everything works fine, but when trying to play recording wavesurfer stops working and there are no audio.

## Steps to reproduce
Check audio-only demo with IOS safari (not sure about Mac safari).

### Expected result
Being able to play recorded audio and wavesurfer plugin working correctly.
It's possible that it's Safari problem,

[2020-11-22 23:40] thijstriemstra commented on #520
That would be great.

[2020-11-23 14:44] youennf commented on #332
I had a look today and it seems like a WebKit bug.
I'll track it there: https://bugs.webkit.org/show_bug.cgi?id=219258.
It seems a video element attached to a MediaStream will not consider further possibilities.
A temporary workaround might be to have two different video elements (one for regular media and one for MediaStream).

[2020-11-23 15:22] thijstriemstra commented on #332
Making things more complex, just for Safari, sounds like a bad idea.

[2020-12-08 08:43] bobyper opened #525 "Safari macOS - play recorded video"
## Description
Safari browser on MacOS cannot play recorded video
## Steps to reproduce
Just test demo example
https://collab-project.github.io/videojs-record/demo/audio-video.html

## Results
After recording and click on play, browser showing camera preview instead recorded video.
Tested on"High Sierra" and "Big Sur"

[2020-12-09 06:35] sourabh-prologic opened #526 "Not able to record video"
I am unable to record video using an OBS (Green Screen) camera. The recording process is working fine with other cameras and also my OBS camera is working fine with TokBox Live Video Calling functionality.

Can you help me out in this? I am not getting any error either. It shows like it is recording the video but the blob data is empty when stop recording

[2020-12-14 03:05] pmaganti commented on #525
Safari is currently not supporting the Media Recorder.
[code]

[2020-12-14 07:59] bobyper commented on #525
No, this is not a problem. You must enable Media Recorder from Safari Delevop menu.
Develop -> Experimental Features -> MediaRecorder.
In this case, Safari recorded a video in mp4 format. I can upload video from Safari to server or save local but cannot preview what is recorded.

[2020-12-14 17:01] pmaganti commented on #525
@bobyper I totally understand that this can get it to work by enabling **Experimental Features** but to me, that is only a developer workaround.

Correct me if I am wrong but suggesting to enable an Experimental Feature is not a solution that is acceptable since you or I or anybody else who is developing a real product will never ask End users to enable them to use it.

[2020-12-17 00:46] thijstriemstra commented on #526
@sourabh-prologic can you show a screenshot of the camera/mic dialog of browser it's working in?

But more importantly, what browser/operating system versions are you using?

[2020-12-17 00:47] thijstriemstra commented on #523
No, that's not possible yet but would be a nice enhancement.

[2020-12-17 00:47] thijstriemstra commented on #517
No feedback, closing.

[2020-12-17 00:47] #517 closed

[2020-12-17 19:30] webdistortion opened #529 "How to determine if the 'stop sharing button clicked'"
## Feature request.

How to determine that someone clicked the stop sharing button
From stackoverflow:

  // somebody clicked on "Stop sharing"
  stream.getVideoTracks()[0].onended = function () {
    // doWhatYouNeedToDo();
  };

Wondering if videojs-record currently exposes this, or if a pull request would be welcome to do so. I couldn't see a way in the documentation to achieve this, nor could

[2020-12-24 04:19] mayank1513 opened #530 "Not able to build the project locally"
## Description
I cloned the repo and tried running `pnpm i` to install dependencies and then `pnpm run build` to build the project. But it throws  errors (reported in errors section)

## Steps to reproduce
1. download the zip from github
2. install dependencies via `pnpm run i`
3. run build via `pnpm run build`

## Results
### Expected
Code should compile without errors and work as expected

### A

[2020-12-24 10:11] mayank1513 commented on #530
Need to use npm for build. pnpm doesn't work somehow.

[2020-12-24 10:11] #530 closed

[2020-12-24 10:13] mayank1513 opened #532 "gif resolution is reset to 320x240 irrespective of the options"
## Description
When creating GIF, the resolution is always reset to 320x240

[2020-12-26 16:58] thijstriemstra commented on #532
@mayank1513 what does your videojs-record config look like? what versions, browser/os etc?

[2021-01-03 20:47] ignl commented on #524
Hi, I have tested with IOS 14.3 and now it's possible to record audio (and video), however in demo it's still not possible to play what's recorded so it's a valid bug.

[2021-01-03 20:49] ignl commented on #525
Since IOS 14.3 MediaRecorder should be enabled by default. I can also confirm the same bug.

[2021-01-05 16:36] thijstriemstra commented on #524
can you download and attach a copy of the recorded audio file?

[2021-01-06 07:48] ishwarid opened #533 "device error: DOMException: Could not start video source"
## Description
Complete error output
device error: DOMException: Could not start video source
(anonymous) @ applicationVideo.js:376
i.dispatcher.i.dispatcher @ video.es.js:1935
en @ video.es.js:2073
trigger @ video.es.js:2965
onDeviceError @ videojs.record.js:638
Promise.catch (async)
getDevice @ videojs.record.js:460
l @ applicationVideo.js:425
dispatch @ jquery.js:4670
v.handle @ jquery.js:4490

[2021-01-06 13:53] thijstriemstra commented on #533
@ishwarid this usually means the webcam/video device is not connected or being used by a different application or webpage. Can you doublecheck this?

[2021-01-06 19:34] ttimatkinss opened #534 "Eternal Safari problem ... let's summarize and solve it ;-)"
Facts:

1) VideoJs record demo does not work for Safari ... you can not play what you recorded (it's already sent as an issue in this forum)

2) Safari 14.3 will have MediaRecorder active as default, but as many people explained, we can not say users to activate a hidden Developer menu option in order to work with our application

3) Some other issues says the "technology" is blocked by RecordRTC

[2021-01-06 20:14] thijstriemstra commented on #534
I haven't personally looked at the new Safari yet. Would be good to add your summary to the existing safari ticket: #332

Marking as duplicate of #332

[2021-01-06 20:14] #534 closed

[2021-01-14 06:47] aphavichitr commented on #389
@thijstriemstra @retrocausal has this issue been resolved yet? I'm still able reproduce with videojs-record v4.1.1 on Mac + Chrome

[2021-01-14 13:33] thijstriemstra commented on #389
if you click on the chromium bug link, you will see the ticket's still open https://bugs.chromium.org/p/chromium/issues/detail?id=642785

[2021-01-14 18:24] aphavichitr commented on #389
Ok, so there's no work around for now? Everyone is just keeping the camera on after the recording and only destroying the player after leaving the page?

[2021-01-16 18:17] thijstriemstra commented on #389
There used to be this much hated piece of software called the Flash Player that allowed me to do it, on every platform, circa 2003. Twenty years later and here we are.. 🙉

[2021-01-20 08:13] Alferdize opened #535 "video recording is missing metadata information."
## Description
I implement Record Video from videojs-record (Using with Angular). But when Record Video success, I save the video to my computer. This video is missing information: Time Length, Frame Width, Frame height
Can you help me add this information for video after record?

## Configuration Options
[code]

[code]

## Steps to reproduce
Explain in detail the exact steps necessary to reproduc

[2021-01-23 07:56] duhar commented on #370
![image](https://user-images.githubusercontent.com/17267400/105572655-809d7f80-5d7e-11eb-87ba-c3181d9eaafb.png)
I am facing rotation issue

[2021-01-24 06:17] aphavichitr opened #536 "ffmpeg.js plugin: cannot import convertWorkerURL"
## Description
I'm trying to add ffmpeg.js in my Vue.js + Nuxt.js project. I've imported the convertWorkerURL as shown in the example on https://collab-project.github.io/videojs-record/#/plugins/ffmpeg.js, however when after I record i'm getting undefined for the this.player.convertedData object. My guess is either I'm importing it wrong or there's some issue with the library's options for this pl

[2021-01-24 06:34] aphavichitr opened #537 "How to add multiple convertEngines"
## Description
I would like to convert my .webm recordings to .mp4 for safari, but also need to keep the .webm videos for chrome/firefox/etc. However, on chrome the .webm recordings have no seekbar during playback, but firefox has the seekbar. I found that the ts-ebml convertEngine will add the metadata for the duration, which would enable the seekbar. But by choosing the ts-ebml, then I won't be

[2021-01-24 18:30] thijstriemstra commented on #537
No, there currently isn't, but sounds like a good enhancement.

For now, you can write a separate ffmpeg.js convert script that does this for you.

[2021-01-24 20:11] aphavichitr commented on #537
Which ffmpeg.js convert scripts are you referring to? Is there a link? Thanks

[2021-01-24 20:20] thijstriemstra commented on #537
See ffmpeg.js documentation: https://github.com/Kagami/ffmpeg.js/#usage

[2021-01-24 22:59] aphavichitr opened #538 "How do you set different videoMimeTypes for different browsers"
## Description
I'm trying to record all videos in mp4 format to support all browsers, since I can't get ffmpeg to work for converting .webm to .mp4 format. In the docs it says "Use video/mp4 (Firefox) or video/webm;codecs=H264 (Chrome 52 and newer) for MP4". How does this library determine when a user is recording from a specific browser eg. firefox or chrome or ie, and is able to change the video

[2021-01-26 07:02] aphavichitr commented on #538
@thijstriemstra do you have an example of how to set the options for the type of browser someone is using when recording? How do you set mp4 for firefox and webm for chrome? Also how do you do this while also converting the video to the other format with ffmpeg?

[2021-01-26 07:27] aphavichitr commented on #481
@freedytag were you able to get this to work? What are the convertOptions and the pluginLibraryOptions supposed to be if I'm trying to convert the default webm video to mp4?

[2021-01-27 07:17] aphavichitr opened #539 "ffmpeg plugin: Increase TOTAL_MEMORY"
## Description
I'm trying to convert my videos to mp4 using the ffmpeg.js plugin. I had to downgrade ffmpeg.js to an earlier version, 3.1.9001 otherwise I would get a OOM error in chrome (as documented in: https://github.com/collab-project/videojs-record/issues/481). After downgrade during the conversion I started getting a "Cannot enlarge memory arrays." error. I found the solution on (https://gi

[2021-01-27 09:10] LarryBarker commented on #413
I'm also experiencing a number of issues on mobile. The flickering still exists, and playback doesn't seem to be working. After I stop recording, and attempt to play the video, it's actually just showing the camera stream again and not playing back anything.

[2021-01-28 04:30] stonebeach514 opened #540 "Cannot delay video-only recording"
Hi.
I tried a way to delay video-only recording but couldn't.I want to delay recording video-only by 5 seconds.I knew I would edit the record-toggle.js if it was audio only .
Which file do you edit for video only recoeding?

[2021-01-28 13:00] thijstriemstra commented on #540
What line would you edit?

[2021-01-30 18:43] thijstriemstra commented on #370
that ticket was fixed and merged on 2020-10-01. So it should be fixed in latest Safari?

[2021-01-30 18:45] thijstriemstra commented on #413
Related webkit ticket: https://bugs.webkit.org/show_bug.cgi?id=184025

[2021-01-30 18:45] #420 closed

[2021-01-30 18:47] thijstriemstra commented on #451
See https://bugs.chromium.org/p/chromium/issues/detail?id=1100746

"Chromium is attaching some form of user activation algorithm to the getDisplayMedia() implementation, though no such restriction appear in the Screen Capture specification - or AFAICT are even specified at all"

[2021-01-30 18:48] thijstriemstra commented on #492
duplicate of #392

[2021-01-30 18:48] #492 closed

[2021-01-30 18:54] thijstriemstra commented on #131
I don't remember the exact need for this, closing for now.

[2021-01-30 18:54] #131 closed

[2021-01-30 20:00] LarryBarker commented on #413
Thanks for that @thijstriemstra. I know you've put a lot of time into this project so thank you for making it available.

Just curious if you have issues with playback on iOS Chrome and Safari?

I seem to be able to record but playback just streams the device again, and the audio does some weird echoing thing.

[2021-01-30 20:04] thijstriemstra commented on #413
Oh yes, for years ;)

I am working on ios/safari testing today. Will be testing with ios 14.4 (anyone know what safari version that runs?) and macOS safari 14.0.2 and Safari Technology Preview 119 (Safari 14.1, WebKit 15611.1.10.1).

[2021-01-30 22:03] #355 closed

[2021-01-30 23:34] thijstriemstra commented on #539
@aphavichitr what version of chrome and macos?

[2021-01-31 05:23] aphavichitr commented on #539
I'm on Chrome 88.0.4324.96 and MacOS 10.15.6

[2021-01-31 06:50] LarryBarker commented on #413
I’m not the greatest JS dev but what I can do to help?

On Sat, Jan 30, 2021 at 2:04 PM Thijs Triemstra <notifications@github.com>
wrote:

[2021-01-31 14:45] thijstriemstra commented on #506
Hmm, not sure about this comment, because I'm also unable to download the file.

[2021-01-31 17:17] thijstriemstra commented on #506
This will be supported in videojs-record 4.2.0 or newer with:

[code]

[2021-01-31 17:18] #506 closed

[2021-01-31 17:22] thijstriemstra commented on #494
videojs-record 4.2.0 includes a new opus-media-recorder plugin that should work on all platforms. vmsg is another option. Give it a try and let us know how it goes.

[2021-01-31 17:22] #494 closed

[2021-01-31 17:24] thijstriemstra commented on #526
No feedback, closing.

[2021-01-31 17:24] #526 closed

[2021-01-31 18:24] thijstriemstra commented on #481
I tested with:

[code]

and audio + video just now using this config:

[code]

which did not throw any errors but produced a 0 bytes blob.

I tested with the new ffmpeg.wasm plugin in videojs-record 4.2.0 and this worked fine.

I'm marking the ffmpeg.js plugin as deprecated, since it looks unmaintained and doesn't work properly. Use the ffmpeg.wasm plugin instead if you want video + audio.

Closin

[2021-01-31 18:24] #481 closed

[2021-01-31 18:28] thijstriemstra commented on #503
You're using the webm worker to convert to mp4, hence this error. I think you should use the `ffmpeg-worker-mp4.js` instead.

I tested with that worker, and there are no errors but it produces a 0 byte blob.

I tested with the new ffmpeg.wasm plugin in videojs-record 4.2.0 and this worked fine.

I'm marking the ffmpeg.js plugin as deprecated, since it looks unmaintained and doesn't work properly.

[2021-01-31 18:28] #503 closed

[2021-01-31 18:31] thijstriemstra commented on #505
I tested with the new ffmpeg.wasm plugin in videojs-record 4.2.0 and this worked fine.

I'm marking the ffmpeg.js plugin as deprecated, since it looks unmaintained and doesn't work properly. Use the ffmpeg.wasm plugin instead if you want a better working ffmpeg converter.

Closing this ticket.

[2021-01-31 18:31] #505 closed

[2021-01-31 18:35] thijstriemstra commented on #536
Not sure, I can't help debugging projects with external frameworks and no error messages.

I'm marking the ffmpeg.js plugin as deprecated, since the library looks unmaintained and doesn't work properly. Use the ffmpeg.wasm plugin instead.

Closing this ticket.

[2021-01-31 18:35] #536 closed

[2021-01-31 18:42] thijstriemstra commented on #539
`TOTAL_MEMORY` is used during compilation of ffmpeg.js, see https://github.com/Kagami/ffmpeg.js/blob/master/Makefile#L227 You need to build it from scratch in order to change the total memory.

[2021-01-31 18:42] #539 closed

[2021-01-31 18:46] thijstriemstra commented on #479
Looks like the MediaRecorder flag changed from off in iOS 14.2 to on in 14.3 🥳

[2021-01-31 19:20] thijstriemstra commented on #479
I tried an audio+video recording on Safari 14.0.2 (15610.3.7.1.10, 15610) and downloaded the file.

`ffprobe` reports:

[code]

Looking at https://www.webrtc-experiment.com/RecordRTC/simple-demos/isTypeSupported.html on Safari 14, only `video/mp4` is a supported mimetype.

Testing with the `videoMimeType` `"video/mp4"` setting:

[code]

it produces a clip with same codecs:

[code]

Both downloaded

[2021-01-31 19:52] thijstriemstra commented on #479
Testing with the multi example also shows that video.js in Safari can load the recorded Blob files, e.g:

[code]

[2021-01-31 21:54] thijstriemstra commented on #489
I tested this on macOS Safari 14.0.2 and macOS Safari Tech Preview 119 (Safari 14.1, WebKit 15611.1.10.1) and the `finishRecord` event triggers there properly.

If it also works on iOS 14.4 (I'll test later) I will consider this ticket fixed.

[2021-01-31 21:56] thijstriemstra commented on #502
@anantaramdas

have you tested with latest iOS 14.4?

Still happening with latest edge and chrome on android?

[2021-01-31 22:08] #508 closed

[2021-01-31 22:23] thijstriemstra commented on #516
@HeshamMeneisi I think you meant `navigator.mediaDevices.getUserMedia()`, and no, the handling is done using the webrtc-adapter library, as you can see in all the examples. Can you doublecheck if you included it?

What version of iOS? Did you try with latest iOS 14.4? Also, make sure to test the [examples on the site](https://collab-project.github.io/videojs-record/#/examples), don't include custo

[2021-01-31 23:04] thijstriemstra commented on #520
I tested with Safari Technology Preview 119 (Safari 14.1, WebKit 15611.1.10.1) just now and a forced `audioMimeType` of `audio/mp4` and there was no low pitched audio noticable. No other videojs-record options were changed.

Running `ffprobe` on the downloaded file shows:

[code]

Safari 14.0.2 showed some weird errors though, but once Safari 14.1 is released (and this is tested on iOS) I consider

[2021-01-31 23:13] thijstriemstra commented on #520
I added this change for safari to the examples here: https://github.com/collab-project/videojs-record/commit/24db0b37c328cf0eeef9ca032ed86b68b72aa6d0

[2021-01-31 23:20] thijstriemstra commented on #525
I tested this on macOS Safari Tech Preview 119 (Safari 14.1, WebKit 15611.1.10.1) and the recorded video can be played there correctly.

If it also works on iOS 14.4 (I'll test later) I will consider this ticket fixed, because eventually a Safari desktop release will include the fix.

[2021-01-31 23:26] #525 closed

[2021-01-31 23:28] thijstriemstra commented on #524
@ignl can you try with iOS >= 14.4 and a `audioMimeType` of `audio/mp4`?

[2021-01-31 23:41] thijstriemstra commented on #413
Test upcoming release, 4.2.0.

[2021-01-31 23:44] #489 closed

[2021-01-31 23:45] #520 closed

[2021-02-01 00:54] thijstriemstra commented on #533
no feedback, closing.

[2021-02-01 00:54] #533 closed

[2021-02-01 14:26] Toktik commented on #494
Thanks @thijstriemstra . Do you know approximately when you will release 4.2.0?

[2021-02-01 14:55] thijstriemstra commented on #494
This week @Toktik

[2021-02-01 15:56] thijstriemstra commented on #521
Also disabling the option for the videojs-wavesurfer plugin fixes the issue:

[code]

But I'll fix it so wavesurfer's `displayMilliseconds` will always match the `displayMilliseconds` of videojs-record, so you don't have to specify it twice.

[2021-02-01 16:13] thijstriemstra commented on #521
Actually, it's less work to just update the examples and make sure the property is visible/enabled for every videojs-wavesurfer config (#542).

[2021-02-01 16:24] thijstriemstra commented on #483
Unfortunately such a custom format will apply to all video.js players on the page, until https://github.com/videojs/video.js/issues/6660 is resolved.

[2021-02-01 16:52] #521 closed

[2021-02-01 19:43] thijstriemstra commented on #399
Related to #483.

[2021-02-01 19:47] #483 closed

[2021-02-01 19:49] thijstriemstra commented on #483
@grigull this is working in videojs-record 4.2.0. See https://collab-project.github.io/videojs-record/#/controls?id=time-format for details.

[2021-02-01 19:56] thijstriemstra commented on #535
This is a known browser issue. You can use the ts-ebml plugin to create seekable files: https://collab-project.github.io/videojs-record/#/plugins/ts-ebml Or use ffmpeg on the client (https://collab-project.github.io/videojs-record/#/plugins/ffmpeg.wasm) or server to convert the files and add metadata.

[2021-02-01 19:56] #535 closed

[2021-02-01 20:04] thijstriemstra commented on #538
The default `videoMimeType` is listed in the docs ('Default' column): https://collab-project.github.io/videojs-record/#/options

What issue? The filename and extension is just a wrapper, you can rename it to whatever you want, but the content inside won't change when you rename it.

Check for the browser, Safari for example:

[code]

And set options based on that:

[code]

[2021-02-01 20:04] #538 closed

[2021-02-01 20:06] thijstriemstra commented on #532
no feedback, closing. Also note that the current recordrtc gif recorder is deprecated.

[2021-02-01 20:06] #532 closed

[2021-02-01 21:18] thijstriemstra commented on #529
Sounds good!

[2021-02-04 03:57] aphavichitr commented on #481
I tried to use the ffmpeg.wasm plugin, but in the docs it tells me to import this line:
import FFmpegWasmEngine from 'videojs-record/dist/plugins/videojs.record.ffmpeg-wasm.js';

However, the videojs.record.ffmpeg-wasm.js doesn't exist in the directory. I have videojs-record 4.1.1, which is the latest.

[2021-02-04 04:11] aphavichitr commented on #481
Nevermind, i updated to 4.2.0. Github through me off because it says that the latest is 4.1.1. Maybe the main page needs to be updated?

[2021-02-04 04:22] aphavichitr commented on #539
How do i get videojs.record 4.2.0?

[2021-02-04 08:34] thijstriemstra commented on #539
It's not released yet (at time of this writing) but you can install master branch using: `npm install https://github.com/collab-project/videojs-record.git`

[2021-02-04 08:34] thijstriemstra commented on #481
It's not released yet (at time of this writing) but you can install master branch using: `npm install https://github.com/collab-project/videojs-record.git`

[2021-02-05 04:38] aphavichitr commented on #481
@thijstriemstra i just tried installing, but it's missing the dist directory probably because it's in the gitginore. Is there a way I can build this inside node_modules?

[2021-02-05 06:36] Alferdize commented on #535
This plugin is missing in the plugin folder
`Module not found: Error: Can't resolve 'videojs-record/dist/plugins/videojs.record.ffmpeg-wasm.js' in 'E:\NO_NAME\Angular\photo-id-verification\src\app\views\dashboard'`

[2021-02-05 12:20] thijstriemstra commented on #481
yes follow the documentation, see development section.

[2021-02-05 12:21] thijstriemstra commented on #535
yea 4.2.0 is not released yet.

[2021-02-05 12:30] Alferdize commented on #535
When it is going to release Since ts-ebml is not adding metadata in video.
![Screenshot (106)](https://user-images.githubusercontent.com/33134277/107033894-f290b280-67db-11eb-93b8-bb766a39d26c.png)
is not adding the metadata like frame rate duration

[2021-02-05 12:38] thijstriemstra commented on #535
how did you download that file @Alferdize?

[2021-02-05 12:44] Alferdize commented on #535
[code]

[2021-02-05 12:49] thijstriemstra commented on #535
@Alferdize so you build videojs-record from source? what version are you using?

[2021-02-05 12:52] Alferdize commented on #535
VIDEOJS: Using video.js 7.10.2 with videojs-record 4.1.1 and recordrtc 5.6.1

[2021-02-05 12:52] thijstriemstra commented on #535
Right. Wait for videojs-record 4.2.0 or build it from source.

[2021-02-06 05:13] aphavichitr commented on #538
@thijstriemstra just want to confirm by setting the videoMineType to 'video/webm;codecs=H264' for Chrome as stated in the docs and by saving it in .mp4 format it doesn't work (can't playback), if i change it to .mkv it works. Also in the debug console it outputs as type: "video/x-matroska;codecs=avc1,opus". I just wanted to confirm if this is broken and that the only way to record in Chrome is to

[2021-02-06 17:52] thijstriemstra commented on #538
Sure, I'll send you an email and we can go from there. Whats your email address?

[2021-02-06 21:58] aphavichitr commented on #538
andrew@riveterworks.com

thanks!

[2021-02-09 13:35] tylerrowsell opened #547 ""Uncaught Error: plugin "record" does not exist""
## Description
I see that this error has came up a few times in the past, however I am unable to get past it. Any version above `7.8.4` of video.js causes the error for me.

Would appreciate any help troubleshooting. Not super familiar with videojs inner working.

## Steps to reproduce
Import video.js > 7.8.4 and the error shows up.

## Results
### Expected
Expect it to work.

### Actual
VideoJs d

[2021-02-09 14:36] thijstriemstra commented on #547
@tylerrowsell what version of videojs-record? and can you reproduce it with the webpack tutorial? https://collab-project.github.io/videojs-record/#/frameworks/webpack

[2021-02-09 14:37] thijstriemstra commented on #547
Also, you have the imports wrong way around:

[code]

should be

[code]

[2021-02-10 02:17] stonebeach514 commented on #540
I know that if the delay is audio only, edit line 72  of recorde-toggle.js as follows .

    handleClick(event) {
        let recorder = this.player_.record();
        if (!recorder.isRecording()) {
            recorder.start();
        } else {
            recorder.stop();
        }
    }

But I don't know where to edit for video-only :'-(

[2021-02-10 02:26] thijstriemstra commented on #540
What is your use-case for this? Trying to understand why you'd need this.

[2021-02-10 03:12] alberttjc commented on #540
I assume he wants to have a 5-second timer before the recording starts.

@stonebeach514 I believe it is also the same file but I had to edit the record-toggle.js in the dist folder. You can check out #348

@thijstriemstra In saying that, if we edit the src file, should we re-build it? Apologies I'm fairly new to javascript! :(

[2021-02-10 03:19] thijstriemstra commented on #540
@alberttjc yes, see https://collab-project.github.io/videojs-record/#/development

[2021-02-10 04:52] alberttjc commented on #540
@thijstriemstra yup, cheers mate!

[2021-02-16 02:36] anish2591 commented on #376
@thijstriemstra Do you know if this has been resolved? I am still seeing this same issue during local testing.

[2021-02-16 20:25] thijstriemstra commented on #392
I recorded a video+audio clip in Ubuntu 20.04 using Chrome 89.0.4389 and was able to playback the clip using video.js in Firefox 85.0. Used videojs-record 4.2.0 and video.js 7.11.4.

I'll have to test macOS as well. Renaming the ticket.

[2021-02-16 20:27] thijstriemstra commented on #547
no feedback, closing.

[2021-02-16 20:27] #547 closed

[2021-02-18 14:44] bmsan opened #548 "This browser does not support navigator.mediaDevices.getUserMedia (when connecting externally, localhost connections work)"
## Description
Using an nginx as an webserver to serve a static page containing videojs-record.
When connecting through localhost everything works ok. (I can access the webcam & record)

When connecting externally to the same server I get the following error:

[code]

I am using:
VIDEOJS: Using video.js 7.11.4 with videojs-record 4.2.0 and recordrtc 5.6.1

This happens with both chrome & firefox (

[2021-02-18 14:49] thijstriemstra commented on #548
getUserMedia requires https.

[2021-02-18 14:51] bmsan commented on #548
@thijstriemstra thank you!

[2021-02-18 15:17] #548 closed

[2021-02-19 02:50] anish2591 commented on #376
@code-wizard Can you share your OpenCV function? Which library did you use to combine the videos?

[2021-02-19 03:56] anish2591 commented on #537
Is it possible to use the convert engines with the timeslice approach? Or are they only applicable to convert the entire video when the recording is finished? @thijstriemstra

[2021-02-19 13:29] thijstriemstra commented on #537
no (not yet).

[2021-02-21 03:42] code-wizard commented on #376
Here is my python code to merge the video files

`for f in tempdir.iterdir():
            if os.stat(str(f)).st_size > 0:
                videofiles.append(str(f))
        video_index = 0
        print(videofiles)
        if len(videofiles)>1:
            cap = cv2.VideoCapture(videofiles[0])

            fourcc = cv2.VideoWriter_fourcc(*'avc1')
            output = "{0}/{1}".format(tempdir, "reco

[2021-02-23 17:06] bmsan opened #549 "How to retrigger "deviceReady" after stopping&re-starting device"
## Description
When calling player.record().getDevice() for the first time, I will see 'deviceReady' being triggered by the player.
If I stop the video & then recall getDevice() the browser will request video/audio permissions again, the video will start but  'deviceReady' won't get triggered again.

## Steps to reproduce
[code]
## Player Options
[code]

## Expected behavior
A way to find out when

[2021-02-23 17:17] thijstriemstra commented on #549
Stop what exactly? Please be as specific as possible.

[2021-02-23 17:32] bmsan commented on #549
@thijstriemstra  Thanks for the lightning fast response & sorry for not being very clear !

I encountered this in "live preview mode"(seeing the live webcam contents) before actually pressing the "record" button.

The steps made were
[code]
 Basically I want to implement a start/stop Webcam toggle button and I was trying to get a consistent event for  its "on state"(deviceReady seemed like a good

[2021-02-24 21:01] thijstriemstra commented on #353
Good news! According to https://caniuse.com/stream:

So Chrome for iOS 14.3 or newer supports `getUserMedia` (haven't tested yet). Finally :)

[2021-02-25 16:55] bmsan commented on #549
For further reference I also added the player options configuration in the initial comment.

[2021-02-26 11:01] MohitVerma786 opened #550 "how to improve the quality of screenshot took by exportImage() function in videojs-record"
## Description
i'm trying to grab the screenshot by start recording the creen and using built in exportImage function but the output of the image is so low when i converts the blob into base64

[code]

## Image I'm getting
https://i.stack.imgur.com/D4Q1v.png

## Expected Result
I want maximum quality image

[2021-02-26 22:50] thijstriemstra commented on #550
There are no other options, you're already using image/png with full quality. The browsers out there don't provide any better quality options unfortunately.

[2021-02-26 22:50] #550 closed

[2021-02-27 06:34] MohitVerma786 commented on #550
@thijstriemstra is there any way to grab a single fame of same quality of recoding of video and save it as a image....?

[2021-02-27 12:39] thijstriemstra commented on #392
The same issue applied to Safari as well and [since Safari Technology Preview 121](https://webkit.org/blog/11555/release-notes-for-safari-technology-preview-121/) that should be fixed:

- Fixed playback of WebM/Opus generated from Chrome MediaRecorder (r272822)

[2021-03-01 00:13] thijstriemstra commented on #353
Tested it with iOS14.4 and Chrome 87.0.4280.77 but couldn't produce a proper recording (it created a 0kb file). Safari on iOS14.4 worked fine though.

[2021-03-03 10:45] naduhrin78 opened #551 "How to style the video player"
## Description
I am trying to change style of video player to something different.
Is there any documentation on how to do so?

Any help would be appreciated.

[2021-03-03 12:38] thijstriemstra commented on #551
Good question. See https://github.com/videojs/video.js/blob/main/docs/guides/skins.md

[2021-03-03 12:38] #551 closed

[2021-03-03 13:08] thijstriemstra commented on #178
I tested Microsoft Edge in the following browsers with videojs-record 4.2.0 and videojs 7.11.4.

| Platform Version | Edge Version |
| --- | --- |
| Mac OS X 10.15.7 | 88.0.705 |
| Windows 10 | 88.0.705 |

And was able to record audio+video with the default settings, e.g.:

[code]

I will update the supported browsers documentation and consider this fixed.

[2021-03-03 13:29] #178 closed

[2021-03-03 13:37] thijstriemstra commented on #332
I just tested with videojs-record 4.2.0 and video.js 7.11.4 with:

| Platform | Version | Device |
| --- | --- | --- |
| MacOS 11.2.2 | Safari 14.0.3 | Desktop |
| MacOS 11.2.2 | Safari Technology Preview 121 | Desktop |
| iOS 14.4 | Mobile Safari 14.0.3 | iPhone 12 |

and recording audio + video worked with the default settings.

So Safari versions older than 14.0.3 are not, and cannot be, suppor

[2021-03-03 13:42] #332 closed

[2021-03-03 13:45] thijstriemstra opened #552 "Safari 14.0.3: cannot start playback of recorded video"
Tested in following browsers:

| OS | Browser | Working |
| --- | --- | --- |
| MacOS 11.2.2 | Safari 14.0.3 | No |
| MacOS 11.3 | Safari 14.1 | Yes |
| MacOS 11.2.2 | Safari Tech Preview 121 | Yes |
| iOS 14.4 | Mobile Safari 14.0.3 | No |
| iOS 14.5 | Mobile Safari 14.1 | Almost |

`ffprobe` reports:
[code]

[2021-03-03 13:45] thijstriemstra commented on #332
I also saw this issue, and opened a new ticket for it: #552

[2021-03-03 13:53] thijstriemstra commented on #370
I tested with videojs-record 4.2.0/video.js 7.11.4 on Mobile Safari iOS 14.4 using an iPhone and the rotation issue was fixed, portrait and landscape recordings worked as expected.

Closing.

[2021-03-03 13:53] #370 closed

[2021-03-03 14:17] thijstriemstra opened #553 "File extension for saveAs includes the codec name(s)"
## Description
After recording an audio/video using https://collab-project.github.io/videojs-record/demo/audio-video.html
and saving it using `player.record().saveAs({'video': 'foo12'})` it presents the user with a filename of `foo12.webm;codecs=vp8,opus`. Before it didn't append the `;codecs=vp8,opus` part.

## Results
### Expected
[code]

### Actual
[code]

## Additional Information
Please inclu

[2021-03-03 14:19] thijstriemstra commented on #392
Tested with:

[code]

And saved the recorded webm file using `player.record().saveAs`. It saved the file as `foo12.webm;codecs=vp8,opus` which is a new issue, before it didn't append the `;codecs=vp8,opus` part. I opened a new ticket for this: #553

After renaming the file manually to `foo12.webm` I opened it in Firefox 86 and both audio and video properly displayed.

So considering this bug fixed

[2021-03-03 14:19] #392 closed

[2021-03-03 14:20] thijstriemstra commented on #413
I opened #552 for that.

[2021-03-03 14:41] thijstriemstra commented on #438
I am not going to support Safari < 14 anymore, but will test this on Mobile Safari on iOS 14.4.

[2021-03-03 14:46] #438 closed

[2021-03-03 15:12] thijstriemstra commented on #549
How are you doing this? You should use `stopDevice`, see https://collab-project.github.io/videojs-record/#/methods

[2021-03-03 15:19] thijstriemstra commented on #516
I am not able to reproduce this with Mobile Safari on iOS 14.4. Chrome on iOS 14.4 produced a 0kb file while recording though..

[2021-03-03 16:03] thijstriemstra commented on #413
I tested audio+video with Mobile Safari on iOS 14.4 and @FrostyJet's workaround fixed it here:

[code]

No more control bar flickering!

[2021-03-03 17:24] #413 closed

[2021-03-03 18:35] thijstriemstra commented on #486
I tested this on browsers below using videojs-record 4.2.0:

| Platform | Browser | Has bug |
| --- | --- | --- |
| MacOS 11.2.2 | Firefox 86 | No (no pip support) |
| MacOS 11.2.2 | Chrome 89.0.4389.72 | Yes |
| MacOS 11.2.2 | Safari 89.0.4389.72 | Yes |

[2021-03-03 19:04] #486 closed

[2021-03-03 20:40] thijstriemstra commented on #524
I tested the online [audio-only example](https://collab-project.github.io/videojs-record/demo/audio-only.html) with videojs-record 4.2.0 and video.js 7.11.4 in Mobile Safari for iOS 14.4 and this is the output of Mobile Safari console log:

[code]

As you can see it recorded using `audio/mp4` and created an `m4a` file.

Make sure you set the `audioMimeType` to `audio/mp4` when recording audio-only

[2021-03-03 20:40] #524 closed

[2021-03-03 22:26] #511 closed

[2021-03-03 23:33] thijstriemstra commented on #502
any feedback on previous comment @anantaramdas?

[2021-03-03 23:37] thijstriemstra commented on #529
Unfortunately that stackoverflow snippet won't work for the browser API videojs-record is using. It's for a ' chrome extension which uses Chrome's DesktopCapture API'.

[2021-03-03 23:43] thijstriemstra commented on #529
This looks like a more reliable method: https://github.com/muaz-khan/RecordRTC/issues/583#issuecomment-565735551

[2021-03-04 00:01] thijstriemstra commented on #499
Closing because there's no feedback and it's a browser limitation videojs-record can't fix.

[2021-03-04 00:01] #499 closed

[2021-03-04 01:07] ignl opened #557 "Memory not released after destroy"
## Description
During navigation I destroy wavesurfer player with microphone plugin, but it seems memory is not exactly freed and slowly increasing by creating/destroying player.
![1](https://user-images.githubusercontent.com/2720602/109808874-4acaa100-7c30-11eb-9b23-52e6626d4500.png)
![2](https://user-images.githubusercontent.com/2720602/109808878-4c946480-7c30-11eb-87ea-6fee0952a73c.png)

## Ver

[2021-03-04 15:08] acraig39 commented on #552
I have everything working great in Chrome but in Safari (14.0.3) in addition to above issue I'm also finding -
1) that the camera doesn't turn off after recording;
2) the file's mime type shows as application/octet-stream rather than video/mp4 say;
3) the size of video file is much larger than when I use chrome and get a webm file;
4) it is unable to record as webm with an error in the console say

[2021-03-04 20:40] tony opened #558 "Typing question: Is convertedData a Blob or File?"
https://github.com/collab-project/videojs-record/blob/a67670b2089a559c3cb6a906058ed1957b27f073/test/plugins/ts-ebml-plugin.spec.js#L35-L36

https://developer.mozilla.org/en-US/docs/Web/API/File

A `Blob` wouldn't have a `.name`

[code]

https://github.com/microsoft/TypeScript/blob/16031bc429305e5daabf263f208678a6729a161e/lib/lib.webworker.d.ts#L1584-L1588

[2021-03-04 20:58] thijstriemstra commented on #558
The test succeeds so it's a Blob.

[2021-03-04 21:25] tony commented on #558
Hm, before I go too far - do you use this project on any TS apps?  If not, this wouldn't pose an issue.  Untyped this wouldn't be noticed.

I pointed to that to call attention of checking if it's a `Blob`.

Untyped, this is fine:
[code]

`File`s are `Blob`s
![image](https://user-images.githubusercontent.com/26336/110032421-bcbcec00-7cfd-11eb-9084-7eb86b20d1e9.png)

[code]

Here's where TypeScript

[2021-03-04 21:28] tony commented on #558
@thijstriemstra  Okay if I make a PR? Maybe that would express the case better.

[2021-03-05 10:19] thijstriemstra commented on #558
i'll never oppose prs, merging them is a different matter.

[2021-03-05 12:58] tony commented on #558
@thijstriemstra

Is there any insight on why the term [`Blob`](https://developer.mozilla.org/en-US/docs/Web/API/Blob) is being used when it has a [`.name`](https://developer.mozilla.org/en-US/docs/Web/API/File/name)?  Technically - when `.name` gets involved, aren't we dealing with a [`File`](https://developer.mozilla.org/en-US/docs/Web/API/File) at that point?

[2021-03-05 16:31] thijstriemstra commented on #558
I wouldn't mind switching to File, I suppose it would also take care of the hacks required to add a name: https://github.com/collab-project/videojs-record/blob/master/src/js/utils/file-util.js#L75

[2021-03-06 16:22] thijstriemstra commented on #552
I searched for Safari workarounds in video.js and found this in the `Player.play()` [implementation](https://github.com/videojs/video.js/blob/b13cb07d5b6d1f3f28ed355e12da40d178131df8/src/js/player.js#L2347):

[code]

Likely it's the thing breaking Safari 14.0.3..

[2021-03-06 21:35] thijstriemstra commented on #552
It doesn't do this by default.

No, it shows as video/mp4 here.

Yea, Safari doesn't use VP8 or VP9 codec (but h264) resulting in a bigger file (and better quality in theory).

That's a warning, meaning it will use `video/mp4` instead.

Yea, better to open a new ticket if issue's still there after this ticket is marked as resolved.

[2021-03-06 22:33] thijstriemstra commented on #552
Looks like this is a bug in Webkit/Safari 14.0.3 (unfortunately). Good news is that someone at Apple tested with videojs-record (very cool btw), [reported the Webkit issue](https://bugs.webkit.org/show_bug.cgi?id=219258), fixed it and it's released in Safari Technology Preview 121, but this is not yet released in a new Safari version.

See webkit commit referencing videojs-record: https://trac.web

[2021-03-07 02:27] thijstriemstra commented on #553
Turns out to be an issue in RecordRTC: https://github.com/muaz-khan/RecordRTC/issues/731

[2021-03-07 18:15] thijstriemstra commented on #502
no feedback, closing.

[2021-03-07 18:15] #502 closed

[2021-03-09 03:33] #553 closed

[2021-03-09 13:04] romanyrefaat commented on #428
@thijstriemstra any plans for when it will be supported to record screen+video? what is the alternatives till then? Can you help in getting the above webrtc [demo](https://www.webrtc-experiment.com/RecordRTC/simple-demos/video-plus-screen-recording.html) working with any of videojs-record samples?

[2021-03-10 10:15] bmsan commented on #549
I've tried using the following 3 methods:

[code]

[2021-03-11 01:12] thijstriemstra commented on #558
A lot of it originates from the early days, when I tried to piece this plugin together, using recordrtc as the main guideline, and Blob was the general concept there.

[2021-03-11 18:06] bmsan commented on #549
The issue was totally on my side and a very stupid mistake.

I was using the callback registration code from one of the demos and I didn't notice that for the `deviceReady` callback registration `player.one(...)` was called instead of `player.on(...)` so it was called once.
Please note that I was blind enough to also miss the comment `// enumerate devices once`

// The discussion below is a differ

[2021-03-11 18:10] thijstriemstra commented on #549
thanks for that report, can you open a new ticket for that?

[2021-03-11 18:30] bmsan opened #561 "Safeguard against a potential resource leak(media streams) due to user missuse"
## Description
Users improperly using videojs-record with external triggers(user defined buttons) might call
 `player.record().getDevice();` multiple times before trying to use `stopDevice()`.
In this case multiple media streams would get created but only the last one would be freed when calling `stopDevice()`
The implication would be that the webcam would remain on even after `stopDevice()` is ca

[2021-03-11 18:32] bmsan commented on #549
Thanks! Created https://github.com/collab-project/videojs-record/issues/561

[2021-03-11 18:32] #549 closed

[2021-03-13 20:31] bmsan commented on #561
Update: I realized that this is actually happening even in one of the existing demos: https://collab-project.github.io/videojs-record/demo/change-video-input.html
On my laptop switching between 2 camera devices faster than they are initialized will end up getting one of the cameras always on.
(I've tested this on Chrome, Firefox and Opera on Windows10)

[2021-03-13 20:42] thijstriemstra commented on #561
Looks like we'll have to check for `stream.active`, see https://developer.mozilla.org/en-US/docs/Web/API/MediaStream/active

Can you check if that works @bmsan (and maybe even make a pull request if it does)?

[2021-03-14 15:11] bmsan commented on #561
Sure, I'll take a look and report back

[2021-03-14 17:21] bmsan commented on #561
I have created #562
Tested against:  Chrome, Firefox and Opera on Windows10.

Test description:
- Test1: In change-video-input with 2 webcams connected, change fast the input device two times(before the webstream starts to get streamed).
- Test2: Call getDevice() multiple times

Expected Test result:
Calling stopDevice() will close all streams opened in the tests.

[2021-03-16 05:56] therealgilles opened #563 "How to start recording right away?"
When the player appears on the screen, there is a camera/microphone icon to click on and then I need to hit the record button. Is there a way to either bypass the first step or the second step so that I don't have to do two actions before starting to record?

I cannot seem to find any example with this behavior. Thank you for any insight :)

[2021-03-16 11:20] tstrohmeier opened #564 "Multiple video.js recorder on a single page (iOS)"
## Description
In iOS only one recorder at a time can be used.

## Steps to reproduce
Create 2 video.js recorder on a single page. Start the recording in one recorder then in the other recorder. The first recorder is going to continue recording but is black and has no video stream anymore.

## Results
### Expected
Use a shared stream in both recorders. "Global Stream" as mentioned here: https://we

[2021-03-16 14:26] thijstriemstra commented on #563
you cannot bypass the browser requirement of asking a user to confirm the webcam/mic can be used. Clicking on that first button can be done programmatically with:

[code]

Clicking on that second button is the same as:
[code]
see https://collab-project.github.io/videojs-record/#/methods for more info.

[2021-03-16 14:26] #563 closed

[2021-03-16 14:47] thijstriemstra commented on #564
@tstrohmeier what version of iOS?

This actually sounds like this issue: #552

[2021-03-16 16:45] tstrohmeier commented on #564
@thijstriemstra Yes webm-wasm actually works on iOS.
#552 is the reason why I use webm-wasm. The RecordRTC recorder seems to have an issue on iOS.

But this thicket is about an other problem/topic. iOS only allows one user media stream at a time. It would be good if you can use one stream in multiple  recorder.

[2021-03-16 17:07] thijstriemstra commented on #564
No, as you can see in #552 it's Safari that has an issue with MediaRecorder IMO.

No I think it's the same issue. One user media stream in iOS is causing behavior your see in #552

It would be good but I don't see how to fix this, without having to make all kinds of workarounds just for Safari. I don't get paid for this work and spending all my time on Safari is just plain annoying, Apple isn't pa

[2021-03-16 17:29] tstrohmeier commented on #564
I did not debug on iOS yet but on MacOS Safari v14 I can confirm that MediaRecorder does not exists:
`ReferenceError: Can't find variable: MediaRecorder`

I don't know. I just use the library. The benefit for me is that I can also control bit rate etc.

Not really. As I wrote the webm-wasm plugin **works** for me in all browsers (Chrome, Firefox, Safari, Safari iOS).

The only issue I have is that

[2021-03-16 19:54] therealgilles commented on #563
@thijstriemstra: Thank you for your response. I was looking for this:

[code]

which is I think the behavior most users would expect when doing video recording only.

[2021-03-18 11:29] bmsan commented on #561
@thijstriemstra If you have in your mind other tests that should be done, or if you think the solution might be better done at a different level then in the onDeviceReady Callback, I could try to take a look in my spare time.

[2021-03-18 14:00] thijstriemstra commented on #561
having a unit test or two for this change would be nice. basically your tests incorporated in a unit test.

[2021-03-18 19:31] bmsan commented on #561
Sure, I'll have a look in my spare time

[2021-03-20 14:54] Anil-matcha opened #565 "Switch from camera to screen and vice-versa in the same video"
## Description
I would want to be able to switch between camera and screen recording in the same video session. But currently I can only do camera recording or screen recording once and can't switch in between while recording

## Steps to reproduce
Create a camera stream, now there is no option to switch to screen recording. I can stop the video and start a new video with screen recording but can'

[2021-03-20 21:16] thijstriemstra commented on #565
you can try:

[code]

[2021-03-21 03:25] Anil-matcha commented on #565
Hi @thijstriemstra , thanks for replying. When the stop is called, the recording again starts from beginning and I lose the content from before. Hence it is like a new video recording. Is there any way to just pause, load options and continue so that I can have the whole video even when toggling between screen and camera

[2021-03-22 21:55] thijstriemstra commented on #565
Not on the client side. When a user presses pause you could:

* create a screenshot of the last frame of the video and display that
*  in background send the video to a server
* allow the user to select screen and hide screenshot of video
* record screen sharing session
* at the end, send recording to server and use a tool like ffmpeg to turn 2 videos into 1 video.

If you want to do it all on the

[2021-03-22 22:14] #561 closed

[2021-03-22 22:25] thijstriemstra commented on #564
ReferenceError: Can't find variable: MediaRecorder

It should be enabled by default. If not, use these instructions to enable it: https://www.educative.io/edpresso/how-to-enable-the-mediarecorder-api-for-safari But it's buggy for now: #552

[2021-03-23 05:39] x-shadow-x opened #566 "stopDevice don't work"
## Description
Hi @thijstriemstra, I just want to turn off the camera when I finish recording, I also found a related [issue](https://github.com/collab-project/videojs-record/issues/12) before. So I tried to call `stopDevice` according to the above code, but it doesn’t seem to work. I can still see that the camera on the MacBook is turned on. BTW, if I want to record the video again after turnning

[2021-03-23 12:34] x-shadow-x commented on #566
After re-adjustment, it has worked well, anyway~ thanks

[2021-03-23 12:34] #566 closed

[2021-04-02 09:11] nascent commented on #17
Hi,

I would like to know if this works for both Audio and Video.

It appears that the WebRTC Experiment do not work consistently across platforms, and while that may not be a fault of the library, it would seem difficult or impossible to record anytime or anywhere on any device, at this stage; whatever progress has been made, in relation to MediaRecorder and WebRTC.

Best of luck

[2021-04-11 07:08] Grv90 opened #567 "ffmpeg.wasm plugin: React throws ReferenceError: FFmpeg is not defined"
## Description
Briefly describe the issue.

created new react app using create-react-app

Using screen share recording and saveAs works fine but when using plugin to convert it throws this error.

convert plugin using:

[code]

My Imports -

[code]

![image](https://user-images.githubusercontent.com/13903076/114295384-0d8fe380-9af9-11eb-94fe-b8f218d10fa1.png)

[2021-04-13 11:11] krikork commented on #408
Still does not work.

[2021-04-13 11:39] thijstriemstra commented on #408
what did you try @krikork? you don't give any info which is unfortunate and not helpful at all.

[2021-04-16 03:47] MichaelHeydon opened #568 "Option to delay convert until method called"
As far as I'm aware, there's currently no way delay a media conversion, it just starts as soon as the recording has stopped. Could there be a way to delay the conversion? Say `player.record().convert();` This would allow the user to first review the video prior to converting.

[2021-04-16 09:55] thijstriemstra commented on #568
sounds like a good enhancement.

[2021-04-18 21:58] MichaelHeydon commented on #568
For anyone looking for this in the meantime, I've just implemented it directly for now. Referencing the examples provided at https://github.com/ffmpegwasm/ffmpeg.wasm and converting `this.player.recordedData`

[2021-04-19 02:44] MichaelHeydon opened #569 "Progress control through ts-ebml still function?"
Does the example here still function? https://collab-project.github.io/videojs-record/demo/video-only-ebml.html
After recording the video UI does still not have a progress control.

[2021-04-19 10:15] thijstriemstra commented on #569
@MichaelHeydon the video UI's progress control is always hidden in videojs-record. See #23.

[2021-04-19 10:15] #569 closed

[2021-04-19 23:00] MichaelHeydon commented on #569
Thanks, so currently I'd need to sub in another videojs component to enable progress control?

[2021-04-20 10:03] thijstriemstra commented on #569
not sure what this means?

[2021-04-20 22:25] MichaelHeydon commented on #569
All sorted - once I've recorded a video, use another videojs component to play the recorded data, passing through with:
`
sources:
[
	{
		src: URL.createObjectURL(this.recordedData),
		type: this.recordedData.type
	}
]
`

[2021-04-28 17:54] awcraig39 opened #571 "Safari 14.1 and webm"
I've had problems trying to use this package on a Mac in Safari in the past. I have everything working fine in Chrome and Firefox. When I try to run your example -
https://collab-project.github.io/videojs-record/demo/audio-video.html
then i get this in the browser console -
![image](https://user-images.githubusercontent.com/58559066/116450049-bd33b800-a852-11eb-883b-7f7f2baa8f8f.png)

The file is

[2021-04-29 12:28] alanbugeja commented on #567
I have the exact same issue.

[2021-04-29 14:10] thijstriemstra commented on #552
Tested with new Desktop Safari 14.1 and seems this is fixed 🥳

Also tested it with Mobile Safari 14.1 on iOS 14.5 and it worked: I was able to start playback of the recorded video but the first frame of the video was not visible after pressing stop recording. I will open a new, separate ticket for that.

I updated [the table](https://github.com/collab-project/videojs-record/issues/552#issue-821123

[2021-04-29 14:10] #552 closed

[2021-04-29 15:01] alanbugeja opened #572 "webm-wasm plugin create react app craco config"
I am using create react app with craco config

Following the webm-wasm example on the website to record videos in webm format, once starting to record there is a console error of
Uncaught SyntaxError: Unexpected token '<' in webm-worker.js:1

Quickly searching google it seems that I need to provide a loader in order to handle worker files. I searched and tried all examples I found including using

[2021-04-29 15:16] thijstriemstra opened #573 "Mobile Safari 14.1 doesn't display first recorded frame"
## Description
After recording a video with an iPhone 12 on iOS 14.5, the player stays blank until you press play to playback the recorded video.

### versions
- videojs 7.11.8 an videojs-record 4.4.0
- mobile safari 14.1 on iOS 14.5

[2021-04-29 15:28] thijstriemstra commented on #516
Need to test this again with iOS 14.5.

[2021-04-30 07:46] overjoied opened #574 "Using VMSG plugin hides controls on deviceReady"
## Description
Controls are hidden and disabled even when `options.controls` was set to true.

## Steps to reproduce
1. Create a new react app with `npx create-react-app`.
2. Then, `npm i videojs-record vmsg`

## Results
### Expected
Controls are visible and enabled so that I can actually record audio-only mp3.

### Actual
I've been trying to use vmsg plugin in order to record audio only in mp3 fo

[2021-04-30 11:01] karlerss opened #575 "Cannot read property 'startsWith' of undefined (removeRecording())"
## Description
Caught this in production.

## Steps to reproduce
1. start recording

## Results
### Expected
Starts recording

### Actual
Screen black.

### Error output
[code]

## Additional Information
### versions
#### videojs
4.1.1
#### browsers
Chrome 90.0.4430
#### OSes
Windows 10

[2021-04-30 11:13] thijstriemstra commented on #575
can you show some code that reproduces this issue?

[2021-04-30 11:22] karlerss commented on #575
[code]

[2021-04-30 18:52] thijstriemstra commented on #575
Agreed. Opened #576

[2021-04-30 19:10] thijstriemstra commented on #571
So did I. [This blog](https://www.macrumors.com/2021/02/18/safari-to-support-webm-after-11-years/) mentions it as well:

For videojs-record it should be as simple as specifying the `videoMimeType` option. For example:

[code]

I tested this on Desktop Safari 14.1 just now and noticed it reported this warning in the web console:

[code]

This warning comes from the recordrtc library, specifically t

[2021-04-30 19:12] #575 closed

[2021-04-30 19:25] karlerss commented on #575
Thank you very much! This software has been really useful.

[2021-04-30 20:52] thijstriemstra commented on #564
I tested this with the [updated](https://github.com/collab-project/videojs-record/commit/9517311688247533b1051554ff3b5946953e2e58) multi example on iOS 14.5 on Mobile Safari 14.1 and when I start the video preview in the 2nd recorder it goes black like you described. It seems to work fine on desktop Safari 14.1.

The related webkit ticket is https://bugs.webkit.org/show_bug.cgi?id=179363 so I'm ma

[2021-04-30 20:56] thijstriemstra commented on #572
Your question implies that webm video can only be created using the webm-wasm plugin, but this is not true. Most browsers (except Safari) support webm without the webm-wasm plugin @alanbugeja

[2021-04-30 21:41] thijstriemstra commented on #568
I'm adding a `convertAuto` option for this that's true by default. Pass false to disable auto convert and manually start converting with a call to the new `convert()` method.

[2021-04-30 21:43] thijstriemstra commented on #572
It's an mkv file but contains webm encoded audio/video.

[2021-05-03 09:34] #565 closed

[2021-05-03 14:42] alanbugeja commented on #572
ok I managed to get a webm file, for anyone having the same problem as me it was the mimeType for me. I was passing video/webm but was not working. On google then I found video/webm;codecs=vp8, passing this as mimeType in record object produced webm file for me.

 videoMimeType: 'video/webm;codecs=vp8',

[2021-05-03 18:49] thijstriemstra commented on #574
@overjoied can you create a screenshot of the issue?

[2021-05-05 06:19] MichaelHeydon opened #578 "Updated the captured image dimensions based on device width/height"
Using the image example (https://collab-project.github.io/videojs-record/demo/image-only.html) on a phone, it's clear that the image width/height constraints will unlikely match the cameras device dimensions. Once I have the devices width/height, am I able to update the dimensions of the captured video frames to match?

[2021-05-05 06:21] MichaelHeydon commented on #568
Thanks for the update @thijstriemstra

[2021-05-07 06:58] overjoied commented on #574
here:
Control bar is hidden if I do this:
[code]
![Screen Shot 2021-05-07 at 2 51 46 PM](https://user-images.githubusercontent.com/36223391/117409633-f996a080-af43-11eb-9d12-40805a11f2d0.png)

I want it to be like this: with the control bar. Thank you for your response.
![Screen Shot 2021-05-07 at 2 52 30 PM](https://user-images.githubusercontent.com/36223391/117409767-25b22180-af44-11eb-911d-51d4

[2021-05-20 18:33] PippoApps commented on #552
Hi,
I have just tried the demo in Safari and Chrome on iOS 14.4.2 and the same issue is present.
After recording, hitting play shows again the live camera stream and plays real time audio from the mic.

[2021-05-21 11:13] thijstriemstra commented on #552
Yea, see #573

[2021-05-22 11:05] #568 closed

[2021-05-24 06:30] alanbugeja opened #580 "Iphone 11 IOS 14.4.2 safari issue does not record sound and during playback strange noises present."
Description
Recording a video using iphone, safari IOS 14.4.2

Steps to reproduce
Recording a video and try to playback the recorded file on safari.

Results
Expected
Hear the proper audio recorded

Actual
Hearing of strange noises

Iphone 11 IOS 14.4.2

During initializing of the plugin I am detecting if it is IOS and if it is I am passing mimeType video/mp4 rather than this default code like on

[2021-05-25 12:11] alanbugeja commented on #580
so some more info, the problem comes from the playback, the recorded file is perfectly fine.

[2021-05-25 12:51] thijstriemstra commented on #580
look like a duplicate of #573 but I'll keep this one open for audio-only.

[2021-05-25 14:04] tylerrowsell opened #581 "TS-Embl Does not Convert in Safari"
## Description
Safari recently added support for webm. However when the ts-eml convertEngine attempts to convert it returns an error.
![image](https://user-images.githubusercontent.com/17143722/119511255-39c99180-bd40-11eb-82c0-3056d8fb22b7.png)

## Steps to reproduce
Open demo in safari and record
https://collab-project.github.io/videojs-record/demo/video-only-ebml.html

## Results
### Expected
E

[2021-05-31 10:16] vipul306 opened #582 "Not working on live"
## Description
Using videojs record i have recorded and save file succssfully in local, but when same code I publish on live

it gives device error **"No Compatible device found"**

Can anybody help on this. ?

[2021-05-31 10:38] thijstriemstra commented on #582
With "live" I assume you mean in production. This library needs to be served using https.

[2021-05-31 10:39] #582 closed

[2021-05-31 10:48] vipul306 commented on #582
Thijs Triemstra , thanks for the response.

But in my local machine I have tested it without https , so you mean to say when we move it to live ( production ) it suppose to be serve using https

[2021-05-31 10:51] thijstriemstra commented on #582
Correctos.

[2021-05-31 10:52] vipul306 commented on #582
Let me try that , whatever is result will update you.

Thanks

[2021-05-31 12:07] vipul306 commented on #582
**Thijs Triemstra**

One more question, I can check Audio and Video device on my local like they are connected or not . Once go in production , is there any permission need to give for browser ?

Sorry to bother you once again .

[2021-05-31 12:48] thijstriemstra commented on #582
User needs to give permission every time, unless their browser supports saving this preference, like chrome.

[2021-06-02 23:53] MichaelHeydon opened #583 "Get accurate mimeType prior to recording start."
When recording is started, a `Passing following config over MediaRecorder API.` message appears in the console that contains the accurate `mimeType` within the Object. This may obviously vary from that set in the videojs-record options depending on the browser. Is there any way to retrieve this prior to starting the recording?

[2021-06-03 15:55] gelxgx opened #584 "downloadBlob API doesn't work"
because createObjectURL API doesn't work in high level chrome ,so if use this API,chrome may  thrown An exception

so i write it another way
use blob to dataURL and creat 'a' element to download this video
[code]

[2021-06-14 20:27] thijstriemstra commented on #578
Sorry but not sure what you exactly mean, can you clarify your question?

[2021-06-14 22:52] thijstriemstra commented on #583
I think you're looking for the recordrtc mimetype definition:

[code]

Returns:

[code]

[2021-06-14 22:52] #583 closed

[2021-06-14 22:54] thijstriemstra commented on #584
@gelxgx why does it not work?

what are the error message(s)?

what version of videojs-record? what operating system? why did you ignore the ticket guidelines?

[2021-06-26 13:10] samuelkarani opened #586 "finishRecord is called twice during image_only mode"
## Description
finishRecord is called twice during Image mode after taking a picture

## Steps to reproduce
setup image mode

## Results
### Expected
finishRecord should be called ONCE after taking a picture

### Actual
Please describe what actually happened.
finishRecord is called TWICE after taking a picture

### Error output
No error outputs

## Additional Information
Please include any additio

[2021-06-26 15:52] thijstriemstra commented on #586
can you reproduce this with one of the online examples?

[2021-06-29 11:19] jub-jan commented on #567
i get that same error in my angular project. any ideas?

[2021-07-05 03:02] YongLiangSu opened #588 "Video example doesn't working on Chrome on IOS"
## Description

https://collab-project.github.io/videojs-record/demo/video-only.html

Video Example is not working on Chrome on IOS

## Results

### Actual
Recording is normal but after finishing, it popup error.

### Error output
The media could not be loaded, either because the server or network failed or because the format is not supported.

[2021-07-05 07:18] thijstriemstra commented on #588
what version of Chrome? what version of videojs-record? what version of iOS?

[2021-07-05 07:36] YongLiangSu commented on #588
Hey sorry.

Chrome: 91.0.4472.80

videojs-record: 4.5.0

iOS: 14.6

[2021-07-06 03:54] hex20 commented on #567
I'm also having the same issue, anybody got a fix?

[2021-07-06 09:51] samuelkarani commented on #586
ok will do...

[2021-07-07 16:07] cubecleveland opened #589 "Record from an ongoing running source"
HI, i have a source already runing in the video element and i want to record the already running video..
IS there any way anyone can guid me in the right direction?

[2021-07-08 05:47] aphavichitr commented on #588
I'm getting the same issue.
iOS: 14.6
Chrome: 91.0.4472.8
videojs-record: 4.3.0

Recording was working before, the only change for sure was iOS version, but I'm assuming Chrome version might've been updated as well.

[2021-07-08 09:11] samuelkarani commented on #586
Heres the live codesandbox  - notice when you click on the 2nd icon (take a photo) the finishRecord  handler is called TWICE but for all other modes its called ONCE

https://codesandbox.io/s/recording-jo7bt

[2021-07-09 06:06] YongLiangSu commented on #588
@thijstriemstra  do you have the same issue?

[2021-07-09 14:12] jub-jan commented on #567
any idea? @thijstriemstra

[2021-07-11 15:33] talalz94 commented on #283
@thijstriemstra  Hi buddy. Do you have any idea how can I get the live image frames from the web-cam stream from the front end. So I want to send the web-stream to a backend server but I want to do it frame by frame, regardless of the FPS of the web-cam. I was thinking if I could put a canvas over the video-class and just fetch that in a loop while the camera is on. Could you comment on that? Than

[2021-07-11 17:39] thijstriemstra commented on #283
@talalz94 please open a new ticket for questions, don't hijack an existing ticket.

[2021-07-11 23:40] talalz94 opened #590 "Accessing the DOM element in Vue.js to capture image frames"
## Description
I want to access the DOM element that contains the putput video-stream form the webcam, to capture the frames and send it some a backend server. The issue that I am facing is that I am not sure which DOM element to access.

My code uses the Vue.js implementation of videojs-record. For Vue.js, I can use refs to reference template elements. If it’s a component you’re referencing, you

[2021-07-13 15:53] Evaske opened #591 "Aspect Ratio Not Changing"
## Description
Hi,

I am trying to get it so that the video records from my desktop webcam and the output video is 540 x 720. What is actually output is 640 x 480 (my camera's default ratio). Is there a way to get the result to be recorded and zoomed in so that the outputted video fills the 540x720 size? Ideally without using FFMPEG as I believe that's a massive library?

I am using these options:

[2021-07-15 11:44] MS-Vauld opened #592 "[CRITICAL] Unable to record videos in ios Safari angular mobile project"
## Description
Couldnt able to start the recording in angular mobile project for iOS.

## Steps to reproduce
Follow the steps which is mentioned in videojs website for angular installation steps and usage and when i run the app, recording dint work

## Results
### Expected
Should start the recording

### Actual
throwing the error of "this browser is not supported for navigator.mediaDevices.getUser

[2021-07-20 23:25] MohannadEhabBarakat commented on #567
any solutions?

[2021-07-20 23:44] MohannadEhabBarakat commented on #567
I uninstalled ffmpeg version 0.10.*
 then installed
"@ffmpeg/core": "^0.8.5",
"@ffmpeg/ffmpeg": "^0.9.8",

it works now fine with react.
No idea why this worked

[2021-07-21 00:26] thijstriemstra commented on #592
duplicate of #573

[2021-07-21 00:26] #592 closed

[2021-07-21 08:08] NAMU1105 commented on #567
You just saved my day!! Thank you!

[2021-07-24 10:44] thijstriemstra commented on #586
why did you close it?

[2021-07-26 11:54] Trushal0066 opened #593 "Recording feature not working for me when I start recording"
## Description
When I start recording using code "player.record().start()" it's give me error like Cannot read property 'record' of undefined. I have given recording option when initialize the video js as below

var options = {
                controls: true,
                width: 4096,
                height: 2160,
                fluid: false,
                bigPlayButton: false,

[2021-07-26 12:15] thijstriemstra commented on #593
@Trushal0066 I don't see your call to `player.record().start()`. Please include code that reproduces the issue.

[2021-07-27 09:21] jaydeep-vala commented on #398
** Error: plugin "eventTracking" does not exist **

 autoplay: true,
                controls: true,
                responsive: true,
                html5: {
                  hls: {
                    // withCredentials: true,
                  },
                  nativeTextTracks: false,
                },

                plugins: {
                    eventTracking: true

                }

[2021-07-27 09:22] jaydeep-vala commented on #398
I tried the various solutions but still, it gives an error like  **Logging service:
Message: plugin "eventTracking" does not exist
Stack: Error: plugin "eventTracking" does not exist**

[2021-07-27 10:06] thijstriemstra commented on #398
no idea what that plugin is you're talking about. Stop hijacking tickets!!

[2021-07-28 16:27] tony commented on #491
@thijstriemstra Where in the videojs-record config does [`MediaRecorder`](https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/MediaRecorder)'s `videoBitsPerSecond` get passed in?

[2021-07-29 09:54] pradeepaanumalla opened #594 "Unable to access the camera using getDevice() when the firefox window is not active"
Browser : Firefox
version : 90.0

I am using video js to start and stop the recoding automatically on the basis of timer.

Generally we are having a requirement to record the user answer's. There will be multiple retakes to record the video.

When user clicks on start then we are calling getDevice() and then start(), when he stops then it will trigger stopDevice().

So after stopping the recording

[2021-07-29 09:58] thijstriemstra commented on #594
@pradeepaanumalla thanks for the report. Do you have any more info about this error? A longer stacktrace would be needed to determine where this error is triggered.

[2021-07-29 10:03] pradeepaanumalla commented on #594
Yes @thijstriemstra , Can you check this
![Screenshot from 2021-07-29 15-32-43](https://user-images.githubusercontent.com/37704663/127473038-42715a20-a086-4b8e-928f-f2c6d7bbd349.png)

[2021-07-29 10:06] thijstriemstra commented on #594
@pradeepaanumalla can you try with a unminified version of video.js so the stacktrace contains the correct line numbers? You would have to compile your project with dev version of video.js, not video.min.js

[2021-07-30 13:49] Hideman85 opened #595 "ts-ebml plugin: Safari record issue"
Hi community,

ts-ebml have an issue with safari and that breaks the record.

The issues has been reported on ts-ebml and needs and needs a quick fix for now.
- Please have a look at the original issue https://github.com/legokichi/ts-ebml/issues/33

To whom that are interested in we could bring the support of webm playback to safari via [ogv.js](https://github.com/brion/ogv.js).
I'm wondering if w

[2021-08-02 05:16] pradeepaanumalla commented on #594
Hi @thijstriemstra
Tried using unminified version and got this error
![Screenshot from 2021-08-02 10-46-40](https://user-images.githubusercontent.com/37704663/127807622-5eb41f7c-cd90-4fb9-ae26-c730aec89a90.png)

[2021-08-03 14:50] ajparrah opened #596 "Plugin "record" does not exist in NextJS"
## Description
I'm trying to run the react example on NextJS, but it doesn't work. However, if I use `create-react-app` it works fine...

If i try to run without `plugins` key on options, it works fine, i can reproduce a video with no problem

Well, I needed to make some additional things to be able to get this result. NextJS makes a pre-rendering on server and this library doesn't work on server

[2021-08-03 15:19] ajparrah commented on #596
@thijstriemstra Yes, i tried it and it works fine. However, when i try to integrate with `videojs-record` i got the same error

[2021-08-03 15:37] ajparrah commented on #596
I found the solution... This line was the error, I replaced from `import Record from 'videojs-record/dist/videojs.record.js';` to only `import 'videojs-record/dist/videojs.record.js';` and it works fine. I would like to send a PR with a NextJS Example to help preventing this confusion later. Also, with function component (i want to test it well before)

[code]

![image](https://user-images.githubu

[2021-08-03 15:41] thijstriemstra commented on #596
Sounds good.

[2021-08-03 15:52] #596 closed

[2021-08-03 18:24] thijstriemstra commented on #596
Maybe this should be changed in the react examples as well (if it works there as well).

[2021-08-03 19:07] ajparrah commented on #596
@thijstriemstra Maybe, let me try it. I will send a PR as soon as i can make the examples

[2021-08-03 21:32] thijstriemstra commented on #595
?

[2021-08-04 15:06] tonynguyenit18 opened #597 "recodedData duration less than player.record().getDuration in safari"
## Description
on `finishRecord` event, I  convert `player.recordedData` to a url to play in a `video` tag (or any video player or download it to local machine). But the video has duration is less than `player.record().getDuration`
## Steps to reproduce
- Record video as normal
- handle onFinish event
[code]
- play the video
[code]
## Results
### Expected
Video generated from `player.recodedData`

[2021-08-05 07:29] Hideman85 commented on #595
I just meant that there is a quick fix available in the issue I linked to and that would be nice that a release is made with this fix while waiting the fix by the author of ts-ebml.

[2021-08-05 11:59] thijstriemstra commented on #595
@Hideman85 if there's a quick fix, please open a pull request.

[2021-08-08 17:41] heeropunjabi commented on #538
@thijstriemstra @aphavichitr any output on the conversation. please share it will be helpful :)

[2021-08-09 12:59] moumitacn opened #598 "Stop Recording not working"
The recording stop and submit feature in not working Macbook, Iphone , Ipad (IOS devices) for both Safari and chrome platform.

You can check the below link.
https://911us.us/
--- There you will find "Record Description of Incident" button of red colored.
Step 1 - Click  "Record Description of Incident" button
Step 2 - The recording popup will open, there you can start the recording, it will recor

[2021-08-10 04:28] moumitacn commented on #598
Waiting for your solution and update.

[2021-08-10 12:59] arghadip commented on #598
Hello,

There is any solution? Please sugegst.

[2021-08-11 07:53] moumitacn commented on #598
Waiting for your support.

[2021-08-11 11:50] lcherone commented on #588
I'm having the same issue, is not just your lib, seems RecordRTC has same issue so is most likely something changed with chrome, everything works until recording is stopped then blob is empty, `on("error",` event fires but the error is undefined, additionally it fires `on("finishRecord",` event twice in chrome

(from multer `req.file`, I have no way means to access console on ipad)
[code]

in Safa

[2021-08-11 17:37] zmutnik commented on #567
@MohannadEhabBarakat I have the same error using Vue.js. Do you have any ideas why it happens? Downgrading @ffmpeg/core and @ffmpeg/ffmpeg doesn't help me.

[2021-08-11 20:07] MohannadEhabBarakat commented on #567
No unfortunately I don't know why it happened

[2021-08-13 11:18] squaloIT commented on #529
Is this problem solved, still can't find a solution to this...

[2021-08-16 23:11] thijstriemstra commented on #584
No feedback, closing.

[2021-08-16 23:11] #584 closed

[2021-08-16 23:21] thijstriemstra commented on #581
marking this as a duplicate of #595 (that mentions a fix).

[2021-08-16 23:21] #581 closed

[2021-08-16 23:22] thijstriemstra commented on #595
@Hideman85 can you give pull request #600 a try?

[2021-08-16 23:27] thijstriemstra commented on #590
@talalz94 there's a lot of unrelated code here. Please pick one of the examples and use that for your issue report, adding vue.js in the mix doesn't help. There's not even a videojs-record config in this snippet you pasted.

[2021-08-16 23:28] thijstriemstra commented on #589
This is a duplicate of #288.

[2021-08-16 23:28] #589 closed

[2021-08-16 23:29] thijstriemstra commented on #593
No feedback, closing.

[2021-08-16 23:29] #593 closed

[2021-08-16 23:34] thijstriemstra commented on #597
@tonynguyenit18 can you reproduce this without the `timeSlice` option?

[2021-08-16 23:36] thijstriemstra commented on #598
Duplicate of #573

[2021-08-16 23:36] #598 closed

[2021-08-16 23:37] thijstriemstra commented on #588
What specific chrome version(s) did this change?

[2021-08-16 23:41] thijstriemstra commented on #594
@pradeepaanumalla you're using a old version of videojs-record: `3.8.0`

Please always test with the latest versions!

[2021-08-16 23:44] thijstriemstra commented on #591
Short answer: no. Unless this setting works for you: https://developer.mozilla.org/en-US/docs/Web/API/MediaTrackConstraints/aspectRatio

[2021-08-16 23:46] thijstriemstra commented on #574
If there are no error messages, I'm not sure what to suggest here. Also: it's not working in a third-party framework (React), which I can't start debugging.

[2021-08-16 23:46] #574 closed

[2021-08-17 01:59] lcherone commented on #588
If there is a way to downgrade an iPad app to a specific version, it would be easy to find out.

[2021-08-17 02:39] stoogebag opened #601 "Can't load plugins in angular "Error: Could not load ffmpeg.wasm plugin""
## Description
Can't load plugins in Angular - 'could not load'

## Steps to reproduce
Follow install instructions to get angular project up and running. Then same for the plugin (eg ffmpeg-wasm) as in docs.

## Results
### Expected
Example working with record/transcode

### Actual
Error thrown on deviceReady, recorder unresponsive.

### Error output
The raw error output is
![image](https://user-i

[2021-08-17 02:49] tonynguyenit18 commented on #597
@thijstriemstra Without `timeSlice`, this issue is gone, but there is another issue occur is ` player.on("timestamp"....)` is not executed.

[2021-08-17 11:15] thijstriemstra commented on #588
Probably not.

[2021-08-17 23:14] thijstriemstra commented on #601
duplicate of #567?

[2021-08-18 01:05] stoogebag commented on #601
In my case the error occurs when you load the player, #567 seems to be fine until the actual conversion starts.

[2021-08-18 11:28] thijstriemstra commented on #601
It's definitely needed to include that script.

[2021-08-18 11:29] #601 closed

[2021-08-18 13:13] stoogebag commented on #601
By unnecessary I mean to say that I think in angular the files' inclusion gets handled by the import process. The code in question is literally just a vanilla angular project set up (for the repro)
with vjs-record as in the docs, plus the plugin installation instructions (the import and then enabling it in the player options as in ffmpeg-wasm docs)

As for including the script explicitly, can anyo

[2021-08-18 13:14] stoogebag commented on #601
I also found an old closed ticket that seems to be the same issue on its surface: #507

[2021-08-18 14:18] keval101 opened #603 "mute audio on live recording reloading the video"
## Description

I want  mute functionality on live video but when I change audio: false in config, live recording is started again

## Steps to reproduce
 this.config = {
      controls: false,
      autoplay: false,
      fluid: false,
      loop: false,
      width: 320,
      height: 240,
      bigPlayButton: false,
      controlBar: {
        fullscreenToggle: false,
        volumePanel: false

[2021-08-18 14:21] thijstriemstra commented on #603
Can you clarify? Sounds like you want a video-only recording?

[2021-08-19 08:33] keval101 commented on #603
No... I want mute and unmute audio functionality while video recording.

[2021-08-24 14:27] alectrocute commented on #588
+1

[2021-08-24 14:31] alectrocute commented on #588
Could be fixed with #600

[2021-08-29 17:55] ajparrah opened #605 "ReactJS and NextJS implementation examples"
Hi @thijstriemstra , I made this repos with examples as i said here #596 . But, i dont know how to implement it here on this repo. Can you help me to show it on page?
I think this could be useful

### ReactJS Example
https://github.com/ajparrah/videojs-record-example-reactjs

### NextJS Example
https://github.com/ajparrah/videojs-record-example-nextjs

[2021-08-30 11:13] squaloIT opened #606 "webm-wasm missing video duration"
## Description
After installing and setting webm-wasm as the video engine, recorded video missing duration. Is there a way to set this with options [ or any other solutions in general ] ?

[code]
recorder options are:
[code]

## Additional Information

### versions
[code]
#### browsers
Firefox, Chrome

[2021-08-30 18:16] thijstriemstra commented on #605
hi @ajparrah, thanks for doing this. I will take a look and give you some guidance later this week.

[2021-08-31 09:13] ahmed-ehsan-codedistrict commented on #588
Having the same problem on Chrome Version 92.0.455.90 on iOS 14.7.1

[2021-08-31 17:43] #595 closed

[2021-08-31 22:19] thijstriemstra commented on #588
@alectrocute have you tested it?

[2021-09-02 00:26] thijstriemstra commented on #578
no feedback, closing.

[2021-09-02 00:26] #578 closed

[2021-09-02 07:46] MichaelHeydon commented on #578
Sorry @thijstriemstra, I had moved on from this. But may look at again in the future. So like the attached image:
![IMG_2787](https://user-images.githubusercontent.com/74880856/131803640-76ee1b0d-1dc2-4539-a206-016d0d004b00.PNG)

Is there a way I can update the video dimensions to avoid the pink borders once the device dimensions are available?

[2021-09-02 07:52] MichaelHeydon opened #608 "Change video input device when in image mode?"
Are we able to change the video input device when in image mode? I have it set up and functioning when recording a video. However when in image mode, selecting a different camera just defaults back to the default camera, and there doesn't appear to be any error.

[2021-09-03 09:49] Trushal0066 opened #609 "Want audio/video recording dynamically"
## Description
I have used video js with recording and customize my controls for stop display video and audio. My requirement is when I stop video then record only audio and when I stop audio then record only video.

Please let me know how can I achieve this ?

## Steps to reproduce
I have tried with record.stop() method but it will stop both audio ad video

## Results
### Expected
I can stop reco

[2021-09-03 10:24] thijstriemstra commented on #609
you'll have to explain your usecase better, maybe in steps, because not sure what you want to do.

[2021-09-03 10:29] Trushal0066 commented on #609
Thanks @thijstriemstra  for the prompt response.

I have implement video js for live streaming with recording. I have added two option in player audio and video. when streaming is started then recording started with audio and video both. But when user stop video then recording should work only for audio and when when user stop audio then recording should work only for video. Please let me know sti

[2021-09-06 17:44] luwei6597 commented on #608
I faced this error also, who can help me?

[2021-09-09 20:25] 1w1111876SalasFacundo opened #610 "Recording and sending Blob data programatically first recordedData comes undefined despite existing"
I am using the latest version of videojs-record

So everything is great but i need the functionalities and not the default video / audio UI
so i am trying to save the data programatically using my own custom UI

still my problem is the next ,  when I open my modal there is a button to activate the devices then i can start and stop recording on stop recording i am saving my recorded data into an ar

[2021-09-09 20:31] 1w1111876SalasFacundo commented on #610
Basically when I first click my beginRecording button , and then i click my StopRecording button the very 1st element that i push into the array comes as undefined , the next ones are BlobData that is coming as intended

[2021-09-12 10:15] thijstriemstra commented on #608
How do you select this different camera? what code are you using?

[2021-09-12 10:20] thijstriemstra commented on #610
@1w1111876SalasFacundo I cannot help you with 3rd-party frameworks like vue.js. If you can reproduce an issue with pure javascript, please add the example code and I'll take a look.

[2021-09-12 10:31] thijstriemstra commented on #606
I don't think using a combination of a video and convert plugin in the same application is supported, it's been a while but I don't think I ever tested it.

When only using the webm-wasm plugin, does it properly inject the duration?

[2021-09-12 22:15] MichaelHeydon commented on #608
Hi @thijstriemstra, I've moved the _change-video-input_ example into a Codepen and replaced the `options` object with the one used in the _image-only_ example. As you can hopefully see when there's multiple video devices, switching between them just re-displays the default camera.

https://codepen.io/MichaelHeyDonny/pen/QWggEyz

[2021-09-13 06:00] pradeepaanumalla commented on #594
Hi @thijstriemstra
I have updated the video js  to 7.14.3 and video js record to 4.5.0 , but I am still facing the issue

[2021-09-14 08:34] Lakshmikanth8055 commented on #353
Hello,
We are facing issue on Ipad-Chrome browser (OS-14.7 and OS- 14.3 ) and (Latest chrome version) , We can record the video but not able to play on the chrome browser, but same working fine in the safari browser. (In the Iphone safari and chrome it is working fine).. Any Suggestion or Solutions please.

[2021-09-14 20:25] 1w1111876SalasFacundo commented on #610
@thijstriemstra  yeah sure i will make one during the weekend and post it over here

[2021-09-14 22:11] rcausey commented on #595
I don't think #600 fixed the issue with Safari, since the error is thrown when `decoder.decode(buffer)` is called. I can reproduce the error when I run the `video-only-ebml.html` demo.

[2021-09-17 18:53] Hideman85 commented on #571
Hi @thijstriemstra I'm also struggling with record and playback cross browser and specially with safari.
I'm wondering what they mean with [Supports VP9 codec used in WebRTC](https://caniuse.com/?search=vp9), does it mean Safari is supporting the video encoding in VP8/9 but not packing it in the webm container? I would apreciate some light on that.
For the playback you can have a look at [OGV](htt

[2021-09-21 12:10] ebarooni commented on #567
Are there any updates on how to solve this? Doing this doesnt work for me.

[2021-09-22 00:21] eladkarako commented on #325
right click and download the mp4 to your computer,
download ffmpeg (<a href="https://github.com/BtbN/FFmpeg-Builds/releases/latest">Windows build I'm using</a>).
re-encode the mp4 using:
<code>ffmpeg -y -i OLD.mp4 -profile:v main -level "3.0" -an NEW.mp4</code>
upload it back to GitHub, it should work fine on Firefox now.
alternately upload to https://streamable.com and include a link.

[2021-09-22 19:09] thijstriemstra commented on #571
Tested with Safari 15 and playback is still buggy. Sigh.

No idea.

[2021-09-22 19:12] thijstriemstra commented on #586
I meant, can you reproduce it with this example: https://collab-project.github.io/videojs-record/demo/image-only.html

Your code is using react  and other stuff, which might be the cause of your issue.

[2021-09-22 19:13] thijstriemstra commented on #590
No feedback, closing.

[2021-09-22 19:13] #590 closed

[2021-09-22 19:14] thijstriemstra commented on #591
no feedback, closing.

[2021-09-22 19:14] #591 closed

[2021-09-25 02:06] oobie11 commented on #49
getDevice doesn't seem to work if doing audio only. It seems this is because of it automatically using wavesurfer? How would I trigger the button programmatically with an audio only set up?

[2021-09-25 02:14] oobie11 opened #612 "Audio only without wavesurfer?"
I'm using StimulusJS and trying to use Videojs-record to record audio only using a custom button that calls a stimulus action to get the users microphone.
It seems that setting the options to

`audio : true,
video: false`

makes it so you have to use wavesurfer.
When I try, `player.record().getDevice()` from my stimulus action, it does not work and this error gets thrown `TypeError: this.surfer is

[2021-09-28 14:36] thijstriemstra commented on #612
Going to https://collab-project.github.io/videojs-record/demo/audio-only.html, opening a browser console, and entering `player.record().getDevice()` works fine.

Print the wavesurfer version nr to check if it's properly loaded:

[code]

Looks like a build issue on your side.

No.

[2021-09-28 15:17] oobie11 commented on #612
Thank you, you were right. It was my issue.
For anyone that stumbles upon this that is using StimulusJs, The problem I was running in to was that I was trying to set the player options and build the player on activation of my Stimulus action, so after the controller was loaded. This was causing `WaveSurfer.microphone.create()` to not initialize.
I solved the issue by moving the options to the stim

[2021-09-28 15:17] #612 closed

[2021-09-28 16:33] thijstriemstra commented on #610
no feedback, closing.

[2021-10-04 18:01] Josmolmor opened #613 "ts-ebml convert engine issue after Chrome Version 92.0.4515.107 (Official Build) (x86_64) on macos"
Hi, known issue with ts-ebml that has been going on for a while already after certain chrome version on macOS is happening on the videojs-record version of the library.

This issue on the official repo pretty much summarizes everything, including an example where you can see it being replicated:
https://github.com/legokichi/ts-ebml/issues/33

Attached is an image of mine of the issue happening:
![

[2021-10-09 00:15] talalz94 opened #614 "Is it possible to take screenshots of the stream while the video from the camera is being recorded?"
I am making an application using this module to record a users front camera and send some images to the server while the video is being recorded. Is this possible with this library because previously I am drawing the video stream to a canvas using drawImage method but that is clearly not working on iOS devices. Do you have any idea regarding this?

Thanks

[2021-10-13 03:50] GeraldEC commented on #94
Hi, How can i download the video to my database in native format mkv

[2021-10-28 18:50] josefpohl opened #619 "Error on microphone unsubscribing DEVICE_READY call back. (un)"
## Description
Hi there, I have recently update my Video.js record and related libraries from a seriously outdated version.  On record I am now getting an initialization error:
`videojs.record.js:3486 Uncaught TypeError: Cannot read properties of undefined (reading 'un')`

stemming from these lines:
[code]

## Steps to reproduce
Not much has changed in my code from the previous version.  So my gue

[2021-10-28 21:03] #619 closed, assigned to nobody

[2021-10-30 23:23] thijstriemstra commented on #613
Can you elaborate, perhaps it helps others?

[2021-11-02 23:35] MichaelHeydon commented on #608
Have added: https://github.com/collab-project/videojs-record/pull/620 for review

[2021-11-07 16:59] marcusx2 opened #621 "[question] Can this be used to record augmented reality experiences?"
I know it works to capture just the webcam feed, but what about other stuff on the screen?

Please take a look at [ARjs](https://ar-js-org.github.io/AR.js-Docs/).  CTRL+F "Image Tracking Example". Try this [codepen](https://codepen.io/nicolocarpignoli/pen/vYOeYKd) on your phone, point the camera at [this picture](https://raw.githubusercontent.com/AR-js-org/AR.js/master/aframe/examples/image-tracki

[2021-11-08 20:53] thijstriemstra commented on #621
It's possible to record a browser window using screen capture option: https://github.com/collab-project/videojs-record/blob/master/examples/screen-only.html Not sure if that works on mobile safari, it likely doesn't.

[2021-11-08 21:02] marcusx2 commented on #621
@thijstriemstra no, the api used in that example, [Screen Capture API](https://developer.mozilla.org/en-US/docs/Web/API/Screen_Capture_API), isn't [available ](https://developer.mozilla.org/en-US/docs/Web/API/Screen_Capture_API#browser_compatibility)on mobile.

It really needs to be something like [this example](https://collab-project.github.io/videojs-record/demo/audio-video.html). But instead of

[2021-11-08 21:08] thijstriemstra commented on #621
I think you're looking for #288

[2021-11-08 21:17] marcusx2 commented on #621
@thijstriemstra Thanks! This may be a viable solution. How can I do this with videojs-record? I don't want to use record-rtc directly or videojs-overlay. Can it be done with your library?

[2021-11-08 21:24] thijstriemstra commented on #621
It's an enhancement request. But shouldn't be hard to implement.. Pull requests welcome, I'm available to review something.

[2021-11-08 21:25] marcusx2 commented on #621
Should I create a request for this? I don't know how to word it.

[2021-11-08 21:26] thijstriemstra commented on #621
No, basically this ticket is a duplicate of #288

[2021-11-08 21:26] marcusx2 opened #622 "[enhancement request] Allow to have video overlay"
Allow to have video overlay. See [this issue](https://github.com/collab-project/videojs-record/issues/621).

[2021-11-08 21:27] thijstriemstra commented on #622
Duplicate of #621

[2021-11-08 21:27] #622 closed

[2021-11-08 21:27] marcusx2 commented on #621
Ah ok. Are there any plans to have this feature anytime soon?

[2021-11-09 00:18] #621 closed

[2021-11-09 17:08] marcusx2 commented on #288
@thijstriemstra Safari does support [capturestream for canvas](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/captureStream). It would be extremely useful to support canvas recording with an option to record with the microphone as well.

[2021-11-10 04:17] inglesuniversal opened #623 "General Question: Can audio recording be set to WAV format?"
If so, do you have an example that may show how to handle that feature and then upload file (blob) to server?

Thanks so much, AWESOME project!

Best regards

Hugo Barbosa

[2021-11-10 19:56] marcusx2 opened #624 "Is it possible to merge a video track with a canvas track?"
Please see this [SO post](https://stackoverflow.com/questions/39302814/mediastream-capture-canvas-and-audio-simultaneously). You can record a canvas with the microphone. I got that working. Is it possible, however, to record a video and a canvas simultaneously, where the canvas overlays the video? The video will be the camera feed, and the canvas will have other stuff that will overlay the video.

[2021-11-19 13:24] benhartwich opened #625 "Is it possible to hear playback during recording"
Hi,

is it anyhow possible to play a music file while recording so that I can record my voice on a melody?

[2021-11-20 19:27] inglesuniversal commented on #623
UPDATE:

Hello, I tried forcing audio recording to WAV and console.log always showed format as: audio/webm

Am I doing something wrong?  I even went as far as using two different settings at once and nothing happened.

            plugins: [
                // enable microphone plugin
                WaveSurfer.microphone.create({
                    bufferSize: 4096,
                    audioMime

[2021-11-20 22:04] thijstriemstra commented on #623
@inglesuniversal please read the ticket instructions (include all version nrs, operating system etc)

[2021-12-02 16:40] benhartwich opened #626 "Text Tracks are not shown on mobile during recording"
Hi,

I want to display text tracks during recording and it is working at desktop browsers, but not on mobile ones. On mobile browsers like chrome or safari text tracks are only shown, when playing the recorded video. I am searching for hours, but I don´t find any hint, what could be the problem.

Would be really great to have a hint from somebody!

My implementation:

`<script>
var options = {

[2021-12-02 16:45] benhartwich commented on #625
I´ve solved it by myself with howler:
[code]

[2021-12-02 16:45] #625 closed

[2021-12-06 05:36] chernodub opened #627 "Recording does not work on iOS 15"
## Description
Unable to record a video from a device on iOS 15. This is reliably reproducible when recording a video that has a length of about 1.5-2 minutes.

I believe the issue lies in the RecordRTC library as I have tested it on [webrtc-experiment](https://www.webrtc-experiment.com/RecordRTC/) and it doesn't work too. I added some more logs on https://github.com/muaz-khan/RecordRTC/issues/782

[2021-12-10 05:52] PathakHarsh opened #628 "Overwrite recorded data with Dynamic Source"
I have used videojs record to record an audio.Now the audio is stored in a variable.I want to load this audio blob into another videojs player on the same page (inside the other player's recorded data).I have tried putting the audio blob url into player src but no progress.Any thoughts?

[code]

Ignore the condition(I am getting the correct blob).The main problem is I cant set the dynamically gene

[2021-12-10 14:47] fsuk opened #630 "Video data corrupted on some devices."
## Description
Using a web cam with my PC or a tablet I am able to succesfully record and store data as a file. When using my phone (Pixel 4a) the video streams to the player correclty while recording but once saved to a file and played the video is garbled with lines and green in the bottom quaters.

It should be noted the camera resolution on my web cam and tablet is quite poor in relation to th

[2021-12-13 11:34] fsuk commented on #630
Does not appear to be a videojs-record issue but an issue with RecordRTC. Reproduced with this example:
https://www.webrtc-experiment.com/RecordRTC/

Will update this issue if I find anything with RecordRTC

[2021-12-18 19:27] thijstriemstra commented on #628
I don't see the code for that second videojs player?

[2022-01-26 21:48] markitosgv commented on #627
Same issue here

[2022-01-27 03:08] chernodub commented on #627
For anyone looking, I was able to fix the issue by monkey-patching the bitrate of the video on iOS devices:
[code]

[2022-01-27 11:04] markitosgv commented on #627
you save my day @chernodub

[2022-02-01 08:31] shealan commented on #588
I'm getting the same sadly.

Works great on iOS Safari.

I've tried all versions on the demo page with iOS Chrome and I get the same 0 bytes error on all.

iOS 15.2.1 on iPhone XS Max
iOS Chrome App 97.0.4

[2022-02-02 19:53] yu0307 opened #635 "Toggle Video on/off Dynamically not working"
## Description
When trying to toggle between video+audio and audio only using the following snippet, it seems Video.js is having issue determine surfer and throw "surfer" undefined error.

## Steps to reproduce
Initialize the component as follows:
[code]
[code]

## Results
### Expected
should load the new config correctly and init the control accordingly

### Actual
error thrown "Cannot read prope

[2022-02-04 05:25] prathibhatvm commented on #193
player.recordedData.video: undefined

[2022-02-04 05:27] prathibhatvm opened #636 "player.recordedData.video is undefined."
I'm getting the following: player.recordedData.video: undefined

[2022-02-04 05:57] prathibhatvm opened #637 "501 Not Implemented"
While running videojs it returns 501 Not Implemented.

[2022-02-04 05:58] prathibhatvm commented on #637
It shows, Video successfully uploaded but no video found.

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Audio/Video Example - Record Plugin for Video.js</title>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.0.0/video-js.min.css" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/videojs-record/4.5.0/css/videojs.

[2022-02-04 05:58] prathibhatvm commented on #637
upload-video.html

<!DOCTYPE html>
<html>
<body>
<?php
if(isset($_FILES["video"])){
    // Define a name for the file
    $fileName = "myvideo.webm";

    // In this case the current directory of the PHP script
    $uploadDirectory = './'. $fileName;

    // Move the file to your server
    if (!move_uploaded_file($_FILES["video"]["tmp_name"], $uploadDirectory)) {
        echo("Couldn't upload vid

[2022-02-04 20:32] MauricioDinki commented on #529
I found the solution, with a player like this
[code]
Using the hook deviceReady you can catch the event
[code]

[2022-02-08 22:13] thijstriemstra commented on #637
Where does it say this? can you make a screenshot? I have a feeling this is a PHP issue I can't help you with.

[2022-02-08 22:14] thijstriemstra commented on #636
Ok. Without any example code I can't help you.

[2022-02-08 22:14] #636 closed

[2022-02-08 22:17] thijstriemstra commented on #635
@yu0307 you cannot use audio + video with the videojs-wavesurfer plugin, it's not supported. Change it to audio only:

[code]

[2022-02-08 22:17] #635 closed

[2022-02-08 22:24] yu0307 commented on #635
I actually got it to work, with the following changes:
[code]
watch: {
        videoDevice(newVideoDevice, oldVideoDevice) {
            if(this.record.recordVideo === Object(this.record.recordVideo)){
                this.record.recordVideo.deviceId = {exact: newVideoDevice.value};
            }else if (this.record.recordVideo === true) {
                this.record.recordVideo = {

[2022-02-14 06:58] diplesh123 opened #639 "ffmpeg.wasm : Error: Could not load ffmpeg.wasm plugin"
## Description
![image](https://user-images.githubusercontent.com/72154919/153813239-13a10663-0b81-4a0d-95d9-33c65e33897e.png)

## Steps to reproduce
with videojs we can record video with webm extension. While to convert video into mp4 in angular project with ffmpeg.wasm
I got the above issue.

step-1 : npm install --save @ffmpeg/ffmpeg @ffmpeg/core
step-2 : put this <script>  into index.html <scr

[2022-03-08 11:19] pradeepaanumalla opened #641 "Unable to record for more than 1 minute in ios mobile safari browser"
## Description
I tried to record for more than 1 min in "video/mp4" format in safari using videojs. If I record it for 30secs its working as expected but If I record it for more than 1 min its failing.
Using video-js 7.5.5

## Results
### Expected
It should record for whatever the duration that we want to

### Actual
Safari browser is reloading if we record for more than 1 minute

### versions
###

[2022-03-08 14:52] thijstriemstra commented on #641
Could be related to 'significant' memory usage: https://discussions.apple.com/thread/252519170

[2022-03-10 11:19] pradeepaanumalla commented on #627
@chernodub  this is not working for more than 2 minute videos in iphone 11 with safari 15+

[2022-03-10 13:12] thijstriemstra commented on #641
@pradeepaanumalla perhaps this helps: https://github.com/collab-project/videojs-record/issues/627#issuecomment-1022804200

[2022-03-11 11:25] pradeepaanumalla commented on #641
@thijstriemstra  This is also not working. Because I reduced the audiobytespersecond and videobytespersecond  to 81920(1/10th) and recording it for 180 seconds. The browser freezes and unable to play what was recorded also.

[2022-03-11 12:50] thijstriemstra commented on #641
I would give up on iOS for now. Maybe someday Apple will invest some of their trillions in making Safari a good browser.

[2022-03-19 20:02] javiqnk opened #642 "Upload error"
## Description
When uploading a file it is not saved correctly.
The file is saved without the name and extension.

Code:
[code]

Console Log:
uploading recording: 1647719609986.mkv
recording upload complete.

Server Log:
saving uploaded file...
filename: undefined
saved file.

Uploads:
![image](https://user-images.githubusercontent.com/31355032/159136626-438b9d1b-cfe0-424b-9f15-014791d9dcab.png)

[2022-03-19 21:56] thijstriemstra commented on #642
What you do on the backend, how you save it etc, is up to you. As you can see the file is 203 kb, and not corrupted, so you'll need to handle the file extension on whatever backend you're using.

[2022-03-19 21:56] #642 closed

[2022-03-25 12:20] pradeepaanumalla commented on #479
Hi @thijstriemstra , the playback is still not working in safari :(

[2022-03-25 15:51] DKRL opened #643 "Can't switch between webcams in image-only mode"
## Description
I can't switch between two webcams in image-only mode.

## Steps to reproduce

Just use one of your default examples with two webcams and this config:
[code]

And then just try to switch between them calling setVideoInput(deviceId)

## Results
### Expected
Video should switch to another webcam.

### Actual
Have same webcam loaded or just an error (in 30-50% of tries).

### Error out

[2022-03-25 19:32] thijstriemstra commented on #479
What version/operating system etc? Such random comments are not useful without context.

[2022-03-29 06:24] alanbugeja commented on #573
Hello, what is the status of this bug please? I can confirm that this is still happening or started again to happen on IOS 15 too.

[2022-04-01 10:00] grixtil commented on #573
Bumping this up. Having the same problem. iOS 15, latest version of videojs-recorder

[2022-04-01 14:07] thijstriemstra commented on #573
bumping it up won't help fixing this. Battling Safari is not something I do for fun in my spare time.

[2022-04-03 22:18] MichaelHeydon commented on #608
Hi @erichusted, you can see the details of the PR linked above if you wish to fix manually.

[2022-04-04 17:13] erichusted commented on #608
Thank you! Building the project locally with your changes fixed it!

[2022-04-13 07:44] TimurJiangShan opened #645 "Timestamp event doesn't performance as timeSlice sets"
## Description
Briefly describe the issue.

In most cases, timestamp can work as expected, but sometimes, "timestamp" event doesn't performance as timeSlice sets
Code is here:
[code]

In the console, the current time doesn't increment 1s by 1s, sometimes it will jump 2s.
<img width="1061" alt="Screen Shot 2022-04-13 at 5 01 09 pm" src="https://user-images.githubusercontent.com/41122075/163124311-f

[2022-04-14 11:36] aruljayaraj opened #646 "Output blob size is 0 on IPhone - Chrome when recording a Video"
## Description
I would like to record video on Chrome using iPhone 13, the output blob for video has no data. Output video blob is 0 MB.

## Steps to reproduce
Pls, open this below link in the iPhone chrome browser.

https://codesandbox.io/s/zhde4?file=/src/App.js:978-987

1. Click on the Video Icon to record, if it asks permission give that.
2. Start recording
4. Stop recording. You will see the

[2022-04-15 13:32] pradeepaanumalla commented on #479
Hey @thijstriemstra , The playback is sometimes working and sometimes its not working.
Using videojs 7.5.5
videojs-record 4.5

[2022-04-16 09:32] VedantMadane opened #647 "VIDEOJS: ERROR: TypeError: this.stream is undefined"
## Description
VIDEOJS: ERROR: TypeError: this.stream is undefined
    muteTracks videojs.record.js:4221
    stop videojs.record.js:3860
    dispose videojs.record.js:4118
    dispatcher video.es.js:2310
    trigger video.es.js:2446
    trigger$1 video.es.js:3387
    dispose video.es.js:22444
    beforeDestroy Registration.vue:3493
    VueJS 29
    reload index.js:244
    reload index.js:242
    t

[2022-04-25 02:09] endigma commented on #588
<img width="504" alt="image" src="https://user-images.githubusercontent.com/34945114/165009244-a1dfec72-063b-4822-baef-1d17b1c29f80.png">
macos/chrome

[2022-04-27 01:56] endigma commented on #595
This is still broken in my tests

[2022-04-27 12:28] ShinuMathew commented on #588
Hi, I am still facing this issue with my iOS chrome all versions. Is there a workaround for this?

[2022-04-27 15:46] ShinuMathew commented on #588
Oh ok. Thanks

[2022-05-09 21:53] KalinaAugust commented on #567
Are there any updates on how to solve this?

[2022-05-11 19:02] vitorcogo opened #648 "Cannot set properties of undefined (setting 'muted')"
## Description
When call to start record, this message appears.

## Steps to reproduce
- Start record

## Results
### Expected
Starts record

### Actual
Black screen

### Error output
`erro TypeError: Cannot set properties of undefined (setting 'muted')
    at Record.startVideoPreview (videojs.record.js:3396:1)
    at Record.start (videojs.record.js:2879:1)
    at executeListenerWithErrorHandling

[2022-05-18 18:21] faizanumer commented on #646
Any update on this?
I'm having the same issue.

[2022-05-19 06:39] aruljayaraj commented on #646
@thijstriemstra No update yet.

[2022-05-24 16:58] pork1977 opened #649 "setAudioInput broken?"
Hi,

It looks like the **setAudioOutput(device_id)** is broken as it's giving a "player is not defined" (even though I don't reference it as player) error in the console whenever I try it using the code below..

[code]

I use the above in a similar way for changing the audioInput and videoIput devices which produce no errors, they work perfectly. I just can't figure out what's causing the above.

[2022-05-31 09:23] snow-sprite commented on #648
Have you solved this problem? I also have this problem😫

[2022-06-07 07:17] mnoriega-intel commented on #408
Using `frameWidth` and `frameHeight` don't work for me. I'm using videojs-record v4.5.0. But these properties work for me:
[code]

[2022-06-07 07:18] nulltone commented on #408
Using `frameWidth` and `frameHeight` don't seem to work. I'm using videojs-record v4.5.0. But these properties work for me:
[code]

[2022-06-08 21:34] thijstriemstra commented on #646
Ok I'm confused though, why do you mention me here?

[2022-06-17 10:55] Mariusz071 opened #650 "Record plugin seems to not register properly"
## Description
Record plugin not registering properly, ending up with the following error in the console:

## Steps to reproduce
Relevant snippets from my code -
Imports:
[code]

Player initialisation:
[code]

## Results
### Expected
Plugin should get registered properly and functionality should work.

### Actual
Record plugin does not work.

### Error output
In the browser's console

[code]

## A

[2022-06-20 18:34] thijstriemstra commented on #650
I tested on macOS with https://collab-project.github.io/videojs-record/#/frameworks/webpack and it seems to work fine here:

[code]

[2022-06-23 15:26] hamideh531 commented on #588
I have same issue? Have you resolved it?

[2022-06-25 12:14] chernodub commented on #627
Probably you could try reducing the bitrate even more, but I'm not sure whether it'll work

[2022-06-27 02:06] ankorinek opened #653 "Audioonly recording mutes audio from other video sources"
## Description
I'm starting to record using a videojs-record element (audio only).
At the same time I want to either play a video/audio stream in  a videojs element on the same page or e.g. play a youtube video in another browser tab. As soon as the recording starts, the audio is muted. Is there a way to deactivate this behaviour?

## Steps to reproduce
Start recording in videojs-record, while pla

[2022-07-18 16:55] Kulgar commented on #648
Ok, I found the problem: I had no recording device "ready".
This was because I wasn't using localhost (or 127.0.0.1 or https). Browser automatically blocks recording device authorization if we are not on a "safe" website.

I switched from my local app IP to localhost and it now works properly.

[2022-07-30 14:59] thijstriemstra commented on #606
no feedback, closing.

[2022-07-30 14:59] #606 closed

[2022-07-30 15:00] thijstriemstra commented on #594
no feedback, closing.

[2022-07-30 15:00] #594 closed

[2022-07-30 15:02] thijstriemstra commented on #637
no feedback, closing.

[2022-07-30 15:02] #637 closed

[2022-07-30 15:04] thijstriemstra commented on #647
there is no example code, no description, no version/operating system info as described in the ticket instructions. Please add those and re-open.

[2022-07-30 15:04] #647 closed

[2022-07-30 15:05] thijstriemstra commented on #649
@pork1977 can you reproduce this with the example https://github.com/collab-project/videojs-record/blob/master/examples/change-audio-input.html?

[2022-07-30 15:06] thijstriemstra commented on #650
no feedback, closing.

[2022-07-30 15:06] #650 closed

[2022-08-11 05:02] lydenn opened #655 "deviceReady fire before vmsg plugin successfully init"
hello,

i have been working on the vmsg plugin and found that deviceReady fire before the plugin init since the initiation of vmsg is async function. is there any other way that i can check if the plugin is successfully init?

really appreciate for the help.

[2022-08-23 07:35] osidalsaghir opened #656 "Uncaught TypeError: Cannot read properties of undefined (reading 'record')"
## Hi there please help with the record plugin issue with videojs for live vedio.
The issue is where I tried to record the live video that videojs shows on the user side by using the video js record plugin for video js  so I couldn't start the recording and it gives the same error that says undefined record, even though I am very sure that all the libraries have the last version, and here is my co

[2022-08-26 11:14] #656 closed

[2022-09-02 19:43] stirelli commented on #588
I'm also experiencing this issue in our production environment. It seems it has been around for a year at least.

[2022-09-14 00:13] dionjwa commented on #639
The underling issue is likely described here: https://web.dev/cross-origin-isolation-guide/

[2022-10-13 16:45] Pastorsin commented on #646
Hi, any update on this? I have the same problem

[2022-10-16 10:21] straycoders opened #658 "need to execute code before `deviceReady` event"
How can I execute codes just before `deviceReady` event is fired? If any, what other events triggered before it?

[2022-10-16 20:04] thijstriemstra commented on #658
There are no other events besides `ready` I think.

[2022-10-16 22:30] straycoders commented on #658
@thijstriemstra, thanks for your response. If there are no other events, what about adding a new one? Say, an event that is fired right after the `browser-requirement (dialog) check` is done but, before `deviceReady` is fired.

For example: `player.on('permissionState',fn){ }`

I think its presence would be nice and very helpful.

[2022-10-17 00:14] thijstriemstra commented on #658
Sounds good but last time I checked there is not such a cross-browser event, but please investigate.

[2022-10-17 00:40] straycoders commented on #658
I've done that with `videojs-record.js` during my free time a while ago. Even until `video.js` . But I prefer to start from your side. Unfortunately currently I'm running on deadline and that needs special time to focus. I'll be back with new findings, hopefully.
Thank you for your time and attention.

[2022-10-21 16:15] Tschucki opened #660 "Video is recording horizontal instead of vertical on moble."
## Description
I set the plugins.video.aspectRatio to 9/16, so it records a vertical video. This works well on desktop but not on mobile devices. There it records a horizontal video in portrait orientation.
What is strange, is that when rotating the phone to landscape it records a correct 9:16 video

## Steps to reproduce
Set videoOptions:
`            videoOptions: {
                video: {

[2022-10-24 07:54] PratikDev commented on #574
@overjoied have you finally succeeded in solving it? I'm facing the same bug and don't really know what to do as it's not giving any error in the console. it was working fine in my core javascript project, but when I moved my project to React, it stopped working unexpectedly. it's not even capturing any sound in my case

[2022-10-27 18:39] omarcs commented on #646
Any update on this? I have the exact same problem, I have tested with several codecs and plugins, but result is always 0 bytes in video blob

[2022-11-21 16:00] viku3150 opened #665 "Problem with rendering the video component"
Hi I am getting the entire information and an HTML rendering of the modal window to configure, can someone help sort this out
![image](https://user-images.githubusercontent.com/61621763/203101118-8659ef45-50b1-4382-9f77-87bfcae931d3.png)

[2022-11-21 17:00] thijstriemstra commented on #665
@viku3150 looks like you didn't (properly) include the required videojs-record and video.js css files so the styling looks screwed up.